[2018-09-13 23:20] brianwang1217 commented on #476
me too @joshuacheng @joshuakim0724

[2018-09-13 23:56] ethan-lord commented on #566
I'll also help work on this @njcohen2 @tylermcdonald

[2018-09-17 01:08] nikhilnanivadekar opened #620 "Deploy Build failing due to Javadoc issues"
Build log: https://hudson.eclipse.org/collections/job/deploy/111/console

[DeployBuildLogs.txt](https://github.com/eclipse/eclipse-collections/files/2387180/DeployBuildLogs.txt)

[2018-09-18 04:55] #620 closed

[2018-09-18 13:21] etsrepo opened #622 "org.eclipse.collections.impl.map.mutable.primitive.ObjectLongHashMap.getIfAbsentPut is throwing ArrayIndexOutOfBoundsException"
Java 1.8
Spring Boot

`java.lang.ArrayIndexOutOfBoundsException: 30274
        at org.eclipse.collections.impl.map.mutable.primitive.ObjectLongHashMap.addKeyValueAtIndex(ObjectLongHashMap.java:535)
        at org.eclipse.collections.impl.map.mutable.primitive.ObjectLongHashMap.getIfAbsentPut(ObjectLongHashMap.java:471)`

[2018-09-18 17:29] nikhilnanivadekar commented on #566
@etsrepo This issue is to implement that method. #622 is a bug you have reported. Please do not cross-reference unrelated issues. Thanks for understanding!

[2018-09-18 17:33] nikhilnanivadekar commented on #622
This was fixed already in #491 and #492 and released as a part of [9.2.0](https://github.com/eclipse/eclipse-collections/releases/tag/9.2.0) release
The fix was back-ported to service releases.
Please reopen this request if you face the issue for any of the service releases or for 9.2.0. Also, provide a failing test case.
Thanks!

[2018-09-18 17:33] #622 closed

[2018-09-19 06:29] etsrepo commented on #566
@nikhilnanivadekar I know this issue is for implementation, still referenced because they will check existing issues in similar implementation. it may help them check upfront

[2018-09-19 17:01] nikhilnanivadekar opened #623 "Deploy p2 build failing for 10.0.0.M2 due to dependency issues"

[2018-10-18 12:45] DiegoEliasCosta opened #627 "JMH Tests should consume/use objects created in the benchmark to avoid DCE"
We are conducting a scientific study to investigate bad practices/anti-patterns on creating micro-benchmarks using JMH, and we found an instance of harmfull non-consumed computation in three classes `CollectIfTest`, `RejectTest` and `FlatCollectTest`.

As a good practice, every computation performed in inside the benchmark should be consumed (see [JMH Samples](http://hg.openjdk.java.net/code-tools

[2018-10-29 14:10] Bananeweizen commented on #466
👍
If you intend to get on a simultaneous release train in the future, this will be a requirement.

[2018-11-05 05:07] nikhilnanivadekar opened #633 "Implement UnifiedSetWithHashingStrategy#addOrReplace(Object)"
I have encountered few usages where UnifiedSetWithHashingStrategy could have benefited to have replace(Object), this is useful when one of non-key the parameters needs to be overridden.
Thoughts?
Implementation will be an optimized version of this:
[code]

[2018-11-05 11:51] motlin commented on #633
Why not use a Unified*Map*WithHashingStrategy?

[2018-11-05 12:29] nikhilnanivadekar commented on #633
The value will always be an empty object? If this use case makes sense then, I would rather add replace() to UnifiedSetWithHashingStrategy.

[2018-11-05 13:54] mohrezaei commented on #633
I think this is a good method to add. Since it adds if it wasn't there, should it be called `addOrReplace`?

[2018-11-05 13:56] nikhilnanivadekar commented on #615
Some methods in factories like `org.eclipse.collections.api.factory.list.MutableListFactory#ofInitialCapacity` have a default implementation which throws. This was added to maintain backwards compatibility and allow contributors to add API features in a minor release. Since we are preparing for major release, I would like to clean up the default implementations by removing these implementations. S

[2018-11-05 13:57] nikhilnanivadekar commented on #633
I agree with `addOrReplace()` updated the issue.

[2018-11-06 13:12] motlin commented on #633
If you use a map, the key is NOT replaceable by calling put(). The value is
replaceable. The key would be whatever is the first item you used to call
put().

So in theory I agree that this method makes sense. But I’d just use
UnifiedMapWithHashingStrategy.put(value, value) instead.
On Mon, Nov 5, 2018 at 8:55 AM Mohammad Rezaei <notifications@github.com>
wrote:

[2018-11-06 13:14] nikhilnanivadekar commented on #633
I have raised a PR with the implementation

[2018-11-07 06:46] #612 closed

[2018-11-07 20:12] #633 closed

[2018-11-09 03:35] Daniel-Dos commented on #615
Hi,

only remove in classes "factory" ?

[2018-11-12 11:30] victornoel opened #638 "Add injectInto without initial value, aka RichIterable.reduce for primitive collections"
The current signature of `injectInto` seems to be similar to `reduce` available in JCL, but one difference is that `injectInto` obligatorily needs an initial value while `reduce` is available also without an initial value.

For non-primitive collections, this is not a problem since there is also a `reduce` method available in `RichIterable`. For primitive collections, there doesn't seem to exist s

[2018-11-12 11:33] victornoel opened #639 "injectInto with primitive result"
Currently, the signature of injectInto, for example in DoubleIterable, is the following:
[code]

In the same manner that `collect` has variant for each of the primitives, it could be interesting to have the same with `injectInto`, for example:
[code]

This will highly improve performances I believe.

Thanks!

[2018-11-12 16:29] motlin commented on #638
Well you can use reduce() on RichIterables. Is this request for primitive
collections?

On Mon, Nov 12, 2018 at 6:31 AM Victor Noël <notifications@github.com>
wrote:

[2018-11-12 16:35] victornoel commented on #638
@motlin indeed, I didn't realize but my request only apply to primitive collections then, yes!

In another words, it seems I'm looking for a reduce as with `RichIterable` but for primitive collections.

I don't think this exists yet. I will update the description and title, thank you.

[2018-11-12 16:46] victornoel commented on #638
Ok, I see there is already an issue for that: #312

[2018-11-12 16:46] #638 closed

[2018-11-12 16:58] victornoel commented on #312
@donraab if I make a PR for this, will it go into v10?

And where should the method be declared (interface) and implemented (an abstract class? a default method?).

Thanks :)

[2018-11-12 20:18] donraab commented on #312
@victornoel Yes, this can make it into v10.  If it is possible to do as a default method, then I would go with that. Since 10.0 is a major release, if it is easier to implement in the abstract types then this would be fine as well.

[2018-11-12 20:37] nikhilnanivadekar commented on #639
@victornoel feel free to contribute this feature. We can include this in v10.0

[2018-11-13 07:02] lca-afi opened #640 "Warning "Illegal reflective access""
Hey guys,

we are currently migrating from Java 8 to OpenJDK 11 and during our maven build, we've got the following error:

Illegal reflective access by org.eclipse.collections.impl.utility.ArrayListIterate \(file:/app/jenkins/workspace/.*/org.eclipse.collections/9.2.0.v20180518-1448/org.eclipse.collections-9.2.0.v20180518-1448.jar\) to field$ java.util.ArrayList.elementData
Please consider report

[2018-11-13 15:34] nikhilnanivadekar commented on #640
@lca-afi you will get those warnings because by default we use reflection and the JDK 9 - 11 default behavior is to warn for reflective access. However, if you execute with `--illegal-access=deny` and invoke the API which is throwing that warning on ArrayListIterate, the API will still work. Take a look at this bit of code and you will see why it works: https://github.com/eclipse/eclipse-collectio

[2018-11-16 00:42] #443 closed

[2018-11-16 14:40] victornoel opened #647 "Delegate abstract class for each of the EC iterables"
This is a bit similar to #273 in spirit but it seems different.

My need would be to have wrapper/adapter abstract classes that I could use to have classes that implements one of the EC interface but delegating to an existing implementation.

For example:
[code]

In a sense, this exactly looks like what `ListAdapter` is but it's not public and it's final!

[2018-11-16 15:11] victornoel commented on #647
For the record, the closest I found to my need is `LazyIterableAdapter`.

[2018-11-16 16:15] victornoel opened #648 "n-ary cartesian product"
Currently `Sets` has a method `cartesianProduct` for two sets.

It would be great to have the same as guava's `cartesianProduct` that takes a set of set.

[2018-11-22 10:44] victornoel opened #653 "Map.Entry.setValue equivalent for primitive mutable maps"
Hi,

There is one feature that is great for performances in JDK's Map, it is the possibility to iterate on the `entrySet` and directly set the value from there.

With the primitive mutable maps of EC, you have to iterate on the keys then call `put`, which add some overhead.

[2018-11-22 13:16] victornoel opened #654 "ofInitialCapacity for primitive map factories"
As with MutableMapFactory, add this method for the primitive maps.

[2018-11-22 13:50] motlin commented on #653
Primitive maps have no entries or entry sets so this would hurt
performance. However, there could be an iteration pattern that takes a
function from current key and value to a new value and does an in place
mutation.
On Thu, Nov 22, 2018 at 5:44 AM Victor Noël <notifications@github.com>
wrote:

[2018-11-22 16:14] victornoel commented on #653
@motlin yes, I wasn't thinking that we should implement it the same way as Map, something like your proposition seems good, maybe if @donraab has an opinion on the matter I could make a PR? :)

[2018-11-22 17:40] donraab commented on #653
I agree with @motlin .  Implement an iteration pattern here.  Looking forward to seeing the PR. Thanks @victornoel !

[2018-11-27 14:54] donraab opened #656 "Add an overload for toMap with a target Map as a parameter to RichIterable"
Currently there is a method `toMap` which returns a `MutableMap`.  The method `toMap` is similar to the `collect` method.  The method collect currently has an overloaded form which takes a target `Collection`.  I recently encountered a use case where it would have been helpful to have a form of `toMap` which takes a target `Map` as a parameter.  The specific use case was collecting from a `List` i

[2018-11-29 19:30] dirkgr opened #657 "Documentation: Practical examples"
Eclipse Collections is an amazing piece of work. When I need it, I am usually in some sort of performance trouble, and this library is the silver bullet that will save me.

However, that doesn't happen often enough that I remember the API, so every time I have to read through the documentation. And every time I have the same problem:

The examples you have are full of things you can do once you ha

[2018-11-29 19:36] nikhilnanivadekar commented on #657
@dirkgr thanks for using Eclipse Collections. Can you give an example of what sort of examples you would like in the Javadoc? We can add it to the readme or to the reference guide as well. You can also raise a PR with your suggestions, we will be happy to review and take a contribution.
Cheers!

[2018-11-29 19:39] mohrezaei commented on #657
To reiterate what Nikhil said, if there was a piece of code that you figured out on your own, you could contribute a test case or documentation that showcases that piece.

[2018-11-30 19:14] motlin commented on #656
java.util.Map or our MutableMapIterable?
On Tue, Nov 27, 2018 at 10:54 AM Donald Raab <notifications@github.com>
wrote:

[2018-11-30 19:46] donraab commented on #656
I think we should be consistent with collect and other methods with targets.

[2018-11-30 21:12] motlin commented on #656
R extends MutableMapIterable<NK, NV>

On Fri, Nov 30, 2018 at 3:46 PM Donald Raab <notifications@github.com>
wrote:

[2018-11-30 21:19] donraab commented on #656
Then we cannot return JDK maps or any other maps, like we can with collect.

[2018-11-30 21:31] motlin commented on #656
groupBy, aggregateBy, etc all take MutableMapIterable. I don't remember the
decision at the time but I think we had a choice between interoperating
well with JDK types or sorted maps and we chose sorted maps.

On Fri, Nov 30, 2018 at 5:19 PM Donald Raab <notifications@github.com>
wrote:

[2018-11-30 21:34] donraab commented on #656
Am I missing something?  I don't see target maps in any of those methods on RichIterable.

[2018-12-01 10:13] c-guntur commented on #656
R extends MutableMapIterable<NK, NV> is more consistent when adding a target R, given toMap(...) without a target, returns a MutableMap.

[2018-12-01 10:48] nikhilnanivadekar commented on #656
Agreed about consistency @c-guntur however for interop Map makes more sense. The below lines of code all compile fine. So, IMO it should be a java.util.Map

[code]

[2018-12-01 12:31] motlin commented on #656
This is the only one I found that's similar, in that it could take Map or
MutableMapIterable.

<V, R extends MutableMapIterable<V, T>> R groupByUniqueKey(

        Function<? super T, ? extends V> function,
        R target);

On Sat, Dec 1, 2018 at 6:48 AM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2018-12-01 17:09] donraab commented on #656
The upside of `MutableMapIterable` is that you are guaranteed to get something back something you asked for with the fluent EC Map API.  The upside of `Map` is that you get back exactly what you ask for without restricting to EC only types.

[2018-12-02 08:34] david-gang commented on #525
hi @donraab ,
do you have an idea how to do this? do you want that RichIterable will extend Collection?
I am using the eclipse collections to get the memory benefits of primitives but now i am stuck with Lazyiterables instead of streams and i have many functions which already work with streams. It would great to have a more standatd interface to the external world.

Thanks,

[2018-12-02 15:15] motlin commented on #525
RichIterable and LazyIterable must not extend Collection.

Implementing stream() across the board isn't easy. FastList would need a
stream similar to ArrayList's. Same for UnifiedSet and HashSet. For other
collection types, we're on our own.

On Sun, Dec 2, 2018 at 3:34 AM David Gang <notifications@github.com> wrote:

[2018-12-02 15:48] motlin commented on #656
Even though we don't have methods like aggregateBy that take a target, I
was looking at classes like NonMutatingAggregationProcedure, which only
work with MutableMapIterables and delegate to
MutableMapIterable#updateValueWith.

One other design question about toMap()... if the keyFunction returns
multiple equal keys, I think it should throw. There are probably places
where we don't do this.

Longe

[2018-12-02 20:50] donraab commented on #656
Not sure I agree on the the throwing for duplicate keys.  This doesn't happen on `toMap` today.  It happens only on `groupByUniqueKey`.  Interestingly, `groupByUniqueKey` has a target of `MutableMap` today.  Can you recall why we went with this decision?  This is more restrictive than `Map` and `MutableMapIterable`.  I would propose we lessen the restriction and go with `Map` here in the future so

[2018-12-02 21:38] nikhilnanivadekar opened #662 "Implement MutableMapIterable#removeIf(Predicate<K, V>)."

[2018-12-02 21:39] nikhilnanivadekar opened #663 "Implement MutableMapIterable#removeAllKeys(Iterable<K> keys)."

[2018-12-02 22:49] motlin commented on #656
I’m guessing it’s based on age. toMap() and MutableMap are the oldest.
groupByUniqueKey came next. Last came ordered maps and the abstraction
MutableMapIterable.

I consider the behavior of toMap() and collectKeysValues() to be a bug that
we can never fix. So I don’t use those methods. Instead of toMap(), I call
groupByUniqueKey() followed by collectValues(). Despite the verbosity, I
think it’s mo

[2018-12-04 01:51] #654 closed

[2018-12-07 13:44] nikhilnanivadekar commented on #640
Closing issue due to inactivity.

[2018-12-07 13:44] #640 closed

[2018-12-12 16:11] david-gang commented on #526
As these lists are backed by a primitive array we can just use:
streams from Arrays
https://docs.oracle.com/javase/8/docs/api/java/util/Arrays.html

I see now that we just need to update the string template to achieve this.
Is this correct ?

[2018-12-13 11:06] david-gang commented on #526
Hi, I analyzed the issue and thought that for Ints we should have in IntIterable two functions
[code]
The primitiveSpliterator should be implemented in the implementation level.
The same idea could be applied for all  primitive types types
This is what i think but as i am just using eclipse collections and never developed in it i would like to hear your view before starting to invest in this time.

[2018-12-13 19:13] donraab commented on #526
@david-gang Hi, thank you for expressing interest in this issue.  When I created the issue, I was thinking that starting with primitive Lists supporting streams would be the easiest to implement and provide the most value.  If we have stream and parallelStream on primitive Lists, we can provide an opportunity for parallelism that we do not have today.  We only have parallel APIs available for our

[2018-12-13 23:13] dirkgr commented on #657
I write in Scala, but it might be pretty similar. This is taken directly from some "production" code:
[code]

The two main points here are
 * Apparently the idiomatic way of creating an immutable collection is to create a mutable one, insert a bunch of stuff, and then call `.toImmutable()`.
 * The other thing is `.add()`, `.put()`, `.putAll()`. I figured those out using code completion. Sure, it's

[2018-12-13 23:17] brenopessoa commented on #663
Hello , What do you think about this implementation?

` default Collection<V> removeAllKeys(Iterable<K> keys) {
    	return StreamSupport
    		.stream(keys.spliterator(),false)
    		.map(this::remove)
    		.collect(Collectors.toCollection(ArrayList::new));
    }`

and maybe an overload with target collection for return.

Thank's

[2018-12-13 23:22] nikhilnanivadekar commented on #663
@brenopessoa There is already an open PR for this: https://github.com/eclipse/eclipse-collections/pull/666

[2018-12-13 23:35] brenopessoa commented on #663
Ok, thank you for the feedback.

[2018-12-15 11:05] victornoel commented on #648
Actually, the same is true with list (and the implementation for lists is quite clever performance-wise)

[2018-12-16 01:39] #511 closed

[2018-12-16 17:06] #566 closed

[2018-12-17 08:48] david-gang commented on #526
I started to work on this with pr https://github.com/eclipse/eclipse-collections/pull/672
I would appreciate if someone could just look at this and give comments.

[2018-12-18 14:54] motlin commented on #284
FastList.newListWith() has a warning on it, and I'm pretty sure it's unsafe.

[code]

[2018-12-23 18:02] david-gang opened #675 "eclipse gives error when importing project"
After downloading the project and running
mvn install -DskipTests
I import the project and get an error:

Errors occurred during the build.
Errors running builder 'Maven Project Builder' on project 'org.eclipse.collections'.
Missing parameter for pluginExecutionFilter. groupId, artifactId, versionRange and goals must be specificed, but found: groupId = 'org.eclipse.ebr'
artifactId = 'ebr-maven-plu

[2018-12-23 18:03] nikhilnanivadekar commented on #675
@leomrlima @guw can you please help

[2018-12-28 23:39] nikhilnanivadekar opened #677 "Optimize removeIf() for UnifiedMap."
Refer to https://github.com/eclipse/eclipse-collections/pull/665#issuecomment-449521787

[2018-12-30 21:20] TheLoneKing commented on #545
Why do we need to override? I think the default implementation in the ImmutableCollection class works for both ImmutableList and ImmutableSet.

[2018-12-31 15:19] juanpablolvl99 commented on #592
hey @pdvrieze I would like to help with this issue. I just need some clue to understand the context, you need a list that act like a fifo queue, but optimized, right? (sorry about my english)

[2019-01-01 00:11] motlin commented on #592
Eclipse Collections has the interfaces StackIterable, MutableStack,
ImmutableStack. I'd imagine adding QueueIterable, MutableQueue,
ImmutableQueue. Rather than pop() and push(), I think we'd have methods
like offer()/poll(), add()/remove(). I'd prefer names like
enqueue()/dequeue() but it would probably be best to stick with the same
method names as
https://docs.oracle.com/javase/7/docs/api/java/u

[2019-01-01 15:04] juanpablolvl99 commented on #592
ok, i get it, thx dude, i will try to do my best

[2019-01-05 04:10] juanpablolvl99 opened #680 "error when run mvn compile"
i get the following error when i do a ```mvn clean compile```:

[code]

occurs on api project

[2019-01-05 10:03] guw commented on #675
I think this is an M2E issue.

Here is a similar one:
https://github.com/deeplearning4j/deeplearning4j/issues/3625

Here is some documentation around this:
https://wiki.eclipse.org/M2E_compatible_maven_plugins#.3Cignore.2F.3E_mapping

[2019-01-07 03:30] FDU-SE-LAB opened #681 "Your project eclipse/eclipse-collections is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 04:35] mohrezaei commented on #681
Thanks for the warning and the analysis. If this was done automatically, you should improve your software to differentiate between test dependencies (that by their very nature cannot cause a vulnerability because they are never in the production classpath) and real dependencies.  If this was done manually, the person(s) doing the analysis might appreciate the same lesson.

For the record, the only

[2019-01-08 00:33] mohrezaei commented on #581
This is driving me insane. I just wanted to make a simple change to one file, and now I have:
[code]
It's clear this is never, ever, never, ever, ever, never, never going to be fixed. Can we please get rid of these?

[2019-01-08 17:04] victornoel opened #686 "min and similar operations are inefficient on a lazy view of a Bag"
Hi,

I'm using this kind of code:
[code]

And the problem is that when the `Bag` is viewed as a `LazyIterable`, then `minBy` relies on `each` which itself relies of `forEachKeyValue` of the encapsulated `ObjectIntHashMap` which itself executes the procedure for every duplicates of every values present in the bag.

In the case of `min` and other operations that are side-effect free, this is very in

[2019-01-08 17:08] nikhilnanivadekar commented on #686
It is really all the iteration patterns on the Bag which delegates to forEachKeyValue(). There are open issues which are raised for that, as the iteration should be once per key and not per keyValue.
https://github.com/eclipse/eclipse-collections/issues/420

[2019-01-08 17:13] victornoel commented on #686
@nikhilnanivadekar #420 seems to say that `HashBag` is not concerned by the problem, while the present issue is about `HashBag`. I couldn't find any issue about this :/

[2019-01-09 08:02] david-gang commented on #675
Thanks. Will close issue.

[2019-01-09 08:02] #675 closed

[2019-01-09 14:07] motlin commented on #581
I mentioned in #687 that I'm looking for ways to keep these files checked into version control for TeamCity to read, but not interfere with you if you want to just commit all changes.

I found this command [on StackOverflow](https://stackoverflow.com/questions/936249/how-to-stop-tracking-and-ignore-changes-to-a-file-in-git):
[code]

It may be worth experimenting with but I'm not totally satisfied

[2019-01-09 15:37] mohrezaei commented on #581
You probably already know this, but so it's clear in the ticket: the biggest issue these is with our rebase workflow and branching. I have to rollback these if I want to rebase (or switch branches), but typically, I also have to close the ide, because it constantly re-writes these. Then I have to re-do my changes in the ide.
I just found out that newer git has this command ```git stash --include-u

[2019-01-13 16:30] motlin commented on #581
I don't think I've run into this situation myself but it sounds like the
setting rebase.autoStash true might help too.
https://git-scm.com/docs/git-config#git-config-rebaseautoStash

On Wed, Jan 9, 2019 at 10:37 AM Mohammad Rezaei <notifications@github.com>
wrote:

[2019-01-14 03:49] leventov opened #690 "How to create an efficient primitive iterable from an array, offset and length?"
It seems that API for working with array slices is missing, that makes users to write inefficient code like the following:

https://github.com/FasterXML/jackson-datatypes-collections/blob/c374783ff962041d003125cbd7b617bab5d16bff/eclipse-collections/src/main/java/com/fasterxml/jackson/datatype/eclipsecollections/deser/BaseCollectionDeserializer.java#L199-L218

[2019-01-16 20:22] motlin opened #691 "Fix bug in README.me"
Combination of mutable and immutable list wouldn't compile:

[code]

[2019-01-17 01:07] #691 closed

[2019-01-19 22:06] slaymaker1907 opened #693 "Proposal to add HashedArrayTrees as an alternative mutable list"
The data structure I am proposing to add is described here: https://en.wikipedia.org/wiki/Hashed_array_tree.

The reason why I think this is probably worth for inclusion is for a couple of reasons:

* It would allow for very large dynamic arrays since it is a two dimensional structure. This allows for up to 2^62 size arrays on 64 bit systems (for Intel, this is capped out at 2^48 so it would allow

[2019-01-19 22:40] mohrezaei commented on #693
Do you want this for object references or primitives?
Some initial reactions:
- I think by "memory overhead", you meant "average wasted space".
- The name is confusing. There is no hashing here. It's just an array of arrays and from the user's perspective, it's nothing more than a LargeList.
- The random access performance is worse than ArrayList.
- Java doesn't have a "consuming" or "discarding"

[2019-01-21 04:35] donraab opened #694 "Implement fromStream(Stream) on collection factories"
We have ofAll and withAll with primitive stream for primitive collection factories. We should have the same for object collection factories.

[2019-01-21 20:49] donraab commented on #694
No I have not seen anything that implements it.  There has been discussions about why Stream does not implement Iterable.  Iterable has to give a guarantee of producing an iterator that can be used as many times as you call it.  A Stream can only be used once.

[2019-01-21 22:07] donraab commented on #694
I will rename it to fromStream, which will keep it to a single method.

[2019-01-25 12:37] #694 closed

[2019-02-04 23:09] #546 closed

[2019-02-05 16:36] nikhilnanivadekar opened #698 "Create AbstractUnifiedMap for common code between UnifiedMap and UnifiedMapWithHashingStrategy."

[2019-02-06 01:59] #306 closed

[2019-02-09 15:29] #444 closed

[2019-02-10 07:43] #663 closed

[2019-02-25 19:35] arebgun opened #701 "UnifiedSet java.lang.ArrayIndexOutOfBoundsException while iterating"
I trying out Eclipse Collections for my project, using the latest available version - 9.2.0. Sometimes I am getting exceptions while iterating over a set (both while using UnifiedSet and UnifiedSetWithHashingStrategy):

`Error: java.lang.ArrayIndexOutOfBoundsException: Index 256 out of bounds for length 256
java.lang.ArrayIndexOutOfBoundsException: Index 256 out of bounds for length 256
	at org.ec

[2019-02-25 19:47] nikhilnanivadekar commented on #701
Thanks for trying out Eclipse Collections. Can you please share a test case or code which we can use to analyze?

[2019-02-25 19:51] arebgun commented on #701
I don't have a test case that I can share right now. So far I just tried to use UnifiedSet a drop-in replacement for JDK's HashSet in a bigger project. I will try to distill a test case, although I have been unsuccessful so far.

[2019-03-03 12:34] victornoel commented on #701
@arebgun are you sure that:
- you aren't using it in a concurrent context?
- you are not modifying it while iterating over it?

[2019-03-03 12:43] victornoel commented on #312
@donraab @nikhilnanivadekar @motlin I think this can get closed (cf comment above)

[2019-03-03 18:14] #312 closed

[2019-03-04 06:27] AugustNagro opened #702 "Consider supporting my proposal for improved Collectors"
By adding `default IntFunction<A> sizedSupplier()` to java.util.stream.Collector, I've found that allocations & throughput can be significantly improved (up to 60% less allocations for Streams collected to ArrayLists).

Since Eclipse Collections's Collectors2 provides many Collectors thats can benefit from pre-sizing, please consider supporting my proposal! https://mail.openjdk.java.net/pipermail/

[2019-03-09 16:15] arebgun commented on #701
@victornoel thanks for the ideas. It does look like the set is being added to while being iterated over.

[2019-03-09 16:15] #701 closed

[2019-03-11 20:32] victornoel commented on #686
@nikhilnanivadekar what do you think about my clarification and above comment? If it's relevant, would you have an idea as how to tackle this problem in term of design? I could try to solve it :)

[2019-03-15 16:38] motlin commented on #351
Bump. I think these three methods in [primitivePrimitiveMap.stg](https://github.com/eclipse/eclipse-collections/blob/master/eclipse-collections-code-generator/src/main/resources/api/map/primitivePrimitiveMap.stg) deserve javadoc.

[code]

[2019-03-16 18:03] cguntur-bnym opened #704 "EBR Plugin failures for local, Travis and Teamcity builds"
Builds are consistently failing in the Eclipse Collections OSGi Bundle module with the exception:

[21:26:29][Step 1/1] Failed to execute goal org.eclipse.ebr:ebr-maven-plugin:1.0.0-SNAPSHOT:bundle (default-bundle) on project org.eclipse.collections: Unable to execute mojo

More detailed error message can be located at the build log: https://teamcity.jetbrains.com/viewLog.html?buildId=2060159&buil

[2019-03-16 18:07] cguntur-bnym commented on #656
I am submitting a PR for this.

[2019-03-16 22:53] guw commented on #704
Happy to help! Please post the complete error message. There should be additional error messages than just "Unable to execute mojo". You can also run Maven with "-e" to print full stack traces.

[2019-03-16 22:57] cguntur-bnym commented on #704
Thank you Gunnar. Please find the stack trace from the builds (I also included the complete build log in the original issue, in case you wanted to see further details.

Stack trace:
`
[21:26:30][Step 1/1] [ERROR] Failed to execute goal org.eclipse.ebr:ebr-maven-plugin:1.0.0-SNAPSHOT:bundle (default-bundle) on project org.eclipse.collections: Unable to execute mojo: Execution null of goal org.eclip

[2019-03-16 23:04] guw commented on #704
Can you set the Tycho version to `1.3.0` please?
https://github.com/eclipse/eclipse-collections/blob/master/p2-repository/pom.xml#L52-L53

I also suggest to get rid of `tycho-extras-version` property and always use just `tycho-version`. They are synchronized and there shouldn't be a need to have them diverge.

[2019-03-16 23:18] cguntur-bnym commented on #704
Pom modified with both suggestions, running a local build, once verified will proceed to push. Will update here on progress. Thanks Gunnar !

[2019-03-16 23:26] cguntur-bnym commented on #704
Build succeeded locally. Travis builds triggered after push.

[2019-03-17 01:33] motlin commented on #656
I think we should deprecate all methods that silently collapse duplicate
keys, so toMap() and collectKeysValues(). We could mark them as deprecated
but not-for-deletion. Thoughts? I’d submit the PR but I want to check if
it’s controversial first.

On Sat, Mar 16, 2019 at 2:07 PM Chandra Guntur <notifications@github.com>
wrote:

[2019-03-17 03:29] donraab commented on #656
I don't think we should deprecate. If throwing exceptions on duplicates is a desired behavior and common use case, we can add toMapUnique() similar to groupByUniqueKey with both key and value functions.

[2019-03-18 23:57] donraab commented on #686
The red pill option would be to have asLazy() return a LazyBagIterable for Bag. LazyBagIterable would extend LazyIterable. LazyBagIterable select method would also have to return LazyBagIterable.

Warning: Not sure how much work this would result in.

[2019-03-19 22:25] motlin commented on #686
Specialized lazy iterables are a great idea and we should add them, but
they aren’t necessary for this optimization. We’re probably just missing an
override of minBy.
On Mon, Mar 18, 2019 at 7:57 PM Donald Raab <notifications@github.com>
wrote:

[2019-03-20 19:31] nikhilnanivadekar commented on #656
I do not quite understand the rationale behind deprecation. Since the duplicates will be overridden, I understand that the behavior will not be deterministic in all cases. However, that is the behavior that is expected. This same behavior is observed in JDK Collectors and other places. This is the exact same behavior which users will get if they did a forEach(each -> map.put(each.getKey(), each.ge

[2019-03-20 20:01] mohrezaei commented on #656
I've been following this. I usually tend to fall on the "not deprecate" side of the fence and in this case, it seems pretty straight forward, as alternate methods can be provided.

I actually don't understand the return type issue. If the return type is `R extends Map<K,V>`, doesn't this code work just fine:

[code]
In general, `R` as a parameter should be restricted to the smallest interface the

[2019-03-20 20:52] motlin commented on #656
When I see toMap() in code reviews, it raises questions. Do you expect unique entries? No? Then use groupBy. Yes? Then use groupByUniqueKey. Don't know? Why not? Wouldn't you want to know about duplicate keys? Similarly, if I saw `iterable.forEach(each -> map.put(keyFunction(each), valueFunction(each))` I would raise questions about that in a code review.

I personally have never used toMap() in m

[2019-03-24 13:11] victornoel commented on #686
@motlin I'm not clear overriding `minBy` (and others) in `LazyIterableAdapter` (or superclass) is going to solve the problem. It is not aware of the particularity of `Bag` and only knows an `Iterable` so it have `each` (which delegates to `Iterate.forEach`) available to do its work...

[2019-03-27 12:49] motlin commented on #686
This issue is tricky. I'll share what I've learned so far. First, you're right of course, bag.asLazy().someMethod() iterates over each occurrence for most methods, which is inefficient.

AbstractBag has lots of manual optimizations like `if (target instanceof MutableBagIterable<?>)`. I thought we had similar optimizations for lazy iterables but I guess I remembered wrong.

We have some iteration o

[2019-03-29 18:51] #656 closed

[2019-03-29 18:51] #704 closed

[2019-03-29 19:31] donraab opened #705 "Create interfaces for MultiReader collections."
The three MultiReader collections do not currently have interfaces with any specialized APIs.  This means you cannot call methods like `withReadLockAndDelegate` and `withWriteLockAndDelegate` unless you have the implementation class in your code.  This requires you to construct the implementation classes explicitly, and means you cannot use the factory methods for creating the classes.

`MutableLi

[2019-04-15 04:03] #526 closed

[2019-05-05 21:53] motlin opened #720 "Implement a better way of performing non-short-circuit boolean operations."
I'm working with an API that performs a mutation and then returns a boolean to indicate if a mutation happened, similar to Map.put(). I want to iterate over a collection, possibly perform mutations for each item, and then answer whether any mutations happened. I'm finding this awkward with the available API in Eclipse Collections 10 and can think of a few additions that might improve things.

1. N

[2019-05-05 21:58] motlin commented on #720
3. A non-short-circuit decorator

Option 1 would add a lot of new API. A better alternative might be implementing non-short-circuit decorators. RichIterable.asNonShortCircuit() could return a decorator where all the short circuit methods are overridden to iterate through the full backing collection.

[2019-05-05 23:18] mohrezaei commented on #720
Obligatory reminder: this is trivial in a for loop:
[code]

[2019-05-06 23:09] donraab commented on #705
Fixed by @canthonyl in #719

[2019-05-06 23:09] #705 closed

[2019-05-08 03:53] mohrezaei commented on #720
Sheesh... can't get a comment out of functional peanut gallery with a for loop jab :stuck_out_tongue: ?
I guess I'll have to put my itchy functional hat on:
[code]
This is just a fold operation: I used the int version cause we don't have a boolean one.
Which is what I dislike about functional code: it's always feels like solving a puzzle.

[2019-05-10 12:54] victornoel opened #722 "UnmodifiableMutableList does not implement toArray"
When using the Eclipse debugger, an instance of `UnmodifiableMutableList` can't be explored via the debugger because it does not implement `toArray`:
![image](https://user-images.githubusercontent.com/160975/57528759-70880700-7333-11e9-9fa5-8cc4446d0b2b.png)

I suppose it would be relevant to implement it, and also maybe for some other collections that are in the same situation?

[2019-05-10 13:07] donraab commented on #722
Sounds reasonable to me.

[2019-05-11 09:54] victornoel commented on #722
@donraab sorry, actually it seems to be an Eclipse bug related to Java 11: https://bugs.eclipse.org/bugs/show_bug.cgi?id=543604

[2019-05-11 09:54] #722 closed

[2019-05-18 05:38] donraab opened #723 "Implement LongInterval"
Today we have IntInterval.  It would be useful to have LongInterval as well.  I don't know that we need more than just IntInterval and LongInterval, so I would hold off trying to code generate all of the primitive type versions of interval.

[2019-05-21 01:01] donraab commented on #720
Sorry to be late to the discussion here, but couldn't this behavior be accomplished using `count`?  Count is non-short circuiting and takes a predicate.

[code]

[2019-05-21 01:06] mohrezaei commented on #720
@donraab agreed. I'd forgotten about ```count```. There is even a ```countWith```

[2019-05-22 12:29] motlin commented on #720
I like that. I’ll name the variable numberOfMutations and the code will be
pretty clear. Thanks!

On Mon, May 20, 2019 at 9:06 PM Mohammad Rezaei <notifications@github.com>
wrote:

[2019-05-29 12:42] victornoel opened #726 "Distinct element view of Bag"
It would be great to have a lazy view on Bags that contains the distinct elements of the Bag. It could be called `distinct` or `distinctView`.

Currently, the only way to work on the distinct elements of a Bag is to use `forEachWithOccurrences`.

An alternative could be a view which would contain `ObjectIntPair` with each distinct element and their number of occurrence.

[2019-05-29 16:24] victornoel commented on #686
@motlin I was thinking: if there was a method `distinct` (or `distinctView` maybe) available on `RichIterable`, it could make sense that all operations that are expected to be side-effect free (such as `min`, but also why not the short-circuiting one like `anySatisfy` and co) should rely on it.

In the case of `Bag`, this would be implemented naturally, and for other collections, depending on the

[2019-06-02 23:37] motlin commented on #686
If you haven't yet, take a look at
RichIterableTestCase#RichIterable_iterationOrder and the subclasses
HashBagNoIteratorTest.

I mention it because distinct views are fine, but they shouldn't be
necessary. You identified a performance bug that we ought to just fix.

On Wed, May 29, 2019 at 12:24 PM Victor Noël <notifications@github.com>
wrote:

[2019-06-03 06:52] victornoel commented on #686
@motlin I'm not sure what I should see in those classes? Do you mean the commented code that refer to the same bug as the one of this issue?

I understand it is a bug, my proposal about distinct views was a way to elegantly implement a solution to this bug, not as a workaround: if there was a way to always get a distinct view from a collection, then you could have generic-defined-once implementati

[2019-06-05 13:47] motlin commented on #686
I haven't had time to look into it but I feel like there's a middle ground
that shouldn't be too hard. And the distinct() view kind of already
exists... it's asLazy().distinct(). It may be fine to delegate to that
method inside a lazy iterable's min/max method as a short-term fix.

On Mon, Jun 3, 2019 at 2:52 AM Victor Noël <notifications@github.com> wrote:

[2019-06-05 13:53] victornoel commented on #686
@motlin for `asLazy().distinct()`, the only way to make it be useful, would be to have specific implementation of `DistinctIterable` for `Set`s and `Bag`s for example. If not you won't solve the performance problem since `DistinctIterable` would be highly non efficient.

[2019-06-10 06:58] victornoel commented on #647
After some exploration, I think it would be great if all the adapter were non-final so they can be used as wrapper classes.

[2019-06-10 07:01] victornoel commented on #647
@motlin @nikhilnanivadekar @donraab would you be open to this? I can make a PR.

[2019-06-10 12:32] victornoel opened #727 "Primitive ArrayList is broken"
Hi,

It seems a bug crept in primiteArrayList.stg, for example with `DoubleArrayList`:
[code]

As you can see, in the first constructor above, size is not initialized.

This results in most of the methods to throw an exception because the size is 0 even though it is not the case.

[2019-06-10 12:35] victornoel commented on #727
ah, I seemed to have misunderstood the meaning of those array list, I am confusing this with `ArrayAdapter`. In this case it is normal, sorry for the noise :)

[2019-06-10 12:35] #727 closed

[2019-06-13 14:54] jiminhsieh commented on #366
After trying `mvn clean install -DargLine="--illegal-access=warn"`, I didn't see any warning related to reflection. Could anyone give me some hints? Thanks!

[2019-06-25 15:56] mahmoudhanafy opened #728 "Add shuffle operation to primitive Lists"
I found `shuffleThis` method at `MutableList` interface.
but couldn't find a similar method at primitive lists.
would be helpful to add this method.

[2019-06-28 15:34] victornoel opened #729 "Primitive and non-primitive circular buffers"
I was wondering if it was part of the scope of eclipse collections to provide efficient implementations of circular buffers.

I'm not looking for something with concurrency properties, but simply something to implement circular buffers for primitives and also non-primitives.

Maybe it is the same as a bounded FIFO queue, I'm not exactly sure, I need something where I can add elements and it will k

[2019-06-28 15:39] mohrezaei commented on #729
From a datastructure perspective, a dequeue is the right implementation for this and dequeues are certainly in scope.
(maybe we'll leave everything else that can be built on top of a dequeue, e.g. a circular buffer, for later)

[2019-07-11 14:02] krgowtham opened #732 "List of Dynamic Strings to Map"
Is there an efficient way to convert the below List to List of Map?
[code]
[code]

[2019-07-12 04:50] #732 closed

[2019-07-23 01:38] TheLoneKing commented on #47
I am trying to implement `groupByAndCollect` method on `RichIterable`. My test is failing with errors that looks confusing.
Here are some errors:
1. [ERROR]   `ImmutableSortedBagImplTest.RichIterable_groupByAndCollect` expected: `org.eclipse.collections.impl.map.mutable.UnifiedMap<{false=[12, 10, 8, 6, 4], true=[11, 9, 7, 5, 3]}>` but was: `org.eclipse.collections.impl.map.mutable.UnifiedMap<{fals

[2019-07-24 22:12] motlin commented on #47
That output doesn’t mean that the expected and actual were the same, just
that their toString() representations are the same. I’m guessing one is a
map of lists and one is a map of sets.

On Mon, Jul 22, 2019 at 9:38 PM Dineshkumar Gnanaprakasam <
notifications@github.com> wrote:

[2019-07-28 22:42] donraab opened #737 "Variable name in Multimaps class for ImmutableSortedBagFactory is incorrect"
The name of the variable is currently `multimap` and should instead be `sortedBag` in the `Multimaps` class.

This is what currently exists in the `ImmutableMultimaps` static inner class.
[code]
This should be changed as follows:

[code]

[2019-07-28 23:21] donraab opened #738 "ImmutableMapFactory missing withMap, ofMapIterable and withMapIterable"
There are three methods missing on `ImmutableMapFactory` interface.  These are the methods on `MutableMapFactory`.

[code]
These are currently the methods available on ImmutableMapFactory.
[code]
The `ofAll` and `withAll` methods should be deprecated on `ImmutableMapFactory` and `withMap`, `ofMapIterable` and `withMapIterable` should be added.

[2019-07-28 23:22] nikhilnanivadekar commented on #737
Why would we name a variable a “Bag” inside a “Multimap” factory? What am I missing ?

[2019-07-28 23:29] donraab commented on #737
In the inner class:
[code]

[2019-07-29 13:54] Isammoc opened #739 "Bag factories with occurrences"
Something like the `Maps.immutable.of` factory, but for bags:

[code]

[2019-07-29 23:04] motlin commented on #737
This is labeled minor-version. Is that because it's not a big deal?

[2019-07-29 23:06] motlin commented on #738
We should also fix the generics on ofMap(), probably in a major version.

[2019-07-29 23:08] nikhilnanivadekar commented on #738
I think next release should just be 11.0 instead of a minor version. It’s much easier to move forward with this philosophy. Thoughts?

[2019-07-29 23:41] motlin commented on #738
Starting on a major release is a commitment to not do any release for a while. I thought 9.1.0 and 9.2.0 went well.

On the other hand, most of the work of doing a release falls on you and it doesn't seem trivial, so I understand. It's also an acknowledgement of something that may already be the case, that we won't release for ~6 months whether it's major or minor.

[2019-07-31 10:02] nintha commented on #640
@nikhilnanivadekar if it still works, could it has some way to block those warning in `ArrayListIterate.java`?
I want the `Illegal reflective access` warnings are displayed for real illegal reflective access.

Thx.

[2019-07-31 12:50] nikhilnanivadekar commented on #640
That is something which is controlled by the Java runtime and not by us. This might be useful: http://openjdk.java.net/jeps/261#Relaxed-strong-encapsulation

[2019-07-31 12:52] nikhilnanivadekar commented on #726
@victornoel this is a good idea. I think `distinctView()` is a better name.
Curious about your use case: are you trying to manipulate the elements? If you just need a view, we might want to add asSet() and just return the keySet() of the backing map. thoughts?

[2019-07-31 13:02] nintha commented on #640
OK, I see, `Illegal reflective access`  is in order to more performance.

[2019-07-31 13:11] victornoel commented on #726
@nikhilnanivadekar I just want to iterate over the elements, or maybe collect something else based on them, so maybe I would do: `bag.distinctView().collect(e -> ...).toList()`.

So yes, it is basically a view that I am interested in: `asSet()` would totally correspond to my need.

[2019-07-31 13:35] nikhilnanivadekar commented on #726
would you like to contribute? On the interface it can be default implementation which throws but implementation will have the actual `asSet()`

[2019-07-31 13:39] nintha commented on #640
@nikhilnanivadekar maybe `trySetAccessible()` can block the warning?
https://docs.oracle.com/javase/9/docs/api/java/lang/reflect/AccessibleObject.html#trySetAccessible--

[2019-07-31 13:40] nikhilnanivadekar commented on #640
We will not be making that change in the library, we support Java 8+ versions

[2019-08-01 15:39] victornoel opened #740 "Add keySet to MapIterable and/or make API more consistent"
I noticed that the primitive Maps have a `keySet` method, but the generic ones don't.

The immutable ones return an unmodifiable set (because a `MutableSet` is expected to be returned by the interfaces).

I think it would make sense to add it also to the generic Maps because there is only a `keyView` available and sometimes, it's useful to have a `Set` (or a `SetIterable` maybe?).

[2019-08-01 15:44] victornoel commented on #726
@nikhilnanivadekar yes I can, not sure I will be able to before 2 weeks though, but I guess now that v10 is released, we have some time :)

Questions:
- the default implementation on the interface is needed for backward compat, right?
- I wonder if we should return a `MutableSet`, a `SetIterable` or a `RichIterable`?
  - If it's a `Set`, should it be an `UnmodifiableSet` like what is returned by p

[2019-08-01 22:08] motlin commented on #726
SetIterable is ideal. LazyIterable is easier to implement but limiting.

On Thu, Aug 1, 2019 at 11:44 AM Victor Noël <notifications@github.com>
wrote:

[2019-08-04 11:08] itohiro73 commented on #737
I suppose this is minor-version because it's a naming bug.

[2019-08-04 16:56] donraab commented on #737
I labeled it as a minor version because we can add sortedBag as a new variable, and leave multimap as it is with a deprecated warning and remove it in the next major version.  Make sense?

[2019-08-04 16:58] nikhilnanivadekar commented on #737
Do we want to create a 10.1, or we should just go to 11. Even if we release it in 6 months, we should just do major version releases and service releases for critical bug fixes. I vote only major version releases, makes it easier to manage.

[2019-08-04 16:59] donraab commented on #737
Ok with me.

[2019-08-09 14:33] lpellegr opened #741 "Equivalent to `java.util.TreeMap#floorEntry` with TreeSortedMap"
Your library is really awesome.

I am trying to use it with a `org.eclipse.collections.impl.map.sorted.mutable.TreeSortedMap` in order to create a RangeMap data structure.

For this purpose, I am looking for an equivalent to [java.util.TreeMap#floorEntry](https://docs.oracle.com/javase/8/docs/api/java/util/TreeMap.html#floorEntry-K-) that is provided with the JDK. Unfortunately, it seems there is

[2019-08-09 14:57] lpellegr commented on #741
Erf, your implementation of `TreeSortedMap` relies on ` java.util.TreeMap`. So the solution in my case is to directly use the JDK implementation.

[2019-08-09 14:57] #741 closed

[2019-08-09 18:06] nikhilnanivadekar commented on #741
Thanks for the compliments nonetheless. Please reach out if you need help in the future

[2019-08-13 07:18] mustangxu opened #742 "Add method wrapCopy to Primitive Lists to mirror the functionality in FastList"
Let me take `MutableIntList` as an example.

`int[] array = { 1, 2, 3, 4 };`
`MutableIntList list = IntLists.mutable.of(array);`

In the source code of `IntArrayList`, the constructor takes an initial array as parameter and holds the reference to it in `this.items`:

`public IntArrayList(int... array)`
`{`
`    this.size = array.length;`
`    this.items = array;`
`}`

When invoke `removeAtIndex()`

[2019-08-13 10:02] mohrezaei commented on #742
Eclipse collections is used by applications that are very sensitive to garbage. Adding extra copies is not necessary most of the time and therefore we leave that to the application. The behavior is documented on the actual `IntArrayList.newListWith` method, but it's not documenteed on the factory method, or various methods that delegate to it. It would be good to copy the warning to those methods.

[2019-08-14 19:49] nikhilnanivadekar opened #743 "Implement Interval.fromToExclusive(from, to)"
The method name can be renamed to something else sensible.

[2019-08-15 00:06] motlin commented on #743
Where from is inclusive still but to is exclusive?

On Wed, Aug 14, 2019 at 3:49 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2019-08-15 00:29] nikhilnanivadekar commented on #743
Yes

[2019-08-19 16:36] nikhilnanivadekar opened #744 "Implement Interval.range() with similar behavior as IntStream.range()"
This issue can be merged with #743 .

[2019-08-26 16:21] govi20 commented on #744
@nikhilnanivadekar  @donraab would it be okay if I take this up?

[2019-08-27 18:11] mohrezaei opened #745 "Json/jackson serialization"
I suggested replacing a Map<Long, Long> with a primitive map in a code review and it turned out that this was much harder to do because there is no jackson/json serialization. Two things:
1) Should we add a module for that? This would be totally independent and not add any dependency/weird annotations to the core code.
2) Does anyone have a piece of code that does this lying around so we could use

[2019-08-27 18:13] mohrezaei commented on #745
Oops, this is available here: https://github.com/FasterXML/jackson-datatypes-collections/tree/master/eclipse-collections/src/main/java/com/fasterxml/jackson/datatype/eclipsecollections/ser/map

[2019-08-27 18:13] #745 closed

[2019-08-29 09:44] victornoel opened #746 "Allow for getting a generic view of primitive collections"
I noticed the following need when manipulating primitive maps, but this apply to any primitive collection I believe, mutable and immutable alike.

Basically, I have a `MutableObjectDoubleMap<T>` and sometimes I need somewhere a `MutableMap<T, Double>`.

Currently what I would do is: `map.keyValuesView().toMap(ObjectDoublePair::getOne, ObjectDoublePair::getTwo))`

The problem with this is that it i

[2019-08-29 19:37] donraab commented on #746
It would be nice to have asMap, asList, asSet, etc. for primitive collections.

This was functionality that was in the process of being added for primitive Lists and Sets.  I don't think the work was ever completed.  While it is straight forward, it is a lot of work. Support needs to be provided for Iterators, etc. Decisions need to be made on whether to support both read and write apis.

[2019-08-29 23:29] saurabhmj commented on #657
Hello @donraab @dirkgr ! I'm trying to learn eclipse-collections and I think working on this issue would be a great way for me to get a head start. Mind if I work on this?

I think that adding examples for `.toImmutable()` would come under [creating immutable collections](https://github.com/eclipse/eclipse-collections/blob/master/docs/guide.md#-creating-immutable-collections) section.

Any idea wh

[2019-08-29 23:52] donraab commented on #657
@saurabhmj Thank you for the interest and this is a great contribution!  Adding `.toImmutable()` to this section makes sense to me.

I think adding a new section under "Immutable Collections" titled "Growing and Shrinking Immutable Collections" would make sense for `.newWith()`, `.newWithAll()`, `.newWithout()`, `.newWithoutAll()`.

[2019-08-29 23:53] nikhilnanivadekar commented on #657
This is great! Agree with Don.
Please reach out to us if you need help!

[2019-08-30 19:17] mgoldver opened #747 "aggregateBy for MapIterable should have a variant to aggregate on key and value"

[2019-08-30 20:33] donraab commented on #747
Would this take a `Function` for the groupBy as well as a `Function` to apply to the value?

[2019-08-31 02:04] mgoldver commented on #747
Makes sense, thanks Don.

[2019-08-31 13:38] govi20 commented on #744
@nikhilnanivadekar What should be output if from and to values are same and if to < from. Should exceptional be thrown as done in `Interval.fromToBy()`
I am planning to re-use fromToBy method, `Interval.fromToBy(newFrom, newTo - 1, 1);`

is this approach correct?

[2019-08-31 22:18] nikhilnanivadekar commented on #744
I would want to avoid that. The IntStream.range() implementation is a bit more forgiving, especially around ‘from’ and ‘to’ being equal.

[2019-09-12 03:33] jiminhsieh commented on #739
I want to work on this one. I need the confirmation of this result is:
[code]
Thanks.

[2019-09-13 10:46] nikhilnanivadekar commented on #739
You can definitely add that in addition to variants like this:
(first, occurrence)
(first, occurrence, second, occurrence)
(third, occurrence, second, occurrence, third, occurrence)

We generally go till 4.

For Pair, please use an ObjectIntPair

[2019-09-14 14:59] gaurav9822 opened #752 "Build failure - Checkout revision id - 1117"
Maven build on 10.1.0-SNAPSHOT is failing with the following stacktrace.

Command : mvn clean install
Java :
    java version "1.8.0_102"
    Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
    Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode)

Please let me know if there is anything missing from my side.

[INFO] Reactor Summary for Eclipse Collections Parent Project 10.1.0-SN

[2019-09-14 15:26] nikhilnanivadekar commented on #752
As mentioned on the mailing list:

is this on command prompt or Eclipse IDE or IntelliJ or Netbeans?
I need more info to help you debug. From the stacktrace it looks like the module `Eclipse Collections Code Generator` has compilation error, and that generally happens if there are local changes. Can you please check and send where exactly the compilation error is?

Let us continue the discussion h

[2019-09-15 05:20] gaurav9822 commented on #752
It was from intellij.
Deleted the checkout and intellij project files.
It works after taking the build right after the checkout.

[2019-09-15 05:20] #752 closed

[2019-09-17 17:15] #47 closed

[2019-09-18 17:01] Isammoc commented on #739
Yes, it is close to it (my sample was with variables/constants)

[code]

[2019-09-22 18:10] victornoel commented on #726
Hi, I started working on this, and I have some questions:

- To implement `asSet` for `ImmutableHashBag`, the best would be to reuse `ImmutableUnifiedSet` to wrap the `delegate.asSet()` of `ImmutableHashBag`. Of course this is not possible because the constructor of `ImmutableUnifiedSet` is private. What's the best course of action in that case?
- To implement it for `TreeBag`, the best would be t

[2019-09-23 13:14] motlin commented on #726
@victornoel I think you can use the interface `ImmutableSet` but not the implementation `ImmutableUnifiedSet`. That's because `ImmutableUnifiedSet` actually holds a `UnifiedSet` and takes linear time to construct. A method named asSomething should return a view in constant time. This is not easy though. Take a look at the implementations of keySet and keysView for ideas.

[2019-10-08 10:26] yawkat opened #759 "IntStack should implement ReversibleIntIterable"
[obviously applies to other primitives as well]

IntStack is, in its current implementation, backed by IntArrayList. While IntArrayList supports reverse iteration, IntStack does not.

I'm willing to implement this if this sounds like a sensible change to you. From what I can tell, it should simply be a matter of delegating everything to IntArrayList.

[2019-10-08 10:33] yawkat opened #760 "Low-garbage support for kotlin?"
When using EC for reducing garbage, a dedicated "kotlin support" module could offer inline methods for things like iterating primitive collections. When using these methods from kotlin code, you could .forEach an IntList without the overhead of allocating an IntProcedure. Internally, this forEach would be implemented as a simple indexed loop over the list.

Kotlin does have extension methods, so i

[2019-10-14 15:41] mkrivoshein opened #761 "Add withMap() to MutableMap and MutableMapFactory"
Would be nice to have utility methods that can add contents of an another map while allowing use of the API in a builder pattern style.

It will especially be useful if you already have multiple maps and you want to create an union of these maps.

[code]

Just as a reference, similar functionality is available with Guava ImmutableMap builder.

[2019-10-14 15:44] nikhilnanivadekar commented on #761
this makes sense. We have withKeyValue() but with do not have withMap().
Would you like to contribute this enhancement? This should be relatively straightforward and quick to implement. I will be happy to guide you through.

[2019-10-14 15:46] nikhilnanivadekar commented on #759
this sounds reasonable. That said, however, generally Stack is used to pop and push, so may be it might be an overkill. However, the code change would have a relatively less footprint so I wouldn't mind having it.
Please go ahead and raise a PR! Thank you very much for your support to Eclipse Collections @yawkat !

[2019-10-14 15:49] nikhilnanivadekar commented on #760
@yawkat if you want to try this out, I will be extremely supportive. Go for it!
From a release and separation perspective, we can create a separate module just for kotlin support. I will be happy to create milestone releases if you need them to test and benchmark. Then we can take a call if we want to keep the separate module or do something else. Thoughts?

[2019-10-14 15:49] mohrezaei commented on #759
Doesn't this break FILO? Our stacks are meant to honor their contracts, not expose their guts.

[2019-10-14 16:09] yawkat commented on #759
Stack is already iterable so all elements are already accessible.

[2019-10-14 16:09] mohrezaei commented on #759
In the correct order...

[2019-10-14 16:10] mohrezaei commented on #759
Said differently, why would one use a stack data structure, then choose to iterate from the bottom? Why not just use a list?

[2019-10-14 16:12] yawkat commented on #759
Well, the point of ReverseIterable is to give access to an iterable in reverse. I don't see how that's any worse than peek(size()).reverse() or iterating manually.

By the same token, why would you iterate a stack from the top? My particular use case was "replaying" a stack from its oldest value.

[2019-10-14 16:14] mohrezaei commented on #759
I see. That's as reasonable use case. No objection to this implementation.

[2019-10-14 21:18] mkrivoshein commented on #761
I'd be interesting experience. Will look into what needs to be done to become a contributor first.

[2019-10-14 23:57] nikhilnanivadekar commented on #761
Please read our contribution guide. And feel free to ask questions on this
issue. Please tag me so that they show up in my notifications. Once you
raise a PR we can discuss on the PR itself. Thanks!

On Mon, Oct 14, 2019 at 4:18 PM Mikhail Krivoshein <notifications@github.com>
wrote:

[2019-10-19 08:30] yawkat commented on #759
How exactly should compatibility for this work? If I change primitiveStack to implement reversiblePrimitiveIterable, should any new methods reversiblePrimitiveIterable introduces be default in primitiveStack or is it enough if I simply implement them in all concrete implementations?

[2019-10-19 11:41] nikhilnanivadekar commented on #759
You can keep the implementation in the concrete classes and have a default method which throws to ensure compatibility for minor release. For a major version we don’t provide a default which throws.
I am still in a dilemma if next release should be major or minor version. What do you think we should do?

[2019-10-21 08:50] slemouzy opened #762 "IntInterval.fromToBy(n, n, -x) doesn't work as expected"
Using eclipse collections 10.0.0

`IntInterval.fromToBy(2, 2, -1).toList()` raises an exception whereas we expect `[2]`.

 Here is the exception raised:
[code]

`IntInterval.fromToBy(2,2,-2).forEach(i -> { System.out.println(i);}); ` prints an infinite sequence of decreasing integers whereas we expect just `2`.

This behaviour is not the same as `Interval.fromToBy(2,2,-2)` wich seems to be ok.

[2019-10-21 10:01] merks opened #763 "Please properly license and sign the artifacts contributed to the release train."
Looking at this report, specifically for Eclipse Collections contribution to SimRel:

https://download.eclipse.org/oomph/archive/simrel/collections.aggrcon/index.html

It's clear that you folks need to add a proper license to the feature and that you need to sign the feature's jars.

I've tried to get your attention via this channel:

https://www.eclipse.org/lists/cross-project-issues-dev/msg17024

[2019-10-21 12:00] nikhilnanivadekar commented on #763
@merks yes we will need help to resolve this. None of us maintainers are eclipse experts, so it would be great if you could tell us what needs to be done. I am happy to read the documentation. That said, I have tried numerous times to sign the p2 artifacts without success (there are few PRs and milestone releases performed only for the signing)
FWIW I think our jar artifacts carry the correct lice

[2019-10-21 14:14] nikhilnanivadekar commented on #762
Thanks @slemouzy for reporting this. This is a bug and we will put in a fix with our next release. Currently, we do not have a release planned, however, if this is critical for your application, I will be happy to release a patch version. Once the bug fix is merged. Please let me know.
Cc @donraab @cguntur-bnym

[2019-10-21 15:01] slemouzy commented on #762
@nikhilnanivadekar thank you for the proposition of releasing a patch version but it is not necessary since using `Interval` instead of `IntInterval` is an acceptable temporary workaround for our application.

[2019-10-21 15:02] nikhilnanivadekar commented on #762
great! thanks!

[2019-10-23 10:14] cguntur-bnym commented on #762
I'll start work on the issue for the next planned release.

[2019-10-25 09:26] soumyadip007 opened #765 "Eclipse Not getting connected with git using MFA"
Eclipse Not getting connected with git during multifactor authentication.

[2019-10-25 13:17] nikhilnanivadekar commented on #765
This is the Eclipse Collections project and has nothing to do with the Eclipse IDE. Please raise a bugzilla or file an issue according to the appropriate Eclipse IDE workflows. Thanks!

[2019-10-25 13:17] #765 closed

[2019-10-26 20:15] motlin commented on #759
StackIterable implements OrderedIterable. If we do this for primitive collections, we should do it for regular collections.

I don't think we should do this at all. StackIterable only allows iteration from the top, which is the whole point of a stack IMO. Making StackIterable into a ReversibleIterable would prevent a certain implementation of stack that I think ought to exist.

For some reason, th

[2019-10-26 23:21] mohrezaei commented on #759
To clarify my earlier comment: I'm ok with implementing reversible on `IntArrayStack` (the concrete class), but not the interface.

[2019-10-27 01:58] motlin commented on #759
That makes sense. Similarly, ArrayStack could implement ReversibleIterable.

[2019-10-27 12:18] merks commented on #763
You can compare your feature.xml's project against this example:

https://git.eclipse.org/c/emf/org.eclipse.emf.git/tree/features/org.eclipse.emf-feature

You really should include description, copyright, and most especially the license elements.

You do not need to include the *.html files in this folder:

https://github.com/eclipse/eclipse-collections/tree/master/p2-feature/org.eclipse.collectio

[2019-10-27 12:21] nikhilnanivadekar commented on #763
Ok. I’ll give it a try today.

[2019-10-27 12:24] ujhelyiz commented on #763
Sorry for not answering earlier, as I was busy with other tasks - if some help is necessary, I could try to have a look at the underlying issue next week.

[2019-10-27 14:36] nikhilnanivadekar commented on #759
I agree, it makes sense to have it on the concrete implementation.

[2019-10-27 15:25] yawkat commented on #759
As I have mentioned above, you can already do this with peek(size()).reversed() (though this is a copy - which is what ImmutableList does for .reversed() also). Additionally, it's not unusual for implementations in EC to only partially implement an interface.

[2019-10-27 15:51] nikhilnanivadekar commented on #763
That will be awesome @ujhelyiz ! Thanks a ton for looking in to it.
@merks what are the timelines we are looking at?

[2019-10-28 04:24] merks commented on #763
It would be ideal if this were done for contribution to 2019-12 M2:

https://wiki.eclipse.org/Category:SimRel-2019-12#Schedule

It's likely that contributions that do not conform to these minimal requirements will be disabled soon after that point.

If you produce a new update p2 site and let me know the URL for it, I can have a quick look to see its state.

[2019-10-31 20:01] ujhelyiz commented on #763
I had a look at the issue: the latest release site was much better, as it had the required metadata included, including the EPLv2 license text, however, it was not signed.

I have opened PR #770 that ensures that EPLv1 is loaded (as far as I could see, the project is licensed under EPLv1.0) and signs the service.

A p2 repository with the signature and license entries is available for now at https

[2019-11-01 04:51] merks commented on #763
I downloaded the zipped update site and tested it locally and indeed the proper SUA 1.1 is used, all five artifacts are properly signed, and you have a *.pack.gz for the library jar (which is 15% of the size of the normal jar).  That's perfect.  Thanks for taking action.  (I always enjoy reading the blogs about this stuff.)

[2019-11-04 13:09] motlin commented on #759
Sure, you could also use toList(). Those are O(n) operations, and I think the signatures make it clear that they take O(n). I'd want to avoid supporting getLast(), asReversed() or anything else that look like they might take O(1) but actually take O(n). This conversation is making me realize that ReversibleIterable isn't the best name. The idea was that the implementations are double-ended, like D

[2019-11-06 23:17] prathasirisha commented on #738
Would be interested to pick this ticket for my first contribution.
@nikhilnanivadekar , @donraab  - Can you assign the ticket to me?

[2019-11-17 03:36] #737 closed

[2019-11-19 18:28] ujhelyiz commented on #763
@nikhilnanivadekar Is there any p2 repository available that contains the signed feature? I am asking before it should be added to the SimRel repository as soon as possible (I'd rather have a version included before M3 for the December release).

Right now the repository contains version 9.2 (added by myself about a year ago); if you point me to an appropriate repository, I can update the contribu

[2019-11-19 18:31] nikhilnanivadekar commented on #763
The signed feature will go for 10.1.0 I think. But if we want to have the signed feature I can cherry pick your commits and do a bug fix release of 10.0.1.
I am also fine closing this release and doing a 10.1.0 release. But that will take a 2 week review period. Thoughts?

[2019-11-19 18:40] ujhelyiz commented on #763
I don't know what was the planned release date for 10.1.0; for SimRel 2019-12 the release date should be not later than the 18th December (and the final build should be ready for the 11th, the final RC build date).

To me the version number is not that important; maybe because of the short notice, a bugfix version (10.0.1) would be cleaner.

However, whichever direction you want to go, it would be

[2019-11-19 18:43] nikhilnanivadekar commented on #763
Let me work on 10.1.0 Milestone today so that we can contribute that. I’ll schedule 10.1.0 to be released at the first available release for December

[2019-11-19 22:38] nikhilnanivadekar opened #775 "Make org.eclipse.collections.impl.list.Interval#goForward private"
This should be done during major version.

[2019-11-20 03:41] nikhilnanivadekar commented on #763
Reopening for tracking work for 10.1.0 and simrel contribution.

[2019-11-20 03:42] nikhilnanivadekar commented on #763
Created release: https://projects.eclipse.org/projects/technology.collections/releases/10.1.0
Waiting on 1 PR to be merged to kick off the review process.

[2019-11-21 03:51] #762 closed

[2019-11-21 03:53] nikhilnanivadekar commented on #762
@slemouzy I will be working on a 10.1.0 milestone release. It should be in maven central by Friday evening US hours. If you get a chance please try to test the fix with the milestone release. I will ping the maven central coordinates here once they are available. Thanks!

[2019-11-21 08:06] slemouzy commented on #762
@nikhilnanivadekar thank you for the fix. Sure I will test the fix as soon as you ping me the maven central coordinates.

[2019-11-22 02:37] nikhilnanivadekar commented on #763
The CI Instance of Eclipse Collections is having issues connecting to GitHub to create the artifacts: Bugzilla raised: https://bugs.eclipse.org/bugs/show_bug.cgi?id=553330

[2019-11-22 15:00] nikhilnanivadekar commented on #763
@ujhelyiz the p2 artifacts for 10.1.0.M1 are pushed. Build: https://ci.eclipse.org/collections/job/publish-p2-repo/
We are still having issues deploying to maven central, but sim rel is not dependent on that. Can you please test out 10.1.0.M1 p2 artifact?

[2019-11-22 15:57] ujhelyiz commented on #763
I have looked at the build job, but I have a question: where can I find the built repository? I don't see any links, etc.

Furthermore, looking into the build log the feature version 10.0.0-SNAPSHOT seems incorrect to me, considering we are aiming to have 10.1.0 milestone build here. It might be fine, but I don't know where to check.

[2019-11-22 16:04] nikhilnanivadekar commented on #763
@ujhelyiz you are correct 10.0.0-SNAPSHOT seems incorrect. Where can I see the feature version is setup to debug?
Also, the p2 repo is not getting published because the previously configured shell script does not work on new CI build jobs. Do you have the equivalent shell script steps for the new CI builds?
This is the current shell script:
[code]

[2019-11-22 16:06] nikhilnanivadekar commented on #763
@ujhelyiz link to CI build: https://ci.eclipse.org/collections/job/publish-p2-repo/configure
link to logs: https://ci.eclipse.org/collections/job/publish-p2-repo/24/console

[2019-11-22 16:34] nikhilnanivadekar commented on #763
@ujhelyiz I fixed the build script. Now we have the artifacts published. Can you please take a look?
[code]

[2019-11-22 16:44] ujhelyiz commented on #763
Glad to hear the build works, sorry I was not able to help before.

Yes, I see that the feature is versioned 10.0.0.v20191122-1234 (the end qualifier is fine). This version is set in the maven pom.xml instances related to the build and the feature.xml file. PR #472 seems to include such a version bump.

However, executing the command `mvn org.eclipse.tycho:tycho-versions-plugin:set-version -DnewVe

[2019-11-22 16:44] nikhilnanivadekar commented on #763
@ujhelyiz I investigated further about the 10.0.0-SNAPSHOT issue. Seems like the features folder does not get updated during the build processes with the correct qualifiers: https://github.com/eclipse/eclipse-collections/tree/master/p2-feature

Can you please tell me all the files where it needs to be updated. I will try to fix it in the build or if not fix it manually. I wish there was an automat

[2019-11-22 16:45] nikhilnanivadekar commented on #763
@ujhelyiz let me try to configure that command and rerun the snapshot build.

[2019-11-22 17:11] nikhilnanivadekar commented on #763
@ujhelyiz I dont think that really worked. I am trying to set it on our Jenkins build. Any tips to do that vs the plain command line?

[2019-11-22 18:45] nikhilnanivadekar commented on #763
@ujhelyiz I have been trying to even make it work and run in my local, but without luck. If you are able to run the command and push a commit, raise a PR, I will happily merge the PR 😄

[2019-11-22 21:48] ujhelyiz commented on #763
I have opened PR #776 with the fix.

I have seen two issues while trying to do this:

1. According to the log, you seem to have executed the version change from the 'p2-repository' folder instead of the 'p2-feature'.
2. The relative path to the p2 repository created by the main build was incorrect, I have fixed that in a separate commit (but also included in the PR mentioned above).

The version b

[2019-11-22 21:52] nikhilnanivadekar commented on #763
@ujhelyiz thanks a ton for your help! I fixed it on the Jenkins build so that going forward we do not need to worry about it for every release. Screenshot of the configuration:
![image](https://user-images.githubusercontent.com/9932381/69462919-ed168c00-0d3f-11ea-861f-b3afdf1eb2c2.png)

I think you can drop the second commit, if you rebase on to upstream/master then I can merge your PR.

[2019-11-23 23:25] nikhilnanivadekar commented on #763
@ujhelyiz 10.1.0.M2 is deployed to maven central and to Eclipse p2 repository. Can you please test it out and verify? Thank you very much for your help!

[2019-11-23 23:27] nikhilnanivadekar commented on #762
@slemouzy the milestone coordinates are below. Please note the final 10.1.0 release will be done on December 4th. So, please let us know if things are working fine. Thank you!
[code]
Maven Central link: https://search.maven.org/search?q=org.eclipse.collections

[2019-11-24 12:50] yawkat commented on #760
Sounds good to me. I'm doing some preliminary testing on which methods are useful now. I will make a work-in-progress PR with the module structure you mentioned as soon as I have some of the extensions prepared.

I am also now thinking more in terms of "convenience" methods to make the collections behave more like kotlin collections.

[2019-11-25 14:39] ujhelyiz commented on #763
Sadly, the p2 repository is not published; I have not seen it at downlooad.eclipse.org

According to https://ci.eclipse.org/collections/job/publish-p2-repo/26/console the publishing failed.

[2019-11-25 14:47] nikhilnanivadekar commented on #763
I am checking what went wrong. I won’t deny that I am totally confused why build 25 worked and 26 didn’t even when there are no changes 🤷‍♂️

[2019-11-25 16:55] nikhilnanivadekar commented on #763
I have reverted the config from build 25. I do not remember changing the config for 26, but the config seemed to have been reverted to the one used by 24. Kicked off the build again, let us see.

[2019-11-25 18:46] ujhelyiz commented on #763
The repository https://download.eclipse.org/collections/10.1.0.M2/repository/ seems now correct. I have executed tests, and for now create a gerrit change for the simrel repository to add this change to the aggregation (will not merge it until you have reviewed it of course). This way it will be ready for this weeks milestone.

[2019-11-25 18:55] ujhelyiz commented on #763
The simrel Gerrit change is available from https://git.eclipse.org/r/c/153330/ - it seems the validation finished correctly, so it could be merged as well.

[2019-11-25 19:22] nikhilnanivadekar commented on #763
@ujhelyiz I have approved the code review but I can only give a +1, I think we need a ++1 correct to be merged? Please let me know if anything else needs to be done.

[2019-11-25 19:31] ujhelyiz commented on #763
@nikhilnanivadekar Yes, it needs a +2 from someone with commit rights to the repository. If nobody from the project has commit rights, you should write a Bugzilla issue to Community/Cross-project category, and the webmaster team will set up the permissions.

For now, I have added that and merged the code. This means, the next SimRel build will include this milestone build. After the final release

[2019-11-25 19:44] nikhilnanivadekar commented on #763
Perfect! Thank you very much!

[2019-11-26 09:16] slemouzy commented on #762
@nikhilnanivadekar sorry for the delay, I've tested the fix and everything is working like a charm. Thank you for the work. :+1:

[2019-11-26 10:58] ujhelyiz commented on #763
The [latest repository report](https://download.eclipse.org/oomph/archive/simrel/collections.aggrcon/index.html) shows the Eclipse Collection issues fixed.

[2019-11-26 14:06] nikhilnanivadekar commented on #762
Perfect! Thanks! I’ll release 10.1.0 on December 4th, it’ll be available on maven central on December 5th or 6th. Look out for the release notes

[2019-11-26 14:07] nikhilnanivadekar commented on #763
Great! Thanks a ton!

[2019-11-29 10:05] heowc commented on #775
I will work on it!

[2019-12-04 18:36] nikhilnanivadekar commented on #763
@ujhelyiz 10.1.0 is available in the p2 repo, can you please check?

[2019-12-05 15:42] ujhelyiz commented on #763
The build looks reasonable to me; I have also created a Gerrit change for SimRel: https://git.eclipse.org/r/c/153909/

[2019-12-05 16:21] nikhilnanivadekar commented on #763
Perfect! Thanks @ujhelyiz
Closing this issue as all problems are addressed

[2019-12-05 16:21] #763 closed

[2019-12-24 15:53] mkrivoshein opened #782 "Improve JavaDocs in Sets class"
Improve JavaDocs in Sets class (org.eclipse.collections.impl.factory.Sets). At present lack of documentation makes using this factory class more difficult.

[2019-12-24 15:58] nikhilnanivadekar commented on #782
Thanks for the feedback. Any suggestions as to what we can add and where (ReadMe or Reference Guide or Javadoc)? Any examples will be helpful and we can update accordingly. Feel free to raise a Pull Request if you can, if not then we can take your suggestions and update the docs. It’s always helpful to understand what will help the users from a users perspective. Thank you for helping us make the

[2019-12-26 23:23] #337 closed

[2019-12-26 23:29] #381 closed

[2019-12-31 19:08] donraab commented on #134
@motlin any progress on this?

[2019-12-31 19:12] donraab commented on #420
Hi @shreyateeza, any update on this?  Let me know if you will be working on it.

[2020-01-01 13:32] motlin commented on #134
It's still just an idea - I never worked on it.

[2020-01-13 20:09] klaren opened #787 "Provide a way to track heap allocations"
Hi,

I'm currently facing an issue where we have a lot of collections that eventually throws `OutOfMemoryError`. The workload is user-generated and killing a request is viable. So I'm looking for a way to track the size of the collections, e.g. `LongObjectHashMap`, without resorting to using reflections. Ideally, I would like a callback in `LongObjectHashMap#allocateTable` that will be invoked bef

[2020-01-13 23:07] mohrezaei commented on #787
If I understand you correctly, you have some user-defined workload that may generate too many map entries. Are you processing many requests simultaneously or one at a time?

For the hashed structures, their size is proportional to `size()` method of the collection itself. Growth only happens when adding, so it should be possible to implement what you want by simply aborting when `size()` gets to a

[2020-01-14 12:11] klaren commented on #787
We serve concurrent requests in separate threads so a cap per thread would be our goal. We already track the objects heap usage.

What do you mean by proportional in size? Don't the backing arrays grow in increments in powers of 2?

Another way to make this possible would be to make `allocateTable` protected.

[2020-01-14 20:10] mohrezaei commented on #787
Sorry, let me be more clear. Just before a resize, the internal overhead is proportional to size. The size can be computed like this:
[code]
Long KEY_SIZE is 8. Object VAL_SIZE is 4 for 32bit JVM or 64bit with compressed oops. It's 8 for plain 64bit.

[2020-01-15 10:19] klaren commented on #787
I understand that it will work, but we will have to do the calculations on all of the maps all the time. Most of the time the calculations will be exactly the same, and in the case of a resize event, we only do the calculations when those occur.

Making the `allocateTable` method `protected` will solve this. What do you think about that approach?

[code]

I can make a PR with the change if you thi

[2020-01-15 18:31] mohrezaei commented on #787
If you want to override methods, why don't you override `put()`?

[2020-01-16 12:27] klaren commented on #787
Let's look at this more complete example:

[code]
This will not work in every case either. Since the collections only shrink when you call `.compact()`, adding a lot of elements and then removing them, will claim that the collection is smaller than it actually is. It's also unnecessary cpu time spent on calculating the same values over and over again. Overriding `allocateTable` would avoid both pr

[2020-01-17 18:55] mohrezaei commented on #787
It might be helpful to understand the code around this. In my experience, map growth is not something that happens in many places in a pseudo-random fashion. Maps are typically grown in a single place, usually a loop. If that's the case, it's not hard to add a simple check to the loop. How is your map growing?

You also mentioned "We already track the objects heap usage". Can you put a limit on th

[2020-01-22 10:01] klaren commented on #787
This is a couple of places where we need to track the sizes:
* https://github.com/neo4j/neo4j/blob/4.0/community/kernel/src/main/java/org/neo4j/kernel/impl/api/state/TxState.java
 * https://github.com/neo4j/neo4j/blob/4.0/community/kernel/src/main/java/org/neo4j/kernel/impl/api/state/RelationshipChangesForNode.java
* https://github.com/neo4j/neo4j/blob/4.0/community/kernel/src/main/java/org/neo4j/

[2020-01-22 17:30] mohrezaei commented on #787
Thanks for sharing the code. I think I see the real issue here: you have lots of collections and a size restriction on a single one doesn't make sense. You have to track the sum.

I don't have any objections to marking `allocateTable` `protected`.

[2020-01-24 02:20] #787 closed

[2020-02-02 02:10] nikhilnanivadekar opened #792 "Hindi Translation of Eclipse Collections website"
One of the users showed interest in contributing this. Opening the issue for tracking.

[2020-02-02 11:17] nishantraut commented on #792
Hi @nikhilnanivadekar I am working on it.

[2020-02-02 19:41] motlin opened #793 "Optimize removeIf() on BooleanArrayList."
ArrayList.removeIf() is O(n).
FastList.removeIf() is O(n^2). Same for primitive lists like BooleanArrayList.

[2020-02-02 22:38] mohrezaei commented on #793
Huh? FastList.removeIf is not only `O(n)`, but it's a much faster implementation and garbage free.

[2020-02-03 02:03] motlin commented on #793
My mistake. Primitive lists are affected, and why I opened the issue. I spot checked FastList to see if it was also affected but somehow missed the override. I'll edit the title.

[2020-02-03 13:14] digsb commented on #310
@donraab Can I work on this issue?

[2020-02-03 15:23] donraab commented on #310
@digsb No one else is working on it currently that I am aware so please feel free if you'd like to work on it.  Thank you!

[2020-02-06 11:23] fipro78 opened #794 "flatCollect missing for primitive collections"
I have a map that looks like this:

[code]

In a later stage I want to get all int values in a flattened map. But the flatCollect() methods do not support primitive values. At least I do not find a way to get a flattened primitive MutableIntSet.

Maybe I am missing something as I just started with Eclipse Collections, but IMHO the API is missing. Im am currently creating a flattened collection lik

[2020-02-12 00:55] vibhuti019 commented on #775
I am a newbie and i would like to work if the issue is not fixed.

[2020-02-12 03:14] nikhilnanivadekar commented on #775
This is not being worked on yet. Feel free to contribute. Thanks for your help and contribution!

[2020-02-15 14:14] victornoel commented on #761
it would make sense to have both `withMap(MapIterable)` and `withMap(Map)` methods I think, no?

[2020-02-15 16:58] victornoel commented on #726
@motlin @nikhilnanivadekar thanks for your help, I finally finished the PR: #797.

[2020-02-15 23:46] vibhuti019 commented on #775
Can you please explain the issue?

[2020-02-16 12:50] nikhilnanivadekar commented on #775
In the Interval class there is a method called `goForward` we want to make it `private` There will be a similar method in IntInterval class as well which should become private

[2020-02-16 18:55] victornoel opened #798 "Add @SafeVarargs everywhere it is needed (Java 7+)"
Hi,

I noticed that many classes are not using the annotation `@SafeVarargs` while it would make sense to use it. In the user code, this would avoid many unneeded warnings.

If I'm not wrong EC is now for Java 8+ right? It was introduced with Java 7.

[2020-02-17 10:48] yawkat commented on #760
Okay, I've thought a bit more about this. There are three kinds of methods that could be added for kotlin to make decisions on. Note that all this is primarily with the *primitive* collections in mind because this is the part of EC I work with the most. Some points may apply to object collections, others may not.

# `operator` functions

These are functions like `component1..5` to allow destructur

[2020-02-17 10:49] yawkat commented on #760
I have renamed the issue to more accurately reflect the work I'm actually doing here now.

[2020-02-18 09:44] vibhuti019 commented on #775
goForward in IntInterval is already private

[2020-02-18 10:21] vibhuti019 commented on #775
The Pull Request is Showing this problem: --

Anonymous (vibhutisingh037@****.com) is not covered by the necessary legal agreements in order to proceed

[2020-02-22 11:38] henohenotsuyoshi opened #803 "MutableMap's functions arguments for MultiValues should extends Iterable instead of super"
Hi,
Multimap's functions arguments for MultiValues, such as selectKeysMultiValues, forEachKeyMultiValues, take super class of Iterable currently.
I think it should be subclass of Iterable.
How does anyone think ?

[2020-02-22 13:29] nikhilnanivadekar commented on #803
This is not possible as Java generics are invariant. You can give it a try with ListMultimap and SetMultimap and see if it compiles. It’s possible that I missed something

[2020-02-22 14:37] motlin commented on #803
Agreed, Java generics aren't strong enough to have an ideal signature here.
I'm curious if you can share an example of code that came out awkward
because of the type signature.

On Sat, Feb 22, 2020 at 8:29 AM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2020-02-23 15:07] henohenotsuyoshi commented on #803
Hi, agree with you two. First of all, my idea is not right as Multimap should not take subclass of Iterable as it should not know which collection class is actual implementation of multi values in subclass.(List ? Set ?)
And I confirmed that SetMultimap cannot compile with override like below.
`
    @Override
    SetMultimap<K, V> selectKeysMultiValues(Predicate2<? super K, ? super Set<V>> predica

[2020-02-23 15:07] #803 closed

[2020-02-25 13:58] #739 closed

[2020-02-26 22:07] vibhuti019 commented on #775
Refer #805

[2020-03-01 12:20] victornoel commented on #798
For the record, according to https://stackoverflow.com/a/37959022/9046139, it's not possible to avoid the warnings (I think both at declaration AND usage site) for interfaces.

[2020-03-01 19:12] motlin commented on #798
There are a few places where I believe the warning may be true, like wrapCopy() methods. On the other hand, I've never seen valuable information come from the warning (never seen anyone catch a real bug) so I'd be open to suppressing it across the board. If someone comes up with a counter-example, we could always revert the annotations.

[2020-03-01 20:34] donraab opened #807 "Introduce mutation testing to Eclipse Collections build"
We should have mutation tests running in the Eclipse Collections build so we can discover and address more edge cases in our tests.

[Pitest](https://pitest.org/)

[2020-03-04 03:34] nikhilnanivadekar opened #808 "Fix Javadoc warnings and build for latest JDK"

[2020-03-04 08:53] kedar-joshi commented on #808
Hey @nikhilnanivadekar, I would like to take this up but I will need a bit of your help in understanding scope of the expected change.

Can you elaborate on the requirement ?

[2020-03-04 13:15] nikhilnanivadekar commented on #808
Let me try to see if I can setup a Travis build so that you can see the issue. Once you see the issue it’ll be clear what is going on. I’ll keep you posted.

[2020-03-07 01:02] nikhilnanivadekar commented on #808
hi @kedar-joshi I have setup the Javadoc build on Travis: https://travis-ci.org/eclipse/eclipse-collections
It is the 3rd build from the bottom. Currently, the build is throwing 1 error and several warnings. We would like to eliminate the error as the first step, and then eliminate the warnings as the next step. These can be different commits and different PRs. Thanks for your help and contributio

[2020-03-07 09:17] kedar-joshi commented on #808
@nikhilnanivadekar I have raised gh-816 for the Javadoc error. CI build also passes.

Quick question, should I also update `Copyright (c) 2019` to `Copyright (c) 2020` in all the files that I change ?

[2020-03-07 10:15] kedar-joshi commented on #808
.. and gh-817 should take care of the Javadoc warnings.

[2020-03-07 18:32] #808 closed

[2020-03-08 17:26] prathasirisha commented on #807
Please assign this ticket to me @donraab

[2020-03-08 17:29] donraab commented on #807
Thanks for volunteering @prathasirisha ! Once you commented here, you showed up in the assignee list so I assigned.

[2020-03-08 17:36] prathasirisha commented on #723
Testing to see if commenting on an issue helps with assigning the ticket ourselves.

[2020-03-08 17:38] prathasirisha opened #820 "Test ticket: To check if tickets can be assigned to the creator of the issue (will be deleted)"

[2020-03-08 17:39] #820 closed

[2020-03-08 17:39] donraab commented on #820
It seems as though only a committer can assign someone to a ticket.  Thank you for testing this @prathasirisha !

[2020-03-08 17:43] donraab opened #821 "Migrate all Travis CI builds to GitHub Actions"
We now have an initial GitHub Actions workflow set up for Eclipse Collections, but we would like to migrate all current CI builds from Travis CI.

[2020-03-08 17:45] nikhilnanivadekar commented on #821
That might be a bit premature. I have seen GitHub CI lock up over the past 2 days. I would suggest to keep Travis, GH actions and TeamCity as is

[2020-03-08 17:46] donraab commented on #821
@brunoborges

[2020-03-08 20:48] motlin commented on #821
Why migrate away from travis? Why toward GitHub Actions?

[2020-03-09 03:26] donraab commented on #821
Better integration, and so far, better performance.  The UI is also nicer in my opinion.  My feeling is that the integration and support will only improve over time.

[2020-03-14 18:29] motlin opened #822 "Pull up the implementations of with(), without(), withAll(), withoutAll() as default methods."
These four methods on MutableCollection could be pulled up as default methods on it and its sub-interfaces.

[code]

[2020-03-14 19:02] donraab commented on #822
The thing that always perplexed me about doing this is that you have to choose then how to co-variantly override. Choice one says call super and cast the return type (pro - no duplicate code). Choice two says reimplement in the sub-interface with the more specific return (pro - no casting). I wish there was a choice three. Let's at least agree before someone implements what the best default implem

[2020-03-15 12:06] motlin commented on #822
With these you can call super and return `this`

On Sat, Mar 14, 2020 at 3:02 PM Donald Raab <notifications@github.com>
wrote:

[2020-03-15 16:15] donraab commented on #822
Ok, perfect.  Option three: Implicit casting.

[2020-03-19 23:23] nikhilnanivadekar opened #823 "Non-intuitive behavior for MutableMap.to*Map()"
This test fails because we consider the MutableMap<K, V> to be RichIterable<V>. However, that is not intuitive as we should be able to convert an unsorted map to sorted map.:

[code]

Thoughts?

[2020-03-20 05:15] donraab commented on #823
This ship has sailed.  `MutableMap<K, V>` is `RichIterable<V>`.  The expectation therefore is that you only iterate over values in the to methods.

I think there is or could be a `collect` that can cover transforming from an unsorted map to a sorted map.

[2020-03-20 12:31] nikhilnanivadekar commented on #823
Currently there isn’t a collect() to transform a Map to SortedMap. We should have that

[2020-03-20 13:52] motlin commented on #823
I've written about this idea before but I think we should have something
like asLazy() but for the key-value pairs of maps.

unsortedMap.asLazyMap().collectKeys(functionK).collectValues(functionV).toSortedMap(comparatorKK)

On Fri, Mar 20, 2020 at 8:31 AM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2020-03-20 18:13] #416 closed

[2020-03-21 00:22] leomrlima commented on #366
Is this still valid? I also didn't see any warning...

[2020-03-27 20:38] donraab opened #826 "Fix symmetry issues with factory methods in Multimaps factory."
`MutableSortedBagMultimapFactory` is missing `of` methods and methods that take `Comparator`.
`ImmutableSortedBagMultimapFactory` is missing methods that do not take `Comparator`.

[2020-03-28 16:01] motlin opened #827 "Upgrade to JUnit 4.13."
JUnit 4.13 adds two variants of assertThrows.

[code]

These methods clash with `Verify.assertThrows()`.
[code]

This causes some calls to `Verify.assertThrows()` to fail with `java: error: reference to assertThrows is ambiguous`

I wanted to discuss our options here.
* Delete `Verify.assertThrows(Class, Runnable)` in the next major version.
* Or change `Verify` to no longer extend `Assert` in the

[2020-03-28 21:58] goldbal330 commented on #826
I would like to contribute.

[2020-03-28 22:23] donraab commented on #826
Thanks! Assigned the issue to you @goldbal330.

[2020-03-28 22:33] donraab commented on #827
This feels like the best option to me, although it will break code that was calling methods on Verify that were actually on Assert.  I think this is the best option because it prevents more problems of clashing APIs in the future.

[2020-04-01 22:17] donraab commented on #794
This is interesting, but could also result in a method explosion if we're not careful. We could add default methods to RichIterable for each of the primitives. Maybe something like:

[code]
This would provide good symmetry with the equivalent collect-Primitive methods.

@motlin @nikhilnanivadekar Thoughts?

[2020-04-01 22:23] donraab opened #830 "Add examples of primitive iteration patterns to reference guide"
https://github.com/eclipse/eclipse-collections/blob/master/docs/guide.md#-primitive-collections

[2020-04-01 22:26] donraab commented on #823
I'm going to close this issue until we come up with a proposed solution that someone could reasonably implement.

[2020-04-01 22:26] #823 closed

[2020-04-01 22:49] donraab commented on #760
Hi @yawkat I assigned the issue to you. Thank you for working on this!

[2020-04-01 22:51] donraab commented on #759
Did we have an agreement here how this should proceed @yawkat @motlin @mohrezaei or should we close the issue?

[2020-04-01 22:55] donraab commented on #742
We can add a method named `wrapCopy` which would mirror what we do on `FastList`. I will edit the title of this issue to reflect that.

[2020-04-01 23:28] donraab commented on #196
@jankotek @nikhilnanivadekar Should this issue be closed, as I see the PR mentioned #262 was closed ?

[2020-04-01 23:30] donraab commented on #132
@vijay-daniel Are you still interested in contributing this or should I close the issue?

[2020-04-02 08:41] yawkat commented on #760
I'd still like some feedback on the design choices listed above - I'm not certain what the best route is.

[2020-04-02 10:05] #196 closed

[2020-04-02 10:06] jankotek commented on #196
I dont have a time to work on this, sorry.

[2020-04-02 13:39] donraab commented on #196
No worries. Thank you.

[2020-04-02 13:48] donraab commented on #760
I'll take an in depth look today and give you some feedback.

[2020-04-02 13:54] #742 closed

[2020-04-02 14:55] donraab commented on #760
@yawkat can you start with Immutable collections for the operator functions, and we can see if it makes sense then to move it up higher to support the Readable and Mutable interfaces later?

We can hold off on plusAssign on Mutable interfaces to start.  I'm a fan of starting small and building up functionality over time, or as we have specific use cases for it.  We already have the with/withAll me

[2020-04-03 16:28] nikhilnanivadekar opened #832 "Ambiguous documentation of Function2"
Function2 is not only used by injectInto(), but also by collectWith(). The ambiguous documentation especially with the arguments makes it unclear to use it.

[2020-04-06 16:27] goldbal330 commented on #794
I would like to work on this if help is needed.

[2020-04-07 20:34] donraab commented on #794
Hi @fipro78, just wanted to confirm this is the API that you were looking for on `RichIterable`. Did you want to implement this or are you ok if I assign it to @goldbal330 who has expressed interest above?

[code]

[2020-04-09 03:26] #826 closed

[2020-04-09 12:07] mkrivoshein opened #839 "Improve documentation of Function3 and MutableCollection#injectIntoWith"
Similar to #832

Function3 is a generic interface for a lambda that accepts three parameters. At present it contains documentation of injectIntoWith() method. Rewrite documentation for Function3 and move documentation of injectIntoWith() to the method itself.

[2020-04-09 14:29] m-flak commented on #366
**I get this warning using version 10.1.0 on OpenJDK13.** I did not see anything in the changelog that would indicate I would get different behavior using the latest version.
[code]

[2020-04-10 12:22] #832 closed

[2020-04-10 17:48] goldbal330 commented on #794
Do we want to implement this for all primitive types currently supported by EC (boolean, double, float, short, int, long, byte, char) or restrict to the most popular types (int, double) to keep the number of methods in RichIterable from growing much?

Thanks.

[2020-04-10 18:28] donraab commented on #794
To be consistent with collect, we should implement them all.

[2020-04-10 19:28] fipro78 commented on #794
Hi @donraab, sorry for the late reply. Well I think this is the API I was looking for. But also without providing the target collection. Not sure if this is possible.
Actu I did not plan to work on this myself. I am still trying to understand and use everything correctly (blog post in work). So if anyone wants to take it, I'll be glad. If not I could try. Not sure when I will be able to make it.

[2020-04-10 21:17] donraab commented on #794
Hi @fipro78, I would suggest we don't add the version without the target collection for a simple reason. It is a tremendous amount of work to provide co-variant overrides (List returns primitive Lists, Set returns primitive Sets, etc.). The target collection variety gives the functionality at a small fraction of the cost, as the behaviors can be implemented simply as default methods in `RichIterab

[2020-04-11 17:37] #839 closed

[2020-04-11 19:12] sendilkumarn commented on #821
Started the work [here](https://github.com/sendilkumarn/eclipse-collections/tree/feat/enable-travis/.github/workflows). This way we can extend the `acceptance` | `findbugs` | `check style` and others to various java versions.

P.S. This is just an initial idea. Still have to do a little bit of work on it.

[2020-04-11 19:42] donraab commented on #821
Thanks for offering to work on this @sendilkumarn.  I assigned the issue to you.

[2020-04-11 19:51] sendilkumarn commented on #743
How about naming it to `fromUntilTo` or`fromUntil`?  I can take this :)

[2020-04-11 20:02] donraab commented on #821
@motlin I think you have successfully demonstrated one of my points on why we need to migrate to GitHub Actions (performance).  All of the PRs you submitted today are waiting for the Travis builds to complete.  All of the GitHub Actions builds for the same PRs are completed.

[2020-04-11 20:26] motlin commented on #821
@donraab Sounds good. The travis builds do a lot so it probably makes sense to migrate one job at a time and delete each from travis after it's working well in GitHub. If we leave a few behind in travis, they'll still perform a lot better than today.

[2020-04-11 20:56] donraab commented on #821
I'm hoping @sendilkumarn will show us a good way to organize these and a gradual migration is a great idea.  Thanks!

[2020-04-12 00:48] #761 closed

[2020-04-12 17:44] sendilkumarn commented on #677
This looks like the issue is closed by 7ce7a19

Can we close the issue?

[2020-04-12 19:18] donraab opened #854 "Fix GitHub Actions Badges and Links in README"
Removing old GitHub Actions Workflow and fixing links to re-direct to the build not the image.

[2020-04-12 19:44] nikhilnanivadekar commented on #677
Fixed with #786

[2020-04-12 19:44] #677 closed

[2020-04-12 19:59] #854 closed

[2020-04-13 00:50] prathasirisha commented on #807
Requesting guidance on how to proceed with this issue
@nikhilnanivadekar @donraab @motlin

**Context-**
We have a total of 150k tests in unit-tests module in EC.

1. Upon running mutation tests as it is (for all ~150k tests), we run into OutOfMemory errors.
2. Upon running mutation tests using the configuration from [my initial commit](https://github.com/prathasirisha/eclipse-collections/commit/48

[2020-04-13 01:04] nikhilnanivadekar commented on #807
The out of memory error happens for how much JVM memory? Is there a way to bump that up? We can run this in TeamCity which gives us higher configuration build runners if that’ll help

[2020-04-13 01:06] donraab commented on #807
I ran with 16gigs of RAM and it did not help.

[2020-04-13 01:06] motlin commented on #807
With mutation testing, you get a lot of value from running the tests once.
When you got them running, what did you find? Any failures?

On Sun, Apr 12, 2020 at 9:05 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2020-04-13 01:08] donraab commented on #807
I think we should ask @prathasirisha to submit a PR and set up a GitHub Actions build for the configuration we got working so we can review the results. Make sense?

[2020-04-13 01:21] nikhilnanivadekar commented on #807
Yup that’ll be better for review and observation.

[2020-04-13 01:29] prathasirisha commented on #807
Sounds good. I will do as suggested by @donraab and we can review the results then.

[2020-04-13 01:55] donraab commented on #807
Excellent, thank you @prathasirisha!

[2020-04-15 16:10] prathasirisha commented on #807
- Committed [changes](https://github.com/prathasirisha/eclipse-collections/commit/da6d965cbb252ba3902671d3e2d56919782b9ea8) that worked for getting a successful mutation test run.
- Set up mutation testing workflow in my personal fork. Build [here ](https://github.com/prathasirisha/eclipse-collections/runs/589228617?check_suite_focus=true)
You should see "Artifacts" on top right of this build to d

[2020-04-16 03:38] jiejie1993 opened #867 "When used in android studio3.5, it comes error"More than one file was found with OS independent path 'LICENSE-EDL-1.0.txt'""

[2020-04-16 13:06] felixgilioli opened #868 "To integrate Eclipse Collections with Spring Data JPA"
is it possible integration eclipse collections with spring data jpa + hibernate?

for example:

[code]

[2020-04-16 18:03] donraab commented on #868
Hi @felixgilioli. I left a comment on StackOverflow. I will replicate here:

Anything is possible, but I'm not sure if this is easy or a lot of work. Have you tried looking to see if JPA supports extensions for custom collections? I haven't used Spring Data JPA. A long time ago I looked at the possibility of implementing custom collections for Hibernate for Eclipse Collections. It looked possible,

[2020-04-25 21:34] jdimeo commented on #351
@nikhilnanivadekar @donraab I finally am revisiting this- so sorry for the delay. I updated my fork to tip of `master` just now and got `mvnw` working. By the way, nothing in the README or contributing guide that I saw indicated how to get the Maven wrapper installed- I found the command in `.travis.yml`
[code]

Anyway, once I got that working, I couldn't get the build to complete because of Check

[2020-04-26 03:14] nikhilnanivadekar commented on #351
Thanks @jdimeo for the feedback. You can skip the checkstyle in local, we all run it directly on the remote builds as it is faster that way. If you want to run it in local then I would suggest comment out the carriage return check in checkstyle.xml. Like you said it is due to the Windows vs Linux line endings. I had a fix for that in my local, I will need to dig it up and update it.
@motlin can yo

[2020-04-26 03:52] jdimeo commented on #351
You learn something new every day. I hadn't seen or used `<defaultGoal>` before, I had assumed it was something with the Maven wrapper that made it do something without any goal(s). It's now very obvious how to just `compile` or `install` locally without worrying about checkstyle! thanks,

[2020-04-26 17:33] cguntur-bnym opened #871 "Create a "Working with Eclipse Collections on Github" doc"
This doc is either a standalone doc or a section in the CONTRIBUTING.md.

Content is already available and shared with @donraab and @nikhilnanivadekar.

Pending a decision on where to house, after which point, a PR can be submitted.

[2020-04-26 17:55] nikhilnanivadekar commented on #871
Put it as a separate doc under the wiki and link it in readme and contribution guide

[2020-04-26 18:50] cguntur-bnym commented on #871
@nikhilnanivadekar - I am not sure how to commit a page to the wiki on EC via a fork. Never done that. I'll copy the content on my fork's wiki. You can determine how we move it.

[2020-04-26 18:52] nikhilnanivadekar commented on #871
You needn’t commit to a fork, just add a page. Wiki pages are live updated.
There will not be a PR for it :)

On Sun, Apr 26, 2020 at 1:50 PM Chandra Guntur <notifications@github.com>
wrote:

[2020-04-26 18:54] cguntur-bnym commented on #871
https://github.com/cguntur-bnym/eclipse-collections/wiki/Working-with-Github

[2020-04-26 18:54] cguntur-bnym commented on #871
Please review the above, will add to the Wiki directly once you eye-ball.

[2020-04-26 18:56] nikhilnanivadekar commented on #871
Only 1 change, add the note that the commit should contain “Closes
#<issueNumber>” when closing an issue.
Content looks great! Thank you!

On Sun, Apr 26, 2020 at 1:54 PM Chandra Guntur <notifications@github.com>
wrote:

[2020-04-26 19:00] cguntur-bnym commented on #871
Updated: https://github.com/cguntur-bnym/eclipse-collections/wiki/Working-with-Github

[2020-04-26 19:01] cguntur-bnym commented on #871
Adding content on EC Wiki

[2020-04-26 19:01] nikhilnanivadekar commented on #871
LGTM. We can always update the wiki when needed. :)

On Sun, Apr 26, 2020 at 2:00 PM Chandra Guntur <notifications@github.com>
wrote:

[2020-04-26 19:04] cguntur-bnym commented on #871
https://github.com/eclipse/eclipse-collections/wiki

https://github.com/eclipse/eclipse-collections/wiki/Working-with-Github

[2020-04-26 19:04] cguntur-bnym commented on #871
Will submit a PR for README and CONTRIBUTION updates

[2020-04-26 19:05] nikhilnanivadekar commented on #871
Perfect! Thank you very much!

On Sun, Apr 26, 2020 at 2:05 PM Chandra Guntur <notifications@github.com>
wrote:

[2020-04-26 19:30] jdimeo commented on #351
One more question to make sure I'm going in the right general direction. In the following example:
1) am I using the right verbiage? the right imperative form, etc.?
2) is it important to include `<name>` and `<type>` in the Javadocs?
3) How does the .stg know what the sentinel/default value would be for methods like `get()` (so the Javadoc can say "if no value is present for the key, `0` is retur

[2020-04-26 21:14] nikhilnanivadekar commented on #351
@donraab can you opine?

On Sun, Apr 26, 2020 at 2:30 PM J Dimeo <notifications@github.com> wrote:

[2020-04-27 00:06] donraab commented on #351
Based on existing examples.

Return should be Returns.
Iterate should be Iterates.
etc.

The way I instinctively read this is:

"<containsValue> Returns whether or not this map contains the value."
"<forEachValue> Iterates through each value in this map."

Otherwise looks great.

[2020-04-29 08:52] ArthurCaron opened #875 "ImmutableMap newWithAll() method that takes a MapIterable"
First of all, thank you for this really cool library :D.

I need to merge `ImmutableMap`s and I couldn't find a method to do it directly.
Currently, I use this:
`myImmutableMap.newWithAllKeyValues(myOtherImmutableMap.keyValuesView())`
But if feels like a workaround. Is there a more direct approach?
What I was looking for is something like:
`myImmutableMap.newWithAll(myOtherImmutableMap)`.

What do

[2020-04-29 13:58] nikhilnanivadekar commented on #827
We might not be able to upgrade to JUnit 4.13 in minor version. We should do it in major version and instead of removing the inheritance, we can delete the API from Verify. Due to the inheritance it should still allow Verify.assertThrows() without issues. This will be shown as a breaking change in release notes, so we should be able to notify the users of how they need to change.
Removing the inhe

[2020-04-29 15:25] motlin commented on #827
Sounds good to me. Any thoughts on when the next major version will be?

[2020-04-29 17:53] jdimeo commented on #782
Related to https://github.com/eclipse/eclipse-collections/issues/351

[2020-04-29 22:01] sendilkumarn commented on #821
The pending stuff is migrating all `OracleJDK` builds to GitHub Actions. We don't have out of the box setup for the `OracleJDK` in GitHub Actions. We can custom build the setup for this. I will start that (but it will take sometime).

[2020-04-29 23:37] #743 closed

[2020-04-30 17:26] prathasirisha commented on #875
Hi @ArthurCaron,

Thank you for your question. Caught up with @donraab, we could add the method you are looking for and the method names will be : `newWithMap(Map)` ,` newWithMapInterable(MapIterbale)`.
We would also need to add the same in MutableMap `withMapIterable` (`withMap` already exists)

cc: @donraab @nikhilnanivadekar

[2020-04-30 23:59] prathasirisha commented on #867
Hi @jiejie1993

Can you try excluding this file "LICENSE-EDL-1.0.txt" in `packagingOptions`?
[code]
I don't have a local set up to confirm if this works, please do give it a try and let us know if it works! :)

[2020-05-01 13:19] sendilkumarn commented on #744
Can we close this issue? since #743 is merged :)

[2020-05-01 14:52] nikhilnanivadekar commented on #744
This should have been auto-closed.

[2020-05-01 14:52] nikhilnanivadekar commented on #744
Raised an issue with GitHub

[2020-05-01 14:52] #744 closed

[2020-05-05 17:01] #792 closed

[2020-05-11 18:10] jdimeo commented on #871
As I'm working on the Javadocs, I would like to get some eyeballs on it before squashing, as that will make it easier to find and change/reverse hunks as needed than one massive diff. Can squashing happen at the very, very end? what does that workflow look like and should the wiki reflect it?

[2020-05-11 20:18] donraab commented on #871
Yes, squashing can happen at the very end.  We'll review the PR and recommend rebasing / squashing right before we merge the PR.  @motlin @nikhilnanivadekar Any comments?

[2020-05-11 20:22] jdimeo commented on #871
That's what I thought- thanks @donraab The wiki as it's written seems to say that we should be squashing _before_ we open a PR and for every review/edit "cycle" (as opposed to giving the squash instructions at the very end outside of the "rinse and repeat" loop)

[2020-05-11 22:34] motlin commented on #871
@cguntur-bnym I have a number of suggestions for changes.

Step 1 describes forking but not cloning. Include a git clone command. Either explicitly use the word origin or explain that the default remote name is origin. Add the cd command too.

Step 2 for adding the upstream remote is fine, but seems out of place since there's no fetch happening afterwards. I'd either move it later or just go ahead

[2020-05-12 13:39] rakotkar opened #882 "Issues while importing code in eclipse"
While trying to import the code that I cloned from https://github.com/eclipse/eclipse-collections    .

I got below error.

![image](https://user-images.githubusercontent.com/43616363/81698479-a9e1de00-9483-11ea-8787-3e5458fdc435.png)

I followed the instructions as mentioned  https://github.com/eclipse/eclipse-collections/blob/master/CONTRIBUTING.md
I am using java 11 on Ubuntu 20.04.

Also , Do

[2020-05-12 15:57] #822 closed

[2020-05-13 00:58] nikhilnanivadekar commented on #882
I would say don’t worry about checkstyle as we run them in GitHub actions and other builds. You can try running clean verify or clean install. These should not run checkstyle. If they still run, turn off the checkstyle profile.

[2020-05-13 02:23] rakotkar commented on #882
Sure , I will do that. How about the compilation error (kindly see the screen shot).I can fix that but wanted to know if that's an issue .

[2020-05-13 03:25] nikhilnanivadekar commented on #882
That seems to be an eclipse specific issue or may be a bug. Can you check if the maven build is running fine? And the project compiles via maven?

[2020-05-13 15:10] motlin commented on #351
The maven-wrapper is being integrated into maven and will be released together in the next version of maven, 3.7.0. So this information is temporary.

You can install the wrapper using `mvn -N io.takari:maven:0.7.7:wrapper`

It is normal to commit the wrapper to git, so that you can git clone and then immediately run `./mvwn`. I feel like we talked about this already though and I'm forgetting some

[2020-05-15 17:56] vmzakharov commented on #793
Looking at the removeIf() implementation in FastList and in the mutable primitive lists generated from the template, they look pretty much identical. In fact, it looks like BooleanArrayList is the only one that has an inefficient implementation as it is not code generated (presumably because the underlying data structure is a BitSet rather than an array of booleans).

[2020-05-15 20:41] donraab commented on #793
Thanks @vmzakharov! @motlin the code looks identical to me between IntArrayList and FastList. Is there something you are you seeing that we are not?

[2020-05-15 23:53] motlin commented on #793
Yes, sorry about that, just BooleanArrayList.

[2020-05-17 02:48] #793 closed

[2020-05-17 13:27] prathasirisha opened #886 "Disable maven download progress in Unit Tests GitHub Actions"
Add this to `--no-transfer-progress` in [unit.yml](https://github.com/eclipse/eclipse-collections/blob/master/.github/workflows/unit.yml). Link for [Unit Test Action Log](https://github.com/eclipse/eclipse-collections/actions/runs/106990509)

Compare it to other GitHub Actions Workflows [Acceptance Tests](https://github.com/eclipse/eclipse-collections/blob/master/.github/workflows/acceptance.yml),

[2020-05-18 01:01] motlin commented on #886
consider moving into .mvn/maven.config

[2020-05-18 15:35] jdimeo commented on #351
Initial work is complete on the `map` APIs over at https://github.com/eclipse/eclipse-collections/pull/887

[2020-05-18 17:02] vmzakharov commented on #720
Given the consensus between @donraab @mohrezaei @motlin can this issue be marked as closed?

[2020-05-18 17:16] vmzakharov opened #888 "Code generate BooleanArrayStack from the common template"
Currently `BooleanArrayStack` is the only primitive stack implementation that is not generated. Generating `BooleanArrayStack` from `primitveArrayStack.stg` will reduce the amount of duplicate code needed to be maintained in the framework.

Unlike `BooleanArrayList`, which uses an underlying implementation different from other primitive lists (`BitSet` based rather than an array based), `BooleanAr

[2020-05-18 17:25] donraab commented on #888
I can't see any reasons not to do this. You may need to specialize the hashCode implementation.

[2020-05-18 17:31] #720 closed

[2020-05-19 00:14] vmzakharov commented on #888
The only difference between the `hashCode()` implementations, as far as I can tell, is the use of a for loop in the handcoded version vs. an iterator in the code generated one to iterate over the stack elements. Any concerns around using the iterator?

[2020-05-19 01:08] donraab commented on #888
I see. I didn't realize there was an `AbstractBooleanStack` that `BooleanArrayStack` overrides.

`BooleanArrayStack:
`
[code]

`AbstractBooleanStack`:

@Override
[code]

[2020-05-19 01:11] mohrezaei commented on #888
I would strongly recommend/prefer removing the iterator. `hashCode()` implementations that create garbage can lead to serious issues (e.g. terrabytes of temporary garbage on a rehash).

[2020-05-19 02:08] vmzakharov commented on #888
So since in all cases a delegate used to iterate over is actually a primitive ArrayList it should be OK to make the common implementation iterator-less.

[2020-05-19 03:06] nikhilnanivadekar opened #890 "Implement Null Safe Comparator By Function"
Consider an object
[code]
We have Comparators and Functions which are null-safe on their own, we need a comparator which brings null safety to the computed value.

Failing Test
[code]

[2020-05-19 20:42] vmzakharov commented on #890
(Assuming in this example the int should be a big Integer) Then looks like something like this will do the trick:
[code]
This test passes
[code]
Would a method in `Comparators` that returns
`Comparators.byFunction(<function>, Comparators.safeNullsLow(Comparators.naturalOrder()))`
suffice then? Also do we want to support both nulls low and nulls high options? (I suspect, yes)

[2020-05-19 22:21] nikhilnanivadekar commented on #890
We already have nulls high. So yes :)

[2020-05-19 22:54] vmzakharov commented on #890
"Yes" to both questions? 😃

[2020-05-20 03:05] gonzra-bnym commented on #21
Hello. I'd like to work on this issue.

[2020-05-20 04:18] donraab commented on #21
Thanks @gonzra-bnym ! I've assigned the issue to you.

[2020-05-20 16:13] #888 closed

[2020-05-20 16:25] motlin commented on #890
In addition to our methods on `Comparators`, similar methods exist on `java.util.Comparator`

[2020-05-20 16:28] vmzakharov commented on #890
My implementation uses the ones on EC `Comparators`, is there any reason to prefer `java.util.Comparator` ones?

[2020-05-20 16:30] motlin commented on #890
I think unless there is a material difference, we should prefer stuff that's built in. In this case something like:

[code]

We've replaced some of the insides of the Comparators class with delegation to Comparator. I'd like to do more of that, and possibly add some deprecation (not for removal)

[2020-05-20 16:42] motlin commented on #890
I'm looking and it's tricky to actually replace our stuff with the built in stuff because we use the interface `SerializableComparator`. The built in Comparators are all serializable, but don't implement an interface other than `Comparator`.

So I think I'd like to add deprecation (not for removal) with pointers to the new stuff in Comparator and that's all. The only thing I see that EC has that's

[2020-05-20 17:17] vmzakharov commented on #890
@motlin - would it be then a separate issue to mark some factory methods on EC Comparators as deprecated?

[2020-05-20 21:54] goldbal330 commented on #747
I would be interested int helping out with implementation of this feature.
Thanks.

[2020-05-20 23:22] #890 closed

[2020-05-21 00:55] donraab commented on #747
Thanks @goldbal330 ! I have assigned it to you.

[2020-05-21 20:41] johnjstuart commented on #446
Has anyone started work on this yet? If not, I'd like to take a look at it.

[2020-05-21 22:52] prathasirisha commented on #449
Hi, would like to work on this issue.

[2020-05-21 23:12] donraab commented on #449
Thanks @prathasirisha ! I've assigned the issue to you.

[2020-05-21 23:53] donraab commented on #446
Thanks @johnjstuart ! I've assigned the issue to you.

[2020-05-22 15:56] johnjstuart commented on #446
After some investigation it looks like TreeSortedMap is backed by the JDK TreeMap, which (correct me if I'm wrong) is not pre-sizeable. AbstractMutableSortedMap.zip seems to be already pre-sized to me. As far as I can tell this issue can be closed without a PR.

[2020-05-23 16:49] rakotkar commented on #882
Maven build is successful , yet I see compilation issues in eclipse.

[2020-05-23 17:18] nikhilnanivadekar commented on #882
@leomrlima can you please help?

[2020-05-24 01:51] vmzakharov opened #892 "Optimize IntInterval sum(), mean() and average() methods to use direct formulas"
Currently the `sum()`, `mean()` and ` average()` methods on `IntInterval` use a brute force approach involving collection materialization and iteration based algorithms.
Using direct formulas for `mean()` and `average()`, e.g. `(first + last)/2.0`,  and  `sum()`, e.g. `size * ((first + last) / 2.0)` will eliminate unnecessary object creation (arrays and iterators)  and improve performance.

[2020-05-24 02:26] mohrezaei commented on #892
`sum(p..q) = (q*(q+1) - p*(p+1))/2 = (q-p)*(q+p+1)/2` if `p >= 0, q >= 0`

`sum(p..q) = - sum(abs(p)..abs(q))` if `p < 0, q < 0`

`sum(p..q) = sum(0..q) - sum(0..abs(p))` if `p < 0, q > 0`

steps make this harder (need to compute actual number of steps).

Things get very hairy near `MAX` values.

[2020-05-24 04:52] vmzakharov commented on #892
I added tests to the existing ones for these methods in `IntIntervalTest`, would you suggest any additional tests?

[2020-05-24 05:08] mohrezaei commented on #892
I was confused by the `size` `step` thing. Sorry, the formula is good (corrected in my comment above). I would just add a test from negative to positive.

[2020-05-24 05:11] vmzakharov commented on #892
Thank you. I have that test for `sum()` :

`        Assert.assertEquals(-7L, IntInterval.fromToBy(-10, 10, 3).sum());`

[2020-05-24 05:14] mohrezaei commented on #892
Ugh. I was clicking on the first commit (thinking it's a PR, not a branch commit). All good. I assume you're going to make it a PR...

[2020-05-24 05:16] vmzakharov commented on #892
https://github.com/eclipse/eclipse-collections/pull/893

[2020-05-24 22:55] #892 closed

[2020-05-25 01:43] vmzakharov opened #894 "Memoize size() value on IntInterval and Interval"
Calculate size on `IntInterval` and `Interval` once during object construction to avoid performing calculation every time `size()` is invoked.

[2020-05-25 01:44] vmzakharov opened #895 "Implement subList() on IntInterval"
Currently `subList()` on IntInterval is stubbed with
[code]

[2020-05-25 05:07] #894 closed

[2020-05-25 18:12] #895 closed

[2020-05-26 04:05] donraab opened #898 "Add 10.2 release information to Hindi translation of website."
The 10.2 JavaDoc and dependency information needs to be added to the Hindi version of the website.

[2020-05-26 04:12] nikhilnanivadekar commented on #898
This issue is not needed. As the fix on GitHub creates more work to publish. I’ll fix it tomorrow.

[2020-05-26 04:12] #898 closed

[2020-05-26 21:25] goldbal330 commented on #747
Thanks, @donraab.
I would like to make sure we agree on the method signature.

If I add a new method to
MapIterable (public interface MapIterable<K, V> extends RichIterable<V>)
does the method signature bellow make sense?

 default <K1, V1> MapIterable<K1, V1> aggregateBy(
            Function2<? super K, ? super V, ? extends K1> groupByKeyValue,
            Function0<? extends V1> zeroValueFactor

[2020-05-26 21:31] donraab commented on #747
I think what @mgoldver was asking for was:

[code]

@mgoldver can you confirm?

[2020-05-26 23:23] mgoldver commented on #747
Hi guys, yes, agree with Don.
Thanks a lot
MikeG

[2020-05-27 00:53] #728 closed

[2020-05-27 22:07] #807 closed

[2020-05-30 02:32] vmzakharov commented on #723
So I took a stab at it (tests ported from `IntIntervalTest` pass) and would like to hear people's thoughts on the following:
1. Overflow. We should ignore overflow on aggregation operations, this is behavior consistent with `IntInterval` today*. If this is not desirable, another issue needs to be created specifically to handle overflows differently.
2. The size of a long interval may exceed `Integ

[2020-05-30 16:00] leomrlima commented on #882
This error seems to come from Eclipse IDE using Eclipse compiler. I don't know who is right - if Eclipse Compiler enforces something that doesn't make sense, or is the only compiler that enforces this.

I've created a fix for the generated classes, that would allow it to be built - https://github.com/eclipse/eclipse-collections/pull/903

[2020-05-30 17:36] nikhilnanivadekar opened #906 "Enhance GitHub actions to continue even if 1 build fails"

[2020-05-30 21:39] nikhilnanivadekar opened #907 "Investigate if open-jdk EA build failures are legitimate of need to be reported"
Example log: https://api.travis-ci.org/v3/job/692952556/log.txt

[code]

[2020-05-30 21:39] nikhilnanivadekar commented on #907
I am working on this. Issue raised only for tracking.

[2020-05-30 22:20] leomrlima commented on #882
I’m sorry I can’t.

It’s an error with either the Eclipse Compiler or other compilers. There are multiple ways to fix the generated code if you wish to.

[2020-06-04 18:03] johnjstuart commented on #740
I can take up this issue if no one has started work on it yet!

[2020-06-05 17:18] donraab commented on #740
Thank you @johnjstuart for volunteering. I can assign the issue to you but thought it would be good to kick off some discussion here first.

This seems like a tricky problem to me, that was solved more easily by having `keysView`. I took a look at `IntIntMap` and indeed as you said @victornoel was surprised to see `keySet` return a `MutableIntSet`. I would have preferred this to return `IntSet` so

[2020-06-05 19:45] motlin commented on #740
Ideally, `MapIterable.keySet()` would return `SetIterable`. That's not easy to do until MutableMapIterable.keySet() and overrides return MutableSetIterables.

[2020-06-05 20:17] nikhilnanivadekar commented on #740
I have tried this in the past only in vain. Let’s just return a Set, for ease

[2020-06-05 22:47] donraab commented on #740
I agree with @nikhilnanivadekar and @victornoel it's just more practical at this stage to return a `Set`, even if `SetIterable` is the ideal return value.

[2020-06-07 03:08] donraab commented on #723
Hi @vmzakharov if the work is ready, please submit a PR so we can visualize the issues and agree on approaches and make comments on the code. On point 2 though, I think a `LongInterval` should be consistent with other primitive lists and be limited to an `int` size. We can design and implement a different type that is not limited by an int size, but this would require some thoughts on new interfac

[2020-06-07 04:01] #351 closed

[2020-06-07 13:59] vmzakharov commented on #723
Will make the following changes before submitting a PR:
- remove "long-indexed" versions of the APIs
- `LongInterval` factory methods will throw when attempting to create an interval with the size exceeding `Integer.MAX_VALUE`.

[2020-06-08 02:16] vmzakharov opened #908 "Support sorting of primitive lists by indirect comparison."
The proposal is to add the following APIs on PrimitiveLists (in addition to the existing `sortThis()`):
- `PrimitiveList sortThis(PrimitiveComparator comparator)`
- `<T> PrimitiveList sortThisBy(PrimitiveFunction<T> keyExtractor) // sorts by the natural order of the keys`
- `<T> PrimitiveList sortThisBy(PrimitiveFunction<T> keyExtractor, Comparator<? super T> keyComparator)`

Where `PrimitiveCompa

[2020-06-09 09:45] nikhilnanivadekar commented on #908
This looks fine as a starting point. Please raise a PR. Thanks!

[2020-06-09 17:07] #723 closed

[2020-06-09 22:07] goldbal330 commented on #406
I would be interested to work on it.

[2020-06-10 02:09] donraab commented on #406
Thanks @goldbal330 ! I've assigned it to you.

[2020-06-14 21:49] vmzakharov opened #914 "Synchronized primitive lists do not override shuffleThis(Random rnd)"
Unlike calls to `shuffleThis()`, direct calls to `shuffleThis(Random rnd)` will not be synchronized

[2020-06-14 22:32] #908 closed

[2020-06-15 03:05] #914 closed

[2020-06-17 06:06] donraab opened #916 "Add primitive versions of flatCollect to LazyIterable"
Now that we have primitive versions of `flatCollect` that take target primitive collections on `RichIterable`, we can improve the symmetry on `LazyIterable` by adding primitive versions of `flatCollect` that are lazy.

[2020-06-22 12:03] mgoldver commented on #747
Hi @goldbal330, Thanks a lot. Closing the issue.

[2020-06-22 12:10] nikhilnanivadekar commented on #747
It’ll be auto-closed once we merge the PR

[2020-06-23 16:55] donraab opened #919 "Add containsBy to RichIterable"
Occasionally, developers want to do the following:

`collection.asLazy().collect(Type::someAttribute).contains(value);`

I've seen this quite often written in the equivalent form:

`collection.anySatisfy(type -> type.someAttribute().equals(value));`

Both of these solutions could be more simply written as a fused method:

`collection.collectContains(Type::someAttribute, value);`

or

`collection.c

[2020-06-23 16:56] donraab commented on #919
@motlin @nikhilnanivadekar Thoughts on this? I found this pattern in exercise 8 solutions of the Company Kata.

[2020-06-25 22:00] donraab opened #920 "Add methods to primitive List and Set factories to create empty collections with an initial capacity."
[code]

[2020-06-26 07:10] fipro78 commented on #920
I am trying to add this to the templates. Hopefully I got the right files, as everything are templates and I have no idea what an .stg file is or what is used for the code generation. Never worked in that area. Also importing, building and performing a Maven Update in the IDE does not solve all errors. Seems there are still some Scala related issues that I do not really understand. The setup descr

[2020-06-26 18:09] mohrezaei opened #921 "Make primitive hashmap's keyset serializable"
[code]

Ideally, the serialization will create a plain `LongHashSet` to send over the wire (instead of dragging the whole map over just for the keyset).

Java's `HashMap$KeySet` is not serializable either, but with primitives, there is no question of references and identities, so I think this would just be a good value add.

[2020-06-26 20:59] donraab commented on #920
Hi @fipro78, I need to get the details of the following answer into docs. We use StringTemplate for code generation.

https://stackoverflow.com/questions/61386226/resources-for-understanding-fastutil-internals/61400271#61400271

I'll try and take a look at your other questions this weekend.

[2020-06-27 19:16] KharcheNikhil commented on #919
If this is accepted, I would like to contribute. In fact have coded the change with one of the recommended method name in my repository.

[2020-06-27 19:32] motlin commented on #919
I've used the original pattern many times:
[code]
Seems fine to me.

[2020-06-28 16:54] donraab commented on #920
Hi @fipro78, following up on your other questions. BooleanHashSet will have at most 4 potential states. Empty, true, false, true & false so there is no need to construct with an initialCapacity. ByteHashSet is implemented via four longs, so the constructor is there and deprecated as there would no effect to the size or growth by specifying the initial capacity.

[2020-06-28 17:00] fipro78 commented on #920
Hi @donraab, thanks for the reply. Do you have an idea how to handle this in the template? For example a statement to not generate the factory method for boolean and byte?

[2020-06-28 17:25] donraab commented on #920
Hi @fipro78, there is a way to do this. I haven't done it in quite a while so I would need to scan the other templates to see how to do this. @motlin @nikhilnanivadekar do you recall off hand an example for excluding certain sections for certain types in template files?

[2020-06-28 17:30] nikhilnanivadekar commented on #920
Stg templates support ‘if’ statements. So you can do that. I am AFK right now but can paste the syntax later today.

[2020-06-28 17:36] donraab commented on #920
Hi @fipro78, in `mutablePrimitiveSetFactory.stg` which you would need to add to, you can see examples of conditionally generating stream methods for int, long and double but excluding other types.

[2020-06-28 17:52] fipro78 commented on #920
Thanks, I will try to adapt this and prepare a pull request soon.

[2020-06-28 17:56] nikhilnanivadekar commented on #920
Thanks! Would you mind telling us the troubles during your initial setup you had? It’s been ages since we setup the project from scratch. So whatever issues you had we can cover the fixes in the setup steps. Thank you!

[2020-06-28 18:15] fipro78 commented on #920
Sure. I am using a eclipse committers ide. I cloned the project via EGit and imported the projects as maven projects. This gave the first errors which I could solve by closing the ide and running the mvn clean verify command. BTW mvnw seems to be not available on my windows machine. But I did not use the Maven wrapper before, so not sure what is wrong here. Then I opened the ide again and had to u

[2020-06-28 18:49] donraab commented on #920
Hi @fipro78, I believe there are type inference issues in with the Eclipse Compiler in the Eclipse IDE in the following files:

immutablePrimitiveSingletonBag.stg (line 220)
immutablePrimitiveSingletonList.stg (line 179)

You should be able to fix this by changing the code in these templates to include a type inference hint as follows:

HashBag.\<V>newBagWith
FastList.\<V>newListWith

This issue w

[2020-06-29 06:48] fipro78 commented on #920
Hi @donraab, thanks for the pointer. That solved some of the issues. But I still get several errors in jmh-tests that several classes can not be resolved (e.g. AnagramSetScalaTest, AnySatisfyScalaTest, ...). I closed that project for now to resolve the errors in the workspace.

[2020-06-29 11:59] fipro78 opened #923 "Incorrect feature version in p2 repository"
When loading the p2 repository https://download.eclipse.org/collections/10.2.0/repository the feature version is shown as 10.1.0.v20200211-1558. I suppose it was missed to update the version in the p2 project pom.xml files. Is that correct or are there any additional places where the incorrect version could be?

I suppose this can't be fixed for 10.2 as it is already released. But for the next 10.

[2020-06-29 12:10] nikhilnanivadekar commented on #923
I remember fixing this for 10.2.0 itself but might have missed something. I am going to create a 10.3.0 milestone release today, so will it be possible to test it out for 10.3.0 milestone? I’ll ping here once the release is published.

[2020-06-29 12:17] fipro78 commented on #923
Just let me know once you are ready and I will give it a try. I thought the issue might be in p2-feature pom.xml files which still show version 10.1.0.

[2020-06-29 12:20] nikhilnanivadekar commented on #923
Would you like to raise a PR with that fix? I’ll merge it before the milestone.

[2020-06-29 13:02] fipro78 commented on #923
Raised the PR https://github.com/eclipse/eclipse-collections/pull/924

Not sure if everything is correct. The build succeeded locally, but I can't find the resulting p2 repo like it would look like on the release. But I think updating the pom.xml (maybe not necessary) and updating the feature.xml and the category.xml should be correct.

[2020-06-29 14:35] nikhilnanivadekar commented on #923
merged. I have 1 more change before which I can start a milestone release. I should be able to get to it by late night US hours. Thanks for your help!

[2020-06-29 14:36] nikhilnanivadekar commented on #920
@fipro78 our default profile skips JMH and Scala modules. It might be a Eclipse artifact that these modules are also getting opened.
You are the 2nd person to report that the maven wrapper is not available. @motlin can you please verify if maven wrapper is working fine, and what we are missing in the instructions. Thank you!

[2020-06-30 02:40] nikhilnanivadekar commented on #920
Closed via https://github.com/eclipse/eclipse-collections/pull/922

[2020-06-30 02:40] #920 closed

[2020-07-02 04:22] #449 closed

[2020-07-02 04:23] #921 closed

[2020-07-02 12:36] prathasirisha commented on #886
Hi @donraab - would like to work on this. Can you please assign it to me?

[2020-07-02 16:58] donraab commented on #886
Done. Thanks @prathasirisha !

[2020-07-02 17:49] motlin commented on #821
What's the latest here? Are we ready to delete the remaining travis build? Anything I can do to help?

@sendilkumarn @donraab @nikhilnanivadekar

[2020-07-02 18:01] mohrezaei commented on #821
I don't think it's reasonable to keep travis because of `OracleJDK`. The oracle JDK versions they have are ancient (e.g. 1.8 is 4 years and 100 revisions old), despite the documentation claims otherwise. I believe this is what's causing the failures in the new maven upgrades (PR #844) where the ancient JDK's can't even establish a proper HTTPS connection to some eclipse servers.

Since Oracle make

[2020-07-02 18:36] mohrezaei opened #935 "Use a next-major-revision branch instead of lingering PRs?"
(I added the `governance` and `committer discussion` labels for these types of issues -- I think it's best to discuss in public, mostly among committers. Relevant community input is welcome.)

We have too many lingering PRs and it gives a bad impression of the project, at least to me. Some of these are due to `major version` requirements. There is an alternative: merge these into a different branc

[2020-07-02 18:40] mohrezaei commented on #935
Our documentation says this: " if you submit a pull request to master while we're preparing a minor release, you'll have to be patient and you'll need to rebase your changes once the release is complete."

That's also a bit misleading, so we should word it better based on the outcome of this discussion.

[2020-07-02 19:20] donraab commented on #821
I'm fine to get rid of it. @nikhilnanivadekar any concerns from the QualityOutreach program perspective?

[2020-07-02 21:58] donraab opened #937 "Create two part implementation jars"
A common complaint about Eclipse Collections is that it is very large (~10 MB). I think we can alleviate some of this pain by creating two additional implementation jars, in addition to the uber implementation jar we create today.

What I would propose is that the two jars contain the following:

Jar 1:

- All Object Collections, Maps, Multimaps, BiMaps
- All Primitive Lists, Sets, Bags
- Object I

[2020-07-02 22:09] mohrezaei commented on #937
Doesn't this come from the Android side? Isn't the right solution to be more proguard/android build friendly?

Honestly, on the server side, 10MB is peanuts.

[2020-07-02 23:31] donraab commented on #937
I've heard the complaint more recently in terms of Docker image sizes concerns.

[2020-07-03 00:56] mohrezaei commented on #937
I just looked at a production fat jar and here is what I see:
Compressed size 63MB
Eclipse collection about 9 MB (so about 14%).
Application code 5 MB
Rest of the libs: 49 MB

This project would need both jars, so no help there. Even if it didn't, would it help to reduce the size by 10% or so? Very debatable.

I'm not a docker guru, but googling around returned tiny docker image sizes > 60MB (opti

[2020-07-03 01:03] donraab commented on #937
Agreed. Wanted to float the idea regardless.

Interested to hear thoughts from @motlin @nikhilnanivadekar and anyone else who has to build apps. Do you ever exclude Eclipse Collections because of jar size?

[2020-07-03 03:17] nikhilnanivadekar commented on #821
I will need to check that

[2020-07-03 03:19] mohrezaei commented on #821
this thing? https://wiki.openjdk.java.net/display/quality/Quality+Outreach

That looks like just OpenJDK stuff. Is there another for oracle (non-open source) stuff?

[2020-07-03 15:19] nikhilnanivadekar commented on #923
I was finally able to release milestone. There were issues with Jenkins. Can you please take a look if things are fine?

[2020-07-03 15:30] fipro78 commented on #923
I added this URL to install new software:

https://download.eclipse.org/collections/10.3.0.M1/repository/

It now shows the "Uncategorized" category. And in that category there is a "Eclipse Collections Developer Resources" feature to install. But it now shows the correct version 10.3.0.v20200703-1238.

Not sure about the category and the plugin name, but the version is correct now.

BTW, you can

[2020-07-03 16:01] nikhilnanivadekar commented on #923
@fipro78 none of us maintainers are well versed with the Eclipse ecosystem around plugins and categories. So, your direction and help will be invaluable. Thanks a lot for your help!

What do you mean by the URL to install new software? I dont even know how the url gets generated, and how it is sourced. I apologize for my lack of knowledge!

[2020-07-03 16:20] fipro78 commented on #923
I will have a look at the build for the p2 stuff the next days. Maybe I see something. But I wonder what has changed between 10.2 and the 10.3 milestone that causes this change.

If you have an Eclipse IDE installed, you can install additional plugins via Help - Install new software. There you can enter the URL I posted which points to your p2 repository. But how in detail you create and publish i

[2020-07-03 22:26] donraab commented on #919
Hi @KharcheNikhil, I wrote a blog about this [feature on Medium](https://medium.com/@donraab/fusing-methods-for-productivity-c15c9eb2d666?source=friends_link&sk=ddde162c6aab068bda4619266d3b3bfb) today and got a suggestion from @vmzakharov about a better method name. I had already implemented most of the code and will likely submit a PR once I have properly written all of the tests.

Thank you for

[2020-07-06 03:49] motlin commented on #937
I think about the size of Eclipse Collections because it's a big library with a lot to learn, and one of the arguments I hear against EC is that it's "overkill" compared to Guava or Streams. I also think about the size because I wait for its build which has gotten longer over the years. The size in MB doesn't cause me problems.

[2020-07-06 06:45] fipro78 commented on #920
Correct me if I am wrong. But shouldn't the Maven Wrapper be part of the repository. There is no mvnw script in this repository, so why should the wrapper work? Or should it be generated by the build script somehow? Because it isn't on my Windows machine.

[2020-07-06 10:03] fipro78 commented on #923
@nikhilnanivadekar
When I build locally a p2 repository is generated using the ebr plugin below **p2-repository/org.eclipse.collections/target/repository**
If I am using that location as update site in my Eclipse, I see a category named "Eclipse Collections OSGi Bundle" that contains two feature entries "Eclipse Collections Main Library" and "Eclipse Collections Main Library Source". IMHO that loo

[2020-07-06 16:42] motlin commented on #920
Adding mvnw:
https://github.com/eclipse/eclipse-collections/pull/928

[2020-07-08 00:32] #919 closed

[2020-07-08 00:38] nikhilnanivadekar commented on #923
@fipro78 thanks for the PR. I saw that @motlin gave a few comments on there. Can you please fix them?

[2020-07-08 00:50] nikhilnanivadekar commented on #821
@mohrezaei yes you are right. I got the confirmation offline via email. So, I think we are good to remove dependency on Travis.

[2020-07-10 07:51] fipro78 commented on #923
I am working on it. Still trying to find out why my change causes the api bundles to be included in the collections bundle.

BTW, @nikhilnanivadekar and @motlin, are you aware that org\eclipse\collections\impl\utility\primitive\ is part of the api since 10.3.0? There was no such package in 10.2. Is it really intended to have the sort implementations as part of the API?

[2020-07-10 11:29] fipro78 commented on #923
I updated the PR. Thanks to @peterkir who helped me fixing the bnd issue

[2020-07-10 18:48] kedar-joshi commented on #882
Even IntelliJ complains about the very same line. This is because the implementation is expected to return `ImmutableList<V>` but it actually returns `ImmutableList<? extends V>`. Collections are not automatically assignable this way and require explicit cast to `ImmutableList<? extends V>`.

![image](https://user-images.githubusercontent.com/13585883/87187013-1c4b2f00-c30a-11ea-8b85-777a32f01dbf.

[2020-07-10 19:11] donraab commented on #882
Thanks @kedar-joshi , I think if you give the compiler a type hint it will fix this kind of issue. This happens unfortunately when a static method is followed by an instance. Javac seems to be fine with it, but IntelliJ and ECJ seem to not be.

Adding this to the line should be good enough:

`FastList.<V>newListWith(...`

This should be fixed now in the latest version of the code. I submitted a PR

[2020-07-10 20:45] kedar-joshi commented on #358
I think this issue is same as gh-808 and may be closed.

[2020-07-10 20:59] kedar-joshi commented on #359
I wanted to work on this issue but commit 609bcdcd already upgraded maven-enforcer plugin to 3.0.0-M1 and it seems to work well on JDK 11 so far.

[2020-07-10 22:56] #360 closed

[2020-07-10 22:57] nikhilnanivadekar commented on #359
Yes Kedar, but feel free to upgrade once the version or above is released. Thanks!

[2020-07-10 22:58] nikhilnanivadekar commented on #358
Thanks for pointing it out @kedar-joshi

[2020-07-10 22:58] #358 closed

[2020-07-12 22:12] #886 closed

[2020-07-12 22:34] prathasirisha commented on #448
Hi @donraab, I want to work on this.

[2020-07-13 00:53] donraab commented on #448
@AFederici are you working on this currently?

[2020-07-13 09:10] fipro78 commented on #923
Hi @nikhilnanivadekar, @motlin, @donraab,

I have a question with regards to API vs. IMPL. From a clean perspective I would assume that consumers of Eclipse Collections should only implement against the API and the IMPL should be hidden. Is that the approach that should be taken? Because actually the OSGi Manifest of the IMPL should not export any impl packages and specify them as Private-Package.

[2020-07-13 14:03] motlin commented on #923
Today, impl must be public. We've gradually made the library more usable
through api only, including the dynamic loading of the impl jar at runtime
from the collection factories. Some users will be able to use api only.
However, there is still quite a bit of functionality not exposed through
the interfaces in the api package.

On Mon, Jul 13, 2020 at 5:10 AM Dirk Fauth <notifications@github.com> w

[2020-07-14 04:46] fipro78 opened #949 "org/eclipse/collections/impl/utility/primitive package in API"
While adding the OSGi meta-data I noticed that since 10.3.0 the package org/eclipse/collections/impl/utility/primitive is included in the API jar. It did not exist before.

This actually even creates an OSGi dependency issue because two bundles export the same package. You can see this via the bnd-maven-plugin warning:

Split package, multiple jars provide the same package:org/eclipse/collections/

[2020-07-14 06:19] vcvitaly commented on #830
If it's still relevant I could take it.

[2020-07-14 13:07] donraab commented on #830
Hi @vcvitaly, yes, this is still relevant so will assign the issue to you. Thank you for volunteering!

[2020-07-14 22:42] nikhilnanivadekar commented on #949
@fipro78 you are the expert here. So we will go with your expertise, and suggestions of how to fix it.

[2020-07-14 22:54] donraab commented on #949
I think this is probably the quick sort utility introduced by @vmzakharov.  I just looked and this is only referenced from impl classes so should be moved to impl. Not sure why it wound up in api module. It may have been due to the earlier implementation in default methods.

[2020-07-15 00:47] nikhilnanivadekar commented on #937
I think this change is very low reward for a huge amount of effort. I agree with @mohrezaei that a 9 MB * 2 (impl and api) jars are not much of a footprint. That said, it would be good to try and see if we need the API and impl as 2 separate jars.
Breaking the impl jar in two will cause more maintenance work as well.

[2020-07-15 00:49] nikhilnanivadekar commented on #882
@kedar-joshi , @rakotkar with the updated code is this still an issue?

[2020-07-15 00:50] nikhilnanivadekar commented on #875
@ArthurCaron would you be interested to contribute this API? It makes sense and as @prathasirisha mentioned we will need to maintain symmetry between immutable and mutable side.

[2020-07-15 00:51] nikhilnanivadekar commented on #867
Closing due to inactivity. Please reopen if the issue persists. Thanks!

[2020-07-15 00:51] #867 closed

[2020-07-15 00:52] nikhilnanivadekar commented on #821
Closing as this is done via multiple PRs.

[2020-07-15 00:52] #821 closed

[2020-07-15 01:25] donraab commented on #937
ok, I'll close the issue.

[2020-07-15 01:25] #937 closed

[2020-07-15 01:28] #949 closed

[2020-07-15 01:39] #871 closed

[2020-07-15 06:54] kedar-joshi commented on #882
No. Current version is all green. No compiler error. 👍

[2020-07-15 09:23] nikhilnanivadekar commented on #882
Thanks @kedar-joshi  for the confirmation. Closing this issue.

[2020-07-15 09:23] #882 closed

[2020-07-15 13:35] nikhilnanivadekar commented on #923
This seems to be partially fixed by #940

but the p2 build is failing: https://ci.eclipse.org/collections/job/publish-p2-repo/31/console

[2020-07-15 13:54] fipro78 commented on #923
@nikhilnanivadekar

I am currently not at home, but it looks like the version in the pom.xml files below p2-feature need to be updated. Seems I missed those :(

[2020-07-15 16:35] fipro78 commented on #923
@nikhilnanivadekar

I have created PR #952 which should fix the p2 build.

[2020-07-15 18:26] nikhilnanivadekar commented on #923
@fipro78 10.3.0.M3 is pushed to p2. Can you please verify?

[2020-07-16 09:08] fipro78 commented on #923
The p2 update site now looks good to me. The category is named "Eclipse Collections", there are two features below, one for the code and one for the sources, and the version is 10.3.0.v20200715-1741

[2020-07-16 14:29] nikhilnanivadekar commented on #923
Awesome! Thanks a ton!

[2020-07-16 16:44] kedar-joshi commented on #275
`ImmutableArrayStack<T>` implements `ImmutableStack<T>` which conflicts with `AbstractRichIterable<T>` at least for `countByEach(Function<? super T, ? extends Iterable<V>>)`.

`MutablePrimitiveObjectMap<V>` is an interface so can't extend `AbstractRichIterable<V>`.

[2020-07-16 16:45] kedar-joshi commented on #275
I wanted to take this up but not sure if it's still valid requirement.

[2020-07-16 17:53] nikhilnanivadekar commented on #923
@fipro78 10.3.0.M4 is pushed to p2. Can you please check? Thanks!

[2020-07-17 04:34] fipro78 commented on #923
@nikhilnanivadekar
I have tested to consume the M4 p2 repository in NatTable and it works as intended. Also the format of the p2 update site shown in the Install New Software dialog looks good with regards to available features, category and feature version.

I also tested consuming the M4 artefacts in a plain OSGi Maven project. And this also works as intended now.

[2020-07-17 05:25] donraab commented on #923
Thank you for helping us fix this issue and validating things are working properly @fipro78. This is very much appreciated!

[2020-07-17 09:23] nikhilnanivadekar commented on #923
Thanks a ton @fipro78 for your help! If I may ask, so that next release we don’t have to do this again, would you mind giving the steps which I should follow when I create a new release so that p2 remains in good shape? I will update our wiki with that so that it is followed properly. Thanks again!

[2020-07-17 11:34] fipro78 commented on #923
I can try :)

1. p2-repository is included in the default build and creates a p2 repository using the Eclipse Bundle Recipes. This repository only contains the bundle and is actually not published by you.
2. p2-feature is a separate build that consumes the p2-repository build result. It creates a feature and an update site that contains the Eclipse Collections feature.

From what I have seen, p2-r

[2020-07-20 09:54] ryoheinagao opened #954 "Fix Gradle setting in website"
In this [site](https://www.eclipse.org/collections/index.html) `compile` is still used for dependency. `compile` should be migrated to `implementation` as well as README.md.

[2020-07-21 01:26] nikhilnanivadekar opened #956 "Implement MapIterable.getOrDefault(java.lang.Object o, V v)"
[code]

[2020-07-21 07:58] anupyadavrpvv commented on #956
I would like to help. @nikhilnanivadekar would you mind describing the issue and possible solution so that I can work on it accordingly?

[2020-07-22 16:51] nikhilnanivadekar commented on #956
Thanks @anupyadavrpvv I have assigned this to you.
The implementation can be a default method which delegates to getIfAbsent()

[2020-07-22 18:20] anupyadavrpvv commented on #956
Thank you @nikhilnanivadekar for assigning this task to me.
I would be glad if you help me out through the process, as this is my very first open project contribution.

[2020-07-22 23:34] donraab commented on #956
@nikhilnanivadekar There is a method named getIfAbsentValue on MapIterable. What is the proposed signature for getOrDefault and the result type?

[2020-07-22 23:36] nikhilnanivadekar commented on #956
It will be the same as JDK Map API’s signature. This is to ensure we delegate the JDK Map API correctly and provide it at the highest interface

[2020-07-22 23:39] donraab commented on #956
Ok, understood. It is already a default method on `Map`. It should be able to just delegate to `getIfAbsentValue` right?

[2020-07-22 23:54] nikhilnanivadekar commented on #956
Yup exactly!

[2020-07-23 10:41] nikhilnanivadekar commented on #956
@anupyadavrpvv please follow the instructions on this document to setup your environment: https://github.com/eclipse/eclipse-collections/blob/master/CONTRIBUTING.md

I have updated the PR with the correct signature.

The API will be implemented as a default method on MapIterable. MapIterable already has another API called `getIfAbsentValue()` . The implementation of `getOrDefault()` should simply

[2020-07-23 12:29] anupyadavrpvv commented on #956
Hey @nikhilnanivadekar, I am done with the environment setup thanks to you.
Now what I have understood till now that I need to create a default method name getOrDefault() which calls the getIfAbsentValue() method like:
default V getOrDefault(arguments){
     getIfAbsentValue(pass the above arguments);
}
Is it correct?
Tell me about your suggestions which will help me.

[2020-07-23 12:31] nikhilnanivadekar commented on #956
Yes. I have updated the PR description above with the implementation. You need to add tests as well. So refer to the tests of getIfAbsentValue() for the tests.

[2020-07-24 07:28] anupyadavrpvv commented on #956
Hey @nikhilnanivadekar
I didn't want to give up on this project but I am having a lot of trouble in understanding and writing test cases as I don't have any experience in writing test cases. It may be because of my lack of experience ( this is my very first attempt to solve an open-source problem as a student). I really need someone who can tell me what to do how to do it? But I know this might be

[2020-07-24 09:38] nikhilnanivadekar commented on #956
@anupyadavrpvv let see if this helps, if you still have issues, dont worry, I will take it up from here.

The test is going to be exactly same as this:
https://github.com/eclipse/eclipse-collections/blob/master/unit-tests/src/test/java/org/eclipse/collections/impl/map/MapIterableTestCase.java#L194

[2020-07-24 11:27] anupyadavrpvv commented on #956
@nikhilnanivadekar Thanks for all your help
let me show you what I am doing and how should I correct it.
I have created this method in Mapiterable interface:
default V getOrDefault(Object o, V v)
    {
        return this.getIfAbsentValue((K) o, v);
    }
then any copy-pasted the test you have mentioned
@Test
    public void getOrDefault()
    {
        MapIterable<Integer, String> map = this.newM

[2020-07-24 11:54] nikhilnanivadekar commented on #956
This happens because MutableMapIterable extends Map. Can you add the same default method on MutableMapIterable? I would say research a little bit of Java inheritance concepts.

[2020-07-24 20:44] #747 closed

[2020-07-25 06:07] anupyadavrpvv commented on #956
@nikhilnanivadekar Please un-assign me because I am stuck with lots of errors.
 I am really looking forward to seeing the correct solution.
Sorry for all the trouble.

[2020-07-25 15:13] #954 closed

[2020-07-25 16:34] nikhilnanivadekar commented on #956
@anupyadavrpvv take a look at the PR: https://github.com/eclipse/eclipse-collections/pull/958

[2020-07-26 16:08] #956 closed

[2020-07-26 19:18] henohenotsuyoshi opened #959 "Change return types of some factory methods in Predicates(i.e. alwaysTrue) as generics instead of Object"
Hi team,
I wonder it would be better to change return type of Predicates#alwaysTrue as generics instead of Object.
Following code does not compile right now.
`
        Predicate<Employee> alwaysTrue = Predicates.alwaysTrue();
`
As far as I checked, I think we should refactor isNull, attributeIsNull, notNull, attributeNotNull, sameAs, notSameAs, instanceOf, assignableFrom, notInstanceOf, alwaysTrue

[2020-07-26 19:58] nikhilnanivadekar commented on #959
Does this compile?
`Predicates.<Employee>alwaysTrue() `

[2020-07-27 17:32] fipro78 commented on #923
@nikhilnanivadekar
Does my explanation make sense? Or do you have some questions?

[2020-07-27 17:35] nikhilnanivadekar commented on #923
@fipro78 yes it does. For some reason, I missed your previous comment. Thanks for the reminder.
I will be creating a final milestone for 10.3.0 this week. If that checks out fine, then will do the release for 10.3.0 next week.
Thanks for your help!

[2020-07-28 01:04] motlin commented on #275
It's still valid! The conflicts are real bugs that should be fixed. You're right about interfaces that can't extend a class.

[2020-07-28 16:30] henohenotsuyoshi commented on #959
No, it does not compile.

[2020-07-30 19:40] nikhilnanivadekar commented on #923
@fipro78 I have pushed 10.3.0.M5 to p2 repo. Can you please test it and confirm?
If it looks good, will do the final release either this weekend or next week depending on available time.

[2020-07-30 23:47] donraab commented on #875
@ArthurCaron have you started working on this feature already? Please us know. If not, I will assign the issue to @nsardana-bny.

[2020-07-31 04:57] fipro78 commented on #923
@nikhilnanivadekar
10.3.0.M5 p2 repo looks good

[2020-07-31 14:05] nikhilnanivadekar commented on #923
Awesome!

[2020-08-06 23:41] donraab opened #963 "Update README to indicate Eclipse Collections is compatible with Java 8 +"
Eclipse Collections requires Java 8 to compile and run its tests, but is compatible with Java 8+ at runtime. Eclipse Collections is part of the OpenJDK Quality Outreach program as well and qualifies that it runs ok different versions of the OpenJDK.

https://wiki.openjdk.java.net/display/quality/Quality+Outreach

[2020-08-06 23:44] nikhilnanivadekar commented on #963
Will fix this along with Readme updates for 10.3.0.

[2020-08-07 15:39] nikhilnanivadekar commented on #963
@donraab I will not be adding this line

as it is already covered in Contributing.md. The compilation language is a better fit in the Contribution guide than in Readme.

[2020-08-07 18:31] #963 closed

[2020-08-13 00:48] donraab commented on #448
Hi @AFederici, I haven't heard back and since @prathasirisha has volunteered I have assigned the issue to her.

[2020-08-13 17:18] neha-ranjan27 commented on #868
hi @donraab

I work as an IT professional. I am looking for open source contribution.
Can you provide more clarity on this issue. I am interested in taking it up.
I have used Spring Data JPA for connecting to sql server.

[2020-08-13 17:25] donraab commented on #868
Hi @neha-ranjan27, this was really more of a question than an issue. Any integration between Eclipse Collections and Spring Data JPA would be done outside of Eclipse Collections. I will close this issue.

[2020-08-13 17:25] #868 closed

[2020-08-14 02:32] GracianoR opened #968 "Create Code Coverage Report"
A code coverage report is a nice addition to Eclipse Collections. It allows the community to find areas that need improvement and it's a good source of future work.
The report can be added in a similar way to the Mutation Test. We can leverage GitHub Actions to trigger based on a push to master (or another branch) or cron based (I don't think that's the best approach since tests may be executed on

[2020-08-14 02:33] GracianoR commented on #968
Can I take this one?

[2020-08-14 14:44] bmvermeer opened #970 "Add Dutch translation for Eclipse Collections website"

[2020-08-14 16:48] GracianoR commented on #968
How should we trigger the GH action? On push to master? Cron?

[2020-08-15 00:59] mohrezaei commented on #935
Since there were no comments, this is not a useful issue. Closing.

[2020-08-15 00:59] #935 closed

[2020-08-15 01:25] mohrezaei opened #972 "Commit message format in the wiki"
The wiki has new language about the commit message, which is neither consistent with the history of this project, nor represents a consensus from the committers that I know of. The language says:
```Commit message must begin with `Closes #<issue-number>` ```

This is bad on multiple fronts.

1) It obscures the actual message as it appears in front.
2) It references something outside the repository

[2020-08-15 17:30] #968 closed

[2020-08-15 18:13] nikhilnanivadekar commented on #972
@mohrezaei I agree with you about the difficulty of looking commit messages. I think the correct thing to do is to have “Closes #issueNumber “ at the end of the commit message. That way things are not obscured, at the same time, GitHub can automatically close the issue once the commit is merged.
Thoughts?

List of committers is found on the Project Details page of Eclipse Foundation, so, may be we

[2020-08-15 18:37] mohrezaei commented on #972
@nikhilnanivadekar I found the committers [list](https://github.com/orgs/eclipse/teams/technology-collections-committers) in Eclipse organization on github (which is where the permissions are coming from). It's listed as a "secret", so only committers can see it.

Even though I'm a committer, I don't have admin permission on this repo (I don't see the "Settings" tab at the top). I wanted to change

[2020-08-15 18:42] nikhilnanivadekar commented on #972
I don’t think any of us have the admin rights. May be we need to open a bugzilla for them to do it?

[2020-08-16 00:41] motlin commented on #972
I gave the same feedback and a bunch of other feedback on the original
issue.

https://github.com/eclipse/eclipse-collections/issues/871

The whole page is so misleading and I haven't had time to fix it, so I
wouldn't mind temporarily taking it down. I don't know why, but I do have
permission to edit or delete the page.

On Sat, Aug 15, 2020 at 2:42 PM Nikhil Nanivadekar <notifications@github.com>

[2020-08-16 00:46] mohrezaei commented on #972
@motlin I'll quote your original recommendation here. It all makes sense, but looks like something got lost in translation:

Also, the problem with the wiki is that anyone with a Github account can do whatever they want (including add SPAM, which I cleaned up). We can't change those permissions without going through Eclipse foundation.

[2020-08-16 01:03] mohrezaei commented on #972
Based on the consensus here, I edited the page. I don't think it's bad enough to take down, but I could be convinced otherwise :smile:

[2020-08-16 21:04] nikhilnanivadekar commented on #972
@mohrezaei raised a bugzilla to restrict access rights: https://bugs.eclipse.org/bugs/show_bug.cgi?id=566112

In addition to that changed the content of Working with GitHub a little bit to be inline with Craig's review comments.

[2020-08-16 21:04] #972 closed

[2020-08-19 15:49] rinatigati opened #976 "Deprecate ImmutableArrayStack"
Was looking around in the jacoco-report found [here](https://github.com/eclipse/eclipse-collections/actions/runs/210283622) and noticed that **ImmutableArrayStack** under *org.eclipse.collections.impl.stack.immutable* only has 3% code coverage.

This would be a great first ticket for OSS contribution in my opinion because test coverage is always welcome. 😁

EDIT:
I don't seem to be able to add Lab

[2020-08-19 17:49] jjabamani-bny commented on #976
Can I please work on this?

[2020-08-19 18:19] donraab commented on #976
Interesting... This class should be deprecated as I believe it is no longer used. @motlin introduced a new implementation for immutable stacks which effectively replaced ImmutableArrayStack. There is no way to create this class outside of its package. If we deprecate it in the the 11.0 release, we can then remove it in 12.0.

[2020-08-19 18:38] rinatigati opened #977 "Document Deprecation in Contributing.md"
@donraab and I ran into a class that needs to be deprecated in #976 but could not find any EC contribution documentation regarding the process.

I believe it's adding the @Deprecated annotation on the class/method in one major version and a TODO to remove the class/method in the next major version. Then obviously removing the class/method in that next major version.

Tagging individuals for a disc

[2020-08-19 19:00] nikhilnanivadekar commented on #977
I don’t think this is necessary. We rarely deprecated anything. If we deprecate anything then I think it’s fairly obvious for folks writing Java code that they need to put an annotation.

[2020-08-19 19:00] #977 closed

[2020-08-19 19:01] nikhilnanivadekar commented on #976
We cannot mark  anything for removal as that annotation was introduced in Java 9

[2020-08-19 20:41] rinatigati commented on #976
According to this, https://docs.oracle.com/javase/7/docs/api/java/lang/Deprecated.html, @Deprecated has been around since Java 5.
We can't use the forRemoval optional attribute since it was added in Java 9, but we can still use the annotation right?

Maybe I'm missing something.

[2020-08-19 22:16] donraab commented on #977
This is more for explaining the process of how we deprecate and then follow through with removal @nikhilnanivadekar.  We've always said we should deprecate for at least one major version, and then we can decide to remove in the next major version. I think it is worth putting this into text so our understanding as committers is captured for future committers to understand.

[2020-08-19 22:19] donraab commented on #976
I would just putting the removal comment in a todo so we have a reminder. We could also just deprecate and never remove. This would guarantee we never break serialization/deserialization of the class, but then this would suggest we should test it.

[2020-08-19 22:22] mohrezaei commented on #977
To be honest, I was never comfortable with that metric for removal. The "standard" in Java is to deprecate but leave things around. This ArrayStack case is an interesting one. Consider the case where one of these classes is serialized to disk. How is anybody supposed to know that and change it? This is especially acute for serializable classes that are not constructable, because it's nearly imposs

[2020-08-19 22:36] donraab commented on #977
Exactly why I thought it is worth discussing. This is the first time we've ever had a container that cannot be created through current APIs but that could still surface through deserialization.

[2020-08-19 22:38] nikhilnanivadekar commented on #976
We should test it and keep it.

[2020-08-20 15:55] rinatigati opened #978 "Test Coverage: ImmutableArrayStack"
This class will be deprecated as part of #976 but will be kept around to prevent any serialization issues.

As such, it will still be nice to add test coverage for this class since it is only 3% covered at the moment according to [jacoco-reports](https://github.com/eclipse/eclipse-collections/actions/runs/210283622).

[2020-08-20 16:15] donraab commented on #976
Sounds like we have consensus on keeping it and testing it. Two things to do. This issue will cover item 1.

1. Deprecate the class and comment on the new replacement and include a comment to ensure we will keep the class for serialization
2. Write dedicated tests for the existing class

[2020-08-20 20:42] jjabamani-bny commented on #976
Don, Can you help me and @rinatigati understand the need for serialization/deserialization of a deprecated class?

[2020-08-20 23:06] donraab commented on #976
@jjabamani-bny @rinatigati The problem is this. If someone serializes an ImmutableArrayStack to some persistent store (disk) in a version of Eclipse Collections before 10.3 and attempts to later deserialize the class instances from that persistent store with a version of Eclipse Collections without the class available, they will have an unsolvable issue.

[2020-08-21 02:47] nikhilnanivadekar commented on #970
@bmvermeer I made a few changes to remove some dated stuff from the website, so please take a look at the latest. The content is not changed but stuff like Latest News and the Javadoc versions are now reduced. I wanted to point it out to avoid any unnecessary confusion in the future 😄

[2020-08-21 02:48] nikhilnanivadekar commented on #923
@fipro78 I have released 10.4.0, can you please take a look if it works?
If it works I will also create a 11.0.0.M1 to confirm that p2 version issues are resolved. Then we can close this issue.

Thanks for your help!

[2020-08-21 02:50] nikhilnanivadekar commented on #907
This is fixed in 10.4.0

[2020-08-21 02:50] #907 closed

[2020-08-21 02:52] nikhilnanivadekar commented on #875
Due to no response from @ArthurCaron , I am assigning it to @nsardana-bny . Neha, feel free to reach out with questions or concerns.

[2020-08-21 02:54] nikhilnanivadekar commented on #782
@mkrivoshein , @jdimeo any suggestions what is needed for `Sets`. Happy to accept your contributions as well.

[2020-08-21 02:56] nikhilnanivadekar commented on #702
closing due to inactivity.

[2020-08-21 02:56] #702 closed

[2020-08-21 02:58] #623 closed

[2020-08-21 02:58] #540 closed

[2020-08-21 03:01] nikhilnanivadekar commented on #409
@motlin is this still valid issue?

[2020-08-21 03:05] #516 closed

[2020-08-21 03:06] nikhilnanivadekar commented on #406
@goldbal330 are you working on this?

[2020-08-21 03:07] nikhilnanivadekar commented on #387
I think this is fixed and works now.

[2020-08-21 03:07] #387 closed

[2020-08-21 03:13] #359 closed

[2020-08-21 03:14] nikhilnanivadekar commented on #366
Closing this issue as it is invalid. JDK-9+ made reflective access as a warning. However, there are workarounds added in case there are reflective access cases the non-reflective code path will be used and will not have issues.

[2020-08-21 03:14] #366 closed

[2020-08-21 03:15] nikhilnanivadekar commented on #294
closing this as wont fix.

[2020-08-21 03:51] goldbal330 commented on #406
Yes. Making a good progress.

________________________________
From: Nikhil Nanivadekar <notifications@github.com>
Sent: Thursday, August 20, 2020 11:07:00 PM
To: eclipse/eclipse-collections <eclipse-collections@noreply.github.com>
Cc: Goldberg, Alexander <Alexander.Goldberg@bnymellon.com>; Mention <mention@noreply.github.com>
Subject: Re: [eclipse/eclipse-collections] Implement Bag.anySatisfyWith

[2020-08-21 18:08] nikhilnanivadekar opened #984 "Add helper constructors in ImmutableNotEmptyStack to accept array, iterable"
This is so that Stacks.immutable.with() can be optimized to not create a new Stack for every element during construction. The constructor should be package private.

[2020-08-22 19:48] nikhilnanivadekar opened #985 "Create Eclipse Collections and JDK compatibility table in Readme and website."
Different versions of Eclipse Collections are compatible with different versions of Java. We should have an easy reference table to denote the compatibility.

[2020-08-24 16:09] nikhilnanivadekar opened #986 "Add relevant badges to the website"

[2020-08-24 16:09] nikhilnanivadekar commented on #986
This is assigned to @bmvermeer

[2020-08-24 17:29] bmvermeer commented on #986
Cool!

[2020-08-25 14:53] johnjstuart commented on #657
I see that @donraab merged this change in almost a year ago but the PR didn't have a closes tag so this issue still shows as open. Can this issue be closed manually now?

[2020-08-26 03:25] donraab commented on #657
Good catch. Closing.

[2020-08-26 03:25] #657 closed

[2020-08-27 14:26] #976 closed

[2020-08-28 18:49] johnjstuart opened #987 "Test Coverage: CounterProcedure"
`CounterProcedure` currently has 0% test coverage. Add unit tests for this class.

[2020-08-28 18:51] johnjstuart opened #988 "Test Coverage: AtomicCountProcedure"
`AtomicCountProcedure` currently has 0% test coverage. Add unit tests for this class

[2020-08-28 18:52] johnjstuart opened #989 "Test Coverage: BagAddOccurrencesProcedure"
`BagAddOccurrencesProcedure` currently has 0% test coverage. Add unit tests for this class.

[2020-08-28 18:53] johnjstuart opened #990 "Test Coverage: SumOfByteProcedure"
`SumOfByteProcedure` currently has 0% test coverage. Add unit tests for this class.

[2020-08-28 18:54] johnjstuart opened #991 "Test Coverage: SumOf(PrimitiveType)Procedure"
All of the `SumOf<PrimitiveType>Procedure` classes currently have 0% test coverage. Create a template with unit tests for these classes.

[2020-08-28 18:55] johnjstuart opened #992 "Test Coverage: SumOfCharProcedure"
`SumOfCharProcedure` currently has 0% test coverage. Add unit tests for this class.

[2020-09-01 02:03] nikhilnanivadekar commented on #923
@fipro78 I downloaded it via Eclipse and it seemed to work fine. Please reopen or raise a new issue if you encounter the same issue.
Thanks a ton for helping to improve the quality of Eclipse Collections!

[2020-09-01 02:03] #923 closed

[2020-09-03 13:57] blacksteed232 opened #994 "Function being called twice on LazyIterable findAny()"
Hi,

I notice that with the following code, there is a duplicated function call.

[code]
let say `functions` is an array of functions of this type:
[code]

I notice that my function got called twice for the found value

This is not behaving like what I expected when I use `stream API`, for example:
[code]
here my function will only be called once for the found value.

Perhaps this has something to

[2020-09-04 02:44] prathasirisha commented on #994
Hi, thank you for bringing this to our attention. We are taking a look at it and will get back to you soon.

[2020-09-04 03:57] donraab commented on #994
Hi @blacksteed232, thank you for raising this issue. This should be possible to replicate in a failing test. Looking at the code you linked to it certainly looks like the function will be executed twice. It sounds like @prathasirisha is looking into it so I'll wait to hear back what she finds.

As an aside, I believe the code you have written can be simplified as follows:

`LazyIterable.collect(fu

[2020-09-04 14:51] victornoel opened #995 "Add getOptional or equivalent to object to primitive maps"
Hi,

When dealing with an object to primitive map (e.g., ObjectDoubleMap), it is possible to call `getIfAbsent(key, defaultValue)` to get a default value when key is missing, but it is not possible to get the value OR know it is absent in one call.

I suppose something like `getOptional` that would return a `OptionalDouble` would make sense, though I'm not sure there are optional types for all pri

[2020-09-04 14:56] nikhilnanivadekar commented on #995
This API will be great to have! But why only for ObjectPrimitiveMap? Do we need something similar for maps in-general to return an Optional?

[2020-09-04 15:09] victornoel commented on #995
@nikhilnanivadekar hehe yes. Well, actually `MapIterable` already has it, so it is only for primitive maps, but yes, all of them. I was too narrow minded well I wrote the description, I've updated it :)

[2020-09-04 15:24] nikhilnanivadekar commented on #995
Perfect! I think we should just have getOptional() instead of labeling it with a particular primitive. That way the API is consistent with MapIterable.

[2020-09-04 17:29] donraab commented on #995
The only downside of this is as @victornoel points out there are only `Optional<T>`, `OptionalInt`, `OptionalLong` and `OptionalDouble` in JDK. I am not sure it would be a good idea to introduce new Optionals for other primitives in EC, especially with the possibility of generic specialization in primitives being an eventual possibility.

Possible Options:

1. Limit to Int, Long Double map varieti

[2020-09-04 17:30] nikhilnanivadekar commented on #995
We should just box the ones not supported by JDK

[2020-09-04 19:16] goldbal330 commented on #984
I could help out with this. Thanks.

[2020-09-08 13:31] MantriAditi commented on #985
hi @donraab , I want to work on this issue, can u please assign this to me.

[2020-09-08 13:32] donraab commented on #985
Thanks for volunteering @MantriAditi. I've assigned the issue to you.

[2020-09-10 02:49] #406 closed

[2020-09-10 20:35] #994 closed

[2020-09-10 20:40] prathasirisha commented on #994
Hi @blacksteed232, we were able to replicate the issue and fixed it as part of this [PR.](https://github.com/eclipse/eclipse-collections/pull/998). This fix will be available in 11.0.0 release.

[2020-09-10 20:52] donraab commented on #994
Hi @blacksteed232, I was able to validate the following test code works. Hopefully this is close enough to the use case you were seeing a failure on. I'm using a `MultiReaderList` to additionally guarantee we never call `iterator()`. A `MultiReaderList` will throw on any calls to `iterator()`.

[code]

[2020-09-10 20:58] blacksteed232 commented on #994
@prathasirisha @donraab Thank you so much! I will give it a try. Do you have a planned release cycle or an estimate on when v11 will come out?

[2020-09-10 21:06] donraab commented on #994
Hi @blacksteed232, I'll leave it to @nikhilnanivadekar to answer, but my best guess would be at least 3-6 months as we just opened this major release for development. We just released 10.3 followed by 10.4 in rapid succession due to an issue we found in our JDK 15 EA build.

Do you need this fix urgently?

[2020-09-10 21:09] blacksteed232 commented on #994
@donraab no I don't need it urgently since I can use the alternative Stream API workaround, I just really like my codebase to be consistently using Eclipse collection :). Just curious though, is this considered a major breaking change that we have to bump a major version, instead of doing 10.5 or so?

[2020-09-10 21:14] donraab commented on #994
@blacksteed232 We have already merged several breaking changes on the main branch so the next release version will be 11.0.0. We'd have to create a patch release to do a 10.5 (which we just did for 10.4). I'll leave that up to @nikhilnanivadekar as he handles our releases and each patch release is more work. A milestone release is much easier, and we usually will do these as we move along to test

[2020-09-10 21:15] blacksteed232 commented on #994
@donraab gotcha! Thank you for the explanation

[2020-09-11 13:52] nikhilnanivadekar commented on #994
@blacksteed232 I can have the milestone version for you next week around Wednesday US time. If you would like a final version then 10.5.0 is an option but it’ll take me a couple of weeks to get to it. Let me know what will help your use case and happy to do either of the options.

[2020-09-11 13:55] blacksteed232 commented on #994
@nikhilnanivadekar thank you very much, it's not urgent at all so please do what is more convenient for you!

[2020-09-14 13:55] nikhilnanivadekar opened #1002 "Create post merge GitHub actions build for JDK-8, 9, 10, 11, 12, 13, 14, EA"
We should have a post-merge build for all the JDKs to understand the compatibility of the project with various versions of Java else it will be difficult to keep track of compatibility to which JDK version we broke or might break in the future.

[2020-09-17 12:49] victornoel opened #1004 "Implement LazyIterable.collectWithIndex"
Hi,

I noticed that `LazyIterable` does not have a `collectWithIndex` method, is that on purpose or would it make sense to have it implemented?

[2020-09-17 13:07] nikhilnanivadekar commented on #1004
From my recollection that is on purpose as the index can’t be determined for the subsequent operations. So if it’s a terminating method it makes sense to add. But I may be missing something.

[2020-09-17 14:02] victornoel commented on #1004
@nikhilnanivadekar there is zipWithIndex, isn't it the same in terms of execution? But instead of returning a `Pair<T, Integer>`, we just get a `T` from `collectWithIndex`… (I'm not sure ^^)

[2020-09-17 14:04] nikhilnanivadekar commented on #1004
Ah! Good point! Tagging @motlin and @donraab to know if there is any historical context for it. If not I’ll say we just didn’t get around to implement it 😄

[2020-09-19 18:56] goldbal330 commented on #794
This issue should be probably closed since the contribution was merged.

[2020-09-19 19:10] #794 closed

[2020-09-20 20:53] donraab opened #1006 "Implement containsAny, containsNone, containsAnyIterable, containsNoneIterable on RichIterable"
We have `contains`, `containsAll` and `containsAllIterable` today on `RichIterable`. The methods `containsAny(Collection)`, `containsNone(Collection)`, `containsAnyIterable`, and `containsNoneIterable` can be implemented as default methods by fusing `anySatisfy` and `nonSatisfy` with `contains`.

[2020-09-21 06:31] hvydya commented on #1006
Hi! I'd like to work on this issue. Can you assign this to me?

[2020-09-21 19:27] donraab commented on #1006
I've assigned the issue to you @hvydya. Thanks for volunteering!

[2020-09-22 01:53] donraab opened #1007 "Implement containsAny and containsNone on primitive iterables."

[2020-09-22 17:53] hongliu2020 commented on #988
@donraab , can you please assign this issue to me? Thanks! Hong.

[2020-09-22 18:12] donraab commented on #988
Hi @hongliu2020, I have assigned the issue to you. Thanks for volunteering!

[2020-09-23 13:52] hvydya commented on #1006
Greetings @donraab !
This is my first time contributing to open source. So, I've a few questions:
1. Are the versions above every method (`@since 10.3`) auto-generated? If not, what version should I mention?
2. Do I have to manually write the javadoc for all those four methods or are they generated in some other way?
3. Do I have to write any tests for the above methods? If yes, where and what typ

[2020-09-23 19:17] rinatigati commented on #1007
Hey @donraab, I would like to work on this!

[2020-09-23 19:21] donraab commented on #1007
Hi @rinatigati, I assigned the issue to you. Thanks for volunteering!

[2020-09-23 19:22] nikhilnanivadekar commented on #1007
Before we do primitive we should finish up for object side. So that this one will be easier to implement

[2020-09-23 20:23] donraab commented on #1007
I disagree. The primitive one is actually easier and more straightforward.

[2020-09-23 22:25] donraab commented on #1006
Hi @hvydya!

Welcome to open source. I will do my best to answer your questions. I will defer to @nikhilnanivadekar for questions I don't know the answer to off hand.

1. No they are put in manually. The version you should use is 11.0 as that will be the next release.
2. Yes, you have to write the Javadoc for the methods.
3. Yes, you have to write tests for the methods. They are unit tests impleme

[2020-09-25 02:38] nikhilnanivadekar opened #1008 "Provide ability to create Hashing Strategy Sets, Maps and Bags using Function"
Current:
`HashingStrategySets.mutable.with(HashingStrategies.fromFunction(Person::getName));`

The below should work once this issue is fixed:
`HashingStrategySets.mutable.with(Person::getName);`

[2020-09-26 18:35] donraab commented on #1008
@nikhilnanivadekar I think we should use a different name than `with`. I realize from looking at the above that we have a method `with` which takes a `HashingStrategy`. I think the factory method which takes a function could just be called `fromFunction`.

[2020-09-27 15:02] #986 closed

[2020-09-27 22:41] nikhilnanivadekar opened #1011 "EBR 1.3.0-SNAPSHOTS has regression issues due to port to Tycho 2.0.0"
2020-09-27T00:46:34.0289786Z 00:46:34:025 [ERROR] Failed to execute goal org.eclipse.ebr:ebr-maven-plugin:1.3.0-SNAPSHOT:bundle (default-bundle) on project org.eclipse.collections: Unable to execute mojo: Execution null of goal org.eclipse.ebr:ebr-tycho-extras-plugin:1.3.0-SNAPSHOT:assemble-bundle-p2-repository failed: An API incompatibility was encountered while executing org.eclipse.ebr:ebr-tych

[2020-09-27 22:48] nikhilnanivadekar commented on #1011
Seems like Tycho 2.1.0 (unrelated here) is bumping up min requirement to JDK-11.
Bugzilla: https://bugs.eclipse.org/bugs/show_bug.cgi?id=567400

[2020-09-28 05:44] fipro78 commented on #1011
@nikhilnanivadekar

AFAIK Tycho only requires Java 11 to run. That should not affect the build results. So if you are able to run your build with Java 11 and have the maven-compiler-plugin correctly configured to produce Java 8 compatible code, there should be no issue. Of coures the BREE in the MANIFEST needs to be verified and it should be tested in an environment executed with Java 8. But from

[2020-09-28 08:23] nikhilnanivadekar commented on #1011
I would prefer not to do that. It adds maintenance work, we have to look out for regression breaks and it exposed a risk especially during release process.

[2020-09-28 08:54] guw commented on #1011
@nikhilnanivadekar Can you run the p2 repo creation in a separate process/step with its own JRE?

[2020-09-28 12:18] nikhilnanivadekar commented on #1011
@guw will need a bit of guidance and expertise here. Doesn’t the p2 repo require the EC jars to be available? The EC jars will have to be created using JDK 8 and then p2 repo will have to be created using JDK-11. The second part is where I am not following how it’ll come together?

Should we script something in a different repo, where the EC jars can be fetched from maven central and then bundled

[2020-09-28 12:26] fipro78 commented on #1011
@nikhilnanivadekar
IIRC right now the build is setup like this.
1. Maven build for Eclipse Collections (now containing correct MANIFEST @guw)
2. As part of this Maven build an EBR Maven module is triggered at the end of the process, that creates the bundles and a p2 update site containing only the bundles.

Actually you are not publishing that p2 update site anymore, as it did not contain features

[2020-09-28 14:36] nikhilnanivadekar commented on #1011
@fipro78 I think there might be a disconnect in my understanding.
The module `p2-feature` is not registered in the main maven project. We only register `p2-repository`. `p2-repository` prepares the artifacts, which are picked up by the second step which uses the pom in `p2-feature` module. As you mentioned this step is actually the one which creates the p2 features which are pushed to the p2 repo.

[2020-09-28 15:01] guw commented on #1011
@nikhilnanivadekar Does the build still fail for you? The SNAPSHOT should be back to the old version as I reverted the Tycho 2.0.0 PR. We'll revisit this one, potentially for a different stream/version of the EBR plug-ins.

https://ci.eclipse.org/ebr/job/ebr-maven-plugins/422/console

[2020-09-28 15:05] nikhilnanivadekar commented on #1011
@guw triggered our pipelines. It will most likely succeed, as things were fine till the port to 2.0.0 was merged.
But in order to retain longevity of the project we should be able to upgrade the dependencies in a fairly trivial way. So, I am just looking at ways to minimize the impact for the eventual port of EBR to Tycho 2.0.0.

[2020-09-28 15:12] guw commented on #1011
Is EBR still required for building the OSGi MANIFEST.MF or can this be done as part of the jar build?

[2020-09-28 15:16] nikhilnanivadekar commented on #1011
@guw I dont know how to create the OSGi MANIFEST.MF any other way. If there are other ways, happy to change it. Would appreciate all the help I can get in this.

[2020-09-28 15:19] fipro78 commented on #1011
@guw @nikhilnanivadekar the manifest is already generated in the jar build. I did this with my contributions lately. You should see an OSGi manifest now also in the Maven published artifacts

[2020-09-28 15:20] guw commented on #1011
You can always fall back to using the OSGi bundle manifest with the bnd Maven plug-in directly. The subsequent Tycho build could then work with pom dependencies consider.

As these are two reactors, each reactor can use a different JVM.

The first Maven build needs to "mvn install" artifacts into the local Maven repository (on the CI machine). The Tycho can then consume those artifacts directly fr

[2020-09-28 15:42] prathasirisha commented on #1011
@guw @nikhilnanivadekar can confirm the builds that were failing the last 2-3 days are working fine now.

[2020-09-29 15:11] jonathansamuel-bnym commented on #989
@donraab Please assign this issue to me.

[2020-09-29 17:05] donraab commented on #989
Hi @jonathansamuel-bnym, I've assigned the ticket to you. Thank you for volunteering!

[2020-10-01 15:39] #448 closed

[2020-10-02 08:08] bmvermeer commented on #1002
You can create github actions to this with all the different JDK's. Is that what you mean?
In addition, do you want to keep track non LTS version other than the latest (or latest 2)?
I would suggest: 8, 11, (and the latest 2 non LTS), 14 and 15. Maybe you can elaborate a little so I understand better :)

[2020-10-02 10:45] nikhilnanivadekar commented on #1002
I like your idea of latest two versions, LTS and EA. So we should have JDK 8, 11, 14, 15 (latest two versions), and EA. That said, the motivation of this issue is as follows:
Currently, the way we run unit tests is we build and test on the same JDK. So, we build on JDK-8 and we run unit tests on JDK-8, build on JDK-EA and run tests on JDK-EA, likewise for other JDKs. But this is not how the releas

[2020-10-02 16:04] donraab commented on #1004
@motlin covered most of what I would have said.

This method in the context of `LazyIterable` is also slightly more complicated because the underlying collection may not just be unordered, but you may be looking at a pipeline of operations. So if you have calls to `select` before `collectWithIndex`, even if you are iterating over an ordered collection, you are not looking at the indices, you are l

[2020-10-02 16:14] victornoel commented on #1004
@donraab yes, good point about indices vs count: I was indeed expecting the count to be used, exactly because of what you said, in a lazy iterable context, that's the only thing that would make sense.

I have a use case, basically it would avoid using an intermediate `zipWithIndex()` and passing around a `LazyIterable<Pair<T, Integer>>` with unboxed `int`. I'm not sure it has a real big impact on

[2020-10-02 16:24] victornoel commented on #1004
By the way it would also make sense to add `collectWithIndex` (as well as `zipWithIndex` if desired) to the primitive lazy iterables I believe but maybe it will mean to derive this method for each return type possible though…

[2020-10-02 17:08] donraab commented on #1004
There is an interesting problem that exists with `zipWithIndex` that could be corrected on the primitive side that we couldn't fix on the Object side. We had `zipWithIndex` implemented on the Object side before we had support for primitive containers and primitive pairs. It should return ObjectIntPair. I just looked, we don't have `zipWithIndex` on the primitive list side yet either. It should be

[2020-10-11 10:31] victornoel commented on #1004
@donraab btw, to fix this on the object side, wouldn't it be enough for backward compatibility to have `ObjectIntPair<T>` also implement `Pair<T, Integer>` and then have `zipWithIndex` use `ObjectIntPair<T>`? Not sure it will work though with all the covariance limitations of Java...

[2020-10-16 21:27] jonathansamuel-bnym commented on #989
I have completed the test cases for BagAddOccurrencesProcedure. Will be submitting a pull request shortly.

[2020-10-18 17:00] #988 closed

[2020-10-20 03:35] #989 closed

[2020-10-21 16:10] nikhilnanivadekar opened #1018 "Implement MapIterable.collectKeyAndValue()"
Currently, the only way to collectKeyAndValue() on a MapIterable is by using a Function2 and returning a Pair. But that is unnecessary and inefficient as we create a Tuple for every execution.
I am fine it being another overloaded collect() method as well.

[2020-10-23 23:47] sendilkumarn commented on #124
@donraab can assign this to me? I will work on this :)

[2020-10-24 17:18] sendilkumarn commented on #827
Since we are planning for 11.0. Can we add this to the release?

I'm in favor of this. But also would it make sense to migrate to `JUnit5` ?

[2020-10-24 17:38] nikhilnanivadekar commented on #827
I don’t want to move to Junit5 yet

[2020-10-24 17:44] sendilkumarn commented on #827
any specific reason?

[2020-10-24 19:33] donraab commented on #827
We have over 150K unit tests. I might be wrong, but it could be a huge undertaking to upgrade to JUnit5, and the code reviews alone on this could take days if not weeks.

[2020-10-24 20:58] donraab commented on #124
Hi @sendilkumarn , assigned the issue to you. Thanks for volunteering!

[2020-10-24 21:08] donraab commented on #124
@motlin @nikhilnanivadekar @prathasirisha Does this API seem useful to you all? I am discussing this with @sendilkumarn currently. Returning an `Optional` here removes the need to deal with an exception, but am curious for your thoughts.

[2020-10-24 21:12] nikhilnanivadekar commented on #124
I personally can’t think of a place I’ll use this. getOnly () is a specific API and it throws for a valid reason.

[2020-10-24 22:54] donraab commented on #124
After digging in and thinking about this a bit, `getOnly` throws the same exception in the case of empty and > 1. It felt kind of odd to me at first with `Optional`, as the `optional.isPresent()` translates to "my size is exactly 1". I thought at first empty and > 1 would be interesting to differentiate, and thus returning `Optional.empty()` in the case of a size > 1 is weird.

[2020-10-24 23:01] nikhilnanivadekar commented on #827
It is more than just changing the unit tests. The packaging of JUnit 5 has changed, so it is not a drop-in replacement. Additionally, the way JUnit 5 is split up, we will go from requiring 1 dependency to multiple modular dependencies. Having used JUnit-5, I dont see so much of a value in spending cycles to do the upgrade from JUnit-4 to JUnit-5. The only time in my opinion we will move from JUnit

[2020-10-24 23:06] nikhilnanivadekar commented on #124
If I ever came across getOnlyOptional() how confusing will it be to debug the code.
The optional is empty because the RichIterable was empty or of size > 1. I would probably replace that part of code with a simple size check. Again the entire idea of using getOnly() is specific and the correct usage is simple.
What will advantage will we get by adding getOnlyOptional()?

[2020-10-25 19:39] donraab commented on #124
After thinking on this API some more, and discussing with @sendilkumarn @prathasirisha @nikhilnanivadekar I'm of the opinion that this API would not be worthwhile to add. Its usage would be unclear and I can't see an advantage to adding the API. I'd want to see a compelling use case where getOnly is already used where this API would make the usage clearer, safer and simpler.

It was very helpful @

[2020-10-25 19:44] sendilkumarn commented on #124
I do agree! It definitely adds an option but the value of this API is subtle.

I closed the PR. Let us close the issue too!

[2020-10-25 19:45] #124 closed

[2020-10-25 19:45] sendilkumarn commented on #827
I do agree!  But nevertheless we will have to migrate in the future. For not let us focus on 4.13

[2020-11-02 21:53] #985 closed

[2020-11-03 01:33] nikhilnanivadekar commented on #994
@akphi sorry for the delay, I have released 11.0.0.M1 and it is available on Maven Central: https://search.maven.org/search?q=g:org.eclipse.collections%20AND%20v:11.0.0.M1
Please let us know if all issues are sorted out.

[2020-11-04 21:48] #827 closed

[2020-11-08 00:39] prathasirisha commented on #473
Closing this issue as this was taken care of by https://github.com/eclipse/eclipse-collections/pull/599.