[2016-01-15 16:00] motlin opened #20 "Implement LazyIterable.takeWhile(Predicate) and LazyIterable.dropWhile(Predicate)."
A `LazyIterable` may not have a meaningful order, if it was created from `MutableSet.asLazy()` for example, so it doesn't implement`OrderedIterable`. But it may have a meaningful order too.

`LazyIterable` already implements some equivalent methods from `OrderedIterable` that short circuit, like `take()` and `drop()`. It should also implement `takeWhile()` and `dropWhile()` with the following sign

[2016-01-15 17:24] motlin opened #21 "Implement unmodifiable Multimaps."
Implement unmodifiable Multimap wrappers like `UnmodifiableMutableListMultimap`, `UnmodifiableMutableSetMultimap`, etc.

Implement `MutableMultimap<K, V> asUnmodifiable();` in `MutableMultimap<K, V>` and covariant overrides like `MutableListMultimap<K, V> asUnmodifiable();` in `MutableListMultimap`.

All interfaces that extend `MutableMultimap` should have an override, including
- `MutableBagItera

[2016-01-15 18:43] motlin opened #22 "Implement synchronized Multimaps."
Implement synchronized Multimap wrappers like `SynchronizedMutableListMultimap`, `SynchronizedMutableSetMultimap`, etc.

Implement `MutableMultimap<K, V> asSynchronized();` in `MutableMultimap<K, V>` and covariant overrides like `MutableListMultimap<K, V> asSynchronized();` in `MutableListMultimap`.

All interfaces that extend `MutableMultimap` should have an override, including
- `MutableBagItera

[2016-01-15 19:26] motlin opened #23 "Implement Bags that use hashing strategies."
`UnifiedSet` has a variant called `UnifiedSetWithHashingStrategy` that uses a `HashingStrategy` instead of using `equals()` and `hashCode()`.

Similarly, `HashBag` should have a a variant that uses a `HashingStrategy`.

[2016-01-15 19:37] motlin opened #24 "Implement unmodifiable BiMaps."
The API `MutableBiMap<K, V>.asUnmodifiable()` already exists, but [the implementation](https://github.com/eclipse/eclipse-collections/blob/7.0.0/eclipse-collections/src/main/java/org/eclipse/collections/impl/bimap/mutable/AbstractMutableBiMap.java#L390) in `AbstractMutableBiMap` is unsupported.

[2016-01-15 19:38] motlin opened #25 "Implement synchronized BiMaps."
The API `MutableBiMap<K, V>.asSynchronized()` already exists, but [the implementation](https://github.com/eclipse/eclipse-collections/blob/7.0.0/eclipse-collections/src/main/java/org/eclipse/collections/impl/bimap/mutable/AbstractMutableBiMap.java#L385) in `AbstractMutableBiMap` is unsupported.

[2016-01-16 04:56] motlin opened #26 "Deprecate or hide collection factory constructors."
Clarify that classes like collection factory classes are not meant to be instantiated more than once. The current API allows you to get an empty immutable list like this.

[code]

The better way to get an empty immutable list is like this.

[code]

Both examples return the singleton instance of the empty immutable list. In other words, `list1` and `list2` are the same instance. The second example

[2016-01-17 04:47] motlin opened #27 "Change MutableBagIterable.addOccurrences(T item, int occurrences) to return the updated number of occurrences instead of void."
The current signature in MutableBagIterable is

[code]

It should return `int`, the updated number of occurrences. It should also have clear Javadoc

[2016-01-20 18:52] motlin opened #28 "Implement Verify.assertNotInstanceOf()."
Implement two new methods that assert that the `actualObject` is not an instance of the `expectedClassType`.

`Verify` already implements two similar assertions.

[code]

[code]

[2016-02-02 00:16] #28 closed

[2016-02-02 13:53] bhav0904 commented on #25
`public class SynchronizedBiMap<K, V>
        extends AbstractMutableBiMap<K, V> implements MutableBiMap<K, V>, Externalizable`

Is this the correct signature for the synchronized BiMap?

[2016-02-02 15:08] motlin commented on #25
I think that `SynchronizedBiMap` should not extend `AbstractMutableBiMap` because its methods are not thread-safe. It should either extend `AbstractSynchronizedMapIterable`, or a new abstract subclass of `AbstractSynchronizedMapIterable` but I'm not sure what that would be.

[2016-02-02 17:30] bhav0904 commented on #25
Something like:
`public abstract class AbstractSynchronizedMutableBiMap<K, V>
        extends AbstractSynchronizedMapIterable<K, V> implements MutableBiMap<K, V>`

where `AbstractSynchronizedMutableBiMap` would be similar to `AbstractMutableBiMap` but would have thread-safe implementations.

But there is a problem with this design: `groupByUniqueKey` returns `MutableBiMap` in the `MutableBiMap` in

[2016-02-02 17:48] motlin commented on #25
Good questions. In `BiMap<K, V>`, both `K` and `V` are unique by definition. Here's the signature of `BiMap.groupByUniqueKey()`

[code]

The contract of `groupByUniqueKey` is that `VV` must also be unique. The result of `BiMap.groupByUniqueKey()` is a `MapIterable<VV, V>` where both `VV` and `V` are unique. We might as well say it's a `BiMap`. If we had `BiMaps` sorted on one or both types, they'd

[2016-02-02 18:00] bhav0904 commented on #25
Interesting. Thanks for your answers!

I think I will build on top of your commit, and go with my `AbstractSynchronizedMutableBiMap<K, V>` plan. Does that sound good?

[2016-02-02 19:58] motlin commented on #25
Yes, sounds good to me!

[2016-02-04 05:17] nikhilnanivadekar commented on #24
I am working on this.

[2016-02-05 14:26] bhav0904 commented on #25
Craig, could you double-check your commit? It looks like you fixed the return type of `AbstractMutableMapIterable.groupByUniqueKey()` but not the return type of `AbstractSynchronizedRichIterable.groupByUniqueKey()`. I could fix `AbstractSynchronizedRichIterable.groupByUniqueKey()` to return MapIterable and commit that first.

[2016-02-05 16:19] motlin commented on #25
They are in two separate commits. At the moment, the hash codes are ad28a7dc11df486f549cace57dc87846a7a18821 and e49cd9328ed775e3d75e85e327338c6131eab002.

[2016-02-05 20:57] bhav0904 commented on #25
Thanks Craig. I finally started working on Synchronized BiMaps.

Firstly, I dropped the idea of an "abstract" Synchronized BiMap because it didn't really solve any purpose. My SynchronizedMutableBiMap looks like this now:

`public class SynchronizedMutableBiMap<K, V> extends AbstractSynchronizedMapIterable<K, V> implements MutableBiMap<K, V>, Serializable`

Secondly, I committed my changes but did

[2016-02-05 21:21] motlin commented on #25
I'll take a look at your commit to understand the failing test. In the meantime, could you look at b007c996992f9d75e49e6c04e7c2aa8df63a0e08 and see if it addresses the covariant return type for `collect()`?

[2016-02-05 22:34] motlin commented on #25
You've stumbled upon a real bug in HashBiMap. It's unrelated to keySet() and keysView(). I wrote the smallest tests I could to show the problem. Since it's a bug, maybe we can fix it on the 7.0.x branch. That's where I've committed the tests: 7a5cebf240243b6f46bc2e5738d4f1933be1d79b.

[2016-02-05 23:55] motlin commented on #25
Here's the build showing the assertion failures.

https://travis-ci.org/motlin/eclipse-collections/jobs/107351816

[2016-02-08 20:12] bhav0904 commented on #25
Thanks Craig! I committed a fix to my 7.0.x branch and created a pull request (after cherry-picking your commit that added failing tests), but my [pull request](https://github.com/eclipse/eclipse-collections/pull/41) fails - is it because I'm trying to create a request on top of your commit?

[2016-02-08 23:59] motlin commented on #25
No, it's due to committing without signing. You can click the red X for more details.

https://dev.eclipse.org/eclipse-webhook/services/status_details.php?id=56b901c55f56b

[2016-02-09 06:32] nikhilnanivadekar opened #43 "Implement MutableMultimap.putAllPairs(Iterable<Pair<K, V>> keyValuePair)."
Currently MutableMultimap has these two bulk operations:
`putAllPairs(Pair<K, V>... pairs) `
`putAll(K key, Iterable<? extends V> values)`

it does not have `putAllPairs(Iterable<Pair<K, V>> keyValuePairs)`

the implementation would be straightforward which is the current workaround:

`Iterate.forEach(keyValuePairs, each -> multimap.add(each));`

[2016-02-09 14:19] bhav0904 commented on #25
I signed off on my commit, but it looks like it is complaining that "The identity in the Signed-off-By must match the Author or the Committer." which is probably because of on the commits has you as the author.

[2016-02-09 14:43] motlin commented on #25
I see what you mean. I think this means I need to do the cherry pick myself. Look for the changes in my fork of 7.0.x shortly.

[code]

[2016-02-09 14:47] motlin commented on #25
Oh, it's already available in my branch. Assuming you have a remote set up for me, you can rebase like this.

git fetch --all
git rebase --onto 7a5cebf240243b6f46bc2e5738d4f1933be1d79b b842a56aef429b4c629024f1c3fd03d514963815 7.0.x

[2016-02-09 17:45] bhav0904 commented on #25
I'm sorry, I had messed up my 7.0.x, so I recreated it and added a new [commit](https://github.com/bhav0904/eclipse-collections/commit/911ed1d96b9acb4de0c13be48af5745de536ba25) with the changes (along with the changes from your review comments).

So do you now need to cherry pick this new commit and push it to the upstream 7.0.x?

[2016-02-09 18:29] nikhilnanivadekar opened #44 "Implement asLazy() on Multimap."
Currently, iteration patterns on `Multimap` are eager. `Multimap` interface should have `asLazy()` method which will delegate to a `LazyMultimap` similar to how `asLazy()` on `RichIterable` delegates to `LazyIterable`.

[2016-02-09 18:43] motlin commented on #25
No, I think the commands I suggested are still valid, assuming your local clone is fairly similar to your public fork.

[2016-02-09 18:47] motlin commented on #25
I see you've already fixed your 7.0.x branch. I've reopened the pull request so that the Travis builds will kick off. Let's move any more conversation relevant to the bug in HashBiMap to #41.

[2016-02-09 18:48] nikhilnanivadekar opened #45 "Implement keySet() on Multimap."
`Multimap` has `keyBag()` however, it is an O(n) operation which loops through the elements and creates a new Bag. Since a `Multimap` is defined as a `Map` of key and value `Collection`, there should be a method `keySet()` similar to what is present on a `Map`.

The `keySet()` implementation will go on [AbstractMutableMultimap](https://github.com/eclipse/eclipse-collections/blob/8d45bc751e796c1e0f

[2016-02-09 18:52] nikhilnanivadekar opened #46 "Implement toMultimap(Iterable<T> iterable, Function<? super T, ? extends K> keyFunction, Function<? super T, ? extends Iterable<V>> valueFunction) on RichIterable"
[Pull request 37](https://github.com/eclipse/eclipse-collections/pull/37) was to implement `Iterate.toMultimap()`, however the method should be added on `RichIterable` itself.

[2016-02-09 18:55] nikhilnanivadekar opened #47 "Implement RichIterable.groupByAndCollect()."
Refer to discussion on [pull request 37](https://github.com/eclipse/eclipse-collections/pull/37) for more information. Also, please use the most up-to-date name decided.

[2016-02-09 18:59] nikhilnanivadekar opened #48 "Implement RichIterable.groupByEachCollect(Iterable<T> iterable, Function<? super T, ? extends Iterable<K>> groupByEachFunction, Function<? super T, ? extends V> collectFunction)"
Refer to discussion on [pull request 37](https://github.com/eclipse/eclipse-collections/pull/37) for more information. Also, please use the most up-to-date name decided.

[2016-02-09 22:06] motlin commented on #45
An implementation like this would violate invariants.

[code]

You could just call `multimap.keySet().clear()` and the `Multimap` would have a non-zero size but be empty.

I agree that set-like views are important to add, but I don't think we should use the `Set` interface. We only use `Set` as the return type for `MutableMap.keySet()` because the type is inherited from `Map`.

[2016-02-09 22:07] nikhilnanivadekar commented on #45
Can we return an UnmodifiableSet?

[2016-02-09 22:46] motlin commented on #45
Yes, and returning it as a `SetIterable` makes sense in that context. An easy implementation on the immutable side would be to do the same thing, but it would be good to change the return type to `ImmutableSet` when we are ready to support a more full featured immutable view.

[2016-02-10 03:28] motlin commented on #44
Before we solve this for Multimaps, I think we should design how we want to handle lazy evaluation over key-value pairs in MapIterables.

[2016-02-10 03:28] #44 closed

[2016-02-10 03:29] motlin commented on #47
Full signature:

[code]

[2016-02-10 03:32] motlin commented on #48
Full signature:

[code]

[2016-02-10 03:33] motlin commented on #46
Full signature:

[code]

[2016-02-10 16:56] elius1 opened #49 "Eclipse issues with MANIFEST.MF"
Eclipse is able to pick up the eclipse-collections-api jar as a plug-in. However, the eclipse-collections jar is not recognized as such.

Also, for both jars, the exported packages list only contains the top level package. This causes Eclipse to recognize the classes in all subpackages as non-api, resulting in warnings when used.

Could this be an issue with the way that the MANIFEST.MF files in t

[2016-02-10 19:11] motlin commented on #49
The MANIFEST.MF is created by the maven-bundle-plugin. Here are the relevant portions of the pom files.

https://github.com/eclipse/eclipse-collections/blob/master/eclipse-collections-api/pom.xml#L76
https://github.com/eclipse/eclipse-collections/blob/master/eclipse-collections/pom.xml#L82

Is the fix as simple as replacing the import...
[code]
...with a star import?
[code]

[2016-02-21 10:17] marschall opened #56 "Better handle hash collisions"
With large hash collisions hashed eclipse-collections seem to perform a lot worse than the stock Oracle JDK hashed collections. Initial superficial analysis seems to suggest that with large hash collisions eclipse-collections also scale a lot worse than the stock Oracle JDK collections.
Generally large hash collisions are a symptom of bad `#hashCode` implementations is user code. However sometimes

[2016-02-21 19:47] motlin commented on #56
`UnifiedSet`, `UnifiedMap`, and their `*WithHashingStrategy` variants are not resistant to deliberately constructed hash collisions. Neither was `HashMap` until recently. Should we update these classes to be resistant to attack? I'm not aware of any other implementations that made this change. People generally choose to use `UnifiedSet` and `UnifiedMap` because of their speed, low memory usage, an

[2016-03-22 10:30] stfnsche commented on #49
In https://github.com/eclipse/eclipse-collections/blob/master/eclipse-collections-api/pom.xml you need not specify any Export-Package (default behaviour is to export all packages except those containing internal or impl).
In https://github.com/eclipse/eclipse-collections/blob/master/eclipse-collections/pom.xml you need to specify everything you want exported (as the packages contain impl in their

[2016-04-01 13:19] #23 closed

[2016-04-13 00:56] #45 closed

[2016-04-13 08:19] #27 closed

[2016-04-13 17:27] motlin opened #88 "Implement RichIterable.getOnly()."
The implementation should be similar to `IterableIterate.getOnly()` but be available on the interface `RichIterable.` If the iterable has exactly one item, return it. Otherwise, throw `IllegalArgumentException` with a short explanation.

[2016-04-13 19:33] #43 closed

[2016-04-18 15:33] itohro commented on #88
@opengl-8080 showed an interest to contribute to this issue, so I'd reserve this issue for him.

@opengl-8080, feel free to post questions in Japanese. I can translate here.

[2016-04-18 15:34] itohro commented on #22
@g-votte is working on this issue.

[2016-04-21 20:05] bhav0904 commented on #26
I am working on this.

[2016-04-24 05:01] opengl-8080 commented on #88
Thank you for providing opportunity of contribution.

I have a question about work of this issue.

My understanding is following.

- Add `getOnly()` method into `RichIterable` interface.
- Implement `getOnly()` method at some sub classes(`UnmodifiableRichIterable`, `SynchronizedRichIterable`, `AbstractRichIterable`, and more...).
    - I can't implement `getOnly()` method as default method in `Ric

[2016-04-24 05:13] donraab commented on #88
Yes, you are correct.  We need to upgrade the language level of all of the modules to 1.8.  I had a similar problem this evening when I tried implementing summarizingInt/Long/Float/Double on RichIterable using default methods.

[2016-04-24 06:11] itohro commented on #88
Yes, we'll upgrade language level to 1.8 shortly.

Afterwards you could use default method in RichIterable.

@opengl-8080, your basic understanding is correct. Along the way you'd most likely need to modify more files (e.g. stg files for primitive collections, other test files for test variants etc.), but you'll find those out while you build your project and run tests.

[2016-04-24 07:02] opengl-8080 commented on #88
@donraab, @itohro
Thank you for your reply!

@itohro

Does it means following?

For Example, I add `getOnly()` method into `RichIterable`. Then `ImmutableByteObjectEmptyMap` become compile error.
Therefore I need modify 2 files (`immutablePrimitiveObjectEmptyMap.stg`, `immutablePrimitiveObjectEmptyMapTest.stg`).

[2016-04-24 07:04] itohro commented on #88
Yes, that's right.

[2016-04-24 13:32] motlin commented on #88
@opengl-8080 I'm very much looking forward to using default methods, but it's still good to start out without using them and adding them later. That way we have compiler errors to follow. They remind me to override methods in the synchronized wrappers, for example. If I only implement a default method in RichIterable, everything compiles but the synchronized wrappers are no longer thread safe.

Fo

[2016-04-24 16:18] nikhilnanivadekar commented on #20
I am working on this.

[2016-04-24 16:53] motlin commented on #20
FYI I think that dropWhile can be implemented without delegating to an iterator. I can't think of how to do the same for takeWhile.

[2016-04-25 13:46] opengl-8080 commented on #88
I see.
Just yesterday, I could notice synchronized class (`AbstractSynchronizedRichIterable`) by compile error.

[2016-04-28 13:09] #25 closed

[2016-04-28 23:28] #20 closed

[2016-04-30 14:27] opengl-8080 commented on #88
When iterable doesn't have only one item. Should `getOnly()` method throw `IllegalArgumentException`?

I think it should throw `IllegalStateException`.
Because, occurring error is caused by iterable's state (it doesn't have only one item).

[2016-05-01 12:15] itohro commented on #88
Agree, throwing `IllegalStateException` sounds to make sense here. I think you could refactor existing `IterableIterate.getOnly()` to do so, too.

@motlin what do you think?

[2016-05-01 12:25] motlin commented on #88
In `IterableIterate`, the iterable is passed in as an argument, so `IllegalArgumentException` or `IllegalStateException` can both makes sense. I don't have a strong opinion on whether we should change the existing behavior. In `RichIterable` I agree that `IllegalStateException` makes sense.

[2016-05-01 12:29] itohro commented on #88
Ah I see, that's true. We can keep `IterableIterate` throw `IllegalArgumentException` then.

Let's make `RichIterable` throw `IllegalStateException`.

[2016-05-01 13:55] opengl-8080 commented on #88
`AbstractCollectionAdapter` is implemented by following.

[code]

If to implement `getOnly()` method using `Iterate.getOnly()`, `AbstractCollectionAdapter.getOnly()` throws `IllegalArgumentException` (`Iterate.getOnly()` uses `IterableIterate.getOnly()`).

Must I implement `getOnly()` method of `AbstractCollectionAdapter` without `Iterate.getOnly()`?

For example...

**AbstractcollectionAdapter.ja

[2016-05-02 00:34] itohro commented on #88
Thanks @opengl-8080 , your suggestion makes sense to me.

[2016-05-06 16:12] motlin commented on #88
I think that the delegate cannot be null and doesn't need to be checked against null. Besides that, yes, looks good.

[2016-05-07 02:02] opengl-8080 commented on #88
I see.
So I remove null check, and I get `Iterator` from delegate directly.
Thanks!

[2016-05-20 11:38] motlin commented on #56
Closing this ticket for now. Happy to reopen if we discuss next steps to proceed.

[2016-05-20 11:38] #56 closed

[2016-06-08 11:59] jackhammer2k opened #116 "improve speed of chunk() of List implementations"
We've noticed that the chunk() implementation of FastList (actually AbstractMutableCollection) iterates over the whole list and creates a new list containing chunked lists. We're using Guavas Lists.partition() method (which uses sublists instead) on top of FastList to get performance speed up.
Classes implementing List like FastList should implement chunk() by using sublists.

Here our benchmark:

[2016-06-09 01:54] itohro commented on #116
Thanks for raising the issue, and also creating JMH benchmark!

Would you be interested in contributing to this issue? We're happy to accept contribution. Don't worry if you cannot take it up. Please just let us know.

[2016-06-09 12:53] jackhammer2k commented on #116
I implemented it, but your procedure to create a pull request is too much overhead for me for a single commit.

Hope its OK if I post the code snippet here and you integrate it. Its benchmarked and passes all tests.

AbstractImmutableList:
[code]
AbstractMutableList
[code]
AbstractRichIterableTestCase
[code]

Maybe its not the most elegant code, but it does it.

[2016-06-09 13:16] jackhammer2k commented on #116
Sorry, hit the wrong button. :-$

[2016-06-09 13:16] jackhammer2k commented on #116
I' currently implementing it, but your procedure to create a pull request is too much overhead for me for a single commit.

Hope its OK if I post the code snippet here then and you integrate it.

[2016-06-10 00:59] itohro commented on #116
Due to a legal IP concern, we cannot simply incorporate your code unless 1) Eclipse Foundation CLA being signed by you and 2) git commit being signed by your email of Eclipse Foundation account as written in [CONTRIBUTING.md](https://github.com/eclipse/eclipse-collections/blob/master/CONTRIBUTING.md).

Above 2 points are hard requirement, but we could help reducing the overhead of remaining contri

[2016-06-10 14:54] #24 closed

[2016-06-13 07:31] jackhammer2k commented on #116
created pull request #118

[2016-06-14 17:07] magicgoose opened #119 "Immutable primitive collections"
The official website says

However I could not find any example of immutable primitive collections. Where are they?

[2016-06-14 17:20] magicgoose commented on #119
oops, I was just too lazy to look carefully. they are there, just not searchable at github's file search and not visible in examples on the website.

[2016-06-14 17:20] #119 closed

[2016-06-30 02:59] #88 closed

[2016-07-01 01:36] itohro opened #122 "Implement minOptional, maxOptional, minByOptional and maxByOptional on RichIterable."
Implement min/max methods that returns Optional on RichIterable. The method signatures would look like below.

`Optional<T> minOptional(Comparator<? super T> comparator)`
`Optional<T> maxOptional(Comparator<? super T> comparator)`
`Optional<T> minOptional()`
`Optional<T> maxOptional()`
`<V extends Comparable<? super V>> Optional<T> minByOptional(Function<? super T, ? extends V> function)`
`<V exte

[2016-07-01 02:01] itohro opened #123 "Implement OrderedIterable.getFirstOptional() and OrderedIterable.getLastOptional() ."
Implement getFirst and getLast methods that returns Optional on OrderedIterable. The method signatures would look like below.

`Optional<T> getFirstOptional()`
`Optional<T> getLastOptional()`

[2016-07-01 02:04] itohro opened #124 "Implement RichIterable.getOnlyOptional()."
Implement getOnly method that returns Optional on RichIterable. The method signature would look like below.

`Optional<T> getOnlyOptional()`

[2016-07-01 02:43] itohro opened #125 "Change primitive functional interfaces to extend the corresponding JDK functional interfaces."
The changes would look similar to [this commit](https://github.com/eclipse/eclipse-collections/pull/112/commits/383c9896623b2a6a1b4a0d6d05317efbc5baef78).

The scope of this issue would be below:
`primitiveFunction.stg` (extends JDK primitive ToXxxFunction)
`primitiveFunction0.stg` (extends JDK primitive XxxSupplier)
`primitiveProcedure.stg` (extends JDK primitive XxxConsumer)

[2016-07-01 03:05] itohro opened #126 "Change primitive-primitive/object-primitive functional interfaces to extend the corresponding JDK functional interfades."
The changes would look similar to [this commit](https://github.com/eclipse/eclipse-collections/pull/112/commits/383c9896623b2a6a1b4a0d6d05317efbc5baef78).

The scope of this issue would be below:
`primitiveToPrimitiveFunction.stg` (extends JDK primitive to primitive Function such as IntToLongFunction etc.)
`objectPrimitiveProcedure.stg` (extends JDK object-primitive Consumer such as ObjIntConsumer

[2016-07-05 07:35] #116 closed

[2016-07-29 19:48] vijaydaniel-flipkart opened #132 "Cache hashcode for immutable primitive collections"
For immutable primitive collections, it makes sense to cache the hash code once it is calculated. Currently, it is recalculated everytime.

A similar strategy to the one in java.lang.String#hashCode can be used.

[2016-08-01 01:07] itohro commented on #132
Thanks for the interesting proposal! Your suggestion makes sense to me.

Would you be interested in contributing to this issue? We are happy to accept contributions. Please let us know.

[2016-08-01 01:15] motlin commented on #132
It's not always advantageous to cache the hash code. Consider an immutable singleton set containing a String. Caching the hash code would increase memory usage and not have a material impact on speed since the String already caches the hash code. And the speed of a collection's hash code calculation only matters if it's stored in another hash table. How common is that?

An alternative would be to

[2016-08-01 02:03] itohro commented on #132
@motlin , my understanding is that this proposal is only for immutable "primitive" collections, so strictly speaking, your counter argument might not be relevant.

Though you made the valid point that adding cache increase memory consumption, especially for fixed size collections. Also it might not be too common to care about the hash speed for collections.

The suggestion to add wrappers helps us

[2016-08-03 06:33] vijaydaniel-flipkart commented on #132
Adding a wrapper gives clients the flexibility to choose to have the overhead of maintaining a cached hash code (however, minimal). I agree.

@itohro I'll pick this up and raise a pull request in the coming week.

@motlin The actual use case was to use a byte array as a key, and avoid the retrofitting of ByteBuffer. But you're right. It is not really a common use case.

[2016-08-04 18:26] keeper3000 opened #133 "EMPTY_VALUE should be settable for Map"
When using classes such as ObjectDoubleHashMap we should be able to set the EMPTY_VALUE upon construction.  In our situation, Zero is a perfectly valid double value and does not properly differentiate between a valid or invalid key without explictly checking containsKey.  Which is expensive!

We would like to be able to set this to NaN which was supported by Trove collections.

[2016-08-04 18:30] keeper3000 commented on #133
It looks like this would be exceptionally simple to impliment... This is a make or break for us.

Thank you!

[2016-08-05 13:44] gs-rezaem commented on #133
You're expected to use the getIfAbsent method in your case. E.g. getIfAbsent(someKey, Double.NaN). We'd prefer no to add 8 bytes to every map when a lighter solution exists.

[2016-08-05 13:59] gs-rezaem commented on #133
Also, if you are so performance sensitive that contains() is too much of an overhead, you might be interested in several other methods in the API that make working with *DoubleMap's faster and more productive. Some of my favorites:

`public double addToValue(K key, double toBeAdded)`
`public double updateValue(K key, double initialValueIfAbsent, DoubleToDoubleFunction function)`
`public <P> double

[2016-08-05 14:16] keeper3000 commented on #133
Oh thats perfect!! I overlooked it because I saw it was "Static" and was more familiar with Trove that supplied it as part of construction.  Thank you!

[2016-08-05 14:21] #133 closed

[2016-08-15 15:46] motlin opened #134 "Implement RichIterable.reduceBy()."
The existing method `RichIterable.aggregateBy(Function, Function0, Function2)` is conceptually a `groupBy()` followed by `injectInto()` on each group of values. This method would be a `groupBy` followed by `reduce()` on each group of values. Multiple variants are possible, but the first signature ought to be:

[code]

[2016-08-19 08:12] #22 closed

[2016-08-24 01:45] #125 closed

[2016-08-24 01:45] #126 closed

[2016-09-04 00:53] donraab opened #139 "Optimize addAllIterable in AbstractMutableBagIterable."
The implementation should check if the Iterable to add is a Bag, and then iterate with forEachWithOccurrences and use addOccurrences.

[2016-09-04 01:06] donraab opened #140 "Implement flatCollect in primitiveIterable.stg."
The signature should be similar to collect, but return an Iterable.

\<V> RichIterable\<V> flatCollect(<name>ToObjectFunction\<? extends Iterable<V>> function);

[2016-09-04 20:00] donraab opened #141 "Fix addAll() method in CompositeFastList to return false on isEmpty() case."
The method currently returns true if the incoming collection isEmpty() when it should return false, as the contract for addAll says true should only be returned if the target collection has been changed.

[2016-09-12 14:03] #141 closed

[2016-09-16 09:24] phraktle opened #147 "java 8 convergence: provide efficient implementation of Java 8 default methods"
JDK8 default methods on Collections such as `forEach`, `putIfAbsent` etc. should be mapped to their equivalent but more efficient implementations.

[2016-09-26 10:37] donraab opened #150 "Remove JMH Tests from JavaDoc output."
JMH Tests and their generated output are currently being included in the JavaDoc and should be excluded.

[2016-09-26 21:53] #139 closed

[2016-09-28 00:46] itohro opened #151 "Implement ReversibleIterable.reverseForEachWithIndex()."
It's the variant of reverseForEach() with index.

[2016-09-29 08:23] wahlbrink opened #152 "Sign Releases"
Please sign your release jar files.

See: https://wiki.eclipse.org/JAR_Signing

[2016-09-29 09:17] itohro commented on #152
Thanks for pointing this out!

We've been doing the GPG signing which is a prerequisite for the Maven Central upload, but it seems we missed this jarsign requirement..

As we cannot sign the jars that were already released, we would probably do new service release for each version 7.0.3, 7.1.1 and 8.0.1 with signed jars.

Would that work?

[2016-09-29 09:35] wahlbrink commented on #152
Yes.
But don't forget to fix also #49 , otherwise it is useless for Eclipse/Osgi projects.

[2016-09-29 10:46] itohro commented on #152
Thanks.

We've been seeking for someone who could help contributing to #49 . Would you happen to be interested in contributing to it, or know someone who might be interested?

No worries if not, just asking.

[2016-10-05 00:40] kuporific opened #154 "The immutablePrimitiveList.stg could benefit from a collect overload"
The use case I am missing is being able to `collect` from an `ImmutableDoubleList` to the same type. Unfortunately, the API is currently limited to `collect`-ing to an `ImmutableList<V>`.

For example, what I would like to do is:

[code]

But the type of `modified` is forced to:

[code]

One workaround is to add a call to `.collectDouble(d -> d)`, like so:

[code]

However, I think this could be m

[2016-10-05 02:00] donraab commented on #154
You can accomplish this today with the following call to asLazy():

[code]
There is a pull request to begin adding the collectPrimitive methods directly to the primitive containers that we need to revisit here: https://github.com/eclipse/eclipse-collections/pull/95

[2016-10-05 17:08] #150 closed

[2016-10-25 14:29] willkil opened #164 "Code generation fails with NPE on Windows & OSX"
On OSX, I tried building at tags 7.1.0-javadoc-fix, 7.1.0, and on commit 8.0.0-26-gb40e3bb on master. On Windows I only tried commit 8.0.0-26-gb40e3bb.

Regardless I always get a variation of the output below, with the build failing on the "Eclipse Collections Main Library" step.

Searching for "antlr st4 internal error: java.lang.NullPointerException" yields [a similar issue] (https://github.com/

[2016-10-26 16:02] itohro commented on #164
Thanks for reporting this. Could you please let us know what version of JDK/Maven are you building with? I build in Mac OSX (El Capitan) and cannot reproduce this.

As for the referenced issue, I see the NullPointerException is thrown in different place in the stack trace, so I suspect it is a different problem.

One another thing, could you please confirm if you made any changes to `eclipse-colle

[2016-10-26 20:01] willkil commented on #164
Hi.

No, I had not modified anything because I was simply trying to create the source jars at the time.

Here's my OSX `mvn --version` output:
[code]

On Windows:
[code]

You could be correct that this issue is unrelated to file system case sensitivity, but you should double check that your FS is indeed case insensitive before ruling out this out. In particular, a networked FS may be case sensitiv

[2016-10-26 21:32] willkil commented on #164
Well this is interesting. The build succeeds in a ram disk on the same OSX machine, using the exact same JDK and maven, regardless of whether the ram disk is configured case sensitive or case insensitive. But the build still has the same failure when run on the main file system, even when I've freshly cloned the git repo. I also tried `mvn clean` and `rm -rf ~/.m2`, but each build behaves consiste

[2016-10-27 13:51] #164 closed

[2016-10-27 13:54] willkil commented on #164
I've confirmed this is caused by something on my local system. The build is fine outside some directories, but always fails in the same way in certain subdirectories.

[2016-11-19 03:12] #49 closed

[2016-11-19 21:07] nathanmerrill opened #169 "Implement a Tally function"
It would be great if there was a Tally function (on RichIterable).

In essense, Tally() would turn your RichIterable<T> into a ObjectIntMap<T>, where the integer is the number of times each T appears in the iterable.

In addition, a TallyBy() that would allow you to tally by the results of a function.

[2016-11-19 21:17] nikhilnanivadekar commented on #169
A [Bag](https://github.com/eclipse/eclipse-collections/blob/b40e3bbb0add5f1dfde257d06546be3c9c6ca4fd/docs/guide.md#-bag) will solve this use case. A Bag keeps track of the number of occurrences of each element.

`RichIterable` has a `toBag()` method available on it.

If you need to create a Bag using results of a function you can do this:
`RichIterable.collect(Function, Bags.mutable.empty());`

Re

[2016-11-19 21:21] nathanmerrill commented on #169
Ah, thank you!  I was surprised that such a function didn't exist.

[2016-11-19 21:22] #169 closed

[2016-11-30 18:41] nathanmerrill opened #171 "No way to collect into an ImmutableMultimap"
As it stands, I only see two ways to construct an ImmutableMultimap:

1. `Multimaps.immutable.of`, which allows you to insert at maximum 3 items.

2. `MutableMultimap.toImmutable()`, which means you have to iterate through a collection, add it to a temporary mutable, then call `toImmutable()` on it.

While option 2 works, I'd love it if there was someway to create a multimap from existing immutabl

[2016-11-30 21:14] motlin commented on #171
Several methods do this. A good example is ImmutableList.groupBy which
returns ImmutableListMultimap.
On Wed, Nov 30, 2016 at 1:41 PM Nathan Merrill <notifications@github.com>
wrote:

[2016-11-30 21:43] #171 closed

[2016-12-05 05:25] almibe opened #172 "eclipse-collections and related projects don't export all packages in their manifest.mf"
Currently eclipse-collections, eclipse-collections-api, etc only export their base package and not all of them like it should to work in an OSGi environment.

I believe this is a problem on all recent versions.

Edited out potential solution that wouldn't work.

[2016-12-05 15:29] nikhilnanivadekar commented on #172
Referring to Issue #49 (fixed with PR #168) it doesn't look like eclipse-collections-api needs any changes. The required changes for eclipse-collections module have been merged.
If you think anything else needs an update, please let us know.

[2016-12-06 00:23] almibe commented on #172
I just checked out master and built it and it looks like only eclipse-collections is exporting the correct packages.  The api jar is still only exporting it's base package
[code]
It just needs the same wildcard added to it's build file and it'll work
[code]
[code]

[2016-12-06 16:34] nikhilnanivadekar commented on #172
@almibe Thanks for the analysis, would you like to raise a PR with this fix?
Our contribution guide can be found here: [How to Contribute](https://github.com/eclipse/eclipse-collections/blob/master/CONTRIBUTING.md)
If you cannot it is ok.

[2016-12-24 22:30] #172 closed

[2017-01-05 03:28] nikhilnanivadekar commented on #152
@itohro I have fixed #49 and #168. Can you please pick up this issue when you get a chance?

[2017-01-05 03:31] itohro commented on #152
Thanks @nikhilnanivadekar, yes i'll look into this.

[2017-01-05 11:10] sdruskat opened #179 "Creating an Eclipse Plugin/Feature for Eclipse Collections and consuming it fails"
I have tried to compile a P2 Repository for Eclipse Collections for my personal use today, using the [p2-maven-plugin](https://github.com/reficio/p2-maven-plugin), with the following POM.

[code]

The site builds fine, but when I try to consume the feature, I get the following error (in the Target Platform editor).

[code]

This makes it impossible to use EC via P2. I've tried with older versions

[2017-01-05 11:12] sdruskat commented on #179
Ah, seems like this has already been addressed in #176... I'll try to build locally and try again.

[2017-01-05 11:32] sdruskat commented on #179
Works fine with **8.1.0-SNAPSHOT** as got from the [Sontaype Snapshots Maven repository](https://oss.sonatype.org/content/repositories/snapshots/).

[code]

[2017-01-05 11:32] #179 closed

[2017-01-05 14:38] itohro commented on #179
Thank you very much for testing this! Much appreciated.

[2017-01-09 13:59] itohro commented on #152
[Update]
I'm experimenting sign jar build using [a branch](https://github.com/eclipse/eclipse-collections/commit/2585c08dd1ca4a9830f4e85549d646dec1a6b11c), but [it failed with some permission issue](https://hudson.eclipse.org/collections/job/deploy/26/consoleFull).

I've raised a [bugzilla](https://bugs.eclipse.org/bugs/show_bug.cgi?id=510109) for it.

[2017-01-22 16:32] nikhilnanivadekar commented on #140
Similar to #186 this should also take in a target collection instead of adding covariant overrides.
Thoughts?

[2017-01-22 19:58] donraab commented on #140
I think flatCollect should be consistent with collect.  This is the object version only.  This is the signature for collect on IntIterable.

<V> RichIterable<V> collect(IntToObjectFunction<? extends V> function);

[2017-02-04 10:00] jankotek opened #193 "Make constructors on Unmodifiable and Synchronized collections public"
I have my own implementations of `LongLongMap` and `LongObjectMap` collections. Constructors on `UnmodifiableLongLongMap` and `SynchronizedLongLongMap` are package protected. My implementations can not instantiate those wrappers.

Is it possible to make constructor on `Unmodifiable*` amd `Synchronized*` classes public?

[2017-02-04 19:39] donraab commented on #154
There are now methods directly available on each primitive iterable for collecting into a target primitive collection.  Methods are available for converting between all primitive types.  The availability of these methods should lessen the need to have overloaded methods which were originally planned to be added in a major release.  The above example can now also be written as follows:

[code]

[2017-02-04 21:01] donraab commented on #193
I am fine with this in principle.  I looked at what is currently done in the Unmodifiable and Synchronized Object collections, and there is a pattern of having a public static `of` method which constructs an instance.  Sometimes a constructor is inconsistently public (e.g. SynchronizedBag, SynchronizedXyzMultimap).  I'm not convinced that the benefit of having a static `of` method is worth the ext

[2017-02-06 08:13] jankotek commented on #193
ok, I will write a patch

[2017-02-06 08:20] jankotek opened #196 "Implement synchronized wrappers that use ReadWriteLock."
I had issue [opened in my project](https://github.com/jankotek/mapdb/pull/763).

Current synchronized collections could be improved by using `ReadWriteLock` instead of `synchronized` keyword. This would improve concurrency; multiple parallel readers with single exclusive writer.

I would be happy to provide a patch. Only change is to replace `synchronized` with:

[code]

There might be performance

[2017-02-06 15:29] motlin commented on #196
We have these synchronized wrappers, and we have MultiReader* collections like `MultiReaderFastList`. We don't have any wrappers that use ReadWriteLock AFAIK, but I think it's a good idea to add them. Note that it would have to be an addition, not a change to the synchronized wrappers, because it's a compatibility breaking change in behavior. Specifically, synchronizing on the wrapper itself would

[2017-02-06 17:02] jankotek commented on #196
Ok, I will send pull request

[2017-02-06 17:46] donraab commented on #196
It looks based on the link above that you would like this on primitive collections, correct?

If you look at the MultiReader collections like MultiReaderFastList, you'll see we made the design decision to throw UnsupportedOperationException in iterator().  There are two methods that allow imperative code to be written safely with a read lock or write lock taken on the collection.  They are:

[code

[2017-02-06 17:53] jankotek commented on #196
ok, will have a look at that.

I understand problem with iterators.

[2017-02-06 18:37] jankotek opened #199 "Idea project files in git repo?"
I noticed git repo contains `.idea` folder and it is not excluded in `.gitignore`.

First commit included dozen of `*.iml` files from subprojects. It was a bit annoying to filter them out.

1) is there some good purpose to include project files in git repo? In general it is considered a bad practice, Idea usually imports maven projects just fine.

2) could we update `.gitignore` to exclude subproj

[2017-02-06 18:39] jankotek commented on #193
pull request is out, but it fails on IP stuff. I have old mail from Craig, will look howto sign the paperwork

[2017-02-06 19:24] donraab commented on #193
Info on the Eclipse Contributor Agreement is linked in [here](https://github.com/eclipse/eclipse-collections/blob/master/CONTRIBUTING.md).

[2017-02-10 15:55] jankotek commented on #193
Old PR did not had Signed-off tag. I created new one with checks for null arguments.

[2017-02-10 17:13] #193 closed

[2017-02-20 23:48] donraab opened #208 "Implement spliterator, stream, parallelStream and castToCollection on ImmutableCollection"
These methods should be added as default methods on ImmutableCollection, and then overridden as necessary on interfaces like ImmutableList and implemented in abstract classes and subclasses as necessary.

This feature can only be done in a major version release, since adding the default methods to ImmutableCollection for spliterator, stream and parallelStream would be ambiguous for implementations

[2017-02-20 23:51] #154 closed

[2017-02-21 06:26] jankotek commented on #196
Please reopen this issue, I am working on a pull request.

[2017-02-21 14:22] motlin commented on #196
Renamed the title to more accurately reflect the work, and reopening.

[2017-02-28 04:19] #152 closed

[2017-03-09 17:06] Ziemien opened #213 "OrderedIterable::max/min/first to return Optional instead of throwing exception"
Would be possible for:
OrderedIterable::max, min, getFirst, getLast etc. to return Optional<T> instead of throwing runtime exception? That would provide more concise programming experience.

[2017-03-09 17:08] motlin commented on #213
We wouldn't break the backwards compatibility of min(), max(), getFirst(), getLast(), but we'd add alternatives that return Optional. The idea is covered (partially) by #122.

[2017-03-09 17:11] Ziemien commented on #213
perfect.

[2017-03-12 09:43] mokah opened #214 "Introduce Iterate.zipWith(Iterable<T>, Iterable<TT>, Function<T, TT>)"
I propose introducing a new zipWith (or similarly named) method in the class Iterate that would accept two iterables of type T and TT, respectively, and a function whose input is the current element of both iterables and output can be of a third type, TTT.

This would allow you to zip two iterables with the added benefit of the option of running some computation on each iteration and outputting to

[2017-03-14 03:33] nikhilnanivadekar opened #216 "Optimize org.eclipse.collections.impl.set.sorted.immutable.ImmutableTreeSet#newSet to not create a new TreeSortedSet"
The below constructor creates a new SortedSet which is unnecessary as the delegating constructor calls a makes a toArray() call.

[code]
[code]

[2017-03-14 03:46] nikhilnanivadekar opened #217 "Optimize org.eclipse.collections.impl.list.immutable.ImmutableListFactoryImpl#withAll to not create redundant array copy."
The call `this.of((T[]) Iterate.toArray(items))` eventually creates an extra array copy before calling the constructor org.eclipse.collections.impl.list.immutable.ImmutableArrayList#newListWith.
Similar observation for org.eclipse.collections.impl.list.immutable.ImmutableListFactoryImpl#withList.

[2017-03-14 03:48] nikhilnanivadekar opened #218 "Optimize constructors of ImmutableTreeSet which take an array as input."
These two constructors can be optimized:
1) org.eclipse.collections.impl.set.sorted.immutable.ImmutableTreeSet#newSetWith(T...)
2) org.eclipse.collections.impl.set.sorted.immutable.ImmutableTreeSet#newSetWith(java.util.Comparator<? super T>, T...)

In order to create the ImmutableTreeSet, it is not necessary to create a new TreeSortedSet. The input array can be cloned, sorted, compared and assigne

[2017-03-16 12:06] motlin commented on #216
I'm not sure these are redundant/unnecessary. If sortedSet.toArray() always returns a sorted array with no nulls in it *even if it's being mutated concurrently in another thread* then the copy is unnecessary. Maybe a better implementation would be to just call toArray() and then double check the invariants of the array since that would be O(n).

[2017-03-18 14:45] jankotek commented on #196
@motlin @donraab
I implemented MultiReaderPrimitiveList. I want with wrapper, rather than separate implementation, because it has way less code duplication. Separate implementation would not offer any bonuses over wrapper, `foreach` works similar way on both.

I have a patch ready:
https://github.com/jankotek/eclipse-collections/commit/5e324423ad27414d832e205b84bf4b3600ea8e21

It passes unit tests

[2017-03-22 22:56] nikhilnanivadekar commented on #196
@jankotek Apologies, I could not get to this earlier. I have pushed a fix to my fork.
[nikhilnanivadekar@486c658](https://github.com/nikhilnanivadekar/eclipse-collections/commit/486c6582ec054fbb584a779286b68d505dca9c3b).

The issue was _not_ with you template files. We do not have `[literal](https://github.com/eclipse/eclipse-collections/blob/0db19cf63e53dafeb59ac46b582fa0a266c600c5/eclipse-collec

[2017-03-23 23:46] kthoms opened #223 "Provide p2 repository for Eclipse Collections"
In order to be usable for Eclipse Plug-in development the Eclipse Collections framework has to provide a p2 repository. This repository should be deployed to a public consumable location.

[2017-03-25 17:34] kthoms opened #226 "Remove OSGi bundles for eclipse-collections-api, eclipse-collections-bundle."
The bundle id's are a bit strange. This will be because of default behavior of the bundle plugin. Current identifiers (`Bundle-SymbolicName`) are:
- org.eclipse.collections.eclipse-collections
- org.eclipse.collections.eclipse-collections-api
- org.eclipse.collections.eclipse-collections-testutils
- org.eclipse.collections.eclipse-collections-forkjoin

I would expect rather:
- org.eclipse.collecti

[2017-03-25 21:07] nikhilnanivadekar commented on #226
@kthoms as discussed before, we will not be able to change the names since it is a compatibility breaking change. We can pick it up once 9.0.0 opens. Looking forward to your contribution. :)

[2017-03-25 21:30] kthoms commented on #223
The issue could be solved either with a Maven Tycho based build or using [EBR](https://github.com/eclipse/ebr). PR #225 and #219 provide a proposal for both ways.

While first one is a rather frequently used approach to build plugins, features and p2 repositories, it disallows to include the build in the overall build process. This means a second build job has to be executed to do the Tycho based

[2017-03-25 23:43] nikhilnanivadekar opened #229 "Remove duplicate and unnecessary imports."
Refer to Sonar analysis: https://sonarqube.com/component_issues?id=org.eclipse.collections%3Aeclipse-collections-parent#rules=squid%3AUselessImportCheck

[2017-03-25 23:47] nikhilnanivadekar opened #230 "Replace the type specification with the diamond operator ("<>") in stg files"
Refer Sonar analysis: https://sonarqube.com/component_issues?id=org.eclipse.collections%3Aeclipse-collections-parent#rules=squid%3AS2293

[2017-03-25 23:52] nikhilnanivadekar opened #231 "Annotate interfaces with the @FunctionalInterface annotation"
https://sonarqube.com/component_issues?id=org.eclipse.collections%3Aeclipse-collections-parent#componentUuids=AVr8ijOuT5oQhszf5HG7|resolved=false|rules=squid%3AS1609

[2017-03-26 00:03] nikhilnanivadekar opened #232 "Deprecate EMPTY_INSTANCE in ImmutableBiMapFactoryImpl."

[2017-03-26 00:04] nikhilnanivadekar opened #233 "Reduce scope of EMPTY_INSTANCE in ImmutableBiMapFactoryImpl."
#232 is first step of this issue.

[2017-03-26 19:48] nikhilnanivadekar opened #235 "Investigate and add support for Java 9"

[2017-03-26 19:49] nikhilnanivadekar commented on #235
Step 1 and some discussion covered on #234

[2017-03-26 21:49] PascalSchumacher commented on #124
Is this already assigned or can I try to implement this?

By the way: Thanks for providing eclipse-collections. :+1:

[2017-03-26 23:01] nikhilnanivadekar commented on #124
This is not assigned to anyone.
Thanks @PascalSchumacher for volunteering to contribute.

[2017-03-27 17:12] #229 closed

[2017-03-27 17:12] #230 closed

[2017-03-27 17:12] #231 closed

[2017-03-27 17:12] #232 closed

[2017-03-27 18:57] Godin commented on #235
Citing http://openjdk.java.net/jeps/261 :

As identified in https://github.com/eclipse/eclipse-collections/pull/234#issuecomment-289260035 affected classes are:
* `org.eclipse.collections.impl.utility.ArrayListIterate` because uses reflection to break into private fields of `java.util.ArrayList`
* `org.eclipse.collections.impl.collector.SerializableDoubleSummaryStatistics` because uses reflection

[2017-03-27 21:40] nikhilnanivadekar commented on #223
@kthoms Thanks for the explanation!
Pinging @guw to check-in how far he has come with #219 .

In my opinion going with the recipe and having a single build makes sense. But will this additional build mandate using Eclipse during the build? We would like to keep the builds IDE agnostic.

[2017-03-28 02:04] guw commented on #223
No, it should not require Eclipse. It will be IDE agnostic. I still haven't had time to finish the EBR stuff. It's been a pretty busy week and doesn't look to get better before April

[2017-03-28 03:33] nikhilnanivadekar commented on #223
@guw appreciate the feedback. I think we are fine to wait, if the EBR setup will work.
@kthoms , @guw here is a tentative road map of Eclipse Collections releases:
I am planning to call a code complete for 8.2.0 next week so that I can release it in time for The Great Indian Developer Summit.
We can pick up work for p2 repo in 8.3.0 and release it by end of May in time for the release train to pic

[2017-03-28 17:13] motlin commented on #214
I edited the title slightly. I think this is a good idea. To be consistent with other similar iteration patterns, we'd probably also pass in a target parameter of type R extends MutableCollection<T3>.

[2017-03-29 02:48] nikhilnanivadekar opened #241 "Deprecate EMPTY Multimap instances in org.eclipse.collections.impl.factory.Multimaps."

[2017-03-29 02:49] nikhilnanivadekar opened #242 "Reduce scope of EMPTY Multimap instances in org.eclipse.collections.impl.factory.Multimaps."

[2017-03-29 15:07] #241 closed

[2017-03-29 17:21] nikhilnanivadekar commented on #48
@motlin I propose to only add the variant which takes in a target parameter. This avoids code duplication due to covariant overrides and we can add it as a default method on RichIterable which will make it possible to include as a part of minor version release.
Thoughts?

[2017-03-30 14:23] nikhilnanivadekar commented on #213
This is covered by #122 and #123 . You can follow those issues.
Closing this as redundant.

[2017-03-30 14:23] #213 closed

[2017-03-30 18:26] PascalSchumacher commented on #199
The same goes for eclipse project files.

[2017-03-30 18:51] motlin commented on #199
I want to keep the .idea/ folder checked in because it includes things like .idea/codeStyleSettings.xml which allow people to `Ctrl+Alt+L` reformat their code and pass the CheckStyle build with little to no effort. On the other hand, the *.iml files and the file .idea/misc.xml seem to have a lot of churn. I know that the *.iml files will be required if we set up builds in the [public TeamCity farm

[2017-03-30 19:39] jankotek commented on #199
I can live with `.idea` folder, but `*.iml` files are very annoying. Just opening EC in Idea creates 40 modifications to commit. I spend 70% of time dealing with those files:

![image](https://cloud.githubusercontent.com/assets/359021/24522772/4c688b32-1599-11e7-99dc-48ac1f2852e6.png)

Maven has task to generate Idea project files. Their creation could be automated on TeamCity.

Gitignore allows t

[2017-03-30 20:36] nikhilnanivadekar commented on #199
@PascalSchumacher would you like to contribute, to ignore the eclipse project files?
Thanks!

[2017-03-30 22:17] motlin commented on #199
The same point goes for Eclipse. The files that share code style settings
and stuff should be kept. If there are files that are pure noise, we can
suppress them.
On Thu, Mar 30, 2017 at 4:36 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2017-04-01 17:25] motlin opened #250 "Invalid Javadoc due to unescaped angle brackets."
I tried to enable the CheckStyle rule AtclauseOrder. It fails to parse Javadoc with unescaped angle brackets.

Here's [an example in FixedSizeCollection](https://github.com/eclipse/eclipse-collections/blob/df5b50c7154b09634ad16b78ffeb1c165218600e/eclipse-collections-api/src/main/java/org/eclipse/collections/api/collection/FixedSizeCollection.java#L33), where the generics are unescaped.

The generi

[2017-04-02 01:52] nikhilnanivadekar commented on #235
Compilation errors are fixed in #240 , #249

[2017-04-02 03:11] nikhilnanivadekar commented on #235
In JDK 9 EA 163 there is a breaking change in java.util.stream.IntPipeline#collect, a new condition `Objects.requireNonNull(combiner)` is added . This breaks `org.eclipse.collections.impl.PersonAndPetKataTest#testStrings` which is fixed in my local. I am putting it here as FYI.

**JDK 9 EA 163:**
![image](https://cloud.githubusercontent.com/assets/9932381/24584109/4bc8a22a-171f-11e7-96b2-572221c2c

[2017-04-02 14:37] #250 closed

[2017-04-02 14:48] #123 closed

[2017-04-02 21:56] nikhilnanivadekar commented on #235
Maven bundle plugin currently does not support Java 9.
If OSGi, plugin support is not available for Java 9, in a regression build (when we will have one) we will have to add a workaround to to skip this part of build.
See https://issues.apache.org/jira/browse/FELIX-5527 for more info.

[2017-04-03 12:22] nikhilnanivadekar commented on #235
Reported 2 bugs to JetBrains
1. [IDEA-170813](https://youtrack.jetbrains.com/issue/IDEA-170813)
2. [IDEA-170814](https://youtrack.jetbrains.com/issue/IDEA-170814)

Reported 1 bug to Eclipse
1. [BUG-514605](https://bugs.eclipse.org/bugs/show_bug.cgi?id=514605)

[2017-04-05 07:41] jankotek commented on #196
I added pull request for Primitive Lists, other collections will follow
https://github.com/eclipse/eclipse-collections/pull/262

[2017-04-05 15:53] #199 closed

[2017-04-07 07:45] #122 closed

[2017-04-09 18:48] cinquin opened #265 "Implement UnifiedMap.trimToSize or (UnifiedMap.compact)."
Hi,
Is there a way of compacting a UnifiedMap? Some primitive maps and sets do have a `compact` method, but I can't find such a method (or equivalent) for UnifiedMap. Is the only way to free up memory used by the `table` field and the chained key arrays (e.g. after many elements have been inserted and then removed from the map) to create a new map from the remaining objects and discard the old one

[2017-04-10 08:55] guw commented on #226
FWIW, #219 introduces a new bundle `org.eclipse.collections` which combines api and impl. There is no real use case for distributing two separate bundles. The approach is backwards compatible - consumers of the old bundles continue consuming it the current way. Consumers using p2 will start using the new bundle.

[2017-04-10 09:50] motlin commented on #265
Trove's hash tables use open addressing with sentinels to mark removal, so they can be compacted by rehashing every element and getting rid of the sentinels. The hash tables in Eclipse Collections use chaining, and get rid of the chains as elements are removed, so compaction is usually unnecessary. However, after doubling the size of the array, I'm not sure we ever go back and halve it. Is that wh

[2017-04-10 11:41] motlin opened #266 "Optimize minOptional, maxOptional, minByOptional, maxByOptional on lazy iterables."
The default implementation of minOptional, maxOptional, minByOptional, maxByOptional delegates to `isEmpty()` which isn't constant time on lazy iterables. Override these methods for efficiency on lazy iterables so that they only make a single pass through the data.

[2017-04-10 11:55] kthoms commented on #226
The use case could be that the bundles are typically consumed as plain Java jars and by splitting jars you can configure API only for compilation and avoid that implementation classes are resolvable in such an environment. Of course in an OSGi environment it would be valid to put both in the same bundle, and users cannot access impl classes.

[2017-04-10 12:09] motlin opened #267 "Pull up implementations of some methods from AbstractRichIterable to RichIterable."
Some methods on AbstractRichIterable don't depend on anything in the impl package. For example:

[code]

Methods like these can be pulled up as default methods on RichIterable.

By contract, some methods rely on static factories that don't live in the api package, so they can't be pulled up. For example:

[code]

[2017-04-10 14:43] nikhilnanivadekar commented on #226
For my understanding, does this mean that eclipse-collections-api and eclipse-collections-impl modules can stop exporting OSGi packages? The users can just use the new bundle. Of course we will wait till 9.0.0 to remove the old bundles.
Is there a way to deprecate the old bundles during minor release and point the users to the new bundle?
Having multiple bundles can confuse new users.

[2017-04-10 17:30] guw commented on #226
Yes, you can stop generating OSGi metadata for the existing projects. New metadata will be generated for the `org.eclipse.collections` bundle at build time using instructions defined in `osgi.bnd` file.

[2017-04-10 17:42] nikhilnanivadekar commented on #226
Perfect! Thank you!
Once we merge #219 I will update this issue description accordingly.

[2017-04-10 18:26] nikhilnanivadekar commented on #223
I would like to get an opinion from @kthoms , are you fine with this approach to use EBR?

[2017-04-10 19:12] cinquin commented on #265
But the array that backs a chain is never resized downwards, and only becomes eligible for garbage collection once that chain becomes empty, right? (The reference to the array is nulled at the end of `UnifiedMap::overwriteWithLastElementFromChain` and in `PositionalIterator:: removeLastFromChain `).
So if lots of mappings are inserted into a map, and then lots — but not all — mappings are removed,

[2017-04-10 19:46] pburka opened #269 "Web page shows wrong date for 8.1 release"
The main web page (https://www.eclipse.org/collections/), in the latest news section, says:

- Eclipse Collections 8.1.0 released (Mar 16th 2016)

I believe that this should be "2017".

[2017-04-10 19:48] nikhilnanivadekar commented on #269
Thanks for pointing this out, and apologies for the mistake. We will fix it.

[2017-04-10 20:31] kthoms commented on #223
Yes, I'm fine with it. Thanks for asking.

[2017-04-10 23:19] motlin commented on #265
Good points. You've convinced me that a compact/trim method makes sense as public api on UnifiedMap (and UnifiedSet). What do you think @gs-rezaem?

I'm not sure I understand the point about removeAll. Are there other map implementations with the behavior you're describing?

[2017-04-11 00:44] cinquin commented on #265
Great. I think that'd be useful.

My point is that neither `removeAll` nor any other UnifiedMap method allows for optimal performance of entry removal, when one has a predicate to apply to all map entries to decide which ones should be kept. As far as I can tell one of the purposes of the [`retainEntries` method in Trove's THashMap](https://github.com/cinquin/GNU_Trove/blob/70f5917f8a3bbb640c83278

[2017-04-11 15:40] nikhilnanivadekar commented on #235
JetBrains has raised a bug for javac related to [IDEA-170814](https://youtrack.jetbrains.com/issue/IDEA-170814).
Here is the ticket: [JDK-8178150](https://bugs.openjdk.java.net/browse/JDK-8178150)

[2017-04-12 02:57] nikhilnanivadekar commented on #235
Step 2 is in #253

[2017-04-14 14:05] #223 closed

[2017-04-14 15:58] itohro commented on #269
Fixed this.

[2017-04-14 15:58] #269 closed

[2017-04-14 19:37] nikhilnanivadekar commented on #226
I updated this issue to remove the bundles currently created.
@kthoms would you still be interested in resolving this?

[2017-04-16 11:57] mokah commented on #214
@motlin zip accepts type R but extends Collection, not MutableCollection. Should this pattern be followed?

Also, it seems the zip and zipWithIndex have been deprecated in RichIterable. Should zipWith be declared in OrderedIterable and omitted from RichIterable?

[2017-04-16 15:21] motlin commented on #214
Yes, and yes. Good points!
On Sun, Apr 16, 2017 at 7:57 AM Mooo <notifications@github.com> wrote:

[2017-04-16 19:12] #216 closed

[2017-04-16 19:12] #218 closed

[2017-04-16 19:19] motlin opened #270 "Remove usage of JCIP annotations and the dependency on net.jcip:jcip-annotations."
We've been using these annotations for a long time without applying them consistently to all immutable and thread-safe classes. They don't catch a lot of problems in my experience so far. Another direction we could go is to consistently use these annotations everywhere. Open to debate.

[2017-04-17 04:56] nikhilnanivadekar commented on #270
If they don't catch problems, I would prefer to remove them. This removes the only external dependency we have in our impl module: https://github.com/eclipse/eclipse-collections/blob/master/eclipse-collections/pom.xml#L47

[2017-04-17 11:29] motlin commented on #270
Just to clarify [they can report bugs](https://stackoverflow.com/questions/8479599/what-concurrency-warnings-should-i-expect-from-findbugs) but in my experience if you go through all the effort to set up the annotations correctly, you already kind of know what you're doing, so I haven't seen them prevent problems.

[2017-04-18 12:56] gs-rezaem commented on #265
Agree that `compact` (or maybe to keep it similar to Fast/ArrayList `trimToSize`) is a good idea.

`removeAll` is more interesting. `removeAll(predicate)` is certainly worth considering. `removeAll(collection)` can only really be better optimized if the collection has a fast lookup, so essentially an O(1) `contains()`. Even then, that makes the implementation very "instance-checky", which is not p

[2017-04-20 08:31] jankotek opened #273 "Introduce delegate (wrapper) superclasses"
I noticed EC uses delegate pattern in many cases. I am working on #262 and I need to introduce yet another wrapper. I would like to externalize delegate (wrapper) functionality into separate classes.

I would like to add three type of super classes for primitive and object collection

* immutable wrapper - `AbstractUnmodifiableXXCollection` would extend this. Method which would throw 'not readable

[2017-04-20 12:31] motlin commented on #273
I completely agree and had started down this path but never finished it in time for a major release. I have some unfinished commits on some of my branches with names like:

* Reduce code duplication by extracting a common superclass AbstractUnmodifiableRichIterable above all unmodifiable wrappers. Use serialization proxies to stabilize serialized forms in the future (breaks serialization).
* Reduc

[2017-04-20 13:20] Addvilz opened #274 "Stream shortcut in immutable collections"
Currently the only way to create a stream of ImmutableSortedSet or ImmutableList, for example, is to do something like this

[code]

Could we get an api extension for the immutable collections to support `.stream` as with other collections? Would it make sense?

[2017-04-20 14:14] donraab commented on #274
Yes, this makes perfect sense and was actually being worked on.  But IIRC we needed to wait for the 9.0 release because the work could not be done in a backwards compatible manner.

@itohro Is this correct?

[2017-04-20 19:50] nikhilnanivadekar commented on #274
@Addvilz while we add the api extension, you can achieve inter-op like this:

[code]

[2017-04-20 23:46] #266 closed

[2017-04-21 12:10] motlin opened #275 "Reduce code duplication by making a few classes extend AbstractRichIterable."
Reduce code duplication by making a few classes extend AbstractRichIterable, including:
* ImmutableArrayStack
* primitiveObjectHashMap
* abstractImmutablePrimitiveObjectMap
* immutablePrimitiveObjectHashMap
* MutablePrimitiveObjectMap

[2017-04-26 06:52] kthoms commented on #226
I think by introduction of the the new `org.eclipse.collections` bundle this one becomes obsolete.

[2017-04-26 06:52] #226 closed

[2017-04-29 17:51] #267 closed

[2017-05-31 23:20] cinquin opened #279 "size method of LazyIterable returned by LazyIterable::concatenate has O(n) complexity"
Using `LazyIterable::concatenate` is a nice way to get a unified view of two lists that are maintained separately. Unfortunately the returned `LazyIterable` has a very inefficient `size` method, which may come as a surprise to the user (and which is not mentioned in the documentation). Specifically, that method has to be implemented as `this.count(Predicates.alwaysTrue())`, since the `Iterable` in

[2017-06-05 17:04] #279 closed

[2017-06-13 16:43] nikhilnanivadekar opened #283 "Implement flipUniqueValues() on primitive maps."
Currently we have org.eclipse.collections.api.map.MapIterable#flipUniqueValues.
This should be available on primitive maps as well to make our maps consistent.

[2017-06-16 18:26] nathanmerrill opened #284 "Add @SafeVarargs to Factory methods "of" and "with""
If you call `Lists.mutable.of(Lists.mutable.empty(), Lists.mutable.empty());`, java will give an error about  unchecked generic array creation for varargs parameter.

As far as I can tell, you aren't doing anything potentially unsafe (like what is shown [here](https://docs.oracle.com/javase/7/docs/api/java/lang/SafeVarargs.html)), so I think you can add the `@SafeVarargs` to all of the methods tha

[2017-06-19 16:19] nikhilnanivadekar commented on #284
I am fine adding this.
Eclipse Collections 8.2.0 is slated for release next week. We will open up 9.0.0 target after that.
Would you like to contribute?

[2017-06-19 16:23] nathanmerrill commented on #284
Sure.  I'm assuming you want me to wait for 8.2 release first?

[2017-06-19 16:33] nikhilnanivadekar commented on #284
Yes, please.
I will ping on this thread once we can start accepting PRs for 9.0.0.

[2017-06-22 19:45] nikhilnanivadekar opened #285 "Fix warnings generated during Javadoc build"
Example:

`[WARNING] /jobs/genie.collections/deploy/workspace/eclipse-collections/src/main/java/org/eclipse/collections/impl/map/strategy/immutable/ImmutableEntryWithHashingStrategy.java:56: warning - Tag @link: reference not found: Map.Entry#hashCode()`

[2017-06-24 17:59] nikhilnanivadekar opened #287 "Sign p2 repository artifacts"
From the Eclipse Marketplace we get a security warning
![image](https://user-images.githubusercontent.com/9932381/27510721-97cc0364-58d4-11e7-9917-3b9a849ced98.png)

Cc: @guw

[2017-06-24 18:01] nikhilnanivadekar opened #288 "Enable release train repository aggregation for Eclipse"
Cc: @guw

[2017-06-25 15:08] nikhilnanivadekar commented on #284
@nathanmerrill we have opened the 9.0.0 target. Thanks!

[2017-06-26 09:18] guw commented on #287
FWIW, I use the following Maven profile for signing on the Eclipse.org infrastructure:
[code]

You can get the CBI Maven plugins at `https://repo.eclipse.org/content/groups/cbi/`

[2017-06-26 09:26] guw commented on #288
FWIW, I'm not sure if there is better documentation but this one is a good intro:
https://wiki.eclipse.org/Simrel/Contributing_to_Simrel_Aggregation_Build
https://wiki.eclipse.org/SimRel/Simultaneous_Release_FAQ

Basically, you need to make the p2 repo url available to the B3 aggregation process. This is the one that is aggregating from all participating project.

Certain requirements must be met:

[2017-07-06 10:13] qblyy opened #290 "ImmutableCollection doesn't extend Collection, etc."
ImmutableList, ImmutableSet do not extend List, Set too. It makes that ImmutableCollection etc. can't use together with other libraries.

Guava's design is correct:
public abstract class ImmutableCollection<E> extends AbstractCollection<E>

public abstract class ImmutableList<E> extends ImmutableCollection<E>
    implements List<E>, RandomAccess

public abstract class ImmutableSet<E> extends Immut

[2017-07-06 17:06] nikhilnanivadekar commented on #290
@qblyy we do not extend the _mutating_ interfaces of JCF by design. It was a conscious decision taken to keep our _Immutable_ interfaces clean. However, each of our implementations implement the JCF interfaces and throw at runtime for mutating methods. To achieve inter-op we have provided API like `castToList()`, `castToSet()`
@motlin has elaborated our Immutable interface design in detail here: h

[2017-07-10 10:54] qblyy commented on #290
Thanks.

[2017-07-10 10:54] #290 closed

[2017-07-10 11:13] qblyy opened #291 "Two things about Bag.size() etc."
It implements: int org.eclipse.collections.api.RichIterable.size().
Returns the number of items in this iterable.

It should returns long. See this: long org.eclipse.collections.api.IntIterable.sum().
Because the sum of occurrences may overflow when the Bag has some items with large occurrences.

And the method name "size()" is ambiguous. It should have a better name likes this:
int org.eclipse.co

[2017-07-10 11:29] motlin commented on #291
For mutable bags, it also implements `Collections.size()`.

[2017-07-10 13:20] qblyy commented on #291
1. In ec, Bag, ImmutableBag and primitive bags are neither MutableBag nor Collection.

2. For the mutable bag, size() just returns the number of elements or Integer.MAX_VALUE. Such as Koloboke Collections has size() do the same thing and long sizeAsLong() returns the correct size.

int java.util.Collection.size()
Returns the number of elements in this collection. If this collection contains more t

[2017-07-10 16:30] motlin commented on #291
Right, so what is the follow-up? Add sizeAsLong()?
On Mon, Jul 10, 2017 at 9:20 AM qblyy <notifications@github.com> wrote:

[2017-07-10 18:25] qblyy commented on #291
I think a interface is better:

public interface BigCollection

or

public interface BigCollection<T> extends Collection<T>
{
	@Deprecated
	default int size() {
		return (int) Math.min(Integer.MAX_VALUE, sizeAsLong());
	};

	long sizeAsLong();
}

I would like to see EC adds more big collections in the future.

[2017-07-11 01:48] nikhilnanivadekar commented on #291
@qblyy do you have a real production use-case for this?
Or this is more of a theoretical exercise. We have not yet received any requests for a `BigCollection`.
Are you dealing with collections which cannot be satisfied with the existing collections we have?

[2017-07-14 04:25] #291 closed

[2017-07-14 04:38] #217 closed

[2017-07-15 00:42] #233 closed

[2017-07-15 00:42] #242 closed

[2017-07-15 00:42] #270 closed

[2017-07-18 16:14] nikhilnanivadekar opened #294 "Deploy p2 repository artifacts to maven central."

[2017-07-18 16:18] guw commented on #294
`mvn deploy` inside `p2-repository/org.eclipse.collections` should deploy it to the configured Maven repository.

[2017-08-02 13:08] nikhilnanivadekar opened #298 "Add covariant override for subList() in ListIterable hierarchy."
Refer to thread: https://dev.eclipse.org/mhonarc/lists/collections-dev/msg00030.html

[2017-08-02 13:24] nikhilnanivadekar commented on #298
Currently the users will have to add redundant casts to achieve subList() on ListIterable

[code]

[2017-08-02 14:20] aewhite commented on #298
After some thinking, I did some up with a reasonable alternative that doesn't involve casting but I suspect it has some (trivial?) overhead.

[code]

But I feel like first class support for sublist would be nice.

[2017-08-02 14:34] nikhilnanivadekar commented on #298
If you are using Interval, you can drop the asLazy() call, since the collect() will in essence be lazy. Interval is an interesting implementation where it is lazy at the same time not lazy. Regarding the overhead it really depends on your from and to indexes and type of list. YMMV, best to benchmark and check.

You will get the subsist API in 9.0.0 by end of September. I'll be doing a milestone re

[2017-08-06 00:31] #285 closed

[2017-08-06 00:31] #298 closed

[2017-08-07 00:08] donraab commented on #140
This is partially complete with the implementation on LazyIntIterable #297.

[2017-08-08 20:09] nikhilnanivadekar opened #301 "Implement HashingStrategies.nullSafeFromFunction(Function)"
Currently, there is HashingStrategies.nullSafe(HashingStrategy) and HashingStrategies.fromFunction(). However there is nothing which is a mix of both. If we chain them:
HashingStrategies.nullSafe(HashingStrategies.fromFunction(Function)) if the Function.valueOf() results in a null, it will throw a NPE.

The implementation will be similar to this:
[code]

[2017-08-08 22:58] motlin commented on #301
https://docs.oracle.com/javase/7/docs/api/java/util/Objects.html#hashCode(java.lang.Object)

https://docs.oracle.com/javase/7/docs/api/java/util/Objects.html#equals(java.lang.Object,%20java.lang.Object)
On Tue, Aug 8, 2017 at 4:09 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2017-08-10 12:40] #208 closed

[2017-08-10 12:40] #274 closed

[2017-08-10 16:01] #301 closed

[2017-08-10 18:12] donraab opened #305 "Implement toSortedMapBy on RichIterable"
There is currently toSortedSet/toSortedSetBy, toSortedBag/toSortedBagBy and toSortedList/toSortedListBy.  There is toSortedMap with Comparator, but no toSortedMapBy with Function.  The signature should probably be as follows:

[code]

[2017-08-10 18:15] donraab opened #306 "Implement toBiMap on RichIterable"
There is currently toMap and toSortedMap but there is no toBiMap.  The signature should be as follows:

[code]

[2017-08-10 18:27] donraab opened #307 "Implement chunk on primitive iterables."
There is chunk(int) on `RichIterable`, which returns `RichIterable<RichIterable<T>>`.  There should be chunk on primitive iterables defined as:

`<RichIterable<<type>Iterable>> chunk(int size)`

[2017-08-10 18:31] donraab opened #308 "Implement zip on primitive lists."
Signature should be as follows:

`ListIterable<<type><type>Pair> zip(<Name>Iterable iterable);`

[2017-08-10 18:33] nikhilnanivadekar commented on #307
The output should not be a RichIterable. It should be PrimitiveIterable. We should not box the elements during chunk.

[2017-08-10 18:34] donraab opened #309 "Implement collectWithIndex on Ordered primitive Iterables."
Signatures should be as follows:

`default <V> OrderedIterable<V> collectWithIndex(<type>IntToObjectFunction<? super T, ? extends V> function)`
`default <V, R extends Collection<V>> R collectWithIndex(<type>IntToObjectFunction<? super T, ? extends V> function, R target)`

[2017-08-10 18:36] donraab commented on #307
I don't think the outer can't be a primitive iterable, unless I am missing something.

[2017-08-10 18:38] nikhilnanivadekar commented on #307
you mean can or can't?
But I see your point. I missed the `<type>Iterable` there.

[2017-08-10 19:20] donraab opened #310 "Implement classic set operations on primitive sets."
Implement the following set operations on primitive sets, to be symmetric with the same forms on SetIterable:

[code]

[2017-08-10 19:46] donraab opened #311 "Implement tap on primitive iterables."
Signature should be as follows:

`<type>Iterable tap(<type>Procedure procedure);`

[2017-08-10 20:17] donraab opened #312 "Implement reduce and reduceInPlace on primitive iterables."
Signatures should be:

[code]
This would require supplementing the current OptionalInt/Long/Double with equivalents for all primitives.  There is also no BinaryOperator currently for primitive types other than int/long/double so I suggest using the primitive function equivalent in EC.

[2017-08-10 20:56] donraab opened #313 "Implement primitive BiMaps"
Today we have PrimitiveObjectMap, ObjectPrimitiveMap and PrimitivePrimitiveMap combinations.  It may be useful to have the same constructs for BiMaps.  Has anyone encountered this use case?  Comment or vote if you have.

[2017-08-10 21:03] donraab opened #314 "Implement primitive key multimaps."
Today we can only group by object keys, since we only have object multimaps.  It may be useful to create primitive keyed multimaps so we can group by primitive keys (e.g. age, count, id).  Has anyone seen this use case?  Comment or vote if you have.

If we have primitive key multimaps, we will want them in a separate module, to reduce the size of the binaries.  We can also create Collector impleme

[2017-08-10 22:22] nikhilnanivadekar commented on #314
I think the overhead of having primitive multimaps to the jar size is going to be enormous. That said, currently if the users need multimap like behavior they can use a combination of primitive maps and iterables.

[2017-08-10 22:24] nikhilnanivadekar commented on #313
BiMap is a special case of having a self contained map and an inverse map. Adding them on the primitive side might be unnecessary. But happy to see if other users think it is useful.

[2017-08-11 04:41] nikhilnanivadekar commented on #287
@guw We already sign jars using the maven jar signer: https://github.com/eclipse/eclipse-collections/blob/master/pom.xml#L401

Is there something special we need to do for p2 repo? Or our jar sign steps incorrect?

[2017-08-11 04:55] nikhilnanivadekar commented on #294
@guw the deploy step inside p2-repository/org.eclipse.collections fails due to jar signer. So I guess this and #287 are related. One fixes the other.

[code]

[2017-08-11 05:09] guw commented on #294
There are some subtle issues around jar signing - especially timing, i.e. p2 modifies a JAR adding metadata which could invalidate its signature. It gets worse when pack200 is done, too.

There is a good blog here:
http://www.codetrails.com/blog/sign-your-eclipse-project

[2017-08-11 05:14] nikhilnanivadekar commented on #294
So, should we remove the jar signer altogether and use pack200 instead everywhere? As it is we are on eclipse's hudson instance. Also, do I need to add the signer explicitly in p2 module?

[2017-08-11 05:17] guw commented on #294
So the p2 module should not inherit signing from the global parent. It should define its own signing+pack200 steps as show in the blog.

[2017-08-11 05:21] nikhilnanivadekar commented on #294
That might be tricky since the jar signer seems to sign every artifact built as a part of deploy step. I'll try out tomorrow. If you get some spare time, I will take a PR for this :)

[2017-08-17 04:09] #287 closed

[2017-08-17 15:15] bergmanngabor opened #319 "Improve OSGi bundle API information"
We at the Viatra Eclipse project are now experimenting with your amazing collection library, which we consume as an OSGi bundle (via p2 update site).

**What I want to do**:
Instantiate containers. According to your [reference guide](https://github.com/eclipse/eclipse-collections/blob/master/docs/guide.md#-creating-mutable-collections), collections shall be instantiated either by direct constructo

[2017-08-17 16:14] nikhilnanivadekar commented on #319
@bergmanngabor thank you for experimenting with Eclipse Collections!
To be honest, none of us maintainers are OSGi experts, so we have a learning curve ahead of us. If there is something which you need in terms of OSGi bundles, please feel free to contribute. If there is something which we can improve for the bundles, please guide us so we can do the right thing.

This is our p2 build: https://git

[2017-08-17 18:24] guw commented on #319
FWIW, the *impl* packages are already exported.

As per the rules defined here:
https://github.com/eclipse/eclipse-collections/blob/master/p2-repository/org.eclipse.collections/osgi.bnd

[2017-08-17 18:29] nikhilnanivadekar commented on #319
Ah! I see the problem. All the static factories are in impl, and the clients definitely need to call. Is there a way to selectively mark packages non-internal?

[2017-08-17 18:36] #314 closed

[2017-08-17 18:37] #313 closed

[2017-08-18 12:33] bergmanngabor commented on #319
Yes, hence the compiler warning, Moreover if `osgi.resolverMode=strict` then an exception will be thrown at runtime as well.

You are already selectively marking them as internal, according to the `osgi.bnd` linked above. I wonder if something like the following would do the job?

[code]

Or maybe you could even stop at the line about factory packages, and simply not export the rest - it's up to y

[2017-08-18 12:37] nikhilnanivadekar commented on #319
From this I think not marking it internal will be the right thing. Would you like to raise a PR? I am planning to release 9.0.0.M2 today, can make it a part of that milestone and you can try it out.

[2017-08-18 12:40] guw commented on #319
FWIW, it's compile time warning in Eclipse and Eclipse itself does not use the `osgi.resolverMode=strict`. A lot more stuff would be broken otherwise (there are many bundles using internals).

But if the `impl` packages are public, the `x-internal:=true` flag should be removed. Also note, `x-internal:=false` is redundant and should not be used.

[2017-08-19 17:00] nikhilnanivadekar commented on #294
@guw I need help with the jar signer. I have tried everything which the blog said, as well followed the documentation about jar signer. However, the deploy fails. Is there a way I can test this in my local machine? I am unable to understand what I am doing wrong.

https://hudson.eclipse.org/collections/job/deploy/76/console

[2017-08-20 06:23] guw commented on #294
That message looks odd. Any chance that something in the build process already signed the jar?

[2017-08-20 19:30] nikhilnanivadekar commented on #294
@guw The parent jar-signer runs during `verify` phase: https://github.com/eclipse/eclipse-collections/blob/master/pom.xml#L661

Where as the p2 repo's jar-signer runs during `package` phase: https://github.com/eclipse/eclipse-collections/blob/master/p2-repository/pom.xml#L140

Both the jar-signers are triggered only when build is running with `release-artifacts` profile. From my understanding (whi

[2017-08-21 08:19] guw commented on #294
The parent jar-signer must not run at all. Can this be disabled?

[2017-08-21 14:05] nikhilnanivadekar commented on #294
@guw do you mean not run for p2 or not run for the library in total?
We didn't sign our jars before, but we were advised to start signing them.
I think the easiest way forward is to have a new build which will deploy p2 artifacts to sonatype. That jar-signer will be used only for p2. So it gives us flexibility to sign whenever we want and whatever we want.
Thoughts?

[2017-08-21 14:09] guw commented on #294
It must not run for the p2 build. It can run for the regular build. The p2 build signs the jars itself using special processing to allow embedding additional metadata.

[2017-08-21 14:12] nikhilnanivadekar commented on #294
Ok makes sense. It would be better to have another Hudson job then to push to p2. Will try it on Friday for Milestone 3.
Thanks a lot for your help!

[2017-08-21 16:46] nikhilnanivadekar commented on #319
Fixed by #326

[2017-08-21 16:46] #319 closed

[2017-08-22 02:34] nikhilnanivadekar commented on #284
@nathanmerrill the planned feature complete for 9.0.0 is September 6th, if you would like to add your changes in the 9.0.0 release.

[2017-08-22 02:42] nikhilnanivadekar commented on #294
@guw I am hopeful that this will work. Please let me know if you see something wrong.

1) For Maven Central:
https://github.com/eclipse/eclipse-collections/pull/327/commits/c1c769285b699e352bbb13265492469cc13e0c71#diff-bb39bc4449e09dadf2be960bdd8dcac0R113
Along with a new build with config:
[code]

2) For Eclipse Marketplace:
https://github.com/eclipse/eclipse-collections/pull/327/commits/c1c76928

[2017-08-22 05:35] nikhilnanivadekar opened #328 "Reduce code in OrderedIterable hierarchy by pulling up implementations with UnsupportedOperationException."

[2017-08-22 09:06] bergmanngabor commented on #319
Thanks!

Please tell me when you have a CI / milestone build of the OSGi bundle, I would love to try it!
(I won't be back before mid-September, so no pressure.)

[2017-08-22 12:43] motlin commented on #294
@itohro we've always signed our jars, haven't we?
On Mon, Aug 21, 2017 at 10:42 PM Nikhil Nanivadekar <
notifications@github.com> wrote:

[2017-08-22 13:15] nikhilnanivadekar commented on #319
@bergmanngabor the next milestone is on Friday the 25th. You can try it on 26th.

[2017-08-22 17:15] #265 closed

[2017-08-22 18:20] nikhilnanivadekar commented on #265
@cinquin can you please try this one out when we release 9.0.0.M3 and give us feedback?

[2017-08-23 00:11] cinquin commented on #265
@nikhilnanivadekar  Thanks for having implemented this! Yes I'll have a look.

[2017-08-24 01:01] donraab opened #331 "Implement toSet(HashingStrategy) and toSetBy(Function)"
Both of these methods should return a `UnifiedSetWithHashingStrategy`.  The second short form can use `HashingStrategies.fromFunction(Function)`.

[2017-08-24 17:32] nikhilnanivadekar commented on #294
@guw The p2 jar signer still fails now this time with a new exception, so I guess we are making some progress.
Hudson build: https://hudson.eclipse.org/collections/job/publish-p2-repo/4/console

Also raised a Bugzilla: https://bugs.eclipse.org/bugs/show_bug.cgi?id=521389

[code]

[2017-08-24 17:43] nikhilnanivadekar commented on #294
@motlin the question here is not about signing the jars. Yes we sign the jars for our Maven Central (m2 repository) artifacts. However, for OSGi bundles the sign process is different for the p2 repository. I might be wrong, but I am still learning.

[2017-08-24 18:16] leomrlima commented on #294
@nikhilnanivadekar,

9.0.0.M3 error:
`An error occurred while collecting items to be installed

session context was:(profile=epp.package.jee, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).

Artifact not found: http://download.eclipse.org/collections/9.0.0.M3/repository/plugins/org.eclipse.collections_9.0.0.v20170824-1703.jar.

http://download.eclipse.org/collectio

[2017-08-24 18:20] nikhilnanivadekar commented on #294
@guw from @leomrlima 's message, seems like when the pack2000 and tycho plugins are triggered we are missing some artifacts. At least the jar is getting signed in the p2 build now. Any insights on what is missing, and why it could be missing?

[2017-08-24 18:53] nikhilnanivadekar opened #333 "Skip deploy all artifacts except p2 while running with performReleaseP2."

[2017-08-24 19:07] leomrlima commented on #294
@nikhilnanivadekar , EC9M3 not signed:
![screen shot 2017-08-24 at 2 06 43 pm](https://user-images.githubusercontent.com/1250061/29683870-841f872e-88d5-11e7-8924-0a19130dd556.png)

[2017-08-24 19:11] nikhilnanivadekar commented on #294
Thanks @leomrlima !
The problem is down to the jar signer inside the p2.

[2017-08-24 19:27] nikhilnanivadekar commented on #319
@bergmanngabor M3 was released today. Please give it a go! Thanks!

[2017-08-24 19:28] nikhilnanivadekar commented on #265
@cinquin M3 was pushed to Maven Central. You can test it out in a couple of hours. Thanks!

[2017-08-25 08:43] bergmanngabor commented on #319
Thanks! I'm going on vacation starting today, so I can give feedback no sooner than early/mid September.

[2017-08-25 14:32] #333 closed

[2017-08-25 14:42] nikhilnanivadekar commented on #328
The `UnsupportedOperationException` is a stop gap arrangement, and should not be pulled up.

[2017-08-25 14:42] #328 closed

[2017-08-26 21:10] #151 closed

[2017-08-29 04:06] #26 closed

[2017-08-31 04:46] donraab opened #337 "Is it worth replacing ReadWriteLocks with StampedLocks in the MultiReader Collections?"
Or is it worth adding new implementations that use StampedLocks so people can choose?  Right now we have Synchronized versions and ReadWriteLocks.

[2017-08-31 04:53] donraab opened #338 "Add "multiReader" factories to Lists, Sets and Bags"
The multiReader factory should allow you to write code similar to the mutable and immutable factories, only returning MultiReaderFastList, MultiReaderUnifiedSet or MultiReaderHashBag.

[code]

[2017-09-02 02:22] donraab opened #339 "Implement LinkedHashSet implementing MutableSet API."

[2017-09-02 02:23] donraab opened #340 "Implement LinkedHashBag implementing MutableBag API."

[2017-09-02 02:23] donraab opened #341 "Implement LinkedHashMap implementing MutableMap API"

[2017-09-02 17:00] nikhilnanivadekar opened #342 "Implement Lists.mutable.withInitialCapacity(int initialCapacity)"

[2017-09-02 19:22] motlin commented on #342
Could the method just be called empty()? Do we have the equivalent for sets
and maps already?

On Sat, Sep 2, 2017 at 1:01 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2017-09-02 19:24] nikhilnanivadekar commented on #342
Yes
org.eclipse.collections.impl.set.mutable.MutableSetFactoryImpl#withInitialCapacity

org.eclipse.collections.impl.map.mutable.MutableMapFactoryImpl#withInitialCapacity

[2017-09-04 08:41] bergmanngabor commented on #319
@nikhilnanivadekar I'm back, and I'd love to try the new bundle build. However, I have to admit I have trouble navigating your project web site, and can't find your non-release builds. Can you give me the URL for your milestones/ci update site?

[2017-09-04 13:04] guw commented on #294
Sorry for the long delay. As commented on the bug, the pack200:normalize task needs to be run on a non-signed jar.

https://wiki.eclipse.org/Tycho/Pack200#Pack200_and_Signing

1. pack200a:normalize
2. sign
3. pack200b:pack

[2017-09-04 15:22] nikhilnanivadekar commented on #319
@bergmanngabor you should be able to find it here:
http://download.eclipse.org/collections/9.0.0.M3/repository

[2017-09-04 15:25] nikhilnanivadekar commented on #294
@guw I thought I already incorporated that: https://github.com/eclipse/eclipse-collections/blob/master/p2-repository/pom.xml#L209
Can you please take a look?

Is that not correct? Can you please guide me to a sample project where this is done and works fine?

[2017-09-04 17:35] donraab opened #344 "Implement newWithAllKeyValues on primitive immutable maps."
There exists newWithKeyValue, newWithoutKey and newWithoutAllKeys but no newWithAllKeyValues.  This method should take an Iterable of appropriate pairs.

[2017-09-04 17:45] donraab opened #345 "Implement withAllKeyValues on mutable primitive maps."
There exists withKeyValue, withoutKey and withoutAllKeys but no withAllKeyValues. This method should take an Iterable of appropriate pairs.

[2017-09-05 14:38] guw commented on #294
@nikhilnanivadekar It looks correct. However, the error message clearly says that the jar is already signed at the normalize stage. Can you verify that the regular jar signer (from your Maven parent) is not running at all? Also, the `resigningStrategy` configuration shouldn't be necessary. What happens when you remove it?

[2017-09-07 14:53] bergmanngabor commented on #319
I have tried it and it works perfectly. The spurious PDE API warnings are gone. Thanks!

[2017-09-09 13:44] #311 closed

[2017-09-12 12:24] ujhelyiz commented on #288
Hi,

we at the [VIATRA project](https://www.eclipse.org/viatra/) are really interested in Eclipse Collections. However, given we are part of the Photon release train, for that we have to ensure that Eclipse Collections is available from the aggregator. Do you have any plans how and when would you like to join?

If you need any help, I also volunteer to help; I have followed the required process fo

[2017-09-12 16:43] #283 closed

[2017-09-13 02:13] nikhilnanivadekar commented on #288
@ujhelyiz we are definitely interested in adding Eclipse Collections to the release train. We wanted to do that for Oxygen but we were too late to get to the process. We would like to join as soon as it is possible and feasible.
Before we get on the aggregator we will need our p2 artifacts to be signed. I tried a lot to get that going as a part of 9.0.0 but I was not successful. If you could help

[2017-09-13 07:48] ujhelyiz commented on #288
The most important target dates are available in the following two sites:

 * https://wiki.eclipse.org/SimRel/Simultaneous_Release_Requirements
 * https://wiki.eclipse.org/Photon/Simultaneous_Release_Plan

As far as I can see, most things you are doing are fine for inclusion into the simultaneous release, no specific approval is required. There are some steps to be done (mostly related to stating

[2017-09-13 11:53] guw commented on #288
Just to clarify: Eclipse Collection does **not** need to participate in the common repository in order to be consumable by others. For years we've been using EclipseLink and Jetty and added those versions to the common repo without Jetty or EclipseLink participating in the aggregator themselves.

The VIATRA project can simply consume the bits from the Eclipse Collections update site as a dependenc

[2017-09-13 12:01] ujhelyiz commented on #288
@guw Thanks for the clarification; indeed I know we could consume it from their release sites. However, given the preexistence of this issue, I think the project wanted to be included in the release train by their own right. For this reason, we believe it is better for us to help the project to be included in the repository and then consume them accordingly. The steps I have described are related

[2017-09-13 12:23] ujhelyiz commented on #294
I have looked into the building code, and I think I have found out what the issue is: in short, instead of relying the custom `eclipse-sign-p2` profile, simply set up the property `-DsigningServiceType=eclipse` for signing to work as expected.

----
A more detailed analysis:

The `eclipse-sign-p2` profile includes direct setup of the build process does not sign and repack the jars included in the

[2017-09-13 12:24] ujhelyiz commented on #288
@About the signing issue, I have resumed the thread at #294 (that seemed related) -  I hope I have found the issue you have.

[2017-09-13 17:27] nikhilnanivadekar commented on #294
@ujhelyiz I do not  see the build configuration even when I login using Eclipse credentials. Would you mind copy pasting the config here or giving a screenshot? I will test it out on our snapshot builds.

[2017-09-13 19:01] ujhelyiz commented on #294
Sorry for the configuration issue; it is strange because I could see your configuration at https://hudson.eclipse.org/collections/job/publish-p2-repo (in a read-only fashion, but it was helpful setting up an almost similar setting). I have now also tried to add you email address, so now it definitely should work now.

Regardless of that, I have also created a screenshot of the relevant part of the

[2017-09-13 19:32] nikhilnanivadekar commented on #294
Yup I could see the config and I ran the build: https://hudson.eclipse.org/collections/job/publish-p2-repo/9/

Would you mind testing it out?
http://download.eclipse.org/collections/9.0.0-SNAPSHOT/repository

[2017-09-13 19:40] ujhelyiz commented on #294
The repository seems to work for to me, and it did not warn me for unsigned content.

[2017-09-13 19:42] nikhilnanivadekar commented on #294
Perfect! Thank you very much. Should we then delete the profile? It will confuse others if it is there.
If we should delete the profile, would you like to make the contribution?
Thanks a lot for your help!

[2017-09-13 19:54] ujhelyiz commented on #294
I have opened PR #350 that removes the profile.

[2017-09-13 20:00] nikhilnanivadekar commented on #294
Thank you very much. Just want @guw to review if possible since I am not an OSGi expert. Would like at least 1 person to review it before I merge.

[2017-09-14 01:24] jdimeo opened #351 "Add Javadocs to templates"
Has this already come up? I'm transitioning code from Trove over to Eclipse Collections and I want to make sure the semantics are the same. Having Java docs as part of the templates that generate the specialized classes would be very helpful so I don't have to track down documentation. For example, what kind of exception is thrown by `getOrThrow()`? Thanks!

[2017-09-14 02:13] nikhilnanivadekar commented on #351
@jdimeo this has not come up before. We generally add Javadocs to new methods and clean up any old methods when we touch them. Are there any specific methods you would like us to prioritize?
Also, we would welcome contributions if you would like to add.
Thanks for transitioning from Trove to Eclipse Collections!

[2017-09-14 10:49] jdimeo commented on #351
I will definitely try to contribute some in the coming weeks! The top priority ones are the "bargain buy" methods - obviously get, put, add, remove type methods are pretty self-explanatory. My questions were with the ones that two or more things at once for performance. Trove has `adjustOrPutValue(key, 1, 1)` (the first being the delta and the latter being the value to put if key is absent) and yo

[2017-09-16 19:25] donraab commented on #351
These all sound like great additions to me.  This would be a terrific contribution and would be very much appreciated.  I think the best thing to do in cases like you have already with addToValue is to read the implementation and the supporting tests and assume that the contract in the Javadoc should be based on the tests.  A few of the committers who review the proposed Javadoc can determine if t

[2017-09-18 12:33] ujhelyiz commented on #288
Hi again,

This week (in preparation for the M2 build of Photon) I would like to add a build of VIATRA to the simultaneous release repository that has a dependency on Eclipse Collections. For this reason, I have one of the following options:

 1. I can add VIATRA with a dependency to the latest released version of Eclipse Collections; and when you provide your own build, we will coordinate to ensu

[2017-09-19 18:57] nikhilnanivadekar commented on #288
@ujhelyiz let us go with option 1 for now. We can initialize an entry for Eclipse Collections day after.
I am going to release 9.0.0 tomorrow. What do you think?

[2017-09-19 21:11] jdimeo opened #353 "Implement transforming "views""
In the same way that `keySet` offers a "view" (for mutable maps) that propagates adds, removes, etc. to the delegated collection, provide a way of generalizing this to support arbitrary transformation functions.

For example, I could use an Apache BitField (https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/BitField.html) to store several values in a single `int`. I co

[2017-09-19 21:13] ujhelyiz commented on #288
Option 1 is fine by me; however, tomorrow might too late for Photon M2 (generally, contribution deadlines are around 17:00 CET). Given that, I will add our latest build with Eclipse Collection 8.2.0 as the latest release, and will update the contribution after 9.0.0 is available (if it is done before the deadline, it will be added to the M2 builds as well).

[2017-09-23 11:43] shahamer opened #354 "IntTreeSortedSet"
Is it planned to add PrimitiveTreeSortedSet (e.g., IntTreeSortedSet, LongTreeSortedSet)?
(as currently one needs to use TreeSortedSet<Primitive>, e.g., TreeSortedSet<Integer>).

[2017-09-24 15:40] nikhilnanivadekar commented on #235
Automatic module names in #316

[2017-09-24 15:41] nikhilnanivadekar commented on #235
Support added successfully with 9.0.0 release.

[2017-09-24 15:41] #235 closed

[2017-09-24 15:42] nikhilnanivadekar commented on #288
@ujhelyiz we have 9.0.0 released. Can you please guide me for the next steps to contribute to p2?

[2017-09-25 07:56] ujhelyiz commented on #288
Basically, everything is described in https://wiki.eclipse.org/Simrel/Contributing_to_Simrel_Aggregation_Build

But to provide a short overview, the following steps are required:
 * You should ask webmaster for write access to the simrel git repository for your committers who want to be able to push releases.
 * You have to install the Aggregation Editor in an Eclipse version; a step-by-step descr

[2017-09-29 19:27] nikhilnanivadekar opened #358 "Fix Javadoc warnings which are still getting raised."

[2017-09-29 19:27] nikhilnanivadekar opened #359 "Yak Shaving: Upgrade maven-enforcer plugin to work with Java 9"
This needs to wait the release of plugin. Currently it is only in milestone mode.

[2017-09-29 19:28] nikhilnanivadekar opened #360 "Yak Shaving: Upgrade maven-javadoc plugin to work with Java 9"
This needs to wait the release of plugin. Currently it is only in milestone mode.

[2017-09-29 20:11] donraab opened #361 "Implement aggregateBy Collector on Collectors2."

[2017-09-29 20:13] donraab opened #362 "Implement groupByEach Collector on Collectors2."

[2017-09-29 20:14] donraab opened #363 "Implement groupByUniqueKey Collector on Collectors2."

[2017-10-03 06:25] nikhilnanivadekar opened #365 "Add check on FastList for initialCapacity < 0"

[2017-10-03 06:25] nikhilnanivadekar opened #366 "Add Assume.assumeTrue(System.getProperty("java.version").startsWith("1.8.")); for reflection tests."

[2017-10-07 00:10] jackie-h opened #368 "Fix generics on MultiReaderFastList newList"
Change:
`public static <T> MultiReaderFastList<T> newList(Iterable<T> iterable)`

To:
`public static <T> MultiReaderFastList<T> newList(Iterable<? extends T> iterable)
`
Remove this cast at the same time in MultiReaderMutableListFactory:
[code]

[2017-10-08 22:53] nikhilnanivadekar opened #369 "Implement trimToSize() on UnifiedSetWithHashingStrategy"

[2017-10-08 22:53] nikhilnanivadekar opened #370 "Implement trimToSize() on UnifiedMapWithHashingStrategy"

[2017-10-09 04:41] donraab commented on #308
I started looking at zip this evening, and found that having zip require the same type on primitives would make it different than the object version which currently allows different object types.  The question is whether it would make sense to have zip for Int, Long, Float, Double, etc. on both Object and primitive collections?  This would make zip similar to collect then, which has both object an

[2017-10-10 05:08] donraab commented on #308
I decided that I would implement zip<name>(<name>List) for the same primitive type and also zip(ListIterable<T>).  I will be submitting a pull request soon for review.

[2017-10-12 01:22] nikhilnanivadekar commented on #342
Fixed with #364

[2017-10-12 01:22] #342 closed

[2017-10-12 01:24] nikhilnanivadekar commented on #370
Similar method is already implemented on `UnifiedMap`.

[2017-10-12 01:24] nikhilnanivadekar commented on #369
Similar method is implemented in `UnifiedSet`

[2017-10-12 01:27] nikhilnanivadekar commented on #366
If we run all unit tests using Java 9 and check for reflection warnings by passing the VM arg `--illegal-access=warn` we can find all the tests which need the assume condition.

[2017-10-12 14:59] #308 closed

[2017-10-14 00:11] nikhilnanivadekar commented on #288
@ujhelyiz apologies for not responding sooner. We were out at JavaOne.
I will like to take you up on the offer to create the initial contribution.
You can add me as the contact person. Thanks!

[2017-10-14 00:13] nikhilnanivadekar commented on #294
Starting 9.1.0 should we start pushing to maven central? What do you think @ujhelyiz , @guw ?
I tried this during 9.0.0 but was unsuccessful. Would either of you have any insights on what should be done? The failure was consistently either during the SonaType upload or during jar sign. So, p2 repo build was skipped during the deploy build.

[2017-10-15 14:40] guw commented on #294
I'm not sure about the benefit. Why do you want to deploy the p2 repo on Maven Central when it's available as a p2 repo from download.eclipse.org already? The p2 repo can be deployed as a whole zip.

[2017-10-16 09:06] ujhelyiz commented on #294
I second @guw - I see little benefit in publishing the p2 repository to maven central. A zipped and an online version (unzipped into a folder) of the repository available from download.eclipse.org should be more than enough for every use case I have ever witnessed.

[2017-10-16 09:47] ujhelyiz commented on #288
I have created an initial version here: https://git.eclipse.org/r/#/c/110114/ (and also added you as a reviewer).

What I have just noticed right now that the p2 repository does not contain any Eclipse Feature that is used to provide a user-visible version of your plug-in or plug-ins, e.g. features are included in the category list of the simultanous release repository.

If you are interested, I w

[2017-10-16 13:50] guw commented on #288
@ujhelyiz That is correct. There is no feature but only a category. It might be possible to create a feature but it could become tricky. I'm not sure if a different reactor is necessary, which might result in a second Jenkins job.

[2017-10-21 18:55] nikhilnanivadekar commented on #354
@shahamer it is a good idea to have `PrimitiveSortedSet`s. However, currently we have not planned to add them. We will happily take contributions though. I am fine to even start by adding one primitive at a time and only `Mutable` variants of it.

[2017-10-21 19:10] nikhilnanivadekar commented on #353
@jdimeo On our maps we have `keysView()` and `keyValuesView()` our views are lazy by default and none of the views let you mutate the Map.
Is your feature request about adding a `valuesView()` ? I am fine with having this.
Or is it about adding a `view()` which will allow mutating operations? I don't think we will add this.

[2017-10-21 19:13] nikhilnanivadekar commented on #294
How and where do I push the zipped repo? I think we are already pushing the unzipped repo.
Also, how can I make the repo discoverable? Seems like users might have trouble finding the repo. Or what we are doing now is pretty much standard and is discoverable?

[2017-10-21 19:16] nikhilnanivadekar commented on #288
@ujhelyiz I got the gerrit review. I am not an expert in this domain. So, I will go with your and @guw 's guidance.
I will be interested in adding a feature to help make it discoverable. Thanks a ton for helping out with this.

[2017-10-21 19:35] jdimeo commented on #353
I'm talking about a two-for-one `valuesView()` that takes a function that transforms the values to another type. No mutating operations are supported unless the underlying collection supports it.

In this way, if a business object is somehow encoded in a primitive (the example I gave was a 3-component date and a numerical score "encoded" or "compressed" into a single `int`), you could create a "li

[2017-10-21 19:48] ujhelyiz commented on #294
For Eclipse plug-ins it is a widely accepted way for installation to look for the URL of the unzipped p2 repository in the project website. As of now, is that it is quite hard to find the repository URL from your website (http://www.eclipse.org/collections); the repository URL is only available in the release notes. But adding the URL should solve this issue. Providing a zipped repository use case

[2017-10-21 19:55] ujhelyiz commented on #288
Ok; I will have a look at creating a feature in your build process shortly and respond when its available (it might take a few days).

In the meantime, what do you think, should we wait add collections 9.0 to the repository as suggested in the gerrit review, or wait for the feature (and a corresponding build later)?

[2017-10-22 00:44] nikhilnanivadekar opened #376 "Optimize zip() by pre-sizing target."

[2017-10-23 15:25] shahamer commented on #354
Sure. Why not.
To where should I send the code? or, should I just attach it here?

[2017-10-23 15:30] nikhilnanivadekar commented on #354
You can follow the steps on our contribution guide: https://github.com/eclipse/eclipse-collections/blob/master/CONTRIBUTING.md

When it comes to primitive collections, we use code generation to generate our classes.
The code generator is available here: https://github.com/eclipse/eclipse-collections/tree/master/eclipse-collections-code-generator/src/main/java/org/eclipse/collections/codegenerator

[2017-10-26 04:48] nikhilnanivadekar opened #379 "Add French translation for Eclipse Collections website."

[2017-10-26 04:48] nikhilnanivadekar opened #380 "Add German translation for Eclipse Collections website."

[2017-10-26 04:49] nikhilnanivadekar opened #381 "Add Spanish translation for Eclipse Collections website."

[2017-10-26 16:31] nikhilnanivadekar opened #382 "Add Portuguese translation for Eclipse Collections website."

[2017-10-27 15:10] ujhelyiz commented on #288
I have provided PR #383 that provides a p2 repository with an eclipse feature. Sadly, as @guw suspected, it is really necessary to provide an extra maven reactor, otherwise the feature project did not build as it did not found the p2 bundle provided by EBR.

[2017-10-29 17:05] nikhilnanivadekar commented on #353
If I understand correctly, the requirement is to add a new API. I can see 4 possibilities:
1) `keyValueView(PrimitiveFunction keyFunction, PrimitiveFunction valueFunction)` returns `PrimitivePrimitiveMap`
2) `keyValueView(PrimitiveFunction keyFunction, Function valueFunction)` returns `PrimitiveObjectMap`
3) `keyValueView(Function keyFunction, PrimitiveFunction valueFunction)` returns `ObjectPrimi

[2017-10-30 03:45] #370 closed

[2017-10-31 16:56] donraab opened #386 "Add collectWithOccurrences(ObjectIntToObjectFunction) to Bag interface"
This might be able to be done in a minor version, but would probably require throwing UnsupportedOperationException in the default implementations.  Some thought will have to go into the return type for this method.  Bag would be consistent with the collect method on Bag, but there will be no duplicates so it might be better to make it a Set or a List.

[2017-11-01 03:26] #362 closed

[2017-11-01 03:32] nikhilnanivadekar opened #387 "Create a composite repository at http://download.eclipse.org/collections/repository and push zipped artifacts for download"

[2017-11-02 04:59] TheLoneKing commented on #363
The implementation that I have written does not seem to work well with parallel stream. Any insight into how parallel streams should be handled would be helpful.

[2017-11-02 13:52] donraab commented on #363
What isn't working well?  Is a test you've written failing?

The parallel version of this would have to be able to handle the case where non-unique keys that were unique on different tasks were merged together in the final result.

[2017-11-03 12:51] leomrlima opened #390 "Update Interface Javadocs to suggest possible ways of initialization."
I'm having trouble coming with a short description, but let me tell you my hardship.

I like that I can have all this new entity objects like IntObjectPair. But everything is an interface, and it's not easy to find where and what is the correct factory (method) for an instance. In this case, I had to see implementations of IntObjectPair (IntObjectPairImpl) and search for usages of IntObjectPairImp

[2017-11-03 15:35] Daniel-Dos commented on #382
I'll take care of it. Can I translate the menus too?

Thank you.

[2017-11-03 16:13] nikhilnanivadekar commented on #382
@Daniel-Dos thanks! yeah sure!

[2017-11-03 16:13] Daniel-Dos commented on #382
Thanks @nikhilnanivadekar .

[2017-11-03 17:25] nikhilnanivadekar opened #391 "Implement MutableMapIterable.putPair(Pair<K, V> keyValue)."

[2017-11-03 17:25] nikhilnanivadekar opened #392 "Implement MutableObjectPrimitiveMap.putPair(ObjectPrimitivePair<K>)."
Complete method signature:

`public void putPair(ObjectPrimitivePair<K> keyValuePair)`

[2017-11-03 17:26] nikhilnanivadekar opened #393 "Implement MutablePrimitivePrimitiveMap.putPair(PrimitivePrimitivePair)."
Complete method signature:

`public void putPair(PrimitivePrimitivePair keyValuePair)`

[2017-11-03 17:26] motlin commented on #392
It should be called add() for consistency.
On Fri, Nov 3, 2017 at 1:25 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2017-11-03 17:27] nikhilnanivadekar opened #394 "Implement MutablePrimitiveObjectMap.putPair(PrimitiveObjectPair<V>)."
Complete method signature:

`public <V> putPair(PrimitiveObjectPair<V> keyValuePair)`

[2017-11-03 17:28] nikhilnanivadekar commented on #392
Good catch. Fixed.

[2017-11-03 17:28] motlin commented on #391
This exists already and is called add() if I recall.
On Fri, Nov 3, 2017 at 1:25 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2017-11-03 17:29] nikhilnanivadekar commented on #391
I thought so too, but I only added it in Multimap in 6.0. I guess I missed adding it to MutableMap.

[2017-11-03 17:43] nikhilnanivadekar opened #395 "Implement collectWithIndex() on OrderedIterable."

[2017-11-03 19:41] leomrlima commented on #394
Why add and not put? This is a Map...

[2017-11-03 19:43] nikhilnanivadekar commented on #394
We have a method add() on Multimaps and we like to maintain consistency.

[2017-11-03 19:44] leomrlima commented on #394
Maybe we need to change the add to put on Multimaps...

On Fri, Nov 3, 2017 at 2:43 PM, Nikhil Nanivadekar <notifications@github.com

[2017-11-03 20:09] nikhilnanivadekar commented on #394
I will like to not break backwards compatibility. I am fine adding `add` as well as `put` and delegate.

[2017-11-03 20:10] donraab commented on #394
There is an inconsistency between `add` and `putAllPairs`.

[code]
[code]

[2017-11-03 20:12] donraab commented on #394
There is a difference between `add` and `put` in the case of `Map`.  A method called `add` would return `boolean`, and a method called `put` would return the previous element or `null` if none exists there.

[2017-11-03 21:03] nikhilnanivadekar commented on #394
Changed it to put() as it is more intuitive for a Map

[2017-11-05 00:30] nikhilnanivadekar commented on #391
There exists `add()` on MutableMapIterable. It was pointed out offline that `put()` as a method is more widely used, known and is easily discoverable.

[2017-11-05 14:50] motlin commented on #391
If you think of a map as a collection of tuples, add makes sense. It’s also
consistent with Scala.
On Sat, Nov 4, 2017 at 8:30 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2017-11-05 15:06] nikhilnanivadekar commented on #391
ok I am fine with not deprecating and having add and putPair. add is to make us consistent with Scala, putPair for discoverability.

[2017-11-06 03:32] #391 closed

[2017-11-06 03:32] #392 closed

[2017-11-06 03:32] #393 closed

[2017-11-06 03:32] #394 closed

[2017-11-06 05:39] #363 closed

[2017-11-07 02:59] nikhilnanivadekar opened #399 "Translate menu of Japanese site"
Currently the menu of Japanese site is in English. For consistency it should be translated to Japanese.
Changes will be in here: https://github.com/eclipse/eclipse-collections/blob/master/site/ja/index.html#L75

[2017-11-07 20:18] nikhilnanivadekar opened #400 "Add Chinese translation for Eclipse Collections website."

[2017-11-14 17:44] nikhilnanivadekar opened #406 "Implement Bag.anySatisfyWithOccurrences(), Bag.allSatisfyWithOccurrences(), Bag.noneSatisfyWithOccurrences(), Bag.detectWithOccurrences()"
Similar to selectByOccurrences

[2017-11-14 23:09] donraab commented on #406
The only concern I have with these methods is that we could also add anySatisfyWithOccurrences which would take an ObjectIntPredicate instead of an IntPredicate.  Thoughts?

[2017-11-14 23:28] nikhilnanivadekar commented on #406
In that case I would rather have only `anySatisfyWithOccurrences()` as the users can simply ignore the object/key if they need to work with only occurrences. But then we will break symmetry with `selectByOccurrences()`

[2017-11-14 23:44] donraab commented on #406
I'll leave it to you.  Add the ones you need.  I need collectWithOccurrences already.  I'm ok leaving selectByOccurrences.  It is a special case that we can also replicate if you really need just the occurrences for these predicate methods.  I think the By methods are useful for the predicate methods.

[2017-11-15 23:28] #369 closed

[2017-11-16 00:25] nikhilnanivadekar commented on #382
Fixed via #396

[2017-11-16 00:25] #382 closed

[2017-11-16 18:22] #395 closed

[2017-11-17 12:57] motlin opened #409 "Implement MapIterable.collectKeysUnique()."
[code]
or
[code]

Similar to the existing api:
[code]

`collectKeys` is trickier than `collectValues` because after transformation, the new keys can be equal to each other and collapse into a smaller map. I'm inclined to say that collectKeys should throw, similar to the behavior of groupByUniqueKey, when the function returns non-unique results. On the other hand, RichIterable.toMap() and MutableMa

[2017-11-17 15:59] donraab commented on #409
Perhaps call it collectKeysUnique if it is going to throw?

[2017-11-17 16:38] nikhilnanivadekar commented on #409
If someone needs to only collect on keys and not do anything to values and not throw for dups they can always use `collectKeysAndValue()` and bypass the valueFunction.
For handling duplicates on `collectKeys()` we can return a `BagMultimap` or we can just take a target Multimap and not have any covariant overrides.
If we want to throw on duplicates, we can call it collectUniqueKeys or collectKeysU

[2017-11-17 17:29] motlin commented on #409
collectKeysAndValues() isn’t fluent. You call it on the target map, not the
source. It’s a strange method.

In my use-case, the original Map keys don’t implement equal/hashcode, and I
want to transform them by calling a getter which returns their unique
property, which is just a name. I don’t want to get back a bag because I do
expect the transformation to be unique.

Both collectKeysUnique and co

[2017-11-17 17:41] nikhilnanivadekar commented on #409
how about we add both collectKeys() which will return a Multimap with a target and collectUniqueKeys which will return a Map?

[2017-11-19 00:24] nikhilnanivadekar opened #411 "Is multiplication by 2 required during initialization of UnifiedSet?"
In the default constructor of UnifiedSet, an array of length 16 is allocated. Is that necessary? During the constructor of UnifiedMap it is necessary to multiply by 2, due to alternate keys and values. But I do not think we need to do the same for UnifiedSet.
[code]

[code]
@motlin @gs-rezaem @donraab thoughts?

[2017-11-20 05:14] gs-rezaem commented on #411
In a hash structure, capacity is what the users think of capacity: how many can we put in the set before it resizes. UnifiedSet has a default loadFactor of 0.75, which means it keeps the array at most 3/4 full.
So multiply by 2 is not quite right, it should be multiply by 4/3. But we also need to be a power of 2, so ``8*4/3`` rounded up to the next power of 2 which is 16, or ``8 << 1``.

[2017-11-20 05:14] #411 closed

[2017-11-20 17:54] nikhilnanivadekar commented on #379
Xavier is working on this.

[2017-11-21 03:17] #390 closed

[2017-11-21 17:16] #386 closed

[2017-11-30 21:27] leomrlima opened #416 "Add a JUC Map view on IntObjectMap (and the likes): IntObjectMap.asMap()"
So, use case: I have a class that internally store things in an IntObjectMap. And it implements an interface that has (the same) information exposed in a Map<Integer, Object> getInformation() method.

Currently, I have to iterate over the IntObjectMap and create a new Map to satisfy this.

BUT I think that's cumbersome and wasteful, and EC is "more with less", so I'd like a way to have a IntObject

[2017-11-30 21:29] leomrlima commented on #416
My specific case in point is with ImmutableIntObjectMap. So a view would make even more sense.

[2017-11-30 22:59] leomrlima commented on #416
Adding a JUC Map view kind of requires a JUC Set view to PrimitiveSet. So... ONWaRDS~!

[2017-12-01 23:11] nikhilnanivadekar opened #417 "Implement MapIterable.collectKeys(KeyFunction, TargetMultimap)"
This is related to #409

[2017-12-01 23:49] motlin commented on #417
Do you have an example when you might use this?
On Fri, Dec 1, 2017 at 6:12 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2017-12-07 17:19] nikhilnanivadekar commented on #417
For example:
[code]
But I am not too tied up on having this, so if @donraab and you think it is not useful, I can close the issue.

[2017-12-07 17:52] nikhilnanivadekar commented on #288
@ujhelyiz I have created 9.1.0 release and also have pushed first milestone release successfully 9.1.0.M1.
What are the next steps?

[2017-12-07 19:08] ujhelyiz commented on #288
Now the Gerrit change https://git.eclipse.org/r/#/c/110114/ should be updated with this release and merged into master. We are right in time to do that before the M4 milestone of Photon.

I tried to update the change myself, however, if your milestone build is at http://download.eclipse.org/collections/9.1.0.M1/repository, there is some issue as it does not contain any feature (e.g. there is no fe

[2017-12-07 19:24] nikhilnanivadekar commented on #288
@ujhelyiz I did not change the build config. I guess I need to do that. I can create a M2 build tomorrow.
Can you please help me with what needs to change in the build config in publish-p2-repo?
Do you have access to view the config? https://hudson.eclipse.org/collections/job/publish-p2-repo/configure
If not I can copy paste the details here.

Thank you very much for your help!

[2017-12-07 19:32] ujhelyiz commented on #288
Yes, I can see the job configuration, and it should be updated as described in https://github.com/eclipse/eclipse-collections/pull/383#issuecomment-341016338:

[2017-12-07 19:40] nikhilnanivadekar commented on #288
I updated it. Can you please verify if it looks good?
I can trigger a publish build for SNAPSHOT version. If it works fine will cut another milestone release later today.

[2017-12-07 19:52] ujhelyiz commented on #288
The maven build looks fine, but I have some feedback on the shell script:

 * I would not copy $WORKSPACE/p2-repository/org.eclipse.collections/target/repository - it is entirely succeded by the repository inside the feature-repository folder - you can simply leave out the corresponding `cp` call
 * I am not entirely sure about the `cp -r $WORKSPACE/p2-feature/org.eclipse.collections.repository/ta

[2017-12-07 20:47] nikhilnanivadekar commented on #288
I removed the p2-repository copy command. The build should be removed automatically as `rm -rf $RELEASE_TAG` is executed before copying over the artifacts.

[2017-12-07 20:56] nikhilnanivadekar commented on #288
We forgot to add p2-feature module in the parent pom: https://github.com/eclipse/eclipse-collections/blob/master/pom.xml#L118
That is why the version never got upgraded. Let me know if you would like to contribute. If not I will raise a PR later tonight.
I will create M2 tomorrow and we can test it out.

[2017-12-07 22:21] ujhelyiz commented on #288
We cannot add p2-feature to the parent pom - it has to be a separate build, otherwise it will not find its dependencies in a p2 repository.

If you want to ensure that this new build has the version specified as $RELEASE_TAG, you can add a third maven step (between the two maven steps), selecting the p2-feature as the pom.xml to build and add `org.eclipse.tycho:tycho-versions-plugin:set-version -D

[2017-12-07 22:53] nikhilnanivadekar commented on #288
I updated the config and ran the build. The build is failing due to some license issue:https://hudson.eclipse.org/collections/job/publish-p2-repo/13/console

[code]

Any ideas what is going wrong?

[2017-12-08 09:18] ujhelyiz commented on #288
I have tried to rerun this build on my computer using the command `mvn org.eclipse.tycho:tycho-versions-plugin:set-version -DnewVersion=9.1.0.M1 -V -B -e -DRELEASE_TAG=9.1.0.M1` and it worked as expected.

Looking at the detailed log it might be a connection error towards download.eclipse.org - can you try to rerun the build as is?

[2017-12-08 17:57] nikhilnanivadekar commented on #288
tried again, no luck. From the exception seems like it is related to something in the pom?

[2017-12-08 22:06] ujhelyiz commented on #288
Yes, it is most likely an innocent mistake that manifests itself this way. In the weekend I will have a more detailed look at the issue; I have no idea what might be the culprit at first glance.

[2017-12-09 21:09] oehme commented on #339
I think the title should be "implement insertion ordered set". Using a linked structure is the reason for the huge memory overhead of LinkedHashSet. Using an IntList to maintain the iteration order would be much more efficient. But maybe I'm missing a different reason why a linked structure might be useful?

[2017-12-09 22:02] donraab commented on #339
Makes sense.  Updated.  I'll leave implementation detail up to the developer who contributes.

[2017-12-11 12:27] ujhelyiz commented on #288
A bit later than expected, but I have managed to find the issue: the build of the feature was not standalone but referred to the original parent pom that was not part of the maven reactor.

I have created https://github.com/eclipse/eclipse-collections/pull/419 that fixes this issue.

Furthermore, I have created [a job at the VIATRA Hudson instance](https://hudson.eclipse.org/viatra/job/eclipse-col

[2017-12-11 13:44] motlin commented on #339
A removal from the middle of an IntList would turn Set.remove() into a
linear time operation, at least with the naive/obvious implementation. In
fact, any removal is complicated.
On Sat, Dec 9, 2017 at 4:09 PM Stefan Oehme <notifications@github.com>
wrote:

[2017-12-11 16:16] oehme commented on #339
I corrected my comment above - I meant keeping the links in a long[], storing the previous pointer in the lower half and the next pointer in the upper half of each long and indexing it with the same indexes as the main table. That gives you a compact link representation and constant time removals.

[2017-12-11 17:24] nikhilnanivadekar commented on #288
Thanks!
I have updated the shell script. Mentioning the change here for transparency.
Before:
[code]

After:
[code]

[2017-12-11 17:33] nikhilnanivadekar commented on #288
The build has gone through: https://hudson.eclipse.org/collections/job/publish-p2-repo/15/console
Thank you very much for your help!
Can you please direct me to the next steps?

[2017-12-11 22:57] ujhelyiz commented on #288
I have updated the Gerrit change with the results of the new build: https://git.eclipse.org/r/#/c/110114/

I have done the following steps here:
  * Removed Eclipse Collections from the VIATRA contribution
  * Created a separate contribution with the new feature (as defined by the URL and the exact version specification), and
  * Added this new feature to the _Application Development Frameworks_ c

[2017-12-12 00:10] nikhilnanivadekar commented on #288
I can merge it. A question, each time we release a new version, do we have to change the version in here: [collections.aggrcon](https://git.eclipse.org/r/plugins/gitiles/simrel/org.eclipse.simrel.build/+/a5daf8032c39f217b1f68b429bc2f738fc46014c/collections.aggrcon)

[2017-12-12 00:15] nikhilnanivadekar commented on #288
I did a +1 on the review: https://git.eclipse.org/r/#/c/110114/ Is there anything else I need to do to trigger the merge? Thanks!

[2017-12-12 08:20] ujhelyiz commented on #288
Basically yes, with two remarks:

 * You should make sure that your release timelines match the simultaneous release timing; e.g. simrel milestones are about 6 weeks apart (at milestones you can either add a milestone or a release build); at a simrel release there should be a release version added there. If required, look at the release calendar linked in https://wiki.eclipse.org/Category:Photon

[2017-12-12 23:04] nikhilnanivadekar commented on #288
I see that the change is merged.
I didnt have a button with +2. I will raise a bugzilla. Thanks for the reference.

[2017-12-13 20:21] nikhilnanivadekar commented on #288
@ujhelyiz today was the Photon M4, is there a way we can test if the dependency is correctly added?

[2017-12-13 22:16] ujhelyiz commented on #288
Yes, you could look at the repository produced by the last build on the simrel Jenkins instance: https://hudson.eclipse.org/simrel/job/simrel.photon.runaggregator.BUILD_CACHED/lastSuccessfulBuild/artifact/aggregation/final/

[2017-12-17 03:05] donraab opened #420 "Optimize primitive collect methods for primitive Bags when collecting into a primitive Bag."
This is a performance bug.

[2017-12-18 15:34] isopov opened #424 "entrySet() and values() removeIf() methods in both CHM are not thread-safe"
Basically issue is the same as https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8078645 (there are two samples there counting duplicate issue) that is still present in java8 and fixed in java9.
For eclipse-collections this issue is present in ConcurrentHashMap and ConcurrentHashMapUnsafe running on both java8 and java9.

Here is my sample revealing it - https://github.com/isopov/chm-jcstress
Y

[2017-12-18 15:48] isopov commented on #424
Moreover there is separate from j.u.c.CHM bug in the same reproduction that can be linearized the following way:
- put one value with put
- successful replace it with other value
- try to remove second values with values().removeIf() or entrySet().removeIf() and fail (bug!)
- check if key is present and it is not (same or another bug)

[2017-12-18 16:38] gs-rezaem commented on #424
I have a possible fix in https://github.com/gs-rezaem/eclipse-collections/tree/chmfix.
Do you mind running the stress tests?
Also, if there is a linear bug here, do you mind supplying a junit test?

[2017-12-18 18:42] isopov commented on #424
I've built version from your fork and this issue is fixed, I think

Sorry - I referred to https://en.wikipedia.org/wiki/Linearizability and other issues are still present.

Shorter algo:
- thread 1 puts pair 1,1 into map
- thread 2 puts pair 1,0 into map replaces previous pair (receiving 1 as output from put)
- thread 2 tries to removeIf by values 0 but this method returns false as there is no suc

[2017-12-18 19:01] gs-rezaem commented on #424
@ isopov Sorry, I'm not sure I understand the behavior you expect from the test above.
The two loops (put(i,1) and put(i,0);removeIf) are running simultaneously. There is no implied guarantee that thread 2 should see a map that only has 0 values between the call to put(i,0) and removeIf. So the following sequence of events can easily lead to the System.out:

Thread 2: put(0,0) (put is true)
Thread

[2017-12-18 19:46] gs-rezaem commented on #424
@isopov Sorry, my example above is wrong (put would be false in Thread 2). Let me have a closer look.

[2017-12-19 16:19] gs-rezaem commented on #424
@isopov I think I know the issue here. There is a bug in the test code. The map is initialized with zeros, so the following is possible:

Thread 2: put(0,0) (put is true because it's prepopulated)
Thread 1: put(0,1)
Thread 2: removeIf: false, as there is no 0 value.

If you add map.clear() before the CyclicBarrier and I can no longer see any System.outs.

[2017-12-23 06:47] henohenotsuyoshi opened #428 "class of argument in MutableMapIterable#putPair class to be Pair<? extends K, ? extends V>"
Hi all,

I suggest to change class of argument in MutableMap#putPair to be Pair<? extends K, ? extends V> instead of Pair<K, V> so that the function allow to put Pair object with subclass of K, V.

Thanks,
Tsuyoshi.

[2017-12-23 15:41] motlin commented on #428
Java generics are invariant, so I'm not 100% sure this would work. Did you
try making the change? I would want to make sure users could continue using
the api without wildcards in calling code.

On Sat, Dec 23, 2017 at 1:47 AM sone tsuyoshi <notifications@github.com>
wrote:

[2017-12-24 05:49] henohenotsuyoshi commented on #428
I tested below snippet. putPair function only compiles with my above idea.
The idea is same as other functions to put new elements, like Map#putAll

    @Test
    public void myTest()
    {
        UnifiedMap<A, A> map1 = UnifiedMap.newMap();
        UnifiedMap<B, B> map2 = UnifiedMap.newWithKeysValues(new B(), new B());
        map1.putAll(map2);
        Pair<B, B> pair = Tuples.pair(new B(), new

[2017-12-26 06:31] #424 closed

[2018-01-07 07:54] shreyateeza commented on #420
I will try to solve this issue. Please assign it to me. @donraab

[2018-01-07 08:05] nikhilnanivadekar commented on #420
@shreyateeza thank you for volunteering to contribute. Consider it assigned to you.
Its a long pending feature request to GitHub to allow new collaborators to be assigned. Once you contribute to Eclipse Collections I think future issues can be assigned to you.
Thanks for understanding!

[2018-01-11 10:34] nolequen commented on #309
It seems collectWithIndex is already implemented in orderedPrimitiveIterable.stg

[2018-01-11 13:00] nikhilnanivadekar commented on #309
@nolequen thanks!

[2018-01-11 13:01] nikhilnanivadekar commented on #309
Closed via #414

[2018-01-11 13:01] #309 closed

[2018-01-17 16:48] #376 closed

[2018-01-22 02:57] nikhilnanivadekar opened #440 "Implement newEmpty() on MutablePrimitiveCollection"
Similar to `org.eclipse.collections.api.collection.MutableCollection#newEmpty`

[2018-01-22 02:58] nikhilnanivadekar commented on #440
This is required for #307

[2018-01-22 17:26] nikhilnanivadekar opened #442 "Optimize UnifiedMap#detectOptional(org.eclipse.collections.api.block.predicate.Predicate2) to not use an iterator."
See UnifiedMap#detect() for example implementation.

[2018-01-22 20:59] nikhilnanivadekar opened #443 "Add coverage for MapIterable.flipUniqueValues() and fix offenders."

[2018-01-22 23:01] nikhilnanivadekar opened #444 "Implement MutableMapIterable#newEmpty(initialCapacity)"

[2018-01-23 03:00] motlin opened #445 "Optimize implementations of groupByUniqueKey() by pre-sizing the target maps."
Since groupByUniqueKey makes the assertion that each result of invoking the function is unique from every other invocation, we can assume the size of the result will be the same size as the input and pre-size the map.

I spot checked a few implementations and none were pre-sized.

[code]

[2018-01-23 03:10] motlin opened #446 "Optimize TreeSortedMap by pre-sizing result collections."
* Pre-size TreeSortedMap.take/drop.
* Pre-size AbstractMutableSortedMap.zip.
* Don't pre-size AbstractMutableSortedMap.select/reject.

[2018-01-23 14:50] nikhilnanivadekar opened #447 "Make AbstractMutableMapIterable super class of MutableOrderedMap"

[2018-01-23 14:53] nikhilnanivadekar opened #448 "Optimize implementations of sumByPrimitive methods for Bags to only iterate once per item, not per occurrence."
sumBy* methods for Bags should use forEachWithOccurrences.

[2018-01-23 14:55] nikhilnanivadekar opened #449 "Optimize implementations of aggregateByPrimitive methods for Bags to only iterate once per item, not per occurrence."
aggregateBy* methods for Bags should use forEachWithOccurrences.

[2018-01-23 15:09] nikhilnanivadekar opened #450 "Expand scope of org.eclipse.collections.api.RichIterable#groupByUniqueKey from MutableMap to MutableMapIterable"

[2018-01-24 02:40] motlin commented on #447
MutableOrderedMap is an interface. Maybe you mean OrderedMapAdapter?

[2018-01-24 02:41] motlin commented on #448
should use forEachWithOccurrences instead of forEach

[2018-01-24 02:41] motlin commented on #449
should use forEachWithOccurrences instead of forEach

[2018-01-25 02:31] nikhilnanivadekar opened #451 "Fix equals() and hashCode() in IntInterval when from == to, from is negative and step is negative"
Failing test:

`Verify.assertEqualsAndHashCode(IntArrayList.newListWith(-1), IntInterval.fromToBy(-1, -1, -1));`

Note: This test passes `Verify.assertEqualsAndHashCode(IntArrayList.newListWith(1), IntInterval.fromToBy(1, 1, 1));`

[2018-01-25 02:48] nikhilnanivadekar commented on #451
Fixes:
[code]

[2018-01-25 02:49] nikhilnanivadekar commented on #451
Tests to add under `org.eclipse.collections.impl.list.primitive.IntIntervalTest#equalsAndHashCode`
[code]

[2018-01-25 18:32] #451 closed

[2018-01-25 18:58] nikhilnanivadekar commented on #307
@donraab @motlin question about unmodifiableCollections. Should the return RichIterable be unmodifiable? Should the inner batches be unmodifiable? On the object side we keep it Mutable. But I think the inner batches and the RichIterable should be unmodifiable.

[2018-01-25 23:43] donraab commented on #307
Sounds reasonable.  How is it implemented on the object side?

[2018-01-25 23:48] nikhilnanivadekar commented on #307
`org.eclipse.collections.impl.collection.mutable.AbstractUnmodifiableMutableCollection#chunk`
it simply calls `chunk()` on the underlying `MutableCollection`.

[2018-01-25 23:55] donraab commented on #307
Is is copying the data, or presenting a view?

[2018-01-26 00:04] nikhilnanivadekar commented on #307
Copies it

[2018-01-26 00:11] donraab commented on #307
So if the data is copied, there's no reason to make it unmodifiable.

[2018-01-26 00:14] nikhilnanivadekar commented on #307
Ok makes sense

[2018-01-26 01:20] motlin commented on #307
:+1:
On Thu, Jan 25, 2018 at 7:14 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2018-01-30 16:12] bergmanngabor opened #453 "Make Primitive Hash Sets non-final"
Currently primitiveHashSet.stg generates final classes. Note that on the contrary, UnifiedSet as well as primitive maps are non-final classes.

I recommend to remove the `final` modifier so that the resulting classes can be just as customizable / extensible as the other collections implementation classes.

[2018-01-30 16:27] gs-rezaem commented on #453
👍

[2018-01-31 08:15] itohiro73 commented on #46
@donraab @nikhilnanivadekar @motlin

(Just to avoid confusion, this is Hiroshi, changed my GitHub account in Eclipse Fundation to use `itohiro73` instead of `itohro`)

Seeing this issue as `minor-version`, I was considering how to make this as a `default method` in RichIterable, but I think there are couple of challenges.

1. We cannot decide the variant of Multimap (such as ListMutimap, SetMultim

[2018-01-31 12:46] motlin commented on #46
If you want to attempt it in a minor version, you'd probably have to only
do implementations (no interfaces) or make the default implementation to
throw new UnsupportedOperationException and override the default.

If there's a version which takes a target, that one can go on the
interfaces.

On Wed, Jan 31, 2018 at 3:15 AM Hiroshi Ito <notifications@github.com>
wrote:

[2018-01-31 17:38] nikhilnanivadekar commented on #338
Fixed via #367 , #436 , #455

[2018-01-31 17:38] #338 closed

[2018-01-31 17:46] nikhilnanivadekar commented on #453
We can do this, but it will have to wait till major release.

[2018-01-31 17:56] nikhilnanivadekar commented on #444
Minor version with default UnsupportedOperationException.

[2018-02-01 02:25] itohiro73 commented on #399
This has been addressed in PR #421. Closing.

[2018-02-01 02:25] #399 closed

[2018-02-01 10:34] bergmanngabor commented on #453
Why is that? I believe no client code can be broken by marking a previously final class as non-final?

[2018-02-01 14:45] #442 closed

[2018-02-02 05:59] itohiro73 commented on #453
As @bergmanngabor mentioned, this change won't affect client code and can be released in minor-version.

https://docs.oracle.com/javase/specs/jls/se7/html/jls-13.html#jls-13.4.2

I also double confirmed this doesn't break serialization.

[2018-02-02 06:00] nikhilnanivadekar commented on #453
thank you @itohiro73

[2018-02-02 16:56] motlin opened #457 "Implement a Map factory method that takes a Map parameter."
Something like this:
[code]
I'm not sure if `map` should be `java.util.Map` or `MapIterable` though. I suppose we could add MapIterable.toMutable() so that the factory would work best with `java.util.Map`. Thoughts?

[2018-02-03 04:29] nikhilnanivadekar commented on #444
There is org.eclipse.collections.impl.map.mutable.AbstractMutableMap#newEmpty which has the below signature:
`public abstract <K, V> MutableMap<K, V> newEmpty(int capacity);`

It is generic and public, so we cannot pull it up from abstract class to the interface. At the same time, we cannot have a method with same name on MutableMapIterable. This causes issues as the abstract method/implementation

[2018-02-03 04:37] nikhilnanivadekar commented on #457
I think it should be a `java.util.Map`

For `MapIterable.toMutable()` in case of MutableMapIterable will we return a copy or same instance? From our convention toMutable will have to be a copy. It can return `this` for ImmutableMapIterable.

In the factory, we will iterate over key, value and populate the pre-sized new map.

[2018-02-03 04:50] motlin commented on #444
It's probably used for collect, right? Do the generics make it more useful, or annoying?

It's also an option to go through a deprecation cycle and get rid of the method rather than avoid the name.

[2018-02-03 15:10] motlin commented on #457
I mostly agree, except it cannot return `this` for ImmutableMapIterable, it has to make a copy in all cases.

We should delegate to forEachKeyValue if available, and entrySet otherwise.

[2018-02-03 16:09] nikhilnanivadekar commented on #457
Ok I understand why `this` will not be possible because then it will return an Immutable 😄
👍

[2018-02-03 16:21] nikhilnanivadekar commented on #444
It is useful, I have observed code which looks like this: `UnifiedMap.newEmpty(capacity)`  so, deprecating and eventually removing it will break users. Even in the library we have used it:
[code]
We can replace similar uses by `new UnifiedMap<>(size);` or `Maps.mutable.withInitialCapacity(size)`
But since it is useful and will lead to breaking change which might impact a lot of users, we should no

[2018-02-03 16:23] #453 closed

[2018-02-03 16:23] motlin commented on #444
Just want to make sure it's clear that UnifiedMap.newMap() is a different method that happens to have the same name. It's static, so it does not implement or override the method in question.

[2018-02-03 16:27] motlin commented on #444
And yes AbstractMutableMap#newEmpty is a public method, but it's not on the interface. In order to access it, you'd have to be storing your UnifiedMap (for example) as a UnifiedMap or AbstractMutableMap, not a MutableMap or Map. Deprecating/deleting/replacing still seems reasonable to me.

Also, "do nothing" is a reasonable option. We don't really need to add a method if we can do the same thing t

[2018-02-03 16:47] nikhilnanivadekar commented on #444
This method is currently required only for collect (as you pointed out). We can deprecate it in 9.2 and make it protected in 10.0 or in 11.0. So this will at least not break users who have extended our Map implementations. Also, it will allow us to hint users to use `newMap(capacity)` instead in Javadoc.

That still leaves us with the problem of having the same method name. If we are not too tied

[2018-02-03 22:25] bergmanngabor commented on #453
Thanks a lot!

[2018-02-05 06:57] itohiro73 opened #459 "Make primitive classes non-final."
This is similar to #453. I find number of primitive impl stg templates are defined to generate final classes.

![image](https://user-images.githubusercontent.com/2220637/35791703-c4e7abcc-0a8c-11e8-8287-60dc2cda70db.png)

I'm not sure if there was a particular reason for that. If no valid reason, I'd suggest to remove `final` as similar to issue #453.

Thoughts @donraab @nikhilnanivadekar @motlin

[2018-02-05 23:30] motlin commented on #459
I put `final` in a number of places. For immutable collections it helps ensure that sublcasses are still immutable. For the other classes, it doesn't buy us much, or anything. Even synchronized and unmodifiable wrappers only make guarantees about mutations that go through the wrappers, so I think they could be non-final without sacrificing anything.

[2018-02-06 03:52] itohiro73 commented on #459
Thanks @motlin . That's what I thought.

Let me remove `final` from the classes besides immutable collections.

[2018-02-08 15:15] motlin opened #462 "Optimize UnifiedSet.trimToSize()."
When iterating through a ChainedBucket, every item was a collision before shrinking and will remain a collision after shrinking. Instead of repeatedly looking up the ChainedBucket and iterating to the end of it, the algorithm could look it up once and walk through the new and old ChainedBuckets simultaneously.

[2018-02-09 15:54] bergmanngabor commented on #453
Can I ask whether you are joining the Eclipse Photon release train by Milestone 6? In other words, will builds with the above fix (pre-releases of 9.3.0 if I understand correctly) be available in the [SimRel staging repo](http://download.eclipse.org/staging/photon) sometime soon, so that other Photon participants (Viatra in my case) can start depending on it?

Sorry to bother you personally with t

[2018-02-09 15:57] nikhilnanivadekar commented on #453
I will be creating a milestone release next week, and will update the sim-rel contribution. If you need it immediately, I am happy to create a milestone today, but wont have time to upgrade the contribution version.

[2018-02-09 16:47] bergmanngabor commented on #453
There is no rush :) Next week is totally fine!
Thanks!

[2018-02-10 23:21] nikhilnanivadekar commented on #453
@bergmanngabor
I have published 9.2.0.M1 to p2 repo. Maven central deploy is having an issue, raised a bug here: https://bugs.eclipse.org/bugs/show_bug.cgi?id=530997

For now can you please verify if the published p2 artifacts work fine for you? I can then upgrade the sim-rel contribution.

[2018-02-10 23:26] nikhilnanivadekar commented on #453
path: download.eclipse.org/collections/9.2.0.M2/p2-repository-9.2.0.M2.zip

[2018-02-12 11:32] pikeview opened #464 "Files missing in repo"
Hi,
  I could not find below classes' source files in the java source packages.
  RichIterable has compilation errors due to this..
  Are these to be resolved by following any special build steps?
  Please advise.

import org.eclipse.collections.api.block.function.primitive.BooleanFunction;
import org.eclipse.collections.api.block.function.primitive.ByteFunction;
import org.eclipse.collections.api

[2018-02-12 13:06] donraab commented on #464
These classes are code generated.  You need to run mvn clean install at least once for them to be generated and available.

[2018-02-12 14:45] motlin commented on #464
Full instructions in CONTRIBUTING.md
On Mon, Feb 12, 2018 at 8:06 AM donraab <notifications@github.com> wrote:

[2018-02-12 15:04] itohiro73 commented on #464
Closing for now.

[2018-02-12 15:04] #464 closed

[2018-02-12 18:03] pikeview commented on #464
Noted. thank you.

[2018-02-12 19:05] #459 closed

[2018-02-16 10:11] andreikoval opened #466 "Update license from deprecated EPL 1.0 to EPL 2.0"
As per https://www.eclipse.org/legal/epl-2.0/faq.php#h.60mjudroo8e5

[2018-02-16 16:37] bergmanngabor commented on #453
@nikhilnanivadekar thank you very much!
The update site seems to work, and now I can subclass LongHashSet etc.

Remark (CC @ujhelyiz ): on the P2 update site, the P2 feature "org.eclipse.collections" has an incorrect version tag "9.1.0.v20180210-2306", even though its contained plugins are correctly versioned as 9.2. You probably need to bump the major.minor version in your feature.xml.

[2018-02-16 16:49] nikhilnanivadekar commented on #453
@bergmanngabor you mean here?
https://github.com/eclipse/eclipse-collections/blob/master/p2-feature/org.eclipse.collections.feature/feature.xml

Will keep that in mind for the next release's prep work. In the meantime if you want to raise a PR for the necessary version updates for p2, I will be happy to merge it.

[2018-02-16 16:53] ujhelyiz commented on #453
It would be better to increase the version number for the whole p2-feature module (https://github.com/eclipse/eclipse-collections/tree/master/p2-feature) using a maven command, something like `mvn org.eclipse.tycho:tycho-versions-plugin:set-version -DnewVersion=9.2.0-SNAPSHOT`

Note that you don't need to create a specific release version here (without the -SNAPSHOT bit); in Eclipse/OSGi the relea

[2018-02-16 16:55] nikhilnanivadekar commented on #453
Does this go as a post step to snapshot build? Or it goes as a separate build?

[2018-02-16 17:57] ujhelyiz commented on #453
Neither, this should be a once per release step.

I usually do this manually when I prepare for the next release; e.g. after we had released version 1.7.0 from the master branch, I run a command like that on my computer to increase the version number to either 1.7.1-SNAPSHOT or 1.8.0-SNAPSHOT, then commit the changes to the repository.

[2018-02-16 18:20] nikhilnanivadekar commented on #453
ok understood. I will keep that in mind. Thanks!

[2018-02-20 19:58] motlin opened #467 "Implement variants of groupBy that group at multiple levels."
`Collectors.groupingBy()` has an overload which accepts another Collector, allowing multi-level groupBys.

[This guide](http://www.baeldung.com/java-groupingby-collector) includes this example:

[code]

RichIterable could have additional variants of groupBy that take 2 or 3 Functions and return a Map of Multimaps or a Map of Maps of Multimaps respectively.

Alternately, we could have a form of gro

[2018-02-23 17:58] nolequen commented on #420
@donraab, but the collect method signature of primitive iterables doesn't fit the requirements. For example IntIterable:
`<V, R extends Collection<V>> R collect(IntToObjectFunction<? extends V> function, R target)`
MutableIntBag doesn't extend the Collection class.

Is it neccessary to add a new collect method with MutableIntBag as target parameter?

[2018-02-23 20:42] nikhilnanivadekar opened #470 "Verify compatibility with Java-10"

[2018-02-26 13:32] #440 closed

[2018-03-01 00:45] nikhilnanivadekar commented on #400
Fixed via #423

[2018-03-01 00:45] #400 closed

[2018-03-04 00:09] nikhilnanivadekar opened #473 "Remove deprecated Serializable*SummaryStatistics."
`SerializableDoubleSummaryStatistics`, `SerializableIntSummaryStatistics`, `SerializableLongSummaryStatistics`, `SummaryStatistics`
Were deprecated in 8.2.0 and marked to be removed.

[2018-03-04 03:40] #470 closed

[2018-03-07 17:37] gjajoo opened #475 "index method is final in both UnifiedMap and UnifiedSet"
While the classes UnifiedMap and UnifiedSet aren't final, their index method is final. This issue is that sometimes index is the perfect method to Override in those classes as opposed to all the other methods that call index. Would it be possible to remove final on the index method? If not what are the design considerations for keeping it final, given that put/get can be overridden and can alter t

[2018-03-07 17:39] gs-rezaem commented on #475
Can you describe your use case for overriding index?

[2018-03-07 17:43] gjajoo commented on #475
Basically when there's a large number of updates to a Map/Set, the default implementation of index method isn't very cache friendly. With our dataset, we can arrange the updates in a manner, that if we can override the index method, we can reduce the cache misses drastically. Also our index override is less computationally intensive so it's improves the overall throughput. This is when measured wi

[2018-03-07 18:20] gs-rezaem commented on #475
Interesting. Index is well factored and can be marked non-final. It was probably marked final to encourage inlining, which when overriden is less likely to happen due to megamorphism.

[2018-03-07 18:21] gs-rezaem commented on #475
To enshrine the non-final contract, the test suite would have to be executed with two versions of the classes (with an without override).

[2018-03-07 18:23] gs-rezaem commented on #475
Alternatively, we could explore a better default index, maybe based on the ideas in the much newer primitive classes.

[2018-03-07 19:02] gs-rezaem commented on #475
I meant the test suite in eclipse collections. Right now, index is well factored, but ensure future changes to the class don't break (unknown) subclasses, we should run all the tests with an without an override.

I didn't mean we should transplant **your** index function and expect it to work. Optimistically, there may exist a lower-computational index method that works for the general case and yo

[2018-03-08 01:32] donraab opened #476 "Implement countByEach on RichIterable."
This can be implemented as a default method on RichIterable as countBy was.  It will need appropriate co-variant overrides as default methods and optimizations for Bag implementations.

The signature of countByEach should be:

`default <V> Bag<V> countByEach(Function<? super T, ? extends Iterable<V>> function)`

The naming is based on the pattern we used for groupBy/groupByEach.

This code in the

[2018-03-09 16:06] gs-rezaem commented on #475
@gjajoo Do you mind trying one of these [32 bit spread functions](https://github.com/eclipse/eclipse-collections/blob/df5b50c7154b09634ad16b78ffeb1c165218600e/eclipse-collections/src/main/java/org/eclipse/collections/impl/SpreadFunctions.java#L19)?

[2018-03-10 05:05] #305 closed

[2018-03-11 18:25] jolkdarr opened #477 "Implement new type of collections: Table"
Hi

That would be nice if the framework did offer Tables.
Tables are sort of map of maps of objects with two key generic types (ROW and COLUMN) and a value generic types (VALUE).
For instance, a table `MutableIntShortObjectTable<V>` could be used instead of a `MutableIntObjectMap<MutableShortObjectMap<V>>` with `removeRow` , `removeColumn`... methods.

Of course, it's a great work and I might cont

[2018-03-11 20:31] #361 closed

[2018-03-11 21:03] donraab opened #478 "Implement countByEach on Collectors2."
Signature:

`public static <T, K> Collector<T, ?, MutableBag<K>> countByEach(Function<? super T, ? extends Iterable<K>> function)
`

[2018-03-16 08:21] alexo134 opened #481 "Primitive iterator looses sync after too many elements are removed"
Consider this code:

[code]
this will cause this exception:
[code]
It works for smaller numbers of elements like max = 1k or 10k but starts to fail for 100k and more.

And I found the cause:
```InternalIntIterator.remove()``` calls the standard methods ```IntHashSet.remove();``` which does rehashing when there is too many entries occupied with sentinels.

[code]
and this makes iterator invalid.

[2018-03-16 14:43] nikhilnanivadekar commented on #481
@alexo134 thanks for reporting this!
We will take a look and come back on this issue.

[2018-03-17 16:54] TheLoneKing commented on #476
Should the implementation be lazy?

[2018-03-18 03:46] nikhilnanivadekar commented on #476
Yes similar to `countBy()`
countBy(): `this.asLazy().<V>collect(function).toBag();`

countByEach(): `this.asLazy().<V>flatCollect(function).toBag();`

[2018-03-18 03:53] nikhilnanivadekar commented on #477
Table is fine to add on the object side. However, we will not add a PrimitiveTable due to the number of permutations between the primitives which are required. These permutations end up inflating the jar. We faced a similar inflation when PrimitiveMaps were implemented.
We would be happy to take this contribution 😄
Addition of new data structures can be done with a minor release.
For 2018 the rele

[2018-03-19 02:51] nikhilnanivadekar commented on #481
@alexo134 raised a #484 to fix it. Once merged it will be available with 9.2.0 release which is slated for 04/18: https://projects.eclipse.org/projects/technology.collections/releases/9.2.0

[2018-03-19 02:58] nikhilnanivadekar commented on #387
@ujhelyiz can you please point me to documentation which will help me with this?
I remember us discussing about creating a composite repository as a part of p2 contribution. May be I am missing the two. Thanks a lot for your help!

[2018-03-19 08:23] ujhelyiz commented on #387
I know only a single wiki page of related documentation: https://wiki.eclipse.org/Equinox/p2/Composite_Repositories_(new)

However, the process itself is very simple: you have to select a folder where you put two files named `compositeArtifacts.xml` and `compositeContents.xml` with nearly identical content, where you reference the child repositories (either by absolute or relative urls). If you wa

[2018-03-19 14:41] #481 closed

[2018-03-20 13:25] nikhilnanivadekar commented on #387
Thank you! I'll try and get back to you.

[2018-03-20 14:30] gjajoo commented on #475
@gs-rezaem Sorry I couldn't get back sooner on this as I am travelling.

This is the most important thing in our usecase  i.e. it's possible to order data in a way that's causes fewer cache misses, regardless of the length of the table. It's possible for us to do this because the dataset's hashcodes are distributed enough that we can simply do a single >> shift operation to arrive at the desired i

[2018-03-20 15:53] gs-rezaem commented on #475
@gjajoo fair enough. Would you like to contribute this change?

[2018-03-22 08:10] jolkdarr commented on #477
Hi

I agree with you: the library fatness shall be mastered.
However, I think that a single primitive table class (like `IntIntTable`) would be useful by covering many use cases in addition of a general class.

Very cool if the extension were available in October release. :+1:

[2018-03-22 17:06] nikhilnanivadekar commented on #477
Hi @jolkdarr for starters the Object Table will cover the boxed primitives condition, so that will be a good place to start.
Best way to get it as a part of release is to contribute the feature 😄 . We will be delighted to take this contribution 👍 .

[2018-03-22 18:12] jolkdarr commented on #477
Hi
Sorry if I weren't precise about the data structure.
I had in mind something that could somehow replace the `Table` class from `Guava` library which I'm still required to import in my current application (~10000 classes loaded!).
API that I'm using is described at:
https://google.github.io/guava/releases/19.0/api/docs/com/google/common/collect/Table.html

[2018-03-22 18:17] gs-rezaem commented on #477
Can you tell us about how you use this api and whether your data is sparse or not? Specifically, do you use the ```columnMap()``` or ```cellSet()```? The guava variant doesn't have ```removeRow```, ```removeColumn```. Do you want those?

[2018-03-22 18:51] jolkdarr commented on #477
- [x] As mentionned above, Tables could be implemented with maps of maps. Therefore, sparseness doesn't matter.
- [x] Yes, I'm using `rowMap`, `columnMap` and `cellSet` for iteration purposes.
- [x] Row/column removal is supported but not explicite (see `row` and `column` methods).
You should read the logs related to the following issue:
https://github.com/google/guava/issues/2716

[2018-03-22 19:26] gs-rezaem commented on #477
Putting a sparse dataset into a non-sparse collection is a bad idea from both a time and space perspective. It is literally twice as bad when you have two key dimensions. Guava has ```ArrayTable``` and ```HashBasedTable``` because of that.

A row-major map of maps also has terrible performance (```O(R)```, not ```O(1)```) for column based operations. I'd be careful with any such usage.

Reading th

[2018-03-23 09:24] TheLoneKing commented on #476
the test case for this is failing with the error No iteration patterns should delegate to iterator().

  UnifiedMapNoIteratorTest.RichIterable_countByEach No iteration patterns should delegate to iterator()
  UnifiedMapWithHashingStrategyNoIteratorTest.RichIterable_countByEach No iteration patterns should delegate to iterator()

My test case is here: https://github.com/TheLoneKing/eclipse-collecti

[2018-03-23 15:20] #307 closed

[2018-03-23 17:53] nikhilnanivadekar opened #486 "Override `remove*()` methods in synchronized and concurrent collections."

[2018-03-23 19:03] gs-rezaem commented on #486
This also applies to views that have the methods, e.g. `Map.entrySet()`.

[2018-03-24 04:53] donraab commented on #478
Fixed by #482.

[2018-03-24 04:53] #478 closed

[2018-03-24 05:09] donraab commented on #420
@nolequen First, sorry for the delay in responding.

No, the existing signatures are fine.  In the case of an MutableIntBag with the collect signature as you have above, the method can be overridden as follows:

[code]

This could be applied similarly across all of the other collect primitive variants (collectInt, collectLong, etc.).

[2018-03-24 09:26] nolequen commented on #420
@donraab thanks! Now it is clear.

[2018-03-26 00:04] nikhilnanivadekar commented on #476
@TheLoneKing you are missing overrides for the `countByEach()` implementation. Take a look at `countBy()` for the overrides that are present.
I have simplified the test case and fixed it for Map here: https://github.com/nikhilnanivadekar/eclipse-collections/commit/6f9ea99f701d380127e87c3d3ab3f1c3b584cfd7
Take a look and let me know if you have any questions.

Eclipse Collections Maps and Sets are

[2018-03-26 20:33] bryce-pilcher opened #491 "Primitive Hash Maps addToValue returns wrong value after rehash and grow"
`addToValue` returns the wrong value if the data structure is resized as a result of the add.

It appears as though the index in `addToValue` is stale after a rehash and grow operation.  And this is causing the value of the key to be misrepresented.  In my case, it is simply returning a 1 or zero, but it could return a high value for a key that shouldn't have a high value, or vice-versa.

I have p

[2018-03-29 16:54] #379 closed

[2018-04-02 11:39] fabfas opened #496 "Nice to have an API which will make conversion from `RichIterable<BoxedPrimitive>` to `PrimitiveIterable` easier."
I was converting `MutableMap<String, Double>` to `ObjectDoubleMap<String>`.  I can use something below;

MutableMap<String, Double> stringDoubleMutableMap = Maps.mutable.with("1", 1.0, "2", 2.0);
MutableObjectDoubleMap<String> targetMap = ObjectDoubleMaps.mutable.empty();
stringDoubleMutableMap.forEachKeyValue((key, value) -> targetMap.put(key, value));

But It would be nice to have an API which w

[2018-04-04 03:42] jdimeo commented on #351
I still haven't forgotten about this and will revisit now that I'm getting my feet wet with my first PR #492

[2018-04-04 03:44] nikhilnanivadekar commented on #351
Thanks for your help and contribution :smile:

[2018-04-04 13:02] gjajoo commented on #475
Yes I can contribute the change. I'll read up on the procedure for doing so and will revert if I run into any issues.

[2018-04-04 19:40] nikhilnanivadekar commented on #475
@gjajoo contribution guidelines are available here: https://github.com/eclipse/eclipse-collections/blob/master/CONTRIBUTING.md

[2018-04-07 03:03] motlin opened #499 "Add method Bag.selectDuplicates()."
I searched my codebase for all usages of Bag.selectByOccurrences(). There are only a few usages, but all of them are of the form `bag.selectByOccurrences(occurrences -> occurrences > 1)`. I would suggest adding a convenience method `Bag.selectDuplicates()` which just delegates to `this.selectByOccurrences(occurrences -> occurrences > 1)`. Thoughts?

[2018-04-07 03:05] nikhilnanivadekar commented on #499
This is one of the methods which I use quite often. Upvoted!

[2018-04-07 03:07] nikhilnanivadekar commented on #499
I would consider adding a `Bag.selectUniques()` as well as a corollary to this method.

[2018-04-08 13:51] motlin opened #500 "Override Java 8 default methods for correctness and efficiency."
There are several default methods added to Java 8 collections interfaces that are not overridden in Eclipse Collections. Default methods are often composites that delegate to several other methods. For example, Map.compute() delegates to get(), containsKey(), put(), and remove(). For synchronized/concurrent collections, it may be necessary to override for correctness. For others, it can be more ef

[2018-04-21 04:28] donraab opened #504 "Symmetry: flatCollectWith should be added to RichIterable and subtypes."
We have collect, collectWith and flatCollect, but no flatCollectWith on RichIterable.

This should be able to be added in a minor version leveraging default methods, but care will have to be taken to make sure all of the appropriate interfaces have co-variant overrides.  Everywhere flatCollect shows up in interfaces, flatCollectWith will have to be added with a default implementation.

[2018-04-22 18:55] nikhilnanivadekar commented on #475
Fixed via https://github.com/eclipse/eclipse-collections/commit/a2d12731ef3e161341086f87af0b709ed3a14102

[2018-04-22 18:55] #475 closed

[2018-04-22 18:56] nikhilnanivadekar commented on #496
@fabfas this is a good proposal. Would you like to contribute this feature?
Contribution guidelines are available here: https://github.com/eclipse/eclipse-collections/blob/master/CONTRIBUTING.md

[2018-04-30 14:12] nikhilnanivadekar opened #506 "Implement Bag.selectUnique()"
This should return a Set of all objects with count == 1 in the Bag.
Refer to #499 for details.

[2018-05-02 13:44] #499 closed

[2018-05-02 17:01] loradd commented on #506
Hi, I would like to work on this issue.
Is anybody working on it? Thanks!

[2018-05-02 17:10] nikhilnanivadekar commented on #506
@loradd go for it! Let us know of you need any help! We will gladly take the contribution

[2018-05-04 18:50] #504 closed

[2018-05-07 02:03] loradd commented on #445
Hi, I would like to work on this issue.
Is anybody working on it? Thanks!

[2018-05-07 06:49] nikhilnanivadekar commented on #445
@loradd go for it! Thanks in advance for your contribution!

[2018-05-08 06:34] saudet opened #510 "Build on Android fails with ArrayIndexOutOfBoundsException: 65535"
We would like to use the Eclipse Collections as part of Eclipse Deeplearning4j, but we found it to be incompatible with Android for unclear reasons, see https://github.com/deeplearning4j/deeplearning4j/issues/5087. Basically, whenever `org.eclipse.collections:eclipse-collections` is added as a dependency, to an otherwise empty project create with Android Studio, for example, the build ends with th

[2018-05-08 09:34] saudet commented on #510
Thanks for follow up! Multidex doesn't solve this though. It's supposed to be enabled by default these days, and I've just tried adding `multiDexEnabled true` just to make sure, but nothing changes, so it's something else.

Right, ProGuard could work for release builds, but this doesn't solve issues during development, for debug builds.

Would you have a list of suspicious classes that might be ca

[2018-05-08 09:46] nikhilnanivadekar commented on #510
Try to exclude primitive collections especially all PrimitivePrimitiveMaps, PrimitiveObjectMaps and ObjectPrimitiveMap except ObjectIntMap. Please keep the ones which you plan to use. ObjectIntMap is used by our Bag implementation. But that might be cumbersome in my opinion. I have not excluded specific classes in the build, so I don't know if you can wildcard the exclusions.

To help Android and

[2018-05-08 11:34] #445 closed

[2018-05-10 15:10] motlin opened #511 "Implement Bag.collectWithOccurrences(ObjectIntToObjectFunction<T, V> function)"
Similar in spirit to Bag.selectByOccurrences(), and forEachWithOccurrences(), though the overrides may be trickier.

[2018-05-12 17:34] #506 closed

[2018-05-12 17:41] #510 closed

[2018-05-12 17:41] nikhilnanivadekar commented on #510
Please reopen the issue if you have any further questions.

[2018-05-13 14:01] saudet commented on #510
Well, it would be nice to know exactly which classes to skip, including a complete list of classes that depend on them, and consequently which features are unavailable on Android. If there is a feature that we would really like to use tough, we will most likely start debugging this by ourselves, but probably not before.

[2018-05-14 00:00] AlexDBlack commented on #510
Thanks for the replies. Figured I'll chime in here as well.

Excluding specific classes may be a workaround, but it's not an approach that we (or at least I) would be supportive of using. I suspect this approach would be challenging to maintain, especially given our android testing infrastructure isn't nearly as thorough as on PC.

Is there any rough timeline for the refactoring/additional modules

[2018-05-14 00:32] nikhilnanivadekar commented on #510
It is on our To Do list, however, no solid timelines yet.
I will gladly take any help/contribution I could get for this feature. Would you or anyone from your team like to contribute?

[2018-05-14 01:56] AlexDBlack commented on #510
Thanks. As much as I'd love for this to be fixed (I do like Eclipse Collections quite a lot :)), unfortunately I don't think this would be something we could allocate engineering time to in the near future.

[2018-05-14 21:10] motlin commented on #510
@saudet ProGaurd prunes out classes that you don't use in your project, so there's no general list that will work for everybody. However, we know that pruning out all primitive collections reduces the code size by well over half, and many folks don't use the primitive collections.

[2018-05-15 01:12] saudet commented on #510
One more thing, recent versions of the Collections appear to rely on Java 8, but Android still has very limited support for Java 8...

@motlin ProGuard works well for release builds, but isn't really practical for debug builds. Users of Deeplearning4j are typically developers, not end users.

[2018-05-17 11:12] loradd commented on #365
Hi! Should we return a 0-sized list when initialCapacity < 0?

    public FastList(int initialCapacity)
    {
        this.items = initialCapacity <= 0 ? (T[]) ZERO_SIZED_ARRAY
                                          : (T[]) new Object[initialCapacity];
    }

[2018-05-20 13:03] motlin commented on #365
I think we should throw IllegalArgumentException. Thoughts?
On Thu, May 17, 2018 at 7:12 AM Lorenzo Addazi <notifications@github.com>
wrote:

[2018-05-20 15:12] nikhilnanivadekar opened #516 "Remove default implementations which throw Unsupported Exceptions for Backwards Compatibility"

[2018-05-20 15:31] nikhilnanivadekar commented on #365
I agree, also this will be consistent with the existing implementations.
Justification for this approach is that, I would expect the users of this constructor, to know the initialCapacity beforehand.

[2018-05-21 14:45] loradd commented on #365
Yes, I agree. I can take this issue if it is fine for you.

[2018-05-21 16:26] nikhilnanivadekar commented on #365
@loradd we already have a PR for the fix of this #427 .
We have many more issues we could use your help on, for example: #511 , #476 , #457 , #409 and many more!
Also, I would love to add translations of the website in more languages, if you are interested.

[2018-05-22 04:48] donraab opened #517 "MutableOrderedMap should override withKeyValue, withAllKeyValues, withAllKeyValueArguments, withoutKey, withoutAllKeys"
The methods withKeyValue, withAllKeyValues, withAllKeyValueArguments, withoutKey, withoutAllKeys should all be overridden and return MutableOrderedMap on MutableOrderedMap.

[2018-05-22 13:20] rbjorklin opened #519 "addToValue on maps return the argument value unchanged"
`addToValue` on maps return the argument `toBeAdded` unchanged which doesn't seem very useful. Wouldn't it make more sense to return either the old or the new value?

Excerpt from `ObjectDoubleHashMap`:

    public double addToValue(K key, double toBeAdded)
        {
            int index = this.probe(key);
            if (isNonSentinel(this.keys[index]) && nullSafeEquals(this.toNonSentinel(this.k

[2018-05-22 14:19] nikhilnanivadekar commented on #519
@rbjorklin the `toBeAdded` value is returned only when the Map does not contain the corresponding key.
the `if` block is for when there is a key, value in the Map. the value gets updated and we return the added value.
However, if the key is not present in the map, we add the key and value (`toBeAdded`) in this case and return `toBeAdded`.

[2018-05-22 14:19] #519 closed

[2018-05-22 14:19] nikhilnanivadekar commented on #519
Feel free to reopen if you have more questions. Thanks for trying out Eclipse Collections!

[2018-05-22 14:38] rbjorklin commented on #519
I need to get my eyes checked... I somehow missed the `return` statement inside the `if` block... Sorry!

[2018-05-26 23:44] #365 closed

[2018-05-26 23:47] nikhilnanivadekar commented on #428
Fixed via #522

[2018-05-26 23:48] nikhilnanivadekar commented on #428
Had closed this by mistake

[2018-05-31 07:09] roger-gl opened #524 "zip is deprecated ?"
The following code causes a deprecated warning for the zip call in IntelliJ. Is that a problem of IntelliJ or is that code wrong?

[code]

[2018-05-31 13:53] motlin commented on #524
MutableList.zip() is not deprecated, so IDEs shouldn't show a deprecation warning on this code.

However, RichIterable.zip() is deprecated as a warning that you might be running an operation which cares about ordering on an unordered collection.

[2018-05-31 13:53] #524 closed

[2018-05-31 15:53] #368 closed

[2018-06-01 18:28] donraab opened #525 "Implement stream and parallelStream on RichIterable"
Today we have stream() and parallelStream() on MutableCollection (inherited from java.util.Collection) and ImmutableCollection.  We should move these methods up to RichIterable.

[2018-06-01 18:33] donraab opened #526 "Implement stream() on Int/Long/DoubleList"
This will allow developers to use the three primitive streams with the equivalent primitive Lists.  This can be useful for both mutable and immutable primitive array lists.  Parallel primitive streams can be used with their internal primitive arrays.

[2018-06-02 07:21] donraab opened #528 "Implement ImmutableSortedBagMultimapFactory in Multimaps"
This type is missing in Multimaps on the immutable side.

[2018-06-05 16:49] henohenotsuyoshi opened #529 "CollectPrimitiveProcedure.stg to populate CollectPrimitiveProcedure.java"
Hi All,
Currently all CollectPrimitiveProcedure has actual java files respectively in code base.
CollectBooleanProcedure
CollectByteProcedure
CollectCharProcedure
CollectDoubleProcedure
CollectFloatProcedure
CollectIntProcedure
CollectLongProcedure
CollectShortProcedure

I think better to replace those with CollectPrimitiveProcedure.stg file. What do you think ?

Thanks,
Tsuyoshi.

[2018-06-06 01:55] nikhilnanivadekar commented on #529
Sure! Go for it!
As long as the package names do not change we should be fine from a compatibility perspective.

[2018-06-06 11:53] henohenotsuyoshi commented on #529
Thanks, I will work on this.

[2018-06-08 00:31] brenopessoa commented on #528
Hello,
i tried to resolve this issue
hope that helpful
Thank you for label for the begginers

https://github.com/eclipse/eclipse-collections/pull/530

[2018-06-12 09:31] nikhilnanivadekar commented on #380
Fixed via 55b9970

[2018-06-12 09:31] #380 closed

[2018-06-20 18:11] nikhilnanivadekar opened #535 "Java 10, Java 11-EA builds failing due to EBR plugin"
The Java 10 and Java 11-EA builds are failing due to API compatibility issue in the EBR plugin while creating OSGi artifacts.

Example log: https://api.travis-ci.org/v3/job/394162025/log.txt

[code]

@guw @ujhelyiz Can either of you please help?

[2018-06-20 20:01] ujhelyiz commented on #535
I am sorry, but I cannot be of real help, as I am not familiar with building on Java 10 neither the error message you have encountered. With a quick search, I have seen that this error usually means some kind of classpath error, but I don't know what. However, what I would try are the following:

 * I have looked at the classpath from the log, and have seen entries for Apache commons-lang 3.7 and

[2018-06-21 08:44] guw commented on #535
@nikhilnanivadekar Can you run with stack trace enabled so that we can spot the error?

[2018-06-21 14:53] nikhilnanivadekar commented on #535
@guw @ujhelyiz I ran the build with -e, cannot run in debug (-X) as the logs exceed Travis limit. Here is the link to log: https://api.travis-ci.org/v3/job/395048845/log.txt

[code]

I will run the build in debug mode in my local machine later today, but wanted to give this info, in case it helps isolate the issue. Looking at the ArrayIndexOutOfBounds, I wonder is the ebr plugin compatible for Jav

[2018-06-21 15:08] ujhelyiz commented on #535
This trace looks helpful, it is really similar to a lot of issues around, and basically is related to an old version of plexus-archiver used. Tycho updated to plexus-archiver 3.4 to solve this issue, see https://bugs.eclipse.org/bugs/show_bug.cgi?id=514119 for details. Given this build uses 2.8.1 for this component, I'd guess this will be the main culprit of the issue.

[2018-06-21 17:52] nikhilnanivadekar commented on #535
@ujhelyiz may be you can contribute the fix 😄 ?

[2018-06-21 18:22] guw commented on #535
@nikhilnanivadekar I'm surprised you got that far. I ran into quite a few issues building EBR on JDK 10.

Feel free to follow progress here: https://github.com/eclipse/ebr/commits/gunnar/jdk

[2018-06-21 18:25] nikhilnanivadekar commented on #535
@guw For the sake of contributors (there are 3 PRs stuck because of build failures), should I accept the build failures as long as they are related to OSGi, and we will eventually fix it?
Thoughts?

[2018-06-21 18:28] guw commented on #535
@ujhelyiz Can you explain what `p2-feature` folder is about? I think this is new?

[2018-06-21 20:18] ujhelyiz commented on #535
@nikhilnanivadekar I could have a look, but not until the weekend.

@guw The p2-feature project contains a separate, Tycho-based build that creates an eclipse feature and a corresponding p2 repository (that includes the bundle created in an earlier run in the p2-repository folder).

[2018-06-22 16:45] #529 closed

[2018-06-22 20:44] nikhilnanivadekar commented on #535
The build still seems to fail: https://api.travis-ci.org/v3/job/395608107/log.txt

Re-opening the issue.

[2018-06-23 22:05] nikhilnanivadekar commented on #535
The build has gone through fine. I will keep this issue open in case the build behaves erratically in the next week, will close if works fine. Thanks!

[2018-06-24 18:11] guw commented on #535
@nikhilnanivadekar Do you cache Maven repos between builds?

[2018-06-24 18:40] nikhilnanivadekar commented on #535
It shouldn't because each build starts with a new maven download. But that could possibly be the reason.

[2018-06-25 17:29] nikhilnanivadekar opened #539 "Implement HashingStrategySets#ofInitialCapacity(), HashingStrategySets#withInitialCapacity()"

[2018-06-25 19:07] #457 closed

[2018-06-26 06:46] #528 closed

[2018-06-26 06:46] nikhilnanivadekar commented on #535
Tested that the builds are going through consistently. Closing the issue!
Thanks for your help!

[2018-06-26 22:40] motlin commented on #539
How about just “withInitialCapacity”? “Of” sounds funny here.
On Mon, Jun 25, 2018 at 1:29 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2018-06-27 00:48] nikhilnanivadekar commented on #539
I wanted to keep it consistent with our other factories:

[code]

[2018-06-27 00:48] nikhilnanivadekar opened #540 "Enable Team City builds."
We have received offline confirmation that it is ok to on board our builds to Team City.
1) Pull Requests should trigger Team City builds
2) Merge Requests should trigger Team City builds
3) Possibility of scheduling Remote Run builds (to be investigated)
4) Builds run should be all the ones from Travis and additionally IntelliJ inspections.

[2018-06-27 15:04] #517 closed

[2018-06-29 09:06] zluo01 opened #543 "[Questions] about Im / mutableCollections"
Hi, I am new to e.c. I read through the reference guide but still have couple questions that I am not able to find answers online.

1.  I cannot find any clone method or shadow clone options like JDK provides. I wonder how e.c. handled clone issues ?

2. In JDK collections, List have native shuffle functions. In e.c. , I am not able to find any of this. And also in primitive collections.

3. In ja

[2018-06-29 19:34] donraab commented on #543
Thank you for the questions.  Let me try and answer them.  In the future, it would be great if you could ask questions like these on StackOverflow with a tag of `eclipse-collections`.  Then more people can benefit from the answers, and you may even get an answer faster.

1. There are clone methods on `MutableList`, `MutableSet`, `MutableBag`, etc.  You can also create a copy of the contents of any

[2018-06-29 19:38] nikhilnanivadekar commented on #543
To add for 3, if you have a stream, you can check the utility class `Collectors2`, There are Eclipse Collections specific Collectors.
Thanks for trying out Eclipse Collections!
I am closing this issue, please reopen if you have more questions.
Thanks!

[2018-06-29 19:38] #543 closed

[2018-06-29 22:58] nikhilnanivadekar opened #544 "Should getFirst() and getLast() be undeprecated and explicitly mention no guarantees of repeatable results in the Javadocs for hashed data structures?"
getFirst() and getLast() were deprecated mainly because unordered data structures do not give any guarantees of the behavior. That said, I think we should undeprecate this API and explicitly mention that we pick the first or the last element. Due to unordered nature of these data structures, repeatability of the returned elements cannot be guaranteed.

[2018-06-29 23:03] donraab commented on #544
I think so.

[2018-06-29 23:29] donraab commented on #544
If we leave the API deprecated, then we could add `getAny()` as a replacement.  Then at least developers have an option to use that doesn't leave a call to a deprecated method in their code.

[2018-06-29 23:31] nikhilnanivadekar commented on #544
I like `getAny()`

[2018-06-30 02:51] mohrezaei commented on #544
No iterator would mean no garbage, and it's quite a bit shorter and more readable.
For unordered collections, it's no better than random.

[2018-06-30 04:16] motlin commented on #544
I like getAny()

On Fri, Jun 29, 2018 at 10:51 PM Mohammad Rezaei <notifications@github.com>
wrote:

[2018-06-30 09:36] henohenotsuyoshi opened #545 "ImmutableList, ImmutableSet should override Spliterator<E> spliterator()"
I think ImmutableList, ImmutableSet should override Spliterator<E> spliterator(). Currently default method in Collection is an implementation for both.

[2018-07-01 02:11] motlin opened #546 "Implement Multimap.collectKeyMultiValues()."
I've written this as static utility twice. I feel like it belongs in the framework. Thoughts?

[code]

[2018-07-02 20:20] nikhilnanivadekar opened #547 "Implement ObjectPrimitiveMap.from(Iterable, KeyFunction, ValueFunction), PrimitiveObjectMap.from(Iterable, KeyFunction, ValueFunction), PrimitivePrimitiveMap.from(Iterable, KeyFunction, ValueFunction)."
This can be a utility on Iterate to make it easy to create Primitive Maps or even on the Factory classes.
Currently, there is no easy way to create a PrimitiveMap from an Iterable/RichIterable.

[2018-07-02 20:41] nikhilnanivadekar opened #548 "Implement RichIterable.getAny()."
In the Javadoc where `getFirst()` and `getLast()` are deprecated, there should be suggestion to use `getAny()`

[2018-07-02 20:42] nikhilnanivadekar commented on #544
Issue raised #548

[2018-07-02 20:42] #544 closed

[2018-07-02 20:45] nikhilnanivadekar commented on #546
I would suggest to change the signature and take the target Multimap as an input. For Multimaps covariant overrides become tricky. What do you think of this?

[code]

[2018-07-03 18:32] nikhilnanivadekar commented on #496
Listing down few patterns which we could have:

[code]
Same pattern for immutable side.

[2018-07-03 18:32] nikhilnanivadekar commented on #496
Please let me know if any of these patterns seem superfluous or feel free to add more if missing.

[2018-07-04 01:58] motlin commented on #546
Sorry, I wasn't suggesting adding static utility to the framework. I think we should add collectKeyMultiValues to the Multimap interface.

[2018-07-04 04:04] nikhilnanivadekar commented on #546
I am not suggesting a static utility either. I am suggesting that we delegate the ownership of the target Multimap that is returned to the user. I say this only because the covariant overrides become tricky especially with the SetMultimap and BagMultimap, since the result of collectValues() is not predicatable.

[2018-07-04 13:22] motlin commented on #547
If we ever want to split primitive maps into their own jar, we’d probably
need these methods to live somewhere other than on RichIterable.
On Mon, Jul 2, 2018 at 4:20 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2018-07-08 01:26] aewhite opened #551 "LongHashSet can hang with 100% CPU usage during certain mutations"
While working on a toy project I ran into a case where the `LongHashSet` would "freeze" after calling `add`. I managed to debug the issue to a while loop in the `probeThree` method but that was as far as I got. Here is a kotlin program that will reproduce it every time for me.

[code]

This is with EC version 9.2.0 on JDK 1.8.0_171 on OSX.

[2018-07-08 17:37] nikhilnanivadekar commented on #551
@mohrezaei @kristeno can you please take a look at this issue?

[2018-07-10 02:18] nikhilnanivadekar commented on #450
Fixed via #549

[2018-07-10 02:18] #450 closed

[2018-07-13 01:44] nikhilnanivadekar commented on #547
We should do it the other way around then. These methods can be on the primitive factories. Right now we do not have an easy way to create the primitive maps.

[2018-07-16 15:11] nikhilnanivadekar opened #566 "Implement MutableMultimap.getIfAbsentPutAll()."

[2018-07-16 15:39] motlin commented on #566
What would the parameters be? `K` and `V`, or `K` and `Iterable<V>`? If the answer is `K` and `V` then my gut reaction is we should not add this api.

[2018-07-16 15:46] motlin commented on #566
MutableMapIterable.getIfAbsentPut(K, V) is analogous to Set.add(T). It's a constant time operation that finds a bucket, mutates it, and returns a value.

MutableMultimap.getIfAbsentPut(K, V), especially if done on a ListMultimap, is more analogous to List.containsIfAbsentAdd(T), which we don't have for good reason. It would hide an O(n) operation behind a method that sounds like it's O(1).

[2018-07-16 17:25] nikhilnanivadekar commented on #566
<K, Iterable<V>,>
if it is <K, V>, I would also not be comfortable having that API.
The get() for multimap returns an Iterable, so the getIfAbsentPut() should also be for an Iterable. But I am totally fine not having this API.

[2018-07-19 13:54] #496 closed

[2018-07-24 07:50] superhx opened #576 "LongLongHashMap throws OOM"
Test Code:

[code]

OOM Stack:
[code]

[2018-07-24 17:01] loradd commented on #345
Is there someone working on this issue? If not, I could take it.

[2018-07-24 21:11] mohrezaei opened #581 "IDE files cause continuous problems"
The IDE files for Intellij IDEA are not stable. I have to constantly exclude them when committing. Every upgrade of the IDE creates new conflicts (new files, removed files, changed files, rearranged files, etc). On every rebase or other git action (amend, merge, etc), I have to stash them or things go wrong.

Is a one time setup cost really worth the continuous torture?

[2018-07-25 03:07] nikhilnanivadekar commented on #345
I don't think anyone else is working on this. Go for it.

[2018-07-26 02:04] #576 closed

[2018-07-26 02:04] #551 closed

[2018-07-26 07:36] nikhilnanivadekar commented on #576
Closed via #552
The fix will be available in the 10.0 milestone version to be released next Friday.

[2018-07-26 07:37] nikhilnanivadekar commented on #551
Fixed via #552 . The fix will be available as a part of 10.0 Milestone release which will be released next Friday.

[2018-07-30 13:47] bamapookie commented on #581
I would suggest adding the recommended ignore entries to your .gitignore file.  You can find them here: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

Add that to .gitignore, then run `git rm --cached <filename>` for each of the ignored files.

[2018-07-30 13:50] bamapookie commented on #581
Also, if you use the .ignore plugin in IntelliJ, that will make the steps above much simpler.  You can simply add the template to .gitignore, then restart and it will suggest removing the tracked ignored files.

[2018-07-30 14:05] nikhilnanivadekar commented on #581
@bamapookie would you like to raise a PR to untrack the tracked files and update the .gitignore. Thanks for your pointers!

[2018-07-30 14:12] bamapookie commented on #581
If I can get to it today, I will.

[2018-07-30 14:15] bamapookie commented on #581
@nikhilnanivadekar Question:  Do you autoimport your project from maven or gradle?  If so, there are additional ignore entries in the template to uncomment.

[2018-07-30 14:15] mohrezaei commented on #581
Here is what git tells me is modified in my source tree:

        modified:   .idea/compiler.xml
        modified:   .idea/encodings.xml
        modified:   .idea/libraries/Maven__org_scala_lang_scala_library_2_11_7.xml
        modified:   .idea/misc.xml
        modified:   .idea/modules.xml
        modified:   eclipse-collections-parent.iml

I'm not sure about .idea/libraries/Maven...: does that

[2018-07-30 14:17] bamapookie commented on #581
@mohrezaei That matches. "**" matches 0 or more subdirectories.

[2018-07-30 14:19] mohrezaei commented on #581
@bamapookie ok, great. What about the other 4?

[2018-07-30 14:20] bamapookie commented on #581
@mohrezaei some config files should remain.  If you notice any churn in them (list entries being reordered, for instance), there is an IntelliJ bug to track and fix the reordering here: https://youtrack.jetbrains.com/issue/IDEA-91607.  Just comment with the file being reordered and give an example.

[2018-07-30 14:23] bamapookie commented on #581
@mohrezaei If you are using autoimport, there is a commented section that you can uncomment:

[code]

[2018-07-30 14:37] mohrezaei commented on #581
@bamapookie I'd rather not have to create another login on a different tracking system. Here is a [branch/commit](https://github.com/mohrezaei/eclipse-collections/commit/d57c4590102cee756bfa95ad364c97a5ab7776bb) with these files.

Given that the Intellij issue is 6 years old and the issue appears to be caused by a large number of different causes, I have little hope this can be helped.

@motlin, @

[2018-07-30 15:29] bamapookie commented on #581
@mohrezaei That ticket is actively worked.  It is more of an epic, tracking individual instances of churn in files.  I looked at your commit above, and it isn't churning, it is just that those settings have changed.  Those appear to be valid additions to the files, and should probably be included in a commit.

[2018-07-30 16:49] nikhilnanivadekar commented on #581
@bamapookie if you get a chance, how about we have a PR with the changed settings and ignored files. This is a pain point and I am sure all contributors and maintainers will appreciate it! Thanks in advance!

[2018-07-30 18:34] mohrezaei commented on #581
@bamapookie I'm not sure what you mean by "changed". The only thing I change locally is the name of the JDK.

Some of it is churn [(change of ordering)](https://github.com/mohrezaei/eclipse-collections/commit/d57c4590102cee756bfa95ad364c97a5ab7776bb#diff-68331e01e69660caac3f6df6aed88a84L12), some of it is local stuff I legitimately (and possibly every other user) would not want to commit (e.g. [na

[2018-07-30 23:38] motlin commented on #581
Thanks everyone.

@bamapookie Yes, we configure auto-import. Given that JetBrains themselves recommend ignoring these files, I think we should go ahead with your suggestion. In @mohrezaei's list, this would remove the Scala lib xml, modules.xml, and the iml file. The first two I knew we should probably exclude, but the third is a surprise to me.

That leaves two files which basically just list all

[2018-08-01 14:48] motlin opened #587 "Investigate whether Collectors2AdditionalTest.sumBy*Parallel is thread-safe."
I saw this one-off error in Travis and I don't want to lose track of it.

[code]

[code]

[2018-08-01 14:54] nikhilnanivadekar commented on #587
I had noticed this one before as well. I disqualified it as one off but I guess it's persistent. I was not able to replicate it in local to actually fix it

[2018-08-02 13:19] dcullender opened #588 "Bug in addToValue for primitive Maps"
Thanks for all the hard work gone into making and maintaining Eclipse Collections.

With the ObjectPrimitiveHashMaps, there is a piece of generated code :

[code]

the expectation is that the value returned is the value after the addition. The problem is that for non-sentinel keys, the following code is run

[code]

`addKeyValueAtIndex` may rehash and grow the map, meaning that the index calculate

[2018-08-02 14:32] mohrezaei commented on #588
The fix is in the [9.2.0](https://github.com/eclipse/eclipse-collections/releases/tag/9.2.0) release.

[2018-08-02 14:33] nikhilnanivadekar commented on #588
This was fixed in 9.2.0: https://github.com/eclipse/eclipse-collections/releases/tag/9.2.0
Also this bug was back ported to service releases.

[2018-08-02 14:33] #588 closed

[2018-08-03 12:33] dcullender commented on #588
Thanks for the update, but there is still a bug in 9.2

[code]

This should return the value after the addition has occured, not the value to be added. If the key was a sentinal, the behaviour is correct

`this.values[index];`

but the other case is not consistent

`return toBeAdded;`

[2018-08-03 12:41] nikhilnanivadekar commented on #588
Can you please give us a failing test case? We will be happy to fix it. Thanks!

[2018-08-03 12:57] dcullender commented on #588
ahh, sorry. Misread the code there. All looks good to me - thanks!

[2018-08-03 13:42] pdvrieze opened #592 "FIFO/Queue list"
Looking at the available containers it is missing an efficient list that provides a (resizable) fifo queue that is optimized to allow for removing the front element from the list. This is reasonably easy to implement by maintaining an initial index for the starting offset and allowing index wraparound. This should probably be a separate class from FastList as it does require an additional calculat

[2018-08-07 21:39] alimcmaster1 commented on #548
Hi,
I would be interested in getting more detail on what this change would entail, is its a good first issue?

It seems like from the issue referenced, the decision is to add a getAny() to the RichIterable interface.

Im assuming I then go implement this method in all appropriate places, the implementation can get the same as getFirst() or getLast()/ pick any random element..

Any appropriate test

[2018-08-07 21:51] nikhilnanivadekar commented on #548
Hi @alimcmaster1 thanks for your interest in contributing. This is a good first issue and I have updated the label to suggest the same.
You are correct in the implementation specifics. For ordered collections (List, Stack), you can simply delegate it to getFirst() or getLast() (either is fine as long as you are consistent). For hashed data structures, you can take a look at how getFirst() is imple

[2018-08-07 22:35] motlin commented on #548
The fastest way to add getAny is as a default method on RichIterable that
delegates to getFirst but isn’t deprecated.
On Tue, Aug 7, 2018 at 5:51 PM Nikhil Nanivadekar <notifications@github.com>
wrote:

[2018-08-08 00:00] alimcmaster1 commented on #548
Thanks both for the pointers, appreciate the help. @motlin that's what I was thinking initially, but I thought that eventually if we want to get rid of getFirst() and getLast()? Ive begun the task of implementing a getAny() method to all classes that implement the RichIterable Interace.
Example for FastList.java below. So its a step towards removing getFirst() and getLast() from the interface. Wha

[2018-08-08 02:09] motlin commented on #548
I deprecated getFirst and getLast on RichIterable to indicate that not
every RichIterable has an ordering, so it's not always appropriate to call
getFirst and getLast. But every OrderedIterable obviously has an ordering,
so the same methods live there, with no deprecation. FastList transitively
implements OrderedIterable, and it will always have getFirst and getLast. A
delegating default implement

[2018-08-11 15:53] bamapookie commented on #581
Thanks, @motlin. I wasn't able to get to this since I was leaving for vacation when I first posted.

[2018-08-12 01:59] donraab commented on #500
I am working on List#sort and List#replaceAll.

[2018-08-27 22:59] #548 closed

[2018-08-30 21:02] nikhilnanivadekar opened #605 "Investigate build failures for Java 11 and add build for Java 12 EA"

[2018-09-01 15:02] #539 closed

[2018-09-01 18:01] #605 closed

[2018-09-02 12:40] #547 closed

[2018-09-03 12:49] #345 closed

[2018-09-09 16:06] sdavids opened #612 "org.eclipse.collections.api.list api doc incorrect"
"This package contains 4 interfaces:"

It actually contains 5.

[2018-09-09 17:08] nikhilnanivadekar commented on #612
@sdavids Thanks for reporting this. Would you like to contribute the fix? If you won't be able to pick it up, we will fix this in the next iteration. Thanks again!

[2018-09-12 04:39] nikhilnanivadekar commented on #420
Hi @shreyateeza following up, will you be working on this?

[2018-09-12 04:46] nikhilnanivadekar opened #615 "Remove default methods in Factories which throw UnsupportedOperationException to maintain backwards compatibility."

[2018-09-13 23:09] njcohen2 commented on #566
Working on this at UIUC HackNight.

[2018-09-13 23:12] AFederici commented on #449
Planning to fix this issue

[2018-09-13 23:14] tylermcdonald commented on #566
I'll help you work on it @njcohen2 .

[2018-09-13 23:16] joshuacheng commented on #476
Working on this at UIUC HackNight.

[2018-09-13 23:16] joshuakim0724 commented on #476
I'll help you work on this @joshuacheng

[2018-09-13 23:17] AFederici commented on #448
Planning to fix this issue