[2020-11-08 00:39] #473 closed

[2020-11-24 03:02] #875 closed

[2020-11-25 14:47] nikhilnanivadekar opened #1033 "Implement selectWithIndex, rejectWithIndex on OrderedIterable"

[2020-11-25 14:48] nikhilnanivadekar opened #1034 "Implement collectWithIndex on OrderedIterable"

[2020-11-26 06:28] hvydya commented on #1033
Hi! I'd like to work on this. Can you assign it to me?

[2020-11-26 15:34] nikhilnanivadekar commented on #1033
Hi @hvydya I started implementing this and have been thinking about the usefulness of the API. I don’t want anyone to spend time on this if we won’t take the API in the library. Is there some other issue that interests you?

[2020-11-27 17:19] hvydya commented on #1033
Ah that's fine. I'll comment under the respective issue if I find something I like.

Thanks 👍 .

[2020-11-30 01:58] donraab opened #1037 "Optimize ImmutableSetFactoryImpl.withAll(Iterable)"
https://github.com/eclipse/eclipse-collections/pull/1035#discussion_r532282989

[2020-11-30 02:07] donraab opened #1038 "Optimize ImmutableListFactoryImpl.withAll(Iterable)"
The final return should call `ImmutableArrayList.newList(items)` to reduce an extra array creation.

[2020-11-30 05:09] donraab opened #1039 "Change Collectors2 class to return static instances for zero-argument methods which return Collectors"
It occurred to me that the following zero-argument methods on Collectors2 could return static instances of Collector, instead of creating new instances on every call, returning exactly the same instance.

- `toList`, `toImmutableList`, `toSortedList`, `toImmutableSortedList`
- `toSet`, `toImmutableSet`, `toSortedSet`, `toImmutableSortedSet`
- `toBag`, `toImmutableBag`, `toSortedBag`, `toImmutableS

[2020-11-30 14:23] richardduffett commented on #1038
Hi @donraab, I'd like to work on this issues if it's still available.

[2020-11-30 14:43] donraab commented on #1038
Assigned. Thanks for volunteering @richardduffett. There may be additional optimizations in this particular method call, but this was the first one that jumped out at me. There are some challenges here though. If you remove the one call path, you get rid of the extra array copy for lists > size 20, but lose the optimization for small lists.

[2020-11-30 23:06] donraab commented on #1038
Hi @richardduffett, I took a look at this today. I believe we can solve the problem by moving the creation code into a new static constructor method on ImmutableArrayList which takes `Iterable`. This new method can call `Iterate.toArray(Iterable)`, and determine whether to create one of the 10 small (ImmutableSingleton, ImmutableDoubleton, etc.) lists or create an `ImmutableArrayList` using the ar

[2020-11-30 23:28] mohrezaei commented on #1038
Alternatively, you can change the private constructor of `ImmutableArrayList(T[] newElements)` to package and call it from the factory.

[2020-11-30 23:31] nikhilnanivadekar commented on #1038
That is what is done for other collections so, we should definitely make the constructor package private.

[2020-12-01 00:14] donraab commented on #1038
@mohrezaei @nikhilnanivadekar @motlin The issue with making the constructor package private is that someone could create a class in the same package (outside of the library) and construct an `ImmutableArrayList` with an array that could be modified outside of the class.

We have a potential problem I think we need to fix in `Iterate.toArray` as well. There is no guarantee that a call to `Collectio

[2020-12-01 00:46] mohrezaei commented on #1038
One could also use reflection to make the method public and call it. We have tons of immutable classes with package private constructors. It's the main pattern used to construct these.

as for `toArray`, it's properly documented: "The returned array will be "safe" in that no references to it are
maintained by this collection."

[2020-12-01 01:13] donraab commented on #1038
The difference with the other package private constructors is that they take references to objects, not an array, and store them in private final fields. The reference once stored in the immutable collection cannot be changed (except via reflection).

I think we can possibly achieve a safer result by using `toArray(Object[])` instead of  relying on `toArray()` being "safe" or always creating a cop

[2020-12-01 01:16] mohrezaei commented on #1038
I strongly disagree. Creating large amounts of garbage because some code out in the wild is violating the written contract of a method should be left to the likes of Guava.

[2020-12-01 01:20] nikhilnanivadekar commented on #1038
There is only so much we can do to protect users from doing something which they shouldn’t do. By making things package private I believe we solve majority ( all of reasonable) use cases. For users trying to do something unconventional there will always be ways and I don’t think we should change our library to support these edge cases.

[2020-12-01 02:40] donraab commented on #1038
To be clear, I'm arguing against any excess copying. My suggestion of using `toArray(Object[])` would not be fool proof anyway. Someone could decide the cache the array in the method call.

If we agree that bad actors always have reflection to do bad things, then I think I can see clear to going the package private route you're both advocating for to simplify things and solve for the majority.

[2020-12-01 18:42] motlin commented on #1038
Reflection can be prevented using a SecurityManager. Immutable should mean that you really can't change anything if you prevent refletion. Guava correctly protects against the vector @donraab mentions by first calling toArray() and then calling Arrays.copyOf() on that array.

[2020-12-01 19:36] mohrezaei commented on #1038
@motlin I disagree. We're talking about a piece of code that is either in violation of a written contract or in the hands of someone hell bent on doing whatever they way. In the latter case, SecurityManager is irrelevant. In the former case, it's a bug outside our library and should be fixed. It's trivial to write buggy code outside our library that destroys all of our contracts, let alone immutab

[2020-12-01 20:56] donraab commented on #1038
@motlin Our Immutable types are interfaces so they can just be implemented today with mutable implementations by someone who wants to do that. The only way this could be locked down is with Sealed Types, which we will probably not have available for use in EC in a very long time.

[2020-12-02 17:50] richardduffett commented on #1038
It looks like the consensus is to go down the package private constructor route.  I'll proceed on that basis unless there are objections.

[2020-12-17 16:02] victornoel opened #1041 "Add removeIf on primitive maps"
It would be great to have the removeIf method also available on primitive maps.

[2020-12-17 16:26] victornoel opened #1042 "Allow primitive map put method to return the previous value"
It would be very useful for the put method on primitive maps to return the previous value. I suppose it's not obvious how to identify the non-present value, maybe with Optional{Int, Long, Double, ...}?

For now, I had to write this:
[code]

This is a bit sad ^^

[2020-12-17 16:36] mohrezaei commented on #1042
We purposely avoid garbage and wrapping in the common methods. To avoid breaking that, we'd have to introduce a new method.

[2020-12-19 11:54] #775 closed

[2020-12-19 13:07] vibhuti019 commented on #906
Please elaborate this issue..
I would like to work on this issue..

[2020-12-23 22:30] donraab opened #1044 "Add toSortedList(primitive Comparator) and toSortedListBy(primitive Function) to primitive Iterables"
We have `sortThis(primitive Comparator)` and `sortThisBy(primitive Function)` which mutate the underlying list but do not have the corresponding `toSortedList` and and `toSortedListBy` methods that return a new list.

[2020-12-23 23:56] donraab opened #1045 "Add toStack to Ordered primitive Iterable"
There is a method toStack on OrderedIterable, but no equivalent toStack method on Ordered<Primitive>Iterable.

[2020-12-23 23:59] donraab opened #1046 "Add toSortedMap and toSortedMapBy to Collectors2"
The methods `toSortedMap` and `toSortedMapBy` exist on `RichIterable` but there is no equivalent methods on the `Collectors2` utility class.

[2020-12-26 23:17] rajivsethumadhavan commented on #1046
@donraab  - I'd like to work on this. Can you please assign it to me?

[2020-12-26 23:19] nikhilnanivadekar commented on #1046
Done @rajivsethumadhavan

[2021-01-02 01:55] donraab opened #1048 "ImmutableStack should return Pair for pop and pop(int)"
The primary purpose of `pop` is to remove and return the thing(s) you want from the top of a stack.

Today the signature of `pop` and `pop(int)` on ImmutableStack are as follows:

[code]
A new ImmutableStack instance is returned with the element(s) removed, but they element(s) are not returned. .

I believe the signatures should be:
[code]
Today, these APIs are inconsistent with `peek` and `peek(i

[2021-01-02 03:28] mohrezaei commented on #1048
A stack is the most mutable of data structures. An immutable one is already so far beyond the pale that its API are likely completely irrelevant to any real use case. Can anybody conjure a usecase for an immutable stack?

[2021-01-04 16:26] donraab commented on #1048
I tend to agree. I think @motlin has or knows of a use case. The issue I have is if we are going to keep the interfaces and implementation, the pop methods should be consistent with the mutable side and work for the immutable side.

[2021-01-06 01:22] #1007 closed

[2021-01-07 06:20] #1044 closed

[2021-01-07 16:36] vmzakharov opened #1053 "Implement subList() on primitive lists"
Currently `subList()` on primitive lists is stubbed with
[code]
The new behavior should be consistent with the behaviors currently defined in `FastList` for the mutable lists and `AbstractImmutableList` for the immutable ones.

[2021-02-08 23:44] #310 closed

[2021-02-12 18:26] DineshPurushothamacharya commented on #1045
@donraab - I'd like to work on this. Can you please assign it to me?

[2021-02-12 22:20] donraab commented on #1045
Hi @DineshPurushothamacharya, thanks for volunteering! I've assigned it to you.

[2021-02-16 19:31] DineshPurushothamacharya commented on #1045
Hello @donraab,

So far I understand that I need to update orderedPrimitiveIterable.stg file like below. correct me if am wrong.

[code]

I have a question on creating the Mutable<primitive>Stack instance from the iterable. Could you help me pointing to the right factory method to create this instance?

[2021-02-16 20:10] donraab commented on #1045
Hi @DineshPurushothamacharya, the static factories are not available in the interfaces for primitive collections, so you will not be able to implement this in a default method. You can throw `UnsupportedOperationException` in the default method, and then implement it in the specific implementations.

[2021-02-19 15:05] DineshPurushothamacharya commented on #1045
Hello @donraab ,

I have created the below PR [1] for this issue. Could you please review it ?

[1] : https://github.com/eclipse/eclipse-collections/pull/1068

[2021-03-08 01:27] himanshu211raj commented on #830
As this issue still persist there so can i get a chance to have a look on it, if it available.

[2021-03-08 14:06] vcvitaly commented on #830
@himanshu211raj  Yes, please do. I haven't had a chance to work on it.

[2021-03-08 16:30] himanshu211raj commented on #830
As i am recently started using eclipse can anyone guide me how can i proceed toward this?

[2021-03-08 18:14] donraab commented on #830
@himanshu211raj When you refer to Eclipse in your comment do you mean Eclipse Collections or the Eclipse IDE? The two are unrelated. Eclipse Collections is a Java Collections library and can be used in any Java program.

If you mean Eclipse Collections, you can learn more about how to get started [here](https://donraab.medium.com/help-wanted-b1acf25d8c8d?source=friends_link&sk=64bf7b9fba1f083ec04a

[2021-03-09 10:29] vcvitaly commented on #830
@himanshu211raj you should update documentation on the subject in a way similar to documentation here:
https://github.com/eclipse/eclipse-collections/blob/master/docs/guide.md#-primitive-collections

[2021-03-11 10:05] victornoel opened #1072 "Expose specific type of values collection in MutableListMultimap and others"
It would be nice to support methods on `MutableListMultimap` (and all the others actually) that allows to iterate over the values as `MutableList` and not only `Iterable`.

This would be helpful if I want to modify in place the values without creating a new multimap for performance reasons.

[2021-03-19 10:06] victornoel opened #1074 "Useless type parameter in DoubleComparator and equivalents"
The interface `DoubleComparator` is defined as:
[code]

The type parameter `T` is clearly useless :)

[2021-03-19 14:58] donraab commented on #1074
Thanks for raising this issue @victornoel. The generic parameter clearly can and should be removed here.

[2021-03-28 01:31] vmzakharov commented on #1074
I believe this was fixed in this PR: https://github.com/eclipse/eclipse-collections/pull/1052

[2021-03-28 01:32] #1074 closed

[2021-04-05 12:42] Sap1996 commented on #1072
Hey Victor,
I would like to take work on this issue, if you don't mind.

[2021-04-05 13:58] victornoel commented on #1072
Hi @Sap1996, I'm not part of this project but they are open to contributions so if you do, it would be great :)

[2021-04-08 15:38] MPdaedalus opened #1075 "FastList broken after upgrade to java 16 from 15 due to module error"
Hi I just upgraded to java 16 in eclipse and now fastutil is throwing an error

Exception in thread "main" java.lang.ExceptionInInitializerError
	at org.eclipse.collections.impl.list.mutable.FastList.addAllArrayList(FastList.java:311)
	at org.eclipse.collections.impl.list.mutable.FastList.addAll(FastList.java:283)
	at main.Start.main(Start.java:20)
Caused by: java.lang.reflect.InaccessibleObjectEx

[2021-04-08 16:33] nikhilnanivadekar commented on #1075
Instead of addAll() does it work when you use add() and iterate over one element at a time and add? I am asking to understand the impact.
As far as the issue goes this is due to Array copy methods and if you are using the module system you will need to include the Java.util module.

[2021-04-08 16:39] nikhilnanivadekar commented on #1075
In your specific use case, it is happening because the `addAll(Iterable)`, the Iterable is an ArrayList. And we have a small optimization to support fast copies. You can get around the problem as follows (without adding the new module).

[code]

Thanks for reporting this. We will come up with a way to remove that optimization and fix it for 11.0.0 version.

[2021-04-08 16:41] MPdaedalus commented on #1075
Just tested it now, does not throw error if you manually iterate using add() only the addAll() does it, thanks for quick response

[2021-04-08 16:42] mohrezaei commented on #1075
The solution is trivial: catch `Throwable`, not `Exception` in `ArrayListIterate`

[2021-04-08 16:44] mohrezaei commented on #1075
JDK 16 also comes with a new flag: [--illegal-access](https://openjdk.java.net/jeps/261#Relaxed-strong-encapsulation). Using `--illegal-access=permit` or `--illegal-access=warn` should resolve the runtime issue.

[2021-04-08 16:45] MPdaedalus commented on #1075
@mohrezaei yes but its a bit of a blunt instrument if you ask me

[2021-04-08 16:48] MPdaedalus commented on #1075
OpenJDK 64-Bit Server VM warning: Option --illegal-access is deprecated and will be removed in a future release.

just came up for me

[2021-04-08 16:52] mohrezaei commented on #1075
The flag is a temporary workaround, and meant to be used for this, probably a bit less blunt than `--add-open`. The actual fix (catching Throwable) is trivial and can be rolled out quickly, even for old versions.

[2021-04-08 17:08] nikhilnanivadekar commented on #1075
Moh would prefer not to do backports. We can do it as a part of 11.0.0 fix. As it stands it’s not something for which there is no workaround. The user has 4 ways of dealing with the issue:
1) Iterate and add
2) Create an intermediate FastList and allAll()
3) Add jvm args to open the module
4) Add jvm args to warn for illegal access

[2021-04-08 17:14] mohrezaei commented on #1075
The error happens when ArrayListIterate class is loaded, not necessarily when addAll is called, so it has much wider impact. Even if it was just addAll, (1) and (2) don't make sense. I think you meant:

Find and replace all existing code that uses addAll, including in all libraries with:
1. Iterate and add
2. Create an intermediate FastList and allAll()

which to put it simply is not feasible. (Al

[2021-04-08 17:30] nikhilnanivadekar commented on #1075
Fair enough, in that case, we need backport it only to 10.4.0 because this issue happens only in JDK-16+. If you raise a PR with the fix, happy to do a 10.5.0 release with this one change.
Would it make sense to just remove the optimization as it relies on reflection?

[2021-04-08 17:33] mohrezaei commented on #1075
A separate PR from #1076 ?
Removing the optimization is something we can consider for later. The optimization works fine for JDK < 16.

[2021-04-08 17:35] nikhilnanivadekar commented on #1075
you are faster than ether 😄

[2021-04-08 20:29] mohrezaei commented on #1075
Looks like I misread the stack trace. This was fixed in 2017. @MPdaedalus you must be running an ancient version of the library. Please upgrade to anything released in the last 3 years.

[2021-04-08 20:34] nikhilnanivadekar commented on #1075
We have a compatibility matrix : https://github.com/eclipse/eclipse-collections#eclipse-collections-and-jdk-compatibility-matrix

[2021-04-08 20:37] MPdaedalus commented on #1075
my current pom.xml

		<dependency>
			<groupId>org.eclipse.collections</groupId>
			<artifactId>eclipse-collections-api</artifactId>
			<version>10.4.0</version>
		</dependency>
		<dependency>
			<groupId>org.eclipse.collections</groupId>
			<artifactId>eclipse-collections</artifactId>
			<version>10.4.0</version>
		</dependency>

[2021-04-08 20:38] MPdaedalus commented on #1075
is there a way to double check with an api call?

[2021-04-08 20:42] mohrezaei commented on #1075
There is no api call to return a version or something. Check your classpath.

[2021-04-08 21:13] MPdaedalus commented on #1075
your right! my class path says 7.1.2, how an earth this happened I don't know. Thanks for the info
Sorry to lead you down a rabbit hole!

[2021-04-08 21:45] MPdaedalus commented on #1075
I think I found the problem, I am using https://oss.sonatype.org/content/repositories/snapshots repository in maven because some eclipse projects I am using require the latest snapshot but eclipse collections on sonatype have not been updated in ages.

[2021-04-08 22:10] #1075 closed

[2021-04-25 20:47] donraab opened #1087 "Add fused method for collect and makeString"
What do folks think about adding a fused method for `collect` + `makeString` to `RichIterable`? I marked this issue as committer discussion as the pattern shows up in the Pet Kata, but I'm not sure if it would pull its weight in production use cases.

The method `collectString` would basically replace this pattern, and the other variants of `makeString`.

Before:
[code]
After:
[code]

I would we s

[2021-04-25 21:24] nikhilnanivadekar commented on #1087
Instead of collectString, I would say add an override to makeString. Makes
it easier to discover

On Sun, Apr 25, 2021 at 3:47 PM Donald Raab ***@***.***>
wrote:

[2021-04-25 21:39] donraab commented on #1087
Makes sense to me.

[2021-04-28 16:59] shollander opened #1088 "NegativeArraySizeException encountered"
When loading a very large number of values into a MutableMap, a `java.lang.NegativeArraySizeException` is encountered.
A cursory examination of the code appears to point to `org.eclipse.collections.impl.map.mutable.UnifiedMap:300` where there is no guard in place to ensure that the `capacity` variable doesn't overflow.

https://github.com/eclipse/eclipse-collections/blob/43b9c67c2ac347e12fcfe30785

[2021-04-28 17:11] shollander commented on #1088
Is the maximum size of MutableMap documented anywhere? JDK Maps have a maximum capacity of `1 << 30` (1,073,741,824).

Also, I think it would be helpful to have a useful error message so that users don't have to dig through code to figure out if there is a bug somewhere or if it's behaving as expected. Generally, a `NegativeArraySizeException` would indicate a bug.

[2021-04-28 17:28] mohrezaei commented on #1088
You sure about the JDK size? The following just worked for me in 1.8 and 11:
[code]

In the old days, the largest array that could be constructed was somewhat JDK dependent. With the current crop of 64bit JDKs, the int-referenced arrays seem to be constructable up to some unspecified (?) limit between `1 << 30` and `1 << 31`. So that's where the problem is: specifying an actual max size is hard.

[2021-04-28 17:29] mohrezaei commented on #1088
Oh, and in case it wasn't clear: 32 bit JDKs will give up long before (1 << 30.5).

[2021-04-28 17:58] shollander commented on #1088
The JDK HashMap is nice, it will ignore the capacity you specify if it's too large. See [HashMap.java:452](https://github.com/openjdk/jdk/blob/a0a4b1981b86ec8644add87a7a77975303e0fa16/src/java.base/share/classes/java/util/HashMap.java#L451-L452):
[code]

The limit for arrays is pretty close to `Integer.MAX_VALUE` (2^31 -1). I can allocate `new int[Integer.MAX_VALUE -2]`. The JDK classes generally

[2021-04-28 18:11] mohrezaei commented on #1088
I disagree on "nice" part. A map that is forced beyond a reasonable load factor will behave very badly (although with the tree based stuff that was introduced into `HashMap`, it'll go from an `O(1)` structure to `O(log(n))`). `UnifiedMap` would devolve into `O(n)` and that's simply not acceptable. And it's not clear to me if the JDK's implementation above `1 << 30` is even correct. A quick look at

[2021-04-28 21:14] shollander commented on #1088
True, perhaps the JDK map should fail if the requested maxCapacity is too large.

You are correct that `HashMap` is broken beyond `1 << 30` entries. I tested this out to confirm. If more than `1 << 30 ` entries are put in the map, it will not throw any error and act as if it has been inserted successfully. I am not sure exactly what it does with the value, but it will insert it, and will return a

[2021-04-28 21:31] mohrezaei commented on #1088
Just to be clear, I don't believe the JDK `HashMap` is buggy until the size hits `Integer.MAX_VALUE + 1`. It can store the entries beyond `1 << 30`, even beyond `Integer.MAX_VALUE` with the linked or tree structure it has. It will slow down, potentially dramatically if the key doesn't implement `Comparable`, beyond `1 << 30` entries.

I was thinking about your actual issue (ultra large map), and i

[2021-04-29 14:08] shollander commented on #1088
Thank you for your suggestions. I think that you are correct.
I think `HashMap` will work for my use case. I don't really need that much more than `1 << 30` entries at this point. I am doing some benchmarking, but so far looks good. I had been hoping to use `MutableMap` in order to reduce the memory footprint, but apparently that is not going to work.

[2021-06-06 06:43] donraab opened #1104 "Add specialized forEachKey(ValueType) methods to Multimap leaf interfaces"
There is a method `forEachKeyMultiValues` on `Multimap` with the following signature:

`void forEachKeyMultiValues(Procedure2<? super K, ? super RichIterable<V>> procedure);`

I would like to propose that we add the following methods with specific types to the leaf interfaces in the Multimap hierarchy.

`MutableListMultimap` -> `void forEachKeyMutableList(Procedure2<? super K, ? super MutableList<

[2021-06-08 06:51] anuva04 opened #1105 "Typo in documentation"
It can return different **datatype** depending on the different iteration method used in

[2021-06-12 18:28] donraab commented on #1104
Thoughts @motlin @prathasirisha @nikhilnanivadekar? I've started implementing these, and I think it has been a type specific method we have been missing for a long time. It is also safer than `forEachKeyMultiValues` because that method does not wrap the underlying collection in an unmodifiable wrapper (because it doesn't know the type), which means folks can modify the `List` or `Set` directly if

[2021-06-12 18:49] nikhilnanivadekar commented on #1104
IMO this might be a bit of an overkill. Casting is generally fine. It’s annoying but I think it’s ok.
Curious to hear what @motlin , @mohrezaei , @prathasirisha think.

[2021-06-12 19:12] mohrezaei commented on #1104
What do the implementations look like? do they have to re-implement every time?

[2021-06-12 19:14] donraab commented on #1104
AbstractMutableListMultimap:

[code]
ImmutableListMultimapImpl:

[code]

[2021-06-12 19:16] mohrezaei commented on #1104
Since the impls are simple (hey, that rhymes :smile:), I think it's fine.

[2021-06-13 01:42] motlin commented on #1104
I like the idea overall. I don't see much point in using the Mutable interfaces specifically, when we wrap them in unmodifiable wrappers. We could use ListIerable instead of MutableList for example, and I don't think we give up much, or any, api.

About the implementation, should we move asUnmodifiable() higher up in the hierarchy? If it's not already on MutableCollection, it probably should be.

[2021-06-13 02:57] donraab commented on #1104
It's not the api that we give up, it is the compatibility with `java.util.List` when we use `ListIterable`.

[2021-06-16 02:36] donraab opened #1108 "Remove the two deprecated TreeBagMultimap classes"
I was working in the Multimap hiearchy and found we have two deprecated TreeBagMultimap classes. One class has been deprecated since 5.0 and the other was deprecated in 7.0. I think it is time to remove them. Any objections @mohrezaei @motlin @nikhilnanivadekar @prathasirisha?

[2021-06-16 03:11] nikhilnanivadekar commented on #1108
We shouldn’t just remove them blindly. May be update them with a Javadoc (since we are still on jdk 8) and mark them for removal for 12.0.0
But if we remove both, does that mean we won’t have any TreeBagMultimap or we have in total 3 TreeBagMultimap impls?

[2021-06-16 03:12] donraab commented on #1108
There are three today.

[2021-06-16 19:38] goldbal330 opened #1109 "PIT test coverage"
I would like to improve EC PIT coverage please.

[2021-06-24 16:49] gastaldi opened #1114 "Introduce a Bloom Filter implementation"
A Bloom filter offers an approximate containment test with one-sided error: if it claims that an element is contained in it, this might be in error, but if it claims that an element is _not_ contained in it, then this is definitely true.

This may be useful for scenarios where you have a cache map but don't want to store empty values.

Here is a tutorial explaining how it works: http://llimllib.gi

[2021-07-12 12:51] johnou opened #1117 "IntIntHashMap NullPointerException invoking remove on values collection"
eclipse-collections 10.4.0

IntIntHashMap usage

[code]

Stacktrace

[code]

Hi, my initial conclusion is that the stacektrace indicates the map was accessed by multiple threads concurrently,  however upon checking the code paths the map object in question should be single threaded (actor).. I was hoping to confirm whether or not the behaviour of IntIntHashMap should mimic HashMap, specifically ht

[2021-07-12 14:30] mohrezaei commented on #1117
This is a bug.

[2021-07-12 15:10] mohrezaei commented on #1117
PR #1118 has a fix for this. This happens when remove is invoked for a value mapped to the special key zero. If you want to avoid this issue in your code while this is fixed/released, you can do something like:

[code]

[2021-07-12 16:24] johnou commented on #1117
@mohrezaei thanks for the quick response!

[2021-07-13 01:52] nikhilnanivadekar commented on #1117
@johnou this will be available as a part of 11.0 release. I will create a milestone version tomorrow so that you can use it if required. Thanks for reporting the bug, and thanks @mohrezaei for fixing it.

[2021-08-14 18:42] #1046 closed

[2021-08-28 21:29] mohrezaei commented on #420
I don't believe this is a valid optimization because of the function involved. Here is an example function that will break if the code is changed:

[code]

[2021-08-30 22:09] donraab commented on #420
This is a great point @mohrezaei. The optimization would require the function to be stable and repeatable for the same input. This might mean we have some other places where we should back out similar optimizations.

[2021-09-02 01:04] LuizFrra commented on #420
@donraab @mohrezaei I don't understand how the function above will break with the change.

[2021-09-02 01:05] mohrezaei commented on #420
@LuizFrra try it with the current code (no optimization) and see what ends up in the target.

[2021-09-02 01:52] LuizFrra commented on #420
I got it now, thx.

[2021-09-02 02:15] LuizFrra commented on #420
Since we aren't able to determine if a function is stateless or not this optimization isn't possible right ?
Do you think that is a option add a collect method with a parameter to indicate if the function is stateless ?

[2021-09-02 04:22] donraab commented on #420
Yes, this optimization is flawed @LuizFrra so we should probably remove this optimization on the object side side as well.

Another option would be to add a specialized method, possibly named `collectOccurrences` which will only apply a `Function` once for each unique element, and add the appropriate number of occurrences to a target collection, which would use `addOccurrences` in the case of a `M

[2021-09-02 10:29] LuizFrra commented on #420
Thx for the explication @donraab . We have these things to do:

* Remove the optimization from AbstractBag.java
* Add a method called collectOccurrences to AbstractBag and all others primitive collect methods that apply the function only once

is that right ?

[2021-09-02 17:03] donraab commented on #420
Hi @LuizFrra, yes, this looks correct to me. I think once we add `collectOccurrences`, we should have `countBy` on Bag use it instead of `collect` so the optimization can continue for `countBy`. We will need to clarify that the Function will only be applied once for `countBy` on Bags, thus making `collect` the thing that will need to be called if a stateful `Function` is required.

Does this make

[2021-09-02 22:48] LuizFrra commented on #420
I will try work on this at weekend.

[2021-09-03 00:54] donraab opened #1132 "Move next major release of Eclipse Collections (12.0) to Java 11"
Java 17 will be released on September 14, 2021.
Java 11 has been out since September 25, 2018.
Java 8 was released in March, 2014.

Eclipse Collections major releases are happening roughly every two years, so when we release 11.0 in October 2021, Eclipse Collections 12.0 would likely have a target release date of Q4 2023. This would put the EC 12.0 release around the time of the Java 21 release sc

[2021-09-03 01:02] nikhilnanivadekar commented on #1132
I am actually in 2 minds about this to see what all breaking changes we have. Because it’ll be easier to have Java 11 and EC 11 have similar version numbers vs confusing with Java 11 and EC 12.
if we don’t have many breaking changes then I think we can do a 10.x in a month or so and a EC 11 version in 6 months with upgrading the version.

But I am also fine if we just go with EC 12 and JDK 11.

No

[2021-09-03 01:24] donraab commented on #1132
- Full support for leveraging JPMS.
- Potentially faster build times on 11.
- Reduce total number of builds to two LTS versions (down from soon to be three LTS versions) and one EA version

[2021-09-03 17:36] prathasirisha commented on #1132
+1. I second the idea of upgrading the Java version to 11 for our next major version 12.0.

@nikhilnanivadekar I do see your point if the versions match( EC 11 and JDK 11), but I think we should just focus on the EC 11 release, which will work with our Java 8 users, and target the Java version upgrade for our next major release (EC 12).

[2021-09-03 21:41] prathasirisha commented on #420
Proposing, that we name this method  `collectEachOccurrences` so it reflects that we are iterating/looping?

[2021-09-03 21:49] donraab commented on #420
This works for me, as it makes the distinction clearer between collectWithOccurrences.

[2021-09-03 22:07] LuizFrra commented on #420
I have an question, should I write tests for those implementations ? If so, then where could I put it ?

[2021-09-06 12:39] koenr-bc opened #1134 "Infinite loop in probeThree"
We saw a case where org.eclipse.collections.impl.map.mutable.primitive.LongObjectHashMap#probeThree caused an infinite loop.
I was unable to reproduce it directly but managed a reflective case how the situation would look.
Looking at the code it seems an infinite loop can be caused if;
`nextIndex = this.mask(nextIndex + spreadTwo);`
Results into nextIndex == nextIndex

Simple reflective test case

[2021-09-06 13:44] mohrezaei commented on #1134
This test case is not valid because the `keys.length` is 17, which is not a power of 2.

`nextIndex + spreadTwo` should be able to probe all of the array if `spreadTwo` is odd, which is guaranteed with the `| 1` in the construction of `spreadTwo`.

Are you sure your (original) map was not in an illegal state, because of something else, e.g. incorrect multi-threading?

[2021-09-06 15:07] koenr-bc commented on #1134
The upperlying library in this case is mapdb;

Stacktrace of the case was;
[code]

The library uses locking to access the map.

Wouldn't it be an option to replace the while true with a finite iteration?

[2021-09-06 15:37] mohrezaei commented on #1134
`probeThree` has to return a valid index. just stopping the iteration doesn't help with that. If we stop the iteration, the best we could do is to throw some sort of diagnostic exception, because right now, we don't understand what can cause this. It would be best to fix the underlying issue...

[2021-09-06 15:56] nikhilnanivadekar commented on #1134
@koenr-bc may be if possible have a failing test case of the actual issue. If need be you can reverse engineer the reflective test. But at a surface level this smells like a multiple threads corrupting the map. If we get a failing test case then we can fix and release it as a part of our next release happening in a month or two. Thanks!

[2021-09-06 18:54] prathasirisha opened #1136 "Add toImmutableSortedListBy to Collectors2"
Add `toImmutableSortedListBy` to `Collectors2` utility class.

See `toSortedListBy` for reference (mutable side equivalent)

[2021-09-06 19:06] prathasirisha opened #1137 "Add toImmutableSortedSetBy to Collectors2"
Add `toImmutableSortedSetBy` to `Collectors2` utility class.

See `toSortedSetBy` for reference (mutable side equivalent)

[2021-09-06 19:08] prathasirisha opened #1138 "Add toImmutableSortedBagBy to Collectors2"
Add `toImmutableSortedBagBy` to Collectors2 utility class.

See `toSortedBagBy` for reference (mutable side equivalent)

[2021-09-06 19:24] #1117 closed

[2021-09-06 19:28] prathasirisha commented on #1038
Closing this issue, as this was addressed in this PR - https://github.com/eclipse/eclipse-collections/pull/1050

[2021-09-06 19:29] #1038 closed

[2021-09-07 00:08] mohrezaei commented on #1134
@koenr-bc what version of EC was in that stack trace? FYI, there is a potential way `probeThree` can go into an infinite loop that was fixed/released over 2 years ago in version 10.0.0.

[2021-09-07 06:29] koenr-bc commented on #1134
The version used is 10.4.0.

I think in this case even a diagnostic exception would be better than in infinite loop in my opinion.

[2021-09-07 20:16] mohrezaei commented on #1134
I had a look at mapdb code. Two things to note:

1) That code (StoreWAL.kt) no longer exists, but there is no new release after it was removed.
2) If I'm looking at the correct source code (https://github.com/jankotek/mapdb/blob/release-3.0/src/main/java/org/mapdb/StoreWAL.kt), I have a hard time reasoning about the lock correctness, because the code uses many locks (in the superclass [StoreDirect

[2021-09-08 10:59] Utkarshn10 commented on #1138
@prathasirisha I tried working on the Issue. Could you please guide me how to run the tests before I create a PR. I am attaching ss of the work.
![Screenshot (23)](https://user-images.githubusercontent.com/58587256/132497773-63f56530-9a32-438c-ad90-358604418a37.png)

[2021-09-08 22:58] HarrietLyBui commented on #1137
I am new to open source contribution. May I work on this issue?

[2021-09-08 23:30] donraab commented on #1137
Hi @HarrietLyBui, I assigned the issue to you. Thank you and welcome to open source!

[2021-09-08 23:58] prathasirisha commented on #1138
Hi @Utkarshn10 - the tests for this class will be here Collectors2Test.java
See tests `toSortedBagBy()` and `toSortedBagByParallel()` for reference, you will be adding equivalent immutable methods as part of this PR. Hope this helps!

[2021-09-09 00:24] HarrietLyBui commented on #1137
Thank you!

[2021-09-09 15:36] Utkarshn10 commented on #1138
Hi @prathasirisha thanks for helping. I have added the tests related to toImmutableSortedBagBy and toImmutableSortedBagByParallel in the  Collectors2Test.java as well as have added toImmutableSortedBagBy to Collectors.java. Are there any  tests that I should run before creating  a PR or should I create a PR directly ? I referred https://github.com/eclipse/eclipse-collections/blob/master/CONTRIBUTI

[2021-09-09 19:30] HarrietLyBui commented on #1137
I am having issues running ` $ mvn install -DskipTests=true` to create primitive collections after installing Maven:

[2021-09-11 18:25] prathasirisha commented on #1138
Related merged PR #1139.

@Utkarshn10 For your next commit, you can link the issue and PR using your commit message. Second point [here.](https://github.com/eclipse/eclipse-collections/blob/master/CONTRIBUTING.md#commit-messages) Thank you once again for your contribution!

[2021-09-11 18:25] #1138 closed

[2021-09-12 04:31] Utkarshn10 commented on #1136
Hi @prathasirisha I would like to work on this!

[2021-09-12 05:40] donraab commented on #1136
Hi @Utkarshn10, thanks for volunteering, I assigned the issue to you.

[2021-09-13 06:43] Utkarshn10 commented on #1136
Hi @donraab it is my pleasure contributing to collections which I have been using for about 2 yrs now.

[2021-09-13 06:43] Utkarshn10 commented on #1136
Hi @donraab @prathasirisha I have created a PR.

[2021-09-13 07:00] Utkarshn10 commented on #1137
Hi @HarrietLyBui, you can use Gitpod and directly add java extensions to it and you are good to  go. I also faced some issues(not the one above mentioned) in the beginning and then I worked on Gitpod and everything  worked smoothly afterwards.
But if  you want to continue working on  your system then I  would recommend you to reinstall maven and add env variables  correctly. Hope this  helps!!

[2021-09-13 10:20] RamVaidya commented on #147
@donraab @nikhilnanivadekar @prathasirisha
Is this still relevant?

[2021-09-14 00:04] HarrietLyBui commented on #1137
@Utkarshn10 Thank you so much for the suggestion! I'll try Gitpod!

[2021-09-14 15:06] sanoj-s opened #1141 "Unable to see the progress dialog when the welcome screen came"
Unable to see the progress dialog when the welcome screen came. Here installed a new eclipse and directly opened Eclipse Marketplace and installing one plugin - Kotlin. After that, I saw the progress at the bottom. When I click on that the progress dialog not coming in front. Usually, it will come in the normal cases when we are in the Eclipse Editor.

![Unable to see the progress dialog when the

[2021-09-14 16:38] donraab commented on #1141
Hi @sanoj-s, the Eclipse Collections project is not related to to the Eclipse IDE. They are both projects at the Eclipse Foundation, but that is the extent of their association. I would recommend looking at the Eclipse JDT project to find the appropriate support group.

https://projects.eclipse.org/projects/eclipse.jdt

[2021-09-14 16:40] #1141 closed

[2021-09-17 15:26] #1136 closed

[2021-09-29 13:12] HarrietLyBui commented on #1137
Gitpod works for me!

[2021-09-30 07:22] HarrietLyBui commented on #1137
When I tried to run on GitPod
` mvn clean install checkstyle:check findbugs:check --projects "!scala-unit-tests,!jmh-scala-tests,!jmh-tests" -DskipTests=true
`
I got an error saying: `bash: !scala: event not found`
Has anyone run into this issue? @Utkarshn10 @prathasirisha

[2021-10-02 18:54] #1137 closed

[2021-10-02 19:07] donraab commented on #991
Hi @johnjstuart, `SumOfShortProcedure` is a generated class. We would want tests for all of the primitive types (`SumOfLongProcedure`, `SumOfDoubleProcedure`, etc.). We should collapse all of the SumOfTypeProcedure issues into a single issue.

I explain a little bit about how the code generation for primitive types works in Eclipse Collections here for folks looking into this issue:

https://stack

[2021-10-03 04:12] Utkarshn10 commented on #1006
Hey @donraab @hvydya is any help required in this issue, since it's been 11 months and still this issue is not solved

[2021-11-14 09:33] gaurangkudale commented on #830
Hi @donraab Can I work on this issue? if yes Exactly where do I need to add the example which you have mentioned?

[2021-11-14 09:48] gaurangkudale commented on #1053
Hi @vmzakharov,
Can I work on this issue? if yes can please direct me to the code line

[2021-11-14 10:28] sneznaj commented on #1053
i am already working on this

[2021-11-14 11:15] sneznaj commented on #1053
i am already working on this

[2021-11-14 11:24] gaurangkudale commented on #1053
Hi, @sneznaj Do you need any help? we can collaborate

[2021-11-15 17:33] sneznaj commented on #1053
@vmzakharov FastList does not contain a sublist method or class

[2021-11-17 16:06] gaurangkudale commented on #830
Can somebody please tell me where exactly I need to add the example ?

[2021-11-18 17:28] gaurangkudale commented on #1087
Hi @donraab and @nikhilnanivadekar  Can I work on this issue?

[2021-11-19 07:11] donraab commented on #1087
Hi @gaurangkudale, please feel free to work on this. I agree with @nikhilnanivadekar that defining overloads of `makeString` which take a `Function` would make the most sense for discoverability. I'll edit the issue title and example above.

[2021-11-19 07:43] donraab commented on #992
I'm closing this issue, as there should be a single issue for all primitive types.

[2021-11-19 07:43] #992 closed

[2021-11-19 07:44] gaurangkudale commented on #1087
Hi @donraab,
Can you please direct me to the code where it has to change and also what exactly I've to do that will help to get started

[2021-11-19 07:44] donraab commented on #991
@johnjstuart I'm changing this issue to reflect that this needs to have a generated test class for all primitive types.

[2021-11-19 07:46] donraab commented on #990
Closing this issue.

[2021-11-19 07:46] #990 closed

[2021-11-19 08:18] donraab commented on #1087
Hi @gaurangkudale, the first thing you will need to do is understand what the `collect` and `makeString` methods do in Eclipse Collections. If you haven't already, I recommend completing the [Eclipse Collections Katas](https://github.com/eclipse/eclipse-collections-kata) to familiarize yourself with the `collect` and `makeString` methods and the rest of the Eclipse Collections API to see where met

[2021-11-19 08:24] gaurangkudale commented on #1087
Hi @donraab Thank you so much to guide me I'll take time to read the blogs and learn these methods and I'm really excited to contribute

[2021-12-01 13:14] ilaydaozdemir99 commented on #1041
hi @victornoel can I work on this issue ?

[2021-12-01 13:20] victornoel commented on #1041
@ilaydaozdemir99 I am not part of the EC team, but I know they gladly accept contributions, so I would say yes :)

[2021-12-13 17:15] dmlloyd opened #1166 "`nCopies` variation of `ImmutableList`"
It is sometimes useful to have a memory-efficient list comprising a fixed number of copies of a given input.  I would propose two variants: one which returns `n` copies of a single item (similar to `java.util.Collections#nCopies`), and one which returns `n` copies of an inner `ImmutableList` (if the inner list is empty, then the empty list can be used since `n × 0 = 0`).

[2021-12-21 05:22] vishnuprakash9845 opened #1170 "Maven dependencies not able to download in Eclipse"
So in the pom.xml tried to download the Java Client dependency, but getting the below error

Eclipse Version: 2020-09 (4.17.0)
Build Id: 20200910-1200

Can anyone help me on this issue please

Description Resource Path Location Type
Error while downloading 'https://maven.apache.org/xsd/maven-4.0.0.xsd' to /Users/muniswamyv/.lemminx/cache/https/maven.apache.org/xsd/maven-4.0.0.xsd. pom.xml /appiumF

[2021-12-29 16:04] Desislav-Petrov commented on #1087
@gaurangkudale are u still working on that or are u happy for me to take over?

[2021-12-29 17:15] gaurangkudale commented on #1087
Sure Go on we will collaborate

[2021-12-29 19:48] donraab opened #1173 "Update JavaDoc website generation to use Java 17."
There is some new support for `@since` tags in the JavaDoc compiler for Java 17 that would be good to leverage.

https://www.oracle.com/java/technologies/javase/17all-relnotes.html#JDK-8263468

[2021-12-29 19:49] nikhilnanivadekar commented on #1173
It can’t be used because we have to build Javadoc binaries and push them to
maven central. This is required so that IDEs can show inline help.

On Wed, Dec 29, 2021 at 1:48 PM Donald Raab ***@***.***>
wrote:

[2021-12-29 19:51] donraab commented on #1173
IIRC we were already building with Java 9 so we had search enabled in JavaDoc.

[2021-12-29 19:54] nikhilnanivadekar commented on #1173
Those Javadocs are published only to the website. The maven central jar
needs to have Javadoc artifacts as well which need to be Java 8 compatible.
Take a look at the artifacts published on maven central.

On Wed, Dec 29, 2021 at 1:51 PM Donald Raab ***@***.***>
wrote:

[2021-12-29 19:55] donraab commented on #1173
I'm talking only about the ones published to the website then :).

[2021-12-29 19:56] nikhilnanivadekar commented on #1173
The Javadocs need to be compatible with Java 8, so, as long as it’s not
breaking, it should be fine. I think we have a GitHub build to verify that
as well.

On Wed, Dec 29, 2021 at 1:55 PM Donald Raab ***@***.***>
wrote:

[2022-01-05 09:38] Desislav-Petrov commented on #1087
Thx - I've raised the PR

[2022-01-14 06:53] cnmade opened #1176 "Newbie question: How to partition List by size."
Question: We have a list  [1, 2, 3, 4, 5, 6, 7, 8], we want to split them in any partition of list of list . out result :
[ [1, 2, 3], [4, 5, 6], [7, 8]

For current we can using Google/Guava to do this
[code]

How to do the same thing with eclipse collections.  I can not find the right document to do this.

[2022-01-14 06:58] cnmade commented on #1176
ok, fine ,i found similar function called chunk by eclipse collections.

[2022-01-14 06:58] #1176 closed

[2022-01-21 22:34] Desislav-Petrov commented on #1087
@donraab given we've merged the PR do we still need this issue as open?

[2022-01-22 17:45] #1087 closed

[2022-02-02 04:06] Bikraji opened #1185 "Future of Eclipse-Collections post JDK 17"
Now that JDK 17 is also having similar APIs, what is the future of this project?
Is there a roadmap?
Core contributors, please.

[2022-02-02 04:06] Bikraji opened #1186 "Future of Eclipse-Collections post JDK 17"
Now that JDK 17 is also having similar APIs, what is the future of this project?
Is there a roadmap?
Core contributors, please.

[2022-02-02 07:14] #1173 closed

[2022-02-02 16:50] donraab commented on #1185
Hi @Bikraji,

JDK 17 hasn't really changed much from a Collections standpoint in Java. If you'd like to know more about what is missing in the JDK and is available in Eclipse Collections, I wrote a blog series describing some of the features this past summer [here](https://medium.com/javarevisited/blog-series-the-missing-java-data-structures-no-one-ever-told-you-about-17f34cc4b7e2?source=friends_l

[2022-02-02 16:50] #1185 closed

[2022-02-02 16:52] donraab commented on #1186
Duplicate of this issue  - https://github.com/eclipse/eclipse-collections/issues/1185

[2022-02-02 16:52] #1186 closed

[2022-02-03 04:34] Bikraji commented on #1185
Thank you @donraab, appreciated.

[2022-02-03 21:49] goldbal330 commented on #1042
I could work on it if help is needed.

[2022-02-17 23:41] #991 closed

[2022-02-18 00:08] prathasirisha commented on #1170
Hi @vishnuprakash9845, the Eclipse Collections project is not related to the Eclipse IDE. Closing the issue.

[2022-02-18 00:08] #1170 closed

[2022-02-18 00:12] prathasirisha commented on #1033
Closing this issue - these two APIs were released in the 11.0 release 😄 PR - https://github.com/eclipse/eclipse-collections/pull/1116

[2022-02-18 00:12] #1033 closed

[2022-02-18 00:23] prathasirisha commented on #987
Closing this issue as this was addressed in this PR https://github.com/eclipse/eclipse-collections/pull/1113

[2022-02-18 00:23] #987 closed

[2022-02-19 03:03] ben-manes opened #1196 "Use Guava's testlib for increased test coverage"
Guava provides a convenient [testlib](https://github.com/google/guava/tree/master/guava-testlib) for their collection tests. This can be used for other collection implementations, making a handy second set of tests to catch oversights. For example it found a few [small bugs](https://github.com/vigna/fastutil/issues/269) in FastUtil. In the test case below the `Map.entrySet().toString()` is missing

[2022-02-19 18:15] kevinb9n commented on #1196
Whoa, just happened to see this 15 hours later.

Note that these suites are *extremely* picky. But as you can see, you can turn things off by feature, and you can also suppress individual tests.

Some of the picky stuff doesn't matter much in absolute terms, but it makes migrating to your collections from others a more "guaranteed safe" operation.

It would be nice if we could rewrite it using mod

[2022-02-19 18:16] kevinb9n commented on #1114
If you decide to do something on this, ask me and I can dig up what our regrets are with Guava's. We can't change it now so.... :-)

[2022-02-19 18:32] donraab commented on #1196
Thank you for sharing this @ben-manes! I was not aware of this project until I saw this issue. Definitely agree with @kevinb9n comment on helping make migrations "guaranteed safe" operations. Thank you both for the comments and pointers!

[2022-02-19 18:32] ben-manes commented on #1196
@kevinb9n that reddit thread reminded me to go take a peek at EC, where I am porting EC's mutable map unit tests into Caffeine as another sanity check. On quite a few projects I have run the Guava's tests out of curiosity and found small bugs ([spring](https://github.com/spring-projects/spring-framework/issues/27454), [expiringmap](https://github.com/jhalterman/expiringmap/issues/48), [cache2k](ht

[2022-02-19 18:41] ben-manes commented on #1196
@donraab I am not sure if you have custom concurrent collections, but [Lincheck](https://github.com/Kotlin/kotlinx-lincheck) is nice for linearization testing ([example](https://github.com/ben-manes/caffeine/blob/master/caffeine/src/test/java/com/github/benmanes/caffeine/cache/CaffeineMapTests.java)).

[2022-02-19 19:09] donraab commented on #1196
@ben-manes We have a custom ConcurrentHashMap (and an unsafe version of same). We also have MultiReader collections for List, Set, Bag. Thank you for the link, I will check it out!

[2022-02-20 09:51] syskin345 opened #1197 "Add ensureCapacity() to mutable sets and maps"
Initial capacity can be set when creating a new map or set, and for good reason. But sometimes the required capacity is only known later. Proposal: add a method ensureCapacity, similar to what Lists already have, which resizes if necessary.

Additionally, use those methods internally in addAll and putAll implementations, as they're a perfect example of when it's useful to have them (when adding N

[2022-02-20 10:13] syskin345 opened #1198 "Hashing-free constructor copy of HashMaps and HashSets"
When creating a new HashMap from existing HashMap, the existing implementation pretty generic: allocates the HashMap of the right capacity and loops over the input to put all entries.

However, if the input argument is exactly of the same class, it is safe and much more efficient to just clone the internal state arrays.

For HashSets, the implementation is trying to be specialised, but it still re

[2022-02-20 20:40] mohrezaei commented on #1197
`ensureCapacity` on map and set are a bit tricky to use, because the keys are deduped. In fact, I see this kind of code all the time:

[code]

If we change `addAll` to `ensureCapacity(list.size())`, it can potentially over allocate by a lot, depending on the duplication in the list.

The constructors, as you mentioned do pre-size. In the above code, using `new UnifiedSet(list)` would potentially c

[2022-02-20 23:19] syskin345 commented on #1197
Agreed, as mentioned in the original proposal, addAll() should only internally used it if the incoming collection is a Set.

For any scenario when we're not 100% sure, we just let the user decide - maybe they expect the data to be unique, maybe not.

[2022-02-21 16:11] motlin commented on #760
I'm late to this thread but I'd love to hear more about the operators like `+` and `+=`. Over the years we've taken some inspiration from Scala. Their collection framework also has 3 interfaces (readable, mutable, immutable). They have operator methods, but `+` and `+=` manage to feel consistent across the types.

[2022-02-24 00:01] donraab opened #1202 "Add multiReader to Lists factory in API module"
The Lists factory in the impl module has a multiReader version, that should be added to the API module version of Lists.

API module version:
https://github.com/eclipse/eclipse-collections/blob/master/eclipse-collections-api/src/main/java/org/eclipse/collections/api/factory/Lists.java

Impl module version:
https://github.com/eclipse/eclipse-collections/blob/master/eclipse-collections/src/main/java

[2022-02-24 02:19] donraab commented on #639
Hi @victornoel, still interested in contributing this?

[2022-02-24 02:21] donraab opened #1203 "Add injectIntoIndex to OrderedIterable"
We have injectIntoIndex on primitive OrderedIterables (e.g. `OrderedIntIterable`), but not on the object equivalent `OrderedIterable`.

[2022-02-24 09:44] victornoel commented on #639
Hey hi :) I completely forgot about it ^^ Actually I think I can take a look at it tomorrow, I have a bit of free time :)

[2022-02-24 21:54] prathasirisha commented on #1034
Duplicate of https://github.com/eclipse/eclipse-collections/issues/395

[2022-02-24 21:54] #1034 closed

[2022-02-24 22:20] donraab opened #1205 "Generate primitive Set factories in API using ServiceLoader."
This should follow the same pattern as the primitive List factories that are now generated in the API module.

[2022-02-24 22:21] donraab opened #1206 "Generate primitive Bag factories in API using ServiceLoader."
This should follow the same pattern as the primitive List factories that are now generated in the API module.

[2022-02-24 22:21] donraab opened #1207 "Generate primitive Stack factories in API using ServiceLoader."
This should follow the same pattern as the primitive List factories that are now generated in the API module.

[2022-02-24 22:22] donraab opened #1208 "Generate primitive->primitive Map factories in API using ServiceLoader."
This should follow the same pattern as the primitive List factories that are now generated in the API module.

[2022-02-24 23:12] rinatigati commented on #1205
Hey @donraab I would like to work on this.

[2022-02-25 13:31] victornoel commented on #639
In the end I went with simply `injectInto` as the method name.

[2022-02-25 15:55] donraab commented on #639
HI @victornoel, I actually prefer the specialized method name `injectIntoDouble` because it avoids potential issues with overloads. There are primitive `injectInto` methods on `RichIterable` that I would like to deprecate and rename matching this pattern because they have caused some ambiguity issues in the past, once lambda support was added to Java 8.

[2022-02-25 15:58] victornoel commented on #639
Good point, I've updated the PR :)

[2022-02-25 16:00] victornoel commented on #1042
@goldbal330 we can also introduce the required Optional classes in EC I guess

[2022-02-25 18:47] aqsa505 commented on #1202
Hey Don, I would like to work on this issue.

[2022-02-28 08:05] Abhi-vashisth commented on #1203
Hello sir
Can i work on this issue this would be my first open source project
thanks

[2022-02-28 20:23] emilie-robichaud commented on #1206
i'd like to work on this issue!

[2022-03-01 03:06] donraab commented on #1206
Thanks for volunteering @emilie-robichaud! I've assigned the issue to you.

[2022-03-01 05:41] Abbykawai opened #1211 "项目引用了junit:junit等59个开源组件，存在3个漏洞，建议升级"
大佬，看你这个项目调用了junit:junit等59个开源组件，存在3个安全漏洞，建议你升级下。
[code]
另外2个漏洞 ，信息有点多我就不贴了，你自己看下完整报告：https://www.mfsec.cn/jr?p=a62332

[2022-03-01 08:57] victornoel commented on #639
Done in #1209.

[2022-03-01 08:57] #639 closed

[2022-03-02 00:05] rinatigati commented on #1207
Hey @donraab, I'd like to work on this 😸

[2022-03-02 01:17] donraab commented on #1207
Thanks for volunteering @rinatigati ! Assigning now.

[2022-03-02 01:22] #1205 closed

[2022-03-02 21:02] donraab commented on #1042
@victornoel @goldbal330 I'd prefer not to add the missing primitive Optional classes in EC. I would recommend maybe having a signature that can handle an "if absent" case by providing a default value. The naming might be a bit awkward.

options:

`getOrDefaultAndPut(K key, int defaultValue, int putValue)`

or

`getAndPut(K key, int defaultValue, int putValue)`

[2022-03-02 21:52] donraab opened #1213 "Generate object->primitive Map factories in API using ServiceLoader."
This should follow the same pattern as the primitive List factories that are now generated in the API module.

[2022-03-02 21:53] donraab opened #1214 "Generate primitive->object Map factories in API using ServiceLoader."
This should follow the same pattern as the primitive List factories that are now generated in the API module.

[2022-03-03 04:55] donraab commented on #1202
Hi @aqsa505, thank you for volunteering. I have assigned the issue to you.

[2022-03-03 09:23] victornoel commented on #1042
@donraab my initial issue is that I didn't want to associate an existing `int` value to the concept of absent value. If I have a map that does not contain a value, I don't want `-1` or `NaN` to mean this, I want the concept to be explicit.

Still, `getOrDefaultAndPut`/`getAndPut` is better than nothing and could be more useful than the current API in case I am able to use a special value to repres

[2022-03-03 13:13] Desislav-Petrov commented on #1214
Happy to have a go - mind assigning this to me please?

[2022-03-04 17:45] #1207 closed

[2022-03-05 01:11] donraab opened #1217 "Add injectIntoKeyValue to primitive Maps"
Today we can iterate over the key / value combinations in primitive maps using `forEachkeyValue`. It would be nice to have a method which injects some mutable result into the iteration and returns it. The following is possible today for instance for transferring a primitive map's data to an object map.

[code]

If we add `injectIntoKeyValue` to primitive maps, we can write the following:

`Mutable

[2022-03-09 18:12] donraab commented on #1042
@goldbal330 I assigned this to you as requested... @victornoel we can can see how the API looks in PR and suggest any changes as necessary.

[2022-03-09 18:36] #1206 closed

[2022-03-09 20:07] goldbal330 commented on #1008
I could work on it. Thanks.

[2022-03-10 18:12] #1202 closed

[2022-03-12 13:52] victornoel commented on #1217
See also https://github.com/eclipse/eclipse-collections/issues/746, related to the SO question :)

[2022-03-14 22:56] donraab commented on #1217
Ha, thanks for linking @victornoel! Upvoted again. 😄  The `injectIntoKeyValue` solution is more general and could be used to implement `toMap`. I think both methods are reasonable adds.

[2022-03-14 23:42] donraab commented on #1214
Hi @Desislav-Petrov, this is what the **impl** version of `IntObjectMaps` currently looks like after code gen. This is staying exactly the same as it is today.

[code]

This is what the **api** version of `IntObjectMaps` should look like after code gen after you finish the appropriate templates.

[code]

The difference between these two is the use of `ServiceLoader` to dynamically instantiate the

[2022-03-15 23:29] Desislav-Petrov commented on #1214
All clear now - thanks for the explanation. Doing the test template and will submit a PR shortly.

[2022-03-16 13:53] prathasirisha commented on #1213
Thank you, assigned it to you @johnjstuart!

[2022-03-16 20:20] goldbal330 commented on #1208
I could work on it.

[2022-03-16 20:21] donraab commented on #1208
Thanks @goldbal330 , I assigned it to you.

[2022-03-17 17:37] johnjstuart opened #1236 "Add of and with factory methods to object -> primitive map factories."
Currently the API factories for object -> primitive maps are lacking the equivalent `of()` and `with()` methods that appear on the impl factories as well as on the API factory for object -> object maps.

Immutable object -> primitive map factories have the empty `of()` and  `with()` methods as well the single key value pair versions: `of(K key, <primitive> value)` and `with(K key, <primitive> valu

[2022-03-18 18:14] donraab opened #1237 "Add multiReader to Bags factory in API module"
The `Bags` factory in the impl module has a multiReader version, that should be added to the API module version of Bags.

API module version:
https://github.com/eclipse/eclipse-collections/blob/master/eclipse-collections-api/src/main/java/org/eclipse/collections/api/factory/Bags.java

Impl module version:
https://github.com/eclipse/eclipse-collections/blob/master/eclipse-collections/src/main/java/

[2022-03-18 18:15] aqsa505 commented on #1237
Hey @donraab, I'd like to work on this.

[2022-03-18 18:17] donraab opened #1238 "Add multiReader to Sets factory in API module"
The Sets factory in the impl module has a multiReader version, that should be added to the API module version of Sets.

API module version:
https://github.com/eclipse/eclipse-collections/blob/master/eclipse-collections-api/src/main/java/org/eclipse/collections/api/factory/Sets.java

Impl module version:
https://github.com/eclipse/eclipse-collections/blob/master/eclipse-collections/src/main/java/or

[2022-03-18 18:18] emilie-robichaud commented on #1238
I'll take this one!

[2022-03-18 18:18] donraab commented on #1238
Thanks @emilie-robichaud, assigned it to you.

[2022-03-18 18:19] donraab commented on #1237
Thanks @aqsa505, assigned it to you.

[2022-03-19 05:20] donraab commented on #1236
Thanks for creating the issue @johnjstuart. I assigned it to you in case you were already working on it.

[2022-03-19 14:40] johnjstuart commented on #1236
I unassigned it from me for now. I may come back to it in the future if it's still open, but I'll leave it for anyone else right now.

[2022-03-21 17:28] #1238 closed

[2022-03-21 18:11] donraab opened #1244 "Add injectIntoKeyValue to MapIterable"
`MapIterable` currently has `injectInto` which takes the values of the map. There is no equivalent that takes both key and value. This will provide better symmetry with `forEachKeyValue` which does exist.

The signature for this method should be as follows:

`<IV> IV injectIntoKeyValue(IV injectedValue, Function3<? super IV, ? super K, ? super V, ? extends IV> function);
`

It will need to be impl

[2022-03-21 18:13] emilie-robichaud commented on #1244
Hi, can I work on this issue?

[2022-03-21 18:14] donraab commented on #1244
Hi @emilie-robichaud, I assigned the issue to you.

[2022-03-21 18:58] #1237 closed

[2022-03-22 20:07] mvdietz opened #1246 "Add package.info to org.eclipse.collections.api.annotation"
eclipse collections is missing a package.info for org.eclipse.collections.api.annotation as demonstrated from viewing the javadoc https://www.eclipse.org/collections/javadoc/11.0.0/.

[2022-03-22 20:07] mvdietz commented on #1246
I will take this issue, and will be making more like it shortly.

[2022-03-22 20:13] donraab opened #1247 "Create factory for ObjectPrimitiveHashMapWithHashingStrategy"
There is currently no factory interface or implementation for creating ObjectPrimitiveHashMapWithHashingStrategy instances. So we could write something like the following.

[code]

[2022-03-22 21:35] johnjstuart commented on #1213
Fixed in: #1245

[2022-03-22 22:08] #1213 closed

[2022-03-22 22:51] Desislav-Petrov commented on #1214
PR merged so guess we can close @donraab ? Thanks for the help & guidance on this one!

[2022-03-22 22:56] #1214 closed

[2022-03-23 14:01] donraab commented on #1247
Hi @aqsa505, I assigned the issue. Thanks for volunteering!

[2022-03-24 16:47] #1244 closed

[2022-03-27 18:45] #1042 closed

[2022-03-27 21:43] Desislav-Petrov commented on #1039
Hi @donraab  - mind assigning to me please?

[2022-03-29 14:24] goldbal330 commented on #1236
I could work on it.

[2022-03-29 19:55] #1208 closed

[2022-03-30 18:39] prathasirisha opened #1265 "Remove primitive iterable dependencies on Long/Int interval class"

[2022-03-30 19:25] donraab commented on #1265
Looking into this now.

[2022-03-30 19:35] donraab commented on #1265
@prathasirisha  I think looking at this we may have to move all generated lazy primitive Iterable types to the object impl jar. There is no other simpler solution. The templates I think we will need to move all generate code in `org.eclipse.collections.impl.lazy.primitive`.

The following are the templates that I could find:

collectPrimitiveIterable.stg
abstractLazyPrimitiveIterable.stg
chunkPrim

[2022-03-31 15:20] emilie-robichaud commented on #1217
Can I work on this issue?

[2022-03-31 15:29] donraab commented on #1217
Thanks for volunteering @emilie-robichaud. I assigned the issue to you.

[2022-04-01 20:07] goldbal330 opened #1272 "Add of and with factory methods to primitive -> primitive map factories"

[2022-04-02 17:42] victornoel opened #1274 "Primitive non-mutable/immutable map interfaces should not expose mutable methods"
As discovered by @donraab in https://github.com/eclipse/eclipse-collections/issues/740#issuecomment-639645017, there seems to be an error in base interface for the primitive maps.

For example, in `IntIntMap`, we find this method:
[code]

We would expect that it returns `IntSet` only, and that the sub-interface take care of overriding with the correct type.

[2022-04-02 17:42] victornoel commented on #740
I'm working on a PR for this.

I created #1274 for the issue with primitive maps you uncovered @donraab.

[2022-04-02 17:49] victornoel opened #1275 "primitive and generic map interface methods that return views should always return lazy iterables"
I noticed while browsing primitive map interfaces that, for example, the `keysView()` will return a lazy iterable, but the `keyValueView()` won't.
Also in generic `MapIterable` interface, `keyView()`, `keyValueView()` and `valuesView()` will return `RichIterable` but will always have it implemented with `LazyIterable`. Also the javadoc says it should return a lazy iterable.

I would propose to uni

[2022-04-03 12:11] victornoel opened #1276 "Missing locking on SynchronizedMutableMap and SynchronizedBiMap for entries of entrySet"
I noticed the current implementation of those two classes `entrySet()` is as following:
[code]

It seems that the entries themselves being mutable, the lock should also apply to them.

[2022-04-04 21:09] #1236 closed

[2022-04-05 16:33] victornoel opened #1281 "ImmutableSortedBagImpl.distinctView() should return a more efficient implementation"
As discussed in #1210, `ImmutableSortedBagImpl.distinctView()` was implemented by returning a simple `ArrayAdapter` over the internal array of the bag.

This means we don't take advantage of the `comparator` that guarantees the order of the elements of the array.

Taking advantage of it would improve performances for methods like `contains()`.

Alternative solution for this would be:
- rely on `Im

[2022-04-05 16:34] #726 closed

[2022-04-06 16:15] #1272 closed

[2022-04-06 21:09] #1247 closed

[2022-04-08 20:51] prathasirisha opened #1292 "Replace FindBugs with SpotBugs"
[SpotBugs](https://spotbugs.github.io/) is the successor of FindBugs (an abandoned project). As part of this ticket, we will need to upgrade/replace the maven plugin and FindBugs GitHub actions.

[2022-04-09 14:27] victornoel commented on #1072
@donraab I believe #1106 (for #1104) solved this ticket, right?

[2022-04-11 18:21] donraab opened #1303 "Add withKeyValue to MutableMultimap and subtypes"
There is currently no way to easily inline the creation of a `Multimap` with more than three key / value combinations. So for instance, the following code has to be split on multiple lines to initializae the `Multimap`.

[code]
It would be better if we could write the following, chaining as many `withKeyValue` calls as we need.

[code]
This would also allow us to easily build a `MutableMultimap` a

[2022-04-11 22:39] donraab commented on #1292
Closing as we have decided to remove the FindBugs workflow.

[2022-04-11 22:39] #1292 closed

[2022-04-11 23:13] donraab opened #1307 "Add withKeyMultiValues to MutableMultimap and subtypes"
In addition to `withKeyValue`, which I describe here (https://github.com/eclipse/eclipse-collections/issues/1303), it would be useful to have a specialized `withKeyMultiValues` method which will take a single key and multiple values to add to the `Multimap`.

[code]

This could also be implemented via varargs.

[code]

[2022-04-12 02:16] donraab commented on #1303
I've already started implementing this.

[2022-04-12 02:20] motlin commented on #1307
I agree. I just wanted to point out that the method could be varargs (K, V...)

[2022-04-12 12:28] #1303 closed

[2022-04-12 18:01] goldbal330 commented on #1307
I could work on it if help is needed.

[2022-04-12 19:26] #1008 closed

[2022-04-12 19:28] donraab commented on #1307
Thanks for volunteering, @goldbal330. Assigned!

[2022-04-15 02:23] motlin opened #1318 "Implement Bags.mutable.withInitialCapacity()"
I've been replacing:

* FastList.newList(size) --> Lists.mutable.withInitialCapacity(size)
* UnifiedSet.newSet(size) --> Sets.mutable.withInitialCapacity(size)

I just noticed I can't do the same for Bags yet.

[2022-04-16 14:33] motlin opened #1323 "Turn on additional IntelliJ inspections and fix violations."
It's been a while since we turned on additional IntelliJ inspections. There are many newly created inspections that are worth adding. Older inspections that were buggy have been fixed or got new options so we can configure them to have no false positives.

When turning on inspections, we currently have to make changes in two profiles, which correspond with two config files.

1.  Turn on the new in

[2022-04-16 20:21] Desislav-Petrov commented on #1039
Hi @donraab, been looking into this and I'm thinking that making it return static instances will be tricky because of the generics.

Just straight extract into constant won't work. I was thinking we can have some lookups of types that have already been created and just return the instances but this seems like over-engineering. Is there something I'm missing here or maybe you have some better ideas

[2022-04-16 20:22] mohrezaei commented on #1039
@Desislav-Petrov Can't you just cast?

[2022-04-18 22:54] motlin opened #1328 "Add SortedMaps.mutable.empty(Comparator) and SortedSets.mutable.empty(Comparator)."
We're missing symmetry. This exists and works:

[code]

But these don't exist.

[code]

[2022-04-19 02:23] #1318 closed

[2022-04-19 15:02] #1246 closed

[2022-04-19 20:38] #1217 closed

[2022-04-20 08:12] Desislav-Petrov commented on #1039
Thanks @mohrezaei - was thinking if we can somehow avoid casting but I don't think anything else can be done in this case - will go with that suggestion

[2022-04-20 18:00] Desislav-Petrov commented on #1328
I can take that if u don't mind

[2022-04-24 22:33] #1006 closed

[2022-04-25 14:42] goldbal330 commented on #1323
I could work on it.

[2022-04-25 15:58] #1307 closed

[2022-04-26 02:00] #1039 closed

[2022-05-02 04:14] donraab opened #1342 "Optimize any/all/NoneSatisfy on UnifiedMapWithHashingStrategy"
The methods `anySatisfy`, `allSatisfy` and `noneSatisfy` should be optimized on `UnifiedMapWithHashingStrategy` similar to how they are optimized on `UnifiedMap`.

[2022-05-02 14:17] donraab opened #1344 "Optimize containsAll on RichIterable"
There are now optimized versions of `containsAny` and `containsNone` on `RichIterable`. Similar optimizations could be implemented for `containsAll`, as they have been for primitive collections.

It is more work for `containsAll`, as this is an abstract method on `Collection` and `List`, so needs to be overridden in multiple places in addition to defining a default method on `RichIterable`. The `c

[2022-05-10 22:14] #1048 closed

[2022-05-12 10:23] victornoel opened #1347 "NPE in UnifiedSet intermal methods"
Hi,

I'm not sure if it's a bug of `UnifiedSet` or my own code, but seeing the look of the stacktrace, I wonder if there are not an issue in how the internal state of the `UnifiedSet` is managed: I would have expected that if this value should not be null, it would have been detected earlier maybe?

This is the stacktrace, unfortunately I don't (yet) know how to reproduce it because it happened in

[2022-05-12 10:40] mohrezaei commented on #1347
These are almost always (client) multi-threading bugs. Is this map used in a multi-threaded context (and/or static, which is by nature multi-threaded)?

[2022-05-12 10:43] victornoel commented on #1347
@mohrezaei oh! you put your finger right on the issue :) thx!

[2022-05-12 10:43] #1347 closed

[2022-05-15 03:49] donraab opened #1350 "Move collectPrimitive code to InternalArrayIterate from FastList and ArrayIterate"
`FastList` and `ArrayIterate` should have their implementations replaced with delegation to `InternalArrayIterate` for the following primitive `collect` methods.

[code]

[2022-05-15 20:06] Desislav-Petrov commented on #1350
I can look at that

[2022-05-19 04:44] donraab commented on #1350
Hi @Desislav-Petrov, thanks for volunteering. I have assigned this issue to you.

[2022-06-04 09:31] Brijesh-09 commented on #1203
Hello , I would like to work on this issue can you give some more overview behind the issue

[2022-06-08 01:47] Speiger commented on #1196
o/ Just found this one (Author of Primitive Collections)
I have created a template of "Guavas Unit Testing Library" that basically generates all permutations for Collections (Primitive Types)
While a lot of work, it managed to get me to 80% coverage of all permutations (it is an average) and I am trying to make this like a consistent average across all permutations (sets/lists/queues are still lac

[2022-06-08 12:03] jbakoc1 opened #1360 "eclipse collection status"
The Roadmap at https://github.com/eclipse/eclipse-collections/wiki/Roadmap is still from 2021. Is the project active? Should we invest in learning?
thanks

[2022-06-11 20:01] donraab commented on #1360
Yes, the project is still active. We're aiming for an 11.1 release soon. After 11.1 we will be baselining EC on Java 11 for the 12.0 release. We will update the roadmap to indicate this. Most new features are contributions are contributions from the open source community, so hard to plan for those on a roadmap, as it is volunteer time.

You can keep up to date on some new features added by communi

[2022-06-11 20:01] #1360 closed

[2022-06-24 03:01] mohrezaei commented on #581
For pete's sake how long is this issue going to stay open? I just tried to do a simple rebase and git barfed all over my terminal.
[code]

I've had it with this nonsense.

[2022-06-24 03:40] mohrezaei commented on #581
This is github's recommended `.gitignore` for Intellij. It includes the library stuff that failed above. Can we at least use this? Teamcity builds are gone, right? Do we need this stuff at all?

https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore

[2022-06-27 17:25] JonathanJagt23 commented on #420
@donraab Is this issue still open for new contributors?

[2022-07-04 09:24] catqaq opened #1368 "More than one file was found with OS independent path 'LICENSE-EPL-1.0.txt' for android gradle"
Execution failed for task ':app:mergeDebugJavaResource'.

[2022-07-04 13:46] mohrezaei commented on #1368
You might want to try this: https://stackoverflow.com/questions/44342455/more-than-one-file-was-found-with-os-independent-path-meta-inf-license

We don't officially support Android, as it's not a standard Java execution environment (it has restrictions that are not part of the Java specification).

[2022-07-06 16:06] prathasirisha opened #1369 "Stop updating Javadocs on Eclipse Collections website"
Javadocs for Maven Central hosted artifacts are automatically updated here https://javadoc.io/doc/org.eclipse.collections/eclipse-collections-api/latest/index.html. Our Javadoc badges on README point to this link well.

We are also hosting Javadocs on our website https://www.eclipse.org/collections/javadoc/11.1.0/ and with each release, we have to generate javadocs (Jenkins build) and manually add

[2022-07-13 16:07] prasadasabe commented on #782
@nikhilnanivadekar can I join you guys to solve this issue. Ready to take a guidance from you on the subject matter.

[2022-07-13 16:10] nikhilnanivadekar commented on #782
As you can see it is not actively worked on. You are welcome to contribute.
However, to set expectations I do not have bandwidth to provide guidance at
the moment. Thanks for understanding!

On Wed, Jul 13, 2022 at 9:07 AM prasadasabe ***@***.***>
wrote:

[2022-07-18 16:49] Desislav-Petrov commented on #1342
Happy to take a look at this

[2022-07-24 16:59] sandip1805 commented on #830
Hi @vcvitaly , If this issue is still open, I am willing to contribute here.

[2022-07-30 01:41] #1350 closed

[2022-08-03 07:36] ayushdubey755 commented on #1276
hi @victornoel  can you please elaborate more

[2022-08-03 08:10] victornoel commented on #1276
@ayushdubey755 I mean that the lock should be exploited by each element of the entry set to synchronize the methods and in particular `Map.Entry#setValue()`, and not only to synchronize the set of entries.

[2022-08-05 01:44] motlin commented on #1276
Sorry, didn't mean to close this, but I don't think we necessarily ought to do this because java.util.Collections#synchronizedMap doesn't. The Javadoc warns It is imperative that the user manually synchronize on the returned map when traversing any of its collection views via [Iterator](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/Iterator.html), [Spliterator](https://doc

[2022-08-05 08:40] victornoel commented on #1276
@motlin right, this makes sense indeed. I think I created that issue when I was working with multi reader collection and noticed that protection against concurrent access was much more advanced in there than in this `SynchronizedMutableMap`, and thought that maybe it was overlooked.

I don't really have the need for this and as you say, if you are working with eclipse collections, maybe you just d

[2022-08-05 17:38] #1276 closed

[2022-08-13 05:29] donraab opened #1372 "Optimize withAll on MutableIntBagFactoryImpl and ImmutableIntBagFactoryImpl"
The code currently in `withAll` on both mutable and immutable implementations calls `toArray` on `IntStream` which if the Stream is very large can be extremely expensive and won't take advantage of a Bag's ability to store duplicates as simply increments in a count.

Current mutable factory code:
[code]

Current immutable factory code:
[code]

It would be much better to simply iterate over the Str

[2022-08-13 05:37] donraab opened #1373 "Optimize summaryStatistics for primitive Bags"
Currently, `summaryStatistics` uses the default implementation which does not optimize for duplicates in Bags. It currently iterates over every element in the Bag.

The method `summaryStatistics` should be overridden and optimized to use `forEachWithOccurrences` similar to how `sum` does.

[2022-08-14 02:32] donraab opened #1374 "Optimize withAll on MutableIntSetFactoryImpl and ImmutableIntSetFactoryImpl"
The code currently in withAll on both mutable and immutable implementations calls toArray on IntStream which if the Stream is very large can be extremely expensive and won't take advantage of a Set's ability to store only unique elements.

Current mutable factory code:
[code]

Current immutable factory code:

[code]

[2022-08-14 02:33] donraab commented on #1374
The code currently in withAll on both mutable and immutable implementations calls toArray on IntStream which if the Stream is very large can be extremely expensive and won't take advantage of a Set's ability to store only unique elements.

[2022-08-15 23:18] TheJavaGuy commented on #1372
I will do it. Very probably this method in the `ImmutableIntBagFactoryImpl` also must be refactored not to use `toArray`:
[code]

[2022-08-15 23:40] donraab commented on #1372
Hi @TheJavaGuy, thanks for volunteering! Yes, refactoring this method makes sense as well. Thank you for looking around the code!

[2022-08-16 15:41] TheJavaGuy commented on #1372
For mutable `Bag`s it’s easy fix. But for immutable ones I don’t see the way out without bigger changes. In the end the only way to create immutable bag (e.g. `ImmutableIntHashBag`) is either:

-  through constructor `private ImmutableIntHashBag(int[] newElements)`, or
-  through overloaded `withAll`/`ofAll` which in the end of the chain must call constructor

To call the constructor array must be

[2022-08-17 03:09] #1328 closed

[2022-08-17 19:09] donraab commented on #1372
I think it would be fine for the Immutable factory to call the Mutable factory with the primitive Stream and then call toImmutable() at the end.

[2022-08-20 07:01] gaurangkudale commented on #1374
Hey @donraab
How can I help here?

[2022-08-20 21:18] donraab commented on #1374
Hi @gaurangkudale, thank you for the questions and your interest in Eclipse Collections! I always recommend starting by working through the Eclipse Collections Katas to understand the library if you haven't used it before.

https://github.com/eclipse/eclipse-collections-kata

You'll probably have gotten an idea of how things work after the Pet Kata and that may be enough to get started. The other

[2022-08-21 02:49] gaurangkudale commented on #1374
Hi @donraab
Thans for information
I'd like to work on this issue

[2022-08-21 05:27] donraab commented on #1374
Thanks for volunteering @gaurangkudale! I've assigned the issue to you.

[2022-08-21 10:11] 1ightDance commented on #1373
Hi @donraab
This code-generator module idea is fantastic and attractive for me, May I take a try solve this issue?

[2022-08-21 14:47] 1ightDance commented on #1373
Hi @donraab
I found it's easy to calculate a `sum`, a `max`, a `min` and a `count `using Bag's properties, but hard to assemble them into a  `<primitive>SummaryStatistics`.
Seems impossible to change it's behavior which deeply binds with foreach loop, and maybe this is the reason why they've already optimized sum(), min(), max() and count() and left `summaryStatistics` behind.
I'm not sure is ther

[2022-08-21 21:51] donraab commented on #1373
Hi @1ightDance, I was thinking something like this would work. The following test code works.

[code]

[2022-08-22 16:09] 1ightDance commented on #1373
Thanks for your help @donraab
My code is some way refferred Binary Exponentiation like this:
[code]
and I did some tests to compare optimization with it's previous code:
[code]

It do improve a lot for short, int, long etc. But as for double & float, every element only occurred once, my code insteadly slowed it down by adding additionally invoke of `DoubleSummaryStatistics`'s constuctor.

Based on

[2022-08-22 18:36] donraab commented on #1373
Hi @1ightDance, taking a look at IntSummaryStatistics, I didn't realize the new additional constructors for Int/Long/DoubleSummaryStatistics were added in JDK 10. Let's hold off on implementing this until we upgrade Eclipse Collections to JDK 11.

[2022-08-23 02:06] donraab opened #1378 "Upgrade EC code base to Java 11 for EC 12.0 release"
The upgrade to Java 11 will break compatibility with Java 8. There are a few library and language features that we would like to leverage in Eclipse Collections that were added since Java 11. Some features we would like to use:

* Java 9
  * Private Methods on Interfaces
  * `Math.fma(double, double, double)` (fused multiply add)
* Java 10
  * New constructors on `Int/Long/DoubleSummaryStatistics`

[2022-08-23 21:19] #1372 closed

[2022-08-24 15:16] TheJavaGuy opened #1379 "Optimize withAll on MutableIntStackFactoryImpl and ImmutableIntStackFactoryImpl"
The code currently in `withAll` on both mutable and immutable implementations calls `toArray` on `IntStream` which if the Stream is very large can be extremely expensive and won't take advantage of a Bag's ability to store duplicates as simply increments in a count.

Current mutable factory code:

[code]

Current immutable factory code:

[code]

It would be much better to simply iterate over the S

[2022-08-24 15:20] TheJavaGuy commented on #1379
I've created this issue as a counterpart to #1372. @nikhilnanivadekar @donraab if you gentlemen agree this is worth pursuing, I could solve it in a similar manner.

[2022-08-24 16:07] donraab commented on #1379
Sounds reasonable to me. I've assigned the issue to you. We can review the code when you submit a PR. Thanks!

[2022-08-24 20:54] donraab opened #1380 "Rename parameter in org.eclipse.collections.impl.factory.Sets.adapt()"
The parameter is currently named `list`, and should be named `set`.

[2022-08-24 22:19] donraab commented on #1380
Hi @ibrahim-5, thanks for volunteering and contributing! I've assigned the task (so no one else goes to pick it up) and approved the builds to run. Will review the PR tonight. Thanks!

[2022-08-25 02:15] #1380 closed

[2022-08-25 02:17] donraab commented on #1380
Congrats on your first EC PR getting merged @ibrahim-5!

[2022-09-01 15:03] ylexus commented on #500
Can this be revived? `UnifiedMap.computeIfAbsent()`, for example, looks like a simple override and delegation to `getIfAbsentPutWithKey`

[2022-09-01 17:57] donraab commented on #500
Thank @ylexus , yes this can be worked on now as next release is a major version.

[2022-09-04 15:04] akshaywakhare commented on #830
Hi @vcvitaly!  if this is still open and relevant, I can take it up.

[2022-09-05 04:34] Akash3121 commented on #830
Hi @vcvitaly! If this issue is still open, I am willing to work on this.

[2022-09-05 05:26] donraab commented on #830
Hi @himanshu211raj @vcvitaly @sandip1805 @akshaywakhare, thank you all for volunteering here. I think there is enough opportunity here to split up. We can split the work up by primitive type

- List
- Interval
- Set
- Stack
- Bag
- Map

The iteration patterns that should common among them are:

- select
- reject
- collect
- detect
- injectInto
- count
- anySatisfy
- allSatisfy
- noneSatisfy

Pleas

[2022-09-05 05:31] donraab opened #1383 "Add examples of iteration patterns for primitive List to reference guide"
The new reference guide is now in Asciidoc. The relevant section is now here:
https://github.com/eclipse/eclipse-collections/blob/master/docs/2-Collection_Containers.adoc#primitive-lists

Use the Lost and Found Kata as a guide for the iteration patterns that can be included for various primitive types.

https://github.com/eclipse/eclipse-collections-kata/tree/master/lost-and-found-kata

[2022-09-05 05:33] donraab opened #1384 "Add examples of iteration patterns for primitive Interval to reference guide"
The new reference guide is now in Asciidoc. The relevant section is now here:
https://github.com/eclipse/eclipse-collections/blob/master/docs/2-Collection_Containers.adoc#intinterval

Use the Lost and Found Kata as a guide for the iteration patterns that can be included for various primitive types.

https://github.com/eclipse/eclipse-collections-kata/tree/master/lost-and-found-kata

[2022-09-05 05:34] donraab opened #1385 "Add examples of iteration patterns for primitive Set to reference guide"
The new reference guide is now in Asciidoc. The relevant section is now here:
https://github.com/eclipse/eclipse-collections/blob/master/docs/2-Collection_Containers.adoc#primitive-sets

Use the Lost and Found Kata as a guide for the iteration patterns that can be included for various primitive types.

https://github.com/eclipse/eclipse-collections-kata/tree/master/lost-and-found-kata

[2022-09-05 05:36] donraab opened #1386 "Add examples of iteration patterns for primitive Stack to reference guide"
The new reference guide is now in Asciidoc. The relevant section is now here:
https://github.com/eclipse/eclipse-collections/blob/master/docs/2-Collection_Containers.adoc#primitive-stacks

Use the Lost and Found Kata as a guide for the iteration patterns that can be included for various primitive types.

https://github.com/eclipse/eclipse-collections-kata/tree/master/lost-and-found-kata

[2022-09-05 05:39] donraab opened #1387 "Add examples of iteration patterns for primitive Bag to reference guide"
The new reference guide is now in Asciidoc. The relevant section is now here:
https://github.com/eclipse/eclipse-collections/blob/master/docs/2-Collection_Containers.adoc#primitive-bags

Use the Lost and Found Kata as a guide for the iteration patterns that can be included for various primitive types.

https://github.com/eclipse/eclipse-collections-kata/tree/master/lost-and-found-kata

[2022-09-05 05:40] donraab opened #1388 "Add examples of iteration patterns for primitive Map to reference guide"
The new reference guide is now in Asciidoc. The relevant section is now here:
https://github.com/eclipse/eclipse-collections/blob/master/docs/2-Collection_Containers.adoc#primitive-maps

Use the Lost and Found Kata as a guide for the iteration patterns that can be included for various primitive types.

https://github.com/eclipse/eclipse-collections-kata/tree/master/lost-and-found-kata

[2022-09-05 20:16] akshaywakhare commented on #1383
Hi @donraab, I'd like to take this up.

[2022-09-05 23:06] donraab commented on #1383
Thanks for volunteering @akshaywakhare! I assigned the issue to you.

[2022-09-06 16:59] donraab commented on #1383
Thanks @Akash3121, I assigned this one already (see above). There are other issues I created for different primitive types that are still available. Please comment on one of them and I can assign the issue. Thanks!

[2022-09-07 03:55] Akash3121 commented on #1386
Hey @donraab! I'm willing to work on this.

[2022-09-07 03:58] Akash3121 commented on #1383
Thanks @donraab.
There is a typo at Example 38 as creCreate.
https://github.com/eclipse/eclipse-collections/blob/master/docs/2-Collection_Containers.adoc#primitive-lists

[2022-09-07 05:06] donraab commented on #1386
Thank you for volunteering @Akash3121! I assigned the ticket to you.

[2022-09-07 05:12] donraab commented on #1383
Great catch @Akash3121! If you want to fix the typo in a separate quick PR, will be happy to review and merge.

[2022-09-07 16:19] sandip1805 commented on #1385
Hi @donraab , can you assign this issue to me, I would like to work on this.

[2022-09-08 00:50] donraab commented on #1385
HI @sandip1805, thank you for volunteering! I have assigned this issue to you.

[2022-09-09 14:58] RohanHarichandan commented on #1388
Hello, @donraab I'm a beginner in open source, I  want to work on this issue can you please guide me on how I can get started?

[2022-09-11 01:43] donraab commented on #1388
Hi @RohanHarichandan, I often recommend new OSS contributors get started by reading this blog. It was written by a first time OSS contributor who made their first contribution to Eclipse Collections.

https://mydeveloperplanet.com/2021/01/20/how-to-start-contributing-to-open-source/

[2022-09-12 12:18] arvidvillen commented on #339
Any updates in this?
Surely `ImmutableOrderedSet` would be one of the most used collections in a regular project as the ordering should/could be done in DB query.

[2022-09-12 13:21] nikhilnanivadekar commented on #339
@arvidvillen what updates would you like? If you need this functionality, please feel free to contribute.

[2022-09-12 14:58] arvidvillen commented on #339
Thanks for super fast replies.
Interesting, I guess I'm not really thinking of it from a performance point of view, but rather the semantic meaning (what the interface tells the user about the collection). `ImmutableOrderedSet ` would tell me more as a consumer of the API than `ImmutableSet `or `ImmutableList`.

But I understand not many people see it that way as there are very few collection libr

[2022-09-16 01:38] minQZ opened #1391 "UnmodifiablePrimitiveCollection implements MutablePrimitiveCollection"
[code]

As I know, mutable means modifiable, and unmodifiable means immutable. So how do these two coexist?

This leads to the following problem:

PrimitiveObjectMap.keySet() returns MutablePrimitiveSet.
[code]

But ImmutablePrimitiveObjectHashMap.keySet() returns UnmodifiablePrimitiveSet.
[code]

AbstractUnmodifiableLongCollection implements addAll() as follows:
[code]

So I can't modify the resu

[2022-09-16 16:50] motlin commented on #1391
This is intentional, and consistent with built in JDK methods like java.util.Collections#unmodifiableList. Unmodifiable classes are decorators that prevent modification through the wrapper. They are not immutable, and the wrapped collection can still be mutated if you have a direct reference to it. So it's even possible to see an unmodifiable collection appear to mutate over time.

[2022-09-16 16:50] #1391 closed

[2022-09-16 17:17] minQZ commented on #1391
@motlin

I understand that's what you mean. But then why is PrimitiveObjectMap.keySet() returning UnmodifiablePrimitiveSet?

Comments on PrimitiveObjectMap.keySet() describe me as being able to mutate the return value of it, but it's not possible because it is unmodifiable and all mutating functions are disabled.

I think PrimitiveObjectMap.keySet() should return modifiable and mutable collection

[2022-09-17 12:55] sandip1805 commented on #1385
Hi @donraab , I have raised Pull Request. Can you please have a look?

[2022-09-18 16:29] sandip1805 commented on #1387
Hi @donraab , I would like to work on this, can you please assign this to me?

[2022-09-18 16:29] sandip1805 commented on #1388
Hi @donraab , I would like to work on this, can you please assign this to me?

[2022-09-18 16:29] sandip1805 commented on #1384
Hi @donraab , I would like to work on this, can you please assign this to me?

[2022-09-18 18:31] donraab commented on #1384
Hi @sandip1805 , thanks for volunteering! I've assigned it to you.

[2022-09-18 18:40] donraab commented on #1388
Hi @sandip1805, @RohanHarichandan had volunteered first, and I've assigned the issue to him.

[2022-09-21 05:11] #1385 closed

[2022-09-21 06:11] sandip1805 commented on #1388
No issues on this.

[2022-09-21 06:13] sandip1805 commented on #1387
Hi @donraab , I would like to work on this, could you please assign this to me?

[2022-09-22 13:07] victornoel opened #1393 "Expose compact/trimToSize in HashBag implementations"
Hi,

`HashBag` implementations seems to rely on a `MutableObjectIntMap` internally, to optimize for memory it would be useful to be able to call compact on the bag so that the internal map is compacted.

My use case is that I have bugs that get filled with data over some time then at one point I convert them to unmodifiable and never modifiy them again but they get moved around and read by differe

[2022-09-22 16:20] mohrezaei commented on #1393
Shouldn't the conversion to unmodifiable do the compacting?

[2022-09-22 16:25] victornoel commented on #1393
@mohrezaei since unmodifiable returns a wrapper, the original object of still modifiable, so I'm not sure it's really relevant. Also I can see other cases where you just want to trim without creating an unmodifiable view on the collection.

Ideally toImmutableXXX could do something like this in the created immutable though! Well all the immutable connections constructor could do this actually, sho

[2022-09-22 16:31] mohrezaei commented on #1393
Sorry, I mixed up the two for a second there. Yes, immutable should compact automatically. The unmodifiable wrapper (not conversion), shouldn't.  I don't see a problem with adding the trim call to bag; just wanted to make sure it happened automatically when it should.

[2022-09-26 08:44] victornoel opened #1394 "Ensure immutable collections internal data structure are compacted/trimmed to size"
Something that came up in https://github.com/eclipse/eclipse-collections/issues/1393 is that when we create new immutable collections, some of them rely internally on the mutable implementation and thus can contain datastructure that are are actually bigger than the actual size of the data being stored.

Since they are immutable, we know we could trim them and it will be the most efficient in term

[2022-09-26 10:10] victornoel opened #1395 "Introduce MutableMapIterable.putIfAbsent taking a Function0"
Add, on top of of `Map.putIfAbsent(K, V)`, a new method `MutableMapIterable.putIfAbsent(K, Function0<V>)`.

The use case is to both:
- not instantiate the value if not needed (as with `MutableMapIterable.getIfAbsentPut(K, Function0<V>)`)
- know if the value was actually added (as with `Map.putIfAbsent(K, V)` when it returns `null`)

Ideally, I would like is to have the 3 behaviours:
- not instanti

[2022-09-26 13:37] victornoel opened #1396 "Expose compact in all primitive maps"
It seems some primitive map implementation (e.g., `ObjectIntHashMap`) have a compact method while some others (e.g., `ObjectBooleanHashMap`) do not.

It would be great to have it implemented everywhere.

[2022-09-26 16:23] Kamveno commented on #1198
hi @syskin345  i am a newbie to the open source code. I wanted to contribute but need your guidance as well

[2022-09-27 14:31] motlin commented on #1394
Hash tables can be compacted if the backing array is bigger than necessary. I can think of two cases where this happens.

- We remove elements from a mutable hash table
- We allocate a large initial size and then only fill the hash table a little

I don't think either case happens when constructing an immutable hash table. I suppose the second case is possible if constructing a hash table from a c

[2022-09-27 15:24] victornoel commented on #1394
@motlin indeed, for `UnifiedMap` and `UnifiedSet`, when they are created, the constructor is taking into account the size of the original collection, so the size should be ok.
I can see methods where it's not the case, e.g., `ImmutableUnifiedSet.newSetWith` relies on `UnifiedSet.newSetWith` which adds the elements without ensuring only the minimum extra allocated array are available.
There is also

[2022-09-27 15:34] motlin commented on #1394
I see what you mean. `ImmutableUnifiedSet.newSetWith(T... elements)` delegates to `UnifiedSet.newSetWith(T... elements)` which pre-sizes the table to `elements.length` without knowing whether there are duplicates.

The implementation of `ImmutableUnifiedSet.newSetWith(T...)` or the `ImmutableUnifiedSet` constructor could call UnifiedSet.trimToSize() on the delegate. This call will usually do nothi

[2022-09-28 00:27] nezda commented on #416
Was this implemented? I haven't found it: would ease migration to Eclipse Collections.

[2022-09-28 18:45] rzrobin213 opened #1400 "Override Java 8 default method Map#computeIfPresent for MutableMaps"
It seems like issue #500 has not been resolved yet.

The default `Map#computeIfPresent` has not been overridden and delegated to other Eclipse Collection methods. I wanted to get started on working on this issue.

[2022-09-28 18:50] donraab commented on #1400
Thanks for volunteering @rzrobin213 ! I've assigned this issue to you.

[2022-09-29 13:00] nikhilnanivadekar opened #1402 "Deprecate `compact` and introduce `trimToSize` in primitive Maps, Bags, Sets to have consistency with Object side."

[2022-10-03 17:52] Desislav-Petrov commented on #1342
hi @donraab started looking at the issue - looks like we need implement the three methods on the UnifiedMapWithHashingStrategy with a similar implementation to the one in UnifiedMap. To avoid the duplication, we should probably extract the helper methods into a common util and reuse?

[2022-10-03 20:50] motlin commented on #1342
The ultimate way to reduce code duplication would be to say our mutable maps are all `new UnifiedMapWithHashingStrategy<>(HashingStrategies.defaultStrategy())` but we're worried this would hurt performance a bit. I wouldn't worry about duplication too much.

[2022-10-04 18:46] Desislav-Petrov commented on #1342
Thanks @motlin - I was looking at it and it seemed nasty to just copy/paste the code so I decided to take it out in the util class and reuse.

[2022-10-05 05:27] #1384 closed

[2022-10-11 08:55] sandip1805 commented on #830
Thank you Donald, I can take a List.
Can you please create required issue and assign it to me?

Thanks & Regards,
Sandip Patel
+91 9727930925

On Mon, 5 Sept 2022, 10:56 am Donald Raab, ***@***.***> wrote:

[2022-10-17 11:35] #1342 closed

[2022-10-18 17:31] motlin opened #1408 "Implement boxing wrappers for primitive collections."
Sometimes, one may want to pass a primitive collection into a method that takes a JCF interface. In cases like this, users must transform the primitive collection into an object collection to proceed.

[code]

One option would be to make our primitive collections implement JCF interfaces. Fastutils does this; [for example](https://fastutil.di.unimi.it/docs/it/unimi/dsi/fastutil/ints/IntArrayList.h

[2022-10-18 17:39] mohrezaei commented on #1408
Plain JCF or EC List?

[2022-10-18 17:42] motlin commented on #1408
I was thinking plain JCF when I wrote up the issue. But I'm looking at what it would take to make boxed() return MutableList instead of List, and it looks only marginally more effort.

[2022-10-18 20:29] motlin commented on #1408
Updated the example wrapper to implement MutableList. For some reason, I had to implement just one more method, addAll.

[2022-10-18 22:28] mohrezaei commented on #1408
If we do this, are we then going to have endless enhancements to optimize the other methods on there? (It's unclear to me why sublist was overridden, for example).

[2022-10-18 22:36] mohrezaei commented on #1408
confused... my copy of `AbstractMutableList` has this:

[code]

why is that not compiling?

[2022-10-18 22:37] motlin commented on #1408
I see what you mean. I had started with List and AbstractList which don't give an implementation of subList(). It's actually easier to implement MutableList than List. Here's the new smaller implementation.

[code]

[2022-10-18 22:40] mohrezaei commented on #1408
That looks good to me, so long as there is a clear comment that says something to effect of "this is for scenarios where optimization is not a consideration and therefore no further methods will be optimized".

[2022-10-31 01:34] donraab opened #1409 "Bag should provide co-variant override for collect that returns Bag"
The `Bag` interface does not currently override `collect`. There should be an override for `collect` that returns `Bag`. Currently, the inherited method for collect currently returns `RichIterable` for `Bag`.

[2022-10-31 01:36] #1409 closed

[2022-10-31 01:37] donraab commented on #1409
Never mind.

`UnsortedBag` returns `UnsortedBag` for `collect`.
`SortedBag` returns `ListIterable` for `collect`.

[2022-11-17 02:34] donraab opened #1410 "Update websites to link to new AsciiDoc version of Reference Guide"
The Eclipse Collections websites currently link to the old version of the Reference Guide.

https://www.eclipse.org/collections/#refGuide

All of the references across the different language translations of the website should link to the new AsciiDoc version of the Reference Guide which is here:

https://github.com/eclipse/eclipse-collections/blob/master/docs/0-RefGuide.adoc

[2022-11-17 04:13] nikhilnanivadekar commented on #1410
The website change needs to happen on the website project repo.

On Wed, Nov 16, 2022 at 6:34 PM Donald Raab ***@***.***>
wrote:

[2022-11-28 07:56] christianmichaelis opened #1411 "Make OSGi-compatible JAR available via Maven"
We're developing an application on an OSGi runtime. It is part of a bigger product which uses a Maven build. In order to improve consistency and maintainability, we set up a Maven build for the OSGi app, too, and it proved a good idea for years now.
Recently, we added Eclipse Collections to our dependencies and found there is an API / implementation pair of JARs which does not work in OSGi and a J

[2022-11-30 09:30] belene opened #1412 "Use of mutation testing in eclipse-collections - Help needed"
Hello there!

My name is Ana. I noted that you use the mutation testing tool pit in the project.
I am a postdoctoral researcher at the University of Seville (Spain), and my colleagues and I are studying how mutation testing tools are used in practice. With this aim in mind, we have analysed over 3,500 public GitHub repositories using mutation testing tools, including yours! This work has recently